@using LivingMessiah.Web.Pages.Sukkot.RegistrationSteps.Enums
@using LivingMessiah.Web.Shared.Sukkot
@using NB = LivingMessiah.Web.Shared.Sukkot.Enums
@using Page = LivingMessiah.Web.Links.Sukkot.RegistrationSteps
@using LivingMessiah.Web.Pages.Sukkot.Components

@*Step 1*@
@if (ComparisonStatus == Status.NotAuthenticated && ComparisonStatus == UsersCurrentStatus)
{

	if (IsXs)
	{
		<div class="card mt-0 mb-3">
			<div class="card-body bg-light">
				<p class="lead">
					To begin registration, you need to be logged in with a Living Messiah confirmed account.
					Click <LoginRedirectButton ReturnUrl="@Page.Index"></LoginRedirectButton>
					to login with your existing Living Messiah account or, if you do not have one, you can create one.
				</p>
				<HelpGuideTogleButton />
			</div>
		</div>
	}
	else
	{
		<p class="lead">
			To begin registration, you need to be logged in with a Living Messiah confirmed account.
			Click <LoginRedirectButton ReturnUrl="@Page.Index"></LoginRedirectButton>
			to login with your existing Living Messiah account or, if you do not have one, you can create one.
		</p>
		<HelpGuideTogleButton />
	}

}

@*Step 2*@
@if (ComparisonStatus == Status.EmailNotConfirmed && ComparisonStatus == UsersCurrentStatus)
{
	if (IsXs)
	{
		<div class="card mt-0 mb-3">
			<div class="card-body bg-light">
				<p class="lead">
					You are logged in but the this email has <span class="text-warning"><u>NOT</u></span> been confirmed.
				</p>
				<CheckSpamFolderTogleButton />
			</div>
		</div>
	}
	else
	{
		<p class="lead">
			You are logged in but the this email has <span class="text-warning"><u>NOT</u></span> been confirmed.
		</p>
		<CheckSpamFolderTogleButton />
	}
}

@*Step 3*@

@if (ComparisonStatus == Status.AgreementNotSigned && ComparisonStatus == UsersCurrentStatus)
{
	if (IsXs)
	{
		<div class="card mt-0 mb-3">
			<div class="card-body bg-light">
				<AgreementParagraph IsXs="IsXs" />
				<AgreementButtons EmailParm="@EmailParm" />
			</div>
		</div>
	}
	else
	{
		<AgreementParagraph IsXs="IsXs" />
		<AgreementButtons EmailParm="@EmailParm" />
	}
}


@*Step 4 *@
@if (ComparisonStatus == Status.StartRegistraion)
{
	if (ComparisonStatus == UsersCurrentStatus)
	{
		<div class="card mt-0 mb-3">
			<div class="card-body bg-light">
				<RegistrationEditForm Email="@EmailParm" Id="null" />
			</div>
		</div>
	}
	
	@if (UsersCurrentStatus.DisplayRegistrationToggleButton && RegistrationStep is not null)
	{
		<Toggle Email="@EmailParm" Id="@RegistrationStep.Id"></Toggle>
	}
}

@* Step 5 *@

@if (ComparisonStatus == Status.Payment && RegistrationStep is not null)
{
	if (UsersCurrentStatus == Status.Payment)
	{
		if (IsXs)
		{
			<div class="card mt-0 mb-3">
				<div class="card-body bg-light">
					<PartlyPaidParagraph RegistrationStep="RegistrationStep" />
				</div>
			</div>
		}
		else
		{
			<PartlyPaidParagraph RegistrationStep="RegistrationStep" />
		}
	}
}


@*Step 6 *@

@if (ComparisonStatus == Status.Complete && RegistrationStep is not null)
{
	if (UsersCurrentStatus == Status.Complete)
	{
		<CompleteParagraph RegistrationStepId="@RegistrationStep.Id" />
	}

}
