@page "/Sukkot/RegistrationSteps"
@page "/Sukkot/RegistrationShell"

@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@using LivingMessiah.Web.Shared.Sukkot
@using static LivingMessiah.Web.Services.Auth0

@using SukkotApi.Domain.Enums
@using LivingMessiah.Web.Pages.Sukkot.Constants

@using PageHome = LivingMessiah.Web.Links.Sukkot
@using Page = LivingMessiah.Web.Links.Sukkot.RegistrationSteps


<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

@*<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
	</AuthorizeView>
*@


<h4 class="mb-3">To register for Sukkot, you must complete these steps</h4>

@if (AttemptingToGetRecord == true)
{
	<div class="spinner-border"></div>
	<span style="display: inline-block; vertical-align: super">Loading...</span>
}
else
	@if (!String.IsNullOrWhiteSpace(AttemptingToGetRecordMsg))
{
	<p class="text-danger"><em>@AttemptingToGetRecordMsg</em></p>
}
else
{
	<StepGridHeader />

	<StepGridTemplate Status="IndexVM.Status"
									ComparisonStatus="Status.NotAuthenticated">
		<p class="lead">
			To begin registration, you need to be logged in with a Living Messiah confirmed account.
			Click <LoginRedirectButton ReturnUrl="@Page.Index"></LoginRedirectButton>
			to login with your existing Living Messiah account or, if you do not have one, you can create one.
		</p>

		<HelpGuideTogleButton />

	</StepGridTemplate>

	<StepGridTemplate Status="IndexVM.Status"
									ComparisonStatus="Status.EmailNotConfirmed">

		<p class="lead">
			You are logged in but the this email has <u>NOT</u> been confirmed.
		</p>

		<CheckSpamFolderTogleButton />

	</StepGridTemplate>


	<StepGridTemplate Status="IndexVM.Status"
									ComparisonStatus="Status.AgreementNotSigned">
		<Step3AgreementNotSigned StatusFlag="@IndexVM.StatusFlag"
													 AgreeButtonCallBack="AgreeButtonCallBackHandler"
													 IsXs="false">
		</Step3AgreementNotSigned>
	</StepGridTemplate>


	<StepGridTemplate Status="IndexVM.Status"
									ComparisonStatus="Status.StartRegistraion">
		<Step4StartRegistration StatusFlag="@IndexVM.StatusFlag"
													IsXs="false" />
	</StepGridTemplate>


	@*Show Step 5*@

	@if (IndexVM.RegistrationStep is null)
	{
		<div class="row my-2 pt-2 border-top">
			<div class="col-sm-1">
				<i class="fa-2x">@Status.RegistrationFormCompleted.StepNumber</i>
			</div>
			<div class="col-sm-1">
				&nbsp;
			</div>
			<div class="col-sm-10">
				<h4>Task - @Status.RegistrationFormCompleted.Heading</h4>
			</div>
		</div>
	}
	else
	{
		@if (IndexVM.Status >= Status.RegistrationFormCompleted)
		{
			<div class="row my-2 pt-2 border-top">
				<div class="col-sm-1">
					<i class="fa-2x">@Status.RegistrationFormCompleted.StepNumber</i>
				</div>
				<div class="col-sm-1">
					<i class="fas fa-check fa-3x"></i>
				</div>
				<div class="col-sm-10">
					<h4>Task - @Status.RegistrationFormCompleted.Heading</h4>
					<p class="lead"><b>Task completed</b></p>
					<p>Registration Id: <b>@IndexVM.RegistrationStep.Id</b></p>
					<Toolbar Id="IndexVM.RegistrationStep.Id"
						 StatusFlag="IndexVM.StatusFlag"
						 Status="IndexVM.Status">
					</Toolbar>

				</div>
			</div>
		}
		else
		{
			<div class="row my-2 pt-2 border-top">
				<div class="col-sm-1">
					<i class="fa-2x">@Status.RegistrationFormCompleted.StepNumber</i>
				</div>
				<div class="col-sm-1">
					<i class="fas fa-check fa-3x"></i>
				</div>
				<div class="col-sm-10">
					<h4>Task - @Status.RegistrationFormCompleted.Heading</h4>
					<p class="lead"><b>Task completed</b></p>
				</div>
			</div>
		}
	}

	@*Show Step 6*@

	@if (IndexVM.RegistrationStep is null)
	{
		<div class="row my-2 pt-2 border-top">
			<div class="col-sm-1">
				<i class="fa-2x">@Status.PartiallyPaid.StepNumber</i>
			</div>
			<div class="col-sm-1">
				&nbsp;
			</div>
			<div class="col-sm-10">
				<h4>Task - @Status.PartiallyPaid.Heading</h4>
			</div>
		</div>
	}
	else
	{
		if (IndexVM.Status == Status.FullyPaid)
		{
			<div class="row my-2 pt-2 border-top">
				<div class="col-sm-1">
					<i class="fa-2x">@Status.PartiallyPaid.StepNumber</i>
				</div>
				<div class="col-sm-1">
					<i class="fas fa-check fa-3x"></i>
				</div>
				<div class="col-sm-10">
					<h4>Task - @Status.PartiallyPaid.Heading</h4>
					<p class="lead"><b>Task completed</b></p>
				</div>
			</div>
		}
		else
		{
			<div class="row my-2 pt-2 border-top">
				<div class="col-sm-1">
					<i class="fa-2x">@Status.PartiallyPaid.StepNumber</i>
				</div>
				<div class="col-sm-1">
					&nbsp;
				</div>
				<div class="col-sm-10">
					<h4>Task - @Status.PartiallyPaid.Heading</h4>
					<Step6Payment StatusFlag="IndexVM.StatusFlag"
									RegistrationStep="IndexVM.RegistrationStep">
					</Step6Payment>
				</div>
			</div>
		}
	}


	<StatusFlagDump StatusFlag="@IndexVM.StatusFlag"
								Status="@IndexVM.Status" />
}


<div class="row my-2 pt-2 border-top">
	<div class="col-12">
		<a href="@PageHome.Index"
			 title="Sukkot Introduction" class="btn-info btn-sm">
			<i class="far fa-arrow-alt-circle-left"></i> Back to Introduction
		</a>
	</div>
</div>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
	else
	{
		if (DatabaseInformation)
		{
			<p class="text-info">@DatabaseInformationMsg</p>
		}
	}
}


