@page "/Sukkot/RegistrationSteps"
@page "/Sukkot/RegistrationShell"

@*ToDo: can this be done in the code behind*@
@implements IDisposable

@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@using LivingMessiah.Web.Shared.Sukkot
@using static LivingMessiah.Web.Services.Auth0

@using LivingMessiah.Web.Pages.Sukkot.RegistrationSteps.Enums
@using LivingMessiah.Web.Pages.Sukkot.Constants

@using PageHome = LivingMessiah.Web.Links.Sukkot
@using Page = LivingMessiah.Web.Links.Sukkot.RegistrationSteps
@using NB = LivingMessiah.Web.Shared.Sukkot.Enums

<PageTitle>@Page.Title</PageTitle>

<LivingMessiah.Web.Pages.Sukkot.Components.BreadCrumbNav Page2Index="@Page.Index"
																												 Page2Title="@Page.Title"
																												 Page2Active=" active" />



<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

@if (!String.IsNullOrEmpty(@AppState!.Message))
{
	<div class="card border-primary mb-3">
		<div class="card-body">
			@AppState!.Message
		</div>
	</div>
}

@if (AttemptingToGetRecord == true)
{
	<div class="spinner-border"></div>
	<span style="display: inline-block; vertical-align: super">Loading...</span>
}
else
{
	<h4 class="mb-3">To register for Sukkot, you must complete these steps</h4>

	<div class="row">
		<div class="col-12">
			<div class="my-2 pt-2 float-end">
				<p class="text-info">
					<small> Status: @IndexVM!.Status.Name [<b>@IndexVM.Status.Value</b>]</small>
				</p>
			</div>
		</div>
	</div>

	<StepGridHeader />

	@foreach (var item in Status.List.OrderBy(o => o.StepNumber).Where(w => w.UsedByUI).ToList())
	{
		<div class="d-block d-md-none">
			<Grid UsersCurrentStatus="@IndexVM.Status"
			ComparisonStatus="@item"
			RegistrationStep="@IndexVM.RegistrationStep"
			EmailParm="@IndexVM.EmailAddress"
			IsXs="true">
			</Grid>
		</div>

		<div class="d-none d-md-block">
			<Grid UsersCurrentStatus="@IndexVM.Status"
			ComparisonStatus="@item"
			RegistrationStep="@IndexVM.RegistrationStep"
			EmailParm="@IndexVM.EmailAddress"
			IsXs="false">
			</Grid>
		</div>
	}
	
}

<LivingMessiah.Web.Pages.Sukkot.Components.BreadCrumbNav Page2Index="@Page.Index"
																												 Page2Title="@Page.Title"
																												 Page2Active=" active" />



