@using SukkotApi.Domain.Enums

@* @typeparam TItem *@

<div class="row my-2 pt-2 border-top">
	<div class="col-3">
		<p class="lead text-warning text-center"> Step @ComparisonStatus.StepNumber</p>
		@((MarkupString)MarkupLiterals.Col_2nd_CheckIcon(Status, ComparisonStatus, false))
	</div>
	<div class="col-9">

		@((MarkupString)MarkupLiterals.Col_3rd_Heading(ComparisonStatus, ""))
		
		@((MarkupString)MarkupLiterals.Col_3rd_SubHeading(Status, ComparisonStatus))

		@if (Status.Value == ComparisonStatus.Value) @ChildContent

		@*<p class="text-muted"><small>@ComparisonStatus.Value @ComparisonStatus.Name</small></p>*@

	</div>
</div>

