@using SukkotApi.Domain.Enums

@* @typeparam TItem *@

<div class="row my-2 pt-2 border-top">
	<div class="col-sm-1">
		<i class="fa-2x">@ComparisonStatus.StepNumber</i>
	</div>

	<div class="col-sm-1">
		@((MarkupString)MarkupLiterals.Col_2nd_CheckIcon(Status, ComparisonStatus))

	</div>

	<div class="col-sm-10">

		@((MarkupString)MarkupLiterals.Col_3rd_Heading(ComparisonStatus, ""))
		
		@((MarkupString)MarkupLiterals.Col_3rd_SubHeading(Status, ComparisonStatus))

		@if (Status.Value == ComparisonStatus.Value) @ChildContent

		@*<p class="text-muted"><small>@ComparisonStatus.Value @ComparisonStatus.Name</small></p>*@

	</div>
</div>

