@using SukkotApi.Domain.Enums

@if (StatusFlag.HasFlag(Enums.StatusFlag.RegistrationFormCompleted) == true)
{
	if (StatusFlag.HasFlag(Enums.StatusFlag.FullyPaid) == true)
	{
		<p class="lead"><b>Task completed</b></p>

		@*ToDo: Add PDF Link for e.g. RegistrationReceipt_for_RegistrationId_RegistrationName*@
		<p>Registration Id: <b>@RegistrationId</b></p>
		
@*
	This will be shown in Step 5
	<text>&nbsp;</text>
		<button @onclick="@(e => Details_ButtonClick(e, RegistrationId, false))"
				class="btn-info btn-sm">
			<i class="fas fa-info"></i> View
		</button>
*@
	}
	else
	{
		<p class="lead"><b>Task completed</b></p>
		<p>Registration Id: <b>@RegistrationId</b></p>
		<p class="lead">
			The first step of the registration process is complete.
			You can continue on to the next step making a donation (payment)
		</p>

		<button @onclick="@(e => Edit_ButtonClick(e, RegistrationId))"
				class="btn-primary btn-sm">
			<i class="fas fa-edit"></i> Edit
		</button>

		<text>&nbsp;</text>
		<button @onclick="@(e => Details_ButtonClick(e, RegistrationId, false))"
				class="btn-info btn-sm">
			<i class="fas fa-info"></i> View
		</button>

		if (StatusFlag.HasFlag(Enums.StatusFlag.PartiallyPaid) | StatusFlag.HasFlag(Enums.StatusFlag.FullyPaid) == true)
		{ }
		else
		{
			<text>&nbsp;</text>
			<button @onclick="@(e => DeleteConfirmation_ButtonClick(e, RegistrationId))"
				class="btn-danger btn-sm">
				<i class="fas fa-times"></i> Delete
			</button>
		}

	}

}
else
{
	<p>step not yet completed</p>
}





