@using SukkotApi.Domain.Enums

@if (StatusFlag.HasFlag(Enums.StatusFlag.AcceptedHouseRulesAgreement) == true)
{
	@if (StatusFlag.HasFlag(Enums.StatusFlag.RegistrationFormCompleted) == false)
	{
		if (StatusFlag.HasFlag(Enums.StatusFlag.FullyPaid) == true)
		{
			<p class="lead"><b>Task completed</b></p>
			<p>Registration Id: <b>@RegistrationId</b>; ToDo Add PDF Link</p>
		}
		else
		{
			<p class="lead"><b>Task completed</b></p>
			<p>Registration Id: <b>@RegistrationId</b></p>
			if (StatusFlag.HasFlag(Enums.StatusFlag.AcceptedHouseRulesAgreement) == true)
			{
				<p class="lead">
					The first step of the registration process is complete.
					You can continue on to the next step making a donation (payment)
				</p>
			}

			<button @onclick="@(e => Edit_ButtonClick(e, RegistrationId))"
				class="btn-primary btn-sm">
				<i class="fas fa-edit"></i> Edit
			</button>

			<text>&nbsp;</text>
			<button @onclick="@(e => Details_ButtonClick(e, RegistrationId, false))"
				class="btn-info btn-sm">
				<i class="fas fa-info"></i> View
			</button>

			if (StatusFlag.HasFlag(Enums.StatusFlag.PartiallyPaid) | StatusFlag.HasFlag(Enums.StatusFlag.FullyPaid) == true)
			{ }
			else
			{
				<text>&nbsp;</text>
				<button @onclick="@(e => DeleteConfirmation_ButtonClick(e, RegistrationId))"
				class="btn-danger btn-sm">
					<i class="fas fa-times"></i> Delete
				</button>
			}

		}

	}
}



