@using LivingMessiah.Web.Pages.Sukkot.Constants
@using Page = LivingMessiah.Web.Links.Sukkot
@using PageHome = LivingMessiah.Web.Links.Home

<h2 class="text-primary">House Rules Confirmation</h2>
<ul class="@FormatSize">
	<li>
		<i>Living Messiah Sukkot @Year.String </i> is an event wholly sponsored by Living Messiah and is a private event <u>not open to the public</u>.
	</li>

	<li>If you have not been pre-approved by an invitation email <sup><i class="far fa-envelope"></i></sup> the approval process will be initiated upon completion of the registration application form.</li>
	<li>
		Regardless of pre-approval to attend this event you <b><u>must</u></b> fill out the registration application form and sign the <b><u>liability waiver form</u></b>.
		<ul class="@FormatSize">
			<li>
				<a class="btn btn-sm btn-info" href="@LivingMessiah.Web.Pages.Sukkot.Constants.Blobs.UrlPDF(PDFs.LiabilityWaiver)"
				target="_blank">
					<i class="fas fa-file-pdf"></i> Liability Waiver Form <i class='fas fa-external-link-square-alt'></i>
				</a> Please Sign
			</li>
		</ul>
	</li>
	<li>The approval process is done by the Elders of Living Messiah.</li>
</ul>

<div class="row col-12 my-2">
	<div class="form-group">

		@*ToDo Add a toast message to home page*@
		<button @onclick="@(() => DoNotAgree_ButtonClick(@PageHome.Index))"
				class="btn btn-danger">
			<i class="far fa-hand-paper"></i> No, I Do NOT Agree
		</button>

		<button @onclick="@(() => AgreeButtonCallBack.InvokeAsync())"
				class="btn btn-success">
			<i class="fas fa-check"></i> Yes, I Agree
		</button>

	</div>
</div>