@using Syncfusion.Blazor.RichTextEditor
@using Syncfusion.Blazor.Popups

@*<Display Id="@VM.Id" Title="@VM.Title" Description="@VM.Description"/>*@

<div class="control-section" id="rte-form">
	<div class="content-wrapper">
		<div id='content' class='box-form' style="margin: 0 auto; max-width:750px; padding:25px">
			<EditForm Model="@VM" OnValidSubmit="@ValidSubmit">
				<DataAnnotationsValidator />
				<SfRichTextEditor ShowCharCount="true" @bind-Value="@VM.Description" MaxLength="3000" Placeholder="Type something... (> 10 < 3,000)" />
				<ValidationMessage For="@(() => VM.Description)" />
				<div class="btn-grp">
					<button class="samplebtn e-control e-btn" type="submit" data-ripple="true">Submit</button>
				</div>
			</EditForm>
		</div>
	</div>
</div>

<SfDialog @bind-Visible="@HasRowBeenUpdated" Target="#rte-form" IsModal="true" Width="250px">
	<DialogTemplates>
		<Header>Alert</Header>
		<Content>Description markdown successfully submitted.</Content>
	</DialogTemplates>
	<DialogButtons>
		<DialogButton Content="OK" OnClick="@CloseDialog" />
	</DialogButtons>
</SfDialog>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
	else
	{
		if (DatabaseInformation)
		{
			<p class="text-success">@DatabaseInformationMsg</p>
		}
	}
}

<style>
	.box-form {
		webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	}

	.btn-grp {
		text-align: center;
		margin-top: 15px;
	}

	.validation-message {
		color: #f44336;
		font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
		font-size: 12px;
		font-weight: normal;
	}
</style>
