@page "/InDepthStudy"
@using WVT_Enums = LivingMessiah.Web.Pages.Admin.Video.Enums.WeeklyVideoType
@using LivingMessiah.Web.Shared.YouTube
@using Page = LivingMessiah.Web.Links.IndepthStudy
<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<h3><span class="badge bg-warning">Torah perspective of the Gospels</span></h3>

<p class="lead mt-2">
	<img src=@Blobs.Persons("Ralphie.jpg") class="img-fluid rounded-circle float-end" alt="Ralphie Cratty" />
	<b>Ralphie Cratty</b>, a member of our <i>Beit Din</i>, leads the class of the Gospels from a Hebraic mindset.
	Ralphie came to a greater understanding of the scriptures after discovering the truth regarding the Creator’s name.
	This gave him a desire to re-examine his understanding of all the scriptures from the Hebraic mindset.
	He now has a deep passion for seeking out the scriptures and continues learning each and every day.
</p>

<div class="card border-primary mb-3">

	<div class="card-header">
		<h4 class="card-title">@Page.Title</h4>
	</div>

	<div class="body">

		<ul class="lead">
			<li>
				Meets every Shabbat before the main service
			</li>

			<li>
				<i class="text-warning far fa-clock"></i> 1:30 - 2:15 pm at <b>Living Messiah</b>
				<LinkComponent LinkComponentEnum="@LinkComponentEnum.Location">
				</LinkComponent>
			</li>
			<li>
				<span class="far fa-envelope"></span>&nbsp;Contact
				<a href="mailto:ralphie@livingmessiah.com?Subject=Indepth-Study" target="_top"> ralphie@livingmessiah.com</a> for more information
			</li>
		</ul>

	</div>

</div>

@if (ShowLatestVideo)
{
	<Card WeeklyVideoTypeValue="WVT_Enums.InDepthStudy.Value"></Card>
}

@* ToDo: is this a better way  @onclick="@(e => ChangeContent(e, PartialViewEnum.Intro))"> *@
<div class="row">
	<div class="col">
		<button class="my-3 btn btn-xlarge btn-primary"
						@onclick="@ShowLatestVideo_Button_Click">
			@((MarkupString)OppositeIcon!) @OppositeToggleMsg
		</button>
	</div>
</div>