@page "/account/profile"

@using Page = LivingMessiah.Web.Links.Account.Profile
<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-4 border-bottom border-info">
	<h3><i class="@Page.Icon"></i> @Page.Title</h3>
</div>

<AuthorizeView>
	
	<Authorized>
		<Claims />
	</Authorized>

	<NotAuthorized>
		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>
			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<LoginRedirectButton ReturnUrl="@Page.Index" />
			</div>
		</div>
	</NotAuthorized>
</AuthorizeView>
