@page "/WindmillRanch/Backhoe"

@using LivingMessiah.Web.Pages.WindmillRanch.Components
@using Page = LivingMessiah.Web.Links.WindmillRanch.Backhoe

<PageTitle>@Page.Title</PageTitle>

<Menubar></Menubar>

<div class="d-print-none pb-2 mt-4 mb-2 border-bottom">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>

<h2><span class="badge bg-warning mt-4"><b>Project 1</b></span></h2>
<h4><span class=""><b>Make a Crossing Over a Wash</b></span></h4>

<div class="card my-2">

	<div class="card-body">
		<p class="fs-5">
			To get access to and from the railroad bed, we need to be able to cross the wash shown below.
			I would think a
			<a href="https://st.mascus.com/imagetilewm/product/sandhillsapi/john-deere-710j,11620530-1.jpg" target="_blank">
				JD 710 backhoe
			</a> could do a reasonable job of it.
		</p>
		<img src='@Blobs.UrlWindmillRanchBulldozer("webb-road-crossing-wash-1000-750.jpg")'
				 class="card-img-top" alt="Wash to be crossed">
		<p class="fs-5 mt-1 mb-4 text-end">Wash to be crossed</p>

		<p class="fs-5">
			Of the two projects, this is <b>NOT</b> the main focus.
			It would be nice, time permitting, if the grade on both sides of the wash is not so steep that a car or truck could cross it when it's dry,
			but for now, this is not the highest priority.
		</p>

		<p class="fs-5">
			FYI, at the bottom of this page is a map of the way we currently access the property.
		</p>

	</div>
</div>

<div class="card my-2">

	<div class="card-body">
		<p class="fs-5">Below are two maps on how to get to the wash crossing and then to where we want to build our swale</p>

		<img src='@Blobs.UrlWindmillRanchBulldozer("map-from-bisbee-junction.jpg")'
				 class="card-img-top" alt="Map from Bisbee Junction">
		<p class="fs-5 mt-1 mb-4 text-end">Map from Bisbee Junction</p>


		<img src='@Blobs.UrlWindmillRanchBulldozer("map-from-railroad-bed.jpg")'
				 class="card-img-top" alt="Map from Railroad Bed">
		<p class="fs-5 mt-1 mb-4 text-end">Map from Railroad Bed</p>
	</div>
</div>


<h2><span class="badge bg-warning mt-4"><b>Project 2</b></span></h2>
<h4><span class=""><b>Build a 1,200 ft. Swale</b></span></h4>

<div class="card my-2">

	<div class="card-body">
		<p class="fs-4 badge bg-warning text-dark">Backhoe Operator Instructions</p>
		<ol class="fs-5">
			<li>Use the arm and scoop out the dirt to create a berm which will be on the down hill side of the ditch</li>
			<li>After dumping out the dirt, smooth out the berm and try to make the whole thing look consistent, especially the height</li>
			<li>When completed make a pass with the front loader and make the bottom flat</li>
			<li>Make a final third pass to shape the back cut such that it's smooth and has a 3:1 slope.</li>
		</ol>


		<img src='@Blobs.UrlWindmillRanchBulldozer("swale-cross-view.jpg")'
				 class="card-img-top" alt="Swale cross view">
		<p class="fs-5 mt-1 mb-4 text-end">Swale Cross Section</p>

		<img src='@Blobs.UrlWindmillRanchBulldozer("general-swale-location.jpg")'
				 class="card-img-top" alt="Swale location">
		<p class="fs-5 mt-1 mb-4 text-end">Swale Location</p>
	</div>

	<div class="card-body mt-3">
		<p class="fs-4">Tiny Shine Home Video</p>

		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z_pZSMs8vjs?rel=0"
							allowfullscreen></iframe>
		</div>

		<a href="https://www.youtube.com/watch?v=Z_pZSMs8vjs&t=5m10s" target="_blank"
			 title="Tiny Shine Home Video Z_pZSMs8vjs">
			Skip to <b>5:10</b>
			<i class="fas fa-external-link-square-alt"></i>
		</a>

	</div>

</div>


<div class="card mt-5 mb-2">
	<div class="card-body">

		<p class="fs-4 ">
			<a href="https://maps.app.goo.gl/RiJpT9yf4yNZjzcu8" target="_blank"
				 title="Google Maps Current Access">
				 Google Maps
				<i class="fas fa-map-signs"></i>
			</a>
			to current round about way to access the property.
		</p>

		<img src='@Blobs.UrlWindmillRanchBulldozer("google-map-directions-via-swan.jpg")'
				 class="card-img-top" alt="Current Property Access">
		<p class="fs-5 mt-1 mb-4 text-end">Current Property Access</p>
	</div>
</div>
