@page "/WindmillRanch/Backhoe"

@using LivingMessiah.Web.Pages.WindmillRanch.Components
@using LivingMessiah.Web.SmartEnums
@using Page = LivingMessiah.Web.Links.WindmillRanch.Backhoe

<PageTitle>@Page.Title</PageTitle>

<Menubar></Menubar>

<div class="d-print-none pb-2 mt-4 mb-2 border-bottom">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>

<ul>
	<li><a href="@Page.Page/#@Page.RudyPoe20220908.Id">@Page.RudyPoe20220908.Project</a></li>
	@*<li><a href="@Page.Page/#@Page.ProjectWashCrossing.Id">@Page.ProjectWashCrossing.Project</a></li>*@
	<li><a href="@Page.Page/#@Page.ProjectBuildSwale.Id">@Page.ProjectBuildSwale.Project</a></li>
	<li><a href="@Page.Page/#@Page.SwaleCarousel.Id">@Page.SwaleCarousel.Project</a></li>
	<li><a href="@Page.Page/#@Page.ProjectGroundCover.Id">@Page.ProjectGroundCover.Project</a></li>
	<li><a href="@Page.Page/#@Page.ProjectPlantTrees.Id">@Page.ProjectPlantTrees.Project</a></li>
	<li><a href="@Page.Page/#@Page.ProjectFencing.Id">@Page.ProjectFencing.Project</a></li>
</ul>

<h2 id="@Page.RudyPoe20220908.Id"><span class="badge bg-warning mt-4"><b>@Page.RudyPoe20220908.Project</b></span></h2>
<h4><span class=""><b>@Page.RudyPoe20220908.Descr</b></span></h4>


<div class="card my-2">

	<div class="card-body">
		<p class="fs-5">
			I finally got to talk to
			<a href="https://waterislifedesign.com/" target="_blank"
				 title="Water is Life Design">
				Rudy Poe
				<i class="fas fa-external-link-square-alt"></i>
			</a>
			our Permaculture designer, here are my notes.
		</p>


		<h5 class="mt-4 mb-1"><b>Ground Cover and Sourcing Seed</b></h5>
		<p class="fs-5">
			He got his seeds for the Tiny Shiny Home Project from
			<a href="http://azreveg.com" target="_blank"
				 title="ARIZONA REVEGETATION & MONITORING COMPANY">
				Jim Koweek
				<i class="fas fa-external-link-square-alt"></i>
			</a>.
			This is great because Jim's a local guy (Elgin Arizona) and wrote a book on the subject <b>Grassland Plant ID For Everyone...</b>.
			I asked Rudy about watering the seeds and he said definitely use the water from the pond. He also advised to rake in the seeds a little bit.
		</p>

		<h5 class="mt-4 mb-1"><b>Mound Shaping</b></h5>
		<p class="fs-5">
			he suggested using a Gannon (rear mounted box blade) to level off the mounds, which is an attachment we don't have.
			in lieu of that I'm thinking if I can manually take down the high spots and fill in the low spots so that I can than safely drive our tractor up on the mound and drag the bucket across it.
		</p>

		<h5 class="mt-4 mb-1"><b>Building a Level Sill Spillway</b></h5>
		<p class="fs-5">
			Rudy advised to build a 20' wide spillway acknowledging he has not done a design for that relative to our specific context.
			I'm thinking this should be bigger and / or in multiple places one right in the wash and maybe one at the southwest end of the swale.
			Michael is supposed to be here today (Friday 2022-09-09) and rather than just seeing how far he can extend the swale, I want him to also build the beginnings of a spillway for us.
		</p>

		<p class="fs-5">
			Seeking a more formal water runoff and flood assessment is something we also need to plan for.
		</p>

		<h5 class="mt-4 mb-1"><b>Tree Selections</b></h5>
		<p class="fs-5">
			Rudy's tree selections besides the <b>mesquite</b> are...
		</p>

		<ol class="fs-5">
			<li>
				<a href="https://en.m.wikipedia.org/wiki/Chilopsis" target="_blank"
					 title="Desert Willows">
					<b>Desert Willows</b>
					<i class="fas fa-external-link-square-alt"></i>
				</a>
			</li>
			<li>
				<a href="https://www.arborday.org/trees/treeguide/TreeDetail.cfm?ItemID=827" target="_blank"
					 title="Arizona Cypress">
					<b>Arizona Cypress</b>
					<i class="fas fa-external-link-square-alt"></i>
				</a>.
				Optimally this tree does better at slightly higher elevation.
			</li>
		</ol>

		<p class="fs-5">
			This recommend selection of trees is if you <b>do not have drip irrigation</b>. 
			This seems rational.
			Starting off and developing the foundation for a micro-climate support system that enables growing food producing trees, shrubs and plants.
			Developing a strategy after the support system is in place would definitely be prudent. 
			Rudy suggested we may have to contract out to a nursery to get our order filled. 
			In the future, sourcing our trees should definitely be an endeavor we should take on. 
			Building high quality compost and tea extracts is very much a worthy thing that should enable us to grow out trees that we want.
		</p>


	</div>
</div>


@*

<h2 id="@Page.ProjectWashCrossing.Id"><span class="badge bg-warning mt-4"><b>@Page.ProjectWashCrossing.Project</b></span></h2>
<h4><span class=""><b>@Page.ProjectWashCrossing.Descr</b></span></h4>

<div class="card my-2">

	<div class="card-body">
		<p class="fs-5">
			To get access to and from the railroad bed, we need to be able to cross the wash shown below.
			I would think a
			<a href="https://st.mascus.com/imagetilewm/product/sandhillsapi/john-deere-710j,11620530-1.jpg" target="_blank">
				JD 710 backhoe
			</a> could do a reasonable job of it.
		</p>
		<img src='@Blobs.UrlWindmillRanchBulldozer("webb-road-crossing-wash-1000-750.jpg")'
				 class="card-img-top" alt="Wash to be crossed">
		<p class="fs-5 mt-1 mb-4 text-end">Wash to be crossed</p>

		<p class="fs-5">
			Of the two projects, this is <b>NOT</b> the main focus.
			It would be nice, time permitting, if the grade on both sides of the wash is not so steep that a car or truck could cross it when it's dry,
			but for now, this is not the highest priority.
		</p>

		<p class="fs-5">
			FYI, at the bottom of this page is a map of the way we currently access the property.
		</p>

	</div>
</div>

<div class="card my-2">

	<div class="card-body">
		<p class="fs-5">Below are two maps on how to get to the wash crossing and then to where we want to build our swale</p>

		<img src='@Blobs.UrlWindmillRanchBulldozer("map-from-bisbee-junction.jpg")'
				 class="card-img-top" alt="Map from Bisbee Junction">
		<p class="fs-5 mt-1 mb-4 text-end">Map from Bisbee Junction</p>


		<img src='@Blobs.UrlWindmillRanchBulldozer("map-from-railroad-bed.jpg")'
				 class="card-img-top" alt="Map from Railroad Bed">
		<p class="fs-5 mt-1 mb-4 text-end">Map from Railroad Bed</p>
	</div>
</div>

*@

<h2 id="@Page.ProjectBuildSwale.Id"><span class="badge bg-warning mt-4"><b>@Page.ProjectBuildSwale.Project</b></span></h2>
<h4><span class=""><b>@Page.ProjectBuildSwale.Descr</b></span></h4>

<div class="card my-2">

	<div class="card-body">
		<p class="fs-4 badge bg-warning text-dark">Backhoe Operator Instructions</p>
		<ol class="fs-5">
			<li>Use the arm and scoop out the dirt to create a berm which will be on the down hill side of the ditch</li>
			<li>After dumping out the dirt, smooth out the berm and try to make the whole thing look consistent, especially the height</li>
			<li>When completed make a pass with the front loader and make the bottom flat</li>
			<li>Make a final third pass to shape the back cut such that it's smooth and has a 3:1 slope.</li>
		</ol>


		<img src='@Blobs.UrlWindmillRanchBulldozer("swale-cross-view.jpg")'
				 class="card-img-top" alt="Swale cross view">
		<p class="fs-5 mt-1 mb-4 text-end">Swale Cross Section</p>

		<img src='@Blobs.UrlWindmillRanchBulldozer("general-swale-location.jpg")'
				 class="card-img-top" alt="Swale location">
		<p class="fs-5 mt-1 mb-4 text-end">Swale Location</p>
	</div>

	<div class="card-body mt-3">
		<p class="fs-4">Tiny Shine Home Video</p>

		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z_pZSMs8vjs?rel=0"
							allowfullscreen></iframe>
		</div>

		<a href="https://www.youtube.com/watch?v=Z_pZSMs8vjs&t=5m10s" target="_blank"
			 title="Tiny Shine Home Video Z_pZSMs8vjs">
			Skip to <b>5:10</b>
			<i class="fas fa-external-link-square-alt"></i>
		</a>
	</div>

</div>

<div class="card mt-5 mb-2">
	<div class="card-body">

		<p class="fs-4 ">
			<a href="https://maps.app.goo.gl/RiJpT9yf4yNZjzcu8" target="_blank"
				 title="Google Maps Current Access">
				Google Maps
				<i class="fas fa-map-signs"></i>
			</a>
			to current round about way to access the property.
		</p>

		<img src='@Blobs.UrlWindmillRanchBulldozer("google-map-directions-via-swan.jpg")'
				 class="card-img-top" alt="Current Property Access">
		<p class="fs-5 mt-1 mb-4 text-end">Current Property Access</p>
	</div>
</div>


<h2 id="@Page.SwaleCarousel.Id"><span class="badge bg-warning mt-4"><b>@Page.SwaleCarousel.Project</b></span></h2>
<h4><span class=""><b>@Page.SwaleCarousel.Descr</b></span></h4>

<div class="@MediaQuery.Xs.DivClass">
	<SwaleRainEventCarousel mq="MediaQuery.Xs"/>
</div>		
<div class="@MediaQuery.Sm.DivClass">
	<SwaleRainEventCarousel mq="MediaQuery.Sm"/>
</div>	
<div class="@MediaQuery.Md.DivClass">
	<SwaleRainEventCarousel mq="MediaQuery.Md"/>
</div>	
<div class="@MediaQuery.Lg.DivClass">
	<SwaleRainEventCarousel mq="MediaQuery.Lg"/>
</div>	
<div class="@MediaQuery.Xl.DivClass">
	<SwaleRainEventCarousel mq="MediaQuery.Xl"/>
</div>	


@*<SwaleRainEventPictures/>*@

<h2 id="@Page.ProjectGroundCover.Id"><span class="badge bg-warning mt-4"><b>@Page.ProjectGroundCover.Project</b></span></h2>
<h4><span class=""><b>@Page.ProjectGroundCover.Descr</b></span></h4>

<div class="card my-2">

	<div class="card-body">
		<p class="fs-4">To Do: Add content for sourcing and buying ground cover to protect the swales</p>

	</div>
</div>

<h2 id="@Page.ProjectPlantTrees.Id"><span class="badge bg-warning mt-4"><b>@Page.ProjectPlantTrees.Project</b></span></h2>
<h4><span class=""><b>@Page.ProjectPlantTrees.Descr</b></span></h4>

<div class="card my-2">

	<div class="card-body">
		<p class="fs-4">Acquiring Trees</p>

		<p class="fs-5">
			I talked to Sharon from
			<a href="http://www.parklandtrees.com/" target="_blank">Parkland Tree Farm & Nursery</a>
			(a tree farm / nursery located northwest of Douglas) and she gave me a list of trees that are available and fit our context.
		</p>

		<p class="fs-5">
			<b>Context</b>: What is our context...well that's a good question.
			When I initially asked Sharon for trees I asked her if she had any Mesquite trees but she did not.
			I asked for Mesquite per the recommendation of permaculture designer Rudy Poe.
		</p>

		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>Tree</th>
					<th align="center">Qty on hand</th>
					<th>Prices</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td><b>White Thorn Acacia</b></td>
					<td align="center">3+1</td>
					<td>in 25-gallon containers for $80.00, 1 in a 15-gallon container for $55.00.</td>
				</tr>

				<tr>
					<td><b>Robina (Black Locust)</b></td>
					<td align="center">Plenty</td>
					<td>in 15-gallon container for $55.00 also in 25-gallon container for $80.00.</td>
				</tr>

				<tr>
					<td><b>Honey Locusts</b></td>
					<td align="center">plenty</td>
					<td> are in 5-gallon containers for $35.00, 15-gallons for $55.00, 25-gallons for $80.00 and 25-gallons for $80.00.</td>
				</tr>

			</tbody>
		</table>

		<p class="fs-5">
			See their
			<a href="http://www.parklandtrees.com/price_sheet.pdf" target="_blank"
				 title="Parkland Trees PDF Spreadsheet">
				<i class="far fa-file-pdf"></i>
				pricing spreadsheet
				<i class="fas fa-file-download"></i>
			</a>
			to see all items available to purchase
		</p>


		<p class="fs-4">Other To Do Items</p>
		<ol class="fs-5">
			<li>Determine what type of protection is needed</li>
			<li>Find other sources for trees</li>
			<li>...</li>
		</ol>


	</div>
</div>



<h2 id="@Page.ProjectFencing.Id"><span class="badge bg-warning mt-4"><b>@Page.ProjectFencing.Project</b></span></h2>
<h4><span class=""><b>@Page.ProjectFencing.Descr</b></span></h4>

<div class="card my-2">

	<div class="card-body">
		<p class="fs-4">
			The swales and the trees need to be projected from, among other things, the open range cattle.
			Where that is exactly going to be located, who is going to do it, how the funds will be raised to do it, what type of fencing material(s) will be used is at this time undetermined.
		</p>

	</div>
</div>


<AnchorNavigation />
