@page "/WindmillRanch/Bulldozer"

@using LivingMessiah.Web.Pages.WindmillRanch.Components
@using Page = LivingMessiah.Web.Links.WindmillRanch.Bulldozer

<PageTitle>@Page.Title</PageTitle>

<Menubar></Menubar>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2>@Page.Title</h2>
</div>

<h4><span class="badge badge-success"><b>Introduction</b></span></h4>
<p>
	For not to much effort and resources, what are the things that can be accomplished with the service of a bulldozer?
	One thing that came to mind is you can get people excited about what your trying to do and a big level by actually having things is place.
	You no longer have to articulate your permaculture goals in an abstract way, but you can actually show the physical manifestations of what you're tying to accomplish (or at least it's beginning).
	This is a big deal. We, me in particular, have not been <b>selling</b> this idea very well.
</p>


<h4 class="mt-4"><span class="badge badge-success"><b>Swale design at bottom of the wash</b></span></h4>

<div class="card my-2">

	<div class="card-body">
		<h5 class="card-title">Tasks that need to be accomplished</h5>

		<p class="card-text">
			I have listed four things below that all need to get accomplished if we commit to doing some major earth works
			where the time-line is this year before the monsoons arrive.
			These items and the questions that follow are based on assumptions that I'm making and that may very based on more inputs.
			Regardless I wanted to start somewhere so I have a document I can work off of.
		</p>

		<ol>
			<li><b>Perimeter Fence</b>: We need to keep the cows off the swales</li>
			<li><b>Cover the swale mounds</b>: The loose dirt from mounds need to be covered or else nature will put something there they I probably don't wont.</li>
			<li><b>Water</b>: The cover crops need to be watered frequently at the beginning, so I need to configure the water lines at the well because it's right next to the swale</li>
			<li><b>Mulch / Compost</b>: To help reduce the amount of water, it would seem imperative to put something on them so the planting of the cover crop is successful</li>
		</ol>

		<h5 class="card-title">Questions</h5>
		<p class="card-text">ToDo: This Needs Work</p>

		@*


			<ul>
			<li><b>zzz</b>: </li>
			</ul>

			Rudy Poe
			what are your billing rates: 	$75 / hour
			Travel: $40 / hr .55 cents per mile

			10-15 yrs PC certified, worked directly with Geoff Lawton for about a year.

			This seems prudent because I got to believe
			implemented a Earthworks project compared to not doing anything at all. The longer the

			I heard Greg Judy once ask the question stating "what is it about your farm that gives it an unfair advantage".
				ToDo: I would think that articulating this is a document would be useful.

		*@

		<ul>
			
			<li>does the bulldozer, with it's close proximity and size, make sense to use as the primary earth working tool</li>
			<li>how do I explain to the operator how I want him to proceed with making the swales.</li>
			<li>are their other tools I can use that might actually be better or am forced to use because the dozer is not available</li>
			<li>Compaction from the bulldozer</li>
			<li>what's are the minimal things are necessary to go ahead with the earthworks if Plan A doesn't work. For example create a smaller size swales, not in length but in width and depth with the idea that we can make it bigger later.</li>
			<li>Should I bulldoze the center of the swale and knock down most of the brush</li>
			<li>what's a realistic estimate of what the dozer can accomplish and how much will that cost.</li>
			<li>what kind of seed would be best for cover crops? I talked to Jim Koweek and he can deliver 1/4 acre coverage of native grasses and flowers for about $400</li>
			<li>can I hold off on planting trees?</li>
			<li>what kind of trees can I get that will help start the microbiology and continue to thrive.</li>
			<li><b>Oaks of the Wild West</b>: I need to checkout this local native tree nursery (Hereford / Miracle Valley) <a href="http://oaksofthewildwest.com/">OaksOfTheWildWest</a></li>
			<li> Article on Tree Windbreaks <a href="http://oaksofthewildwest.com/TreeWindbreaks.htm"></a>; Cedar trees, Juniper trees, Pine trees and Cypress trees make a good selection (as opposed to Oaks)</li>
			<li>when do I want to introduce high production trees and how will they work with succession type trees</li>
			<li>how to deal with deer pressure</li>
			<li>how to deal with javelina or rabbit pressure.</li>
			<li>bugs in a jug e.g. AEI / John Kemp</li>
			<li>soil tests</li>
			<li>Sourcing hays and straw for mulch.  I'm afraid of stuff like <i>GRAZON</i></li>
			<li>Composting teas e.g. Johnson Su. can I good local source before I develop my own</li>
			<li>Best use for dead trees</li>
			<li>Green House:</li>
			<li>financial suggestions that fit well with the concept of permaculture.</li>
			<li>Legal challenges:</li>
			<li>Thoughts on concepts like Agroforestry, Silvopasture, and food forests that would best describe what's best for this property.</li>
			<li>Domestic animals that would be a good fit</li>
			<li>
				Legal challenges:
				Do you know of any legal resources that specialize in defending permaculture activities that LMM could reach out to if someone challenges what were doing.
				I don't want to have to scramble for legal council nor do I want to be rushed to put together documents (e.g. affidavits) that would LMM defend itself.
				At the very least I want a plan of action document that can be referenced so a reaction to a legal threat can be made quickly.
				A legal resource specifically experienced in defending 1st amendment religiously based organization would be awesome.
			</li>
			<li><b>Design and Risk Assessment</b>: 
				In our chat, you said something to the effect that its prudent to designs for a 10 year flood and not 100 years because that's to costly.
				To me that seems reasonable, so for my clarity, are these true statements...
				<ol>
					<li>
						If you designed an earthworks water harvesting project that can handle a 10 year flood then the amount of damage caused by a 100 year flood
				would be significantly lower compared to not doing anything with the land.
					</li>
					<li>The more the land gets established and "hardened" the less damage will occur.</li>
					<li>All things being equal, swales are inherently more safe than dams because you are spreading the potential for failure</li>
				</ol>
				
				Qualifications
				1. Swales vs. Dams: Assuming the earthwork in question is limited to swales and not a damn then I'm assuming that I have '...ie no big dam that could cause
				2. 
			</li>
			<li>
				What would it take to put together a on site teaching that we could charge money for?  Can you come down during Sukkot?
				</li>
			<li>
			</li>
			<li>
				Can you review this
				<a href='@Blobs.UrlWindmillRanch("RAD-Questionnaire-Windmill-Ranch/Index.html")'
					 target="_blank">
					<i class="fas fa-file-pdf"></i>
					RAD Permaculture Design Questionnaire for the Windmill Ranch
				</a> document and add comments?
			</li>
		</ul>



	</div>


	<img src='@Blobs.UrlWindmillRanchBulldozer("big-swale-1034-511.jpg")'
			 class="card-img-top" alt="Swale design of wash">
	<div class="card-body">
		<h5 class="card-title">Explanation of Picture</h5>

		<p class="card-text">
			The swale needs to be mapped out in a way that roughly matches the picture i.e. south of the road and east of the well (located by Boat)
			It's imperative that all of the top of the level sill's be as close to level as possible as the overflow runoff must not cause erosion
		</p>

		<p>Legend:</p>
		<ul>
			<li>
				<b>Barbwire Fencing</b>: The red lines has most of the posts in place but the barbwire needs to be replaced,
				the pink line needs wire and posts
			</li>
			<li><b>Big Blue Arrow</b>: This is the way the water flows currently</li>
			<li><b>Green line</b>: This line represents the <b>swales</b> and a redirection of the water flow</li>
			<li>
				<b>Big Yellow Arrows</b>: This is the <b>level sills</b> and is that's where the water will flow once the swale is full.
				They need to be able to handle water flowing over them without erosion.
			</li>
			<li><b>Fence Posts:</b> P1-P5 are temporary fence posts and put at various stages so that I can take a transit and double check that the swales are level.</li>
			<li><b>Wells</b>: <i>W</i> is the working well and <i>X</i> is the well at the windmill</li>
			<li>
				<b>Silt Pond</b>: Picking up the extra water that comes from the watershed that is Northeast of the property would be beneficial.
				Adding a little pond to drop the silt and using a pipe (black arrow) to draw back into the swale would be bring in extra clean water.
			</li>
			<li><b>Black Lines</b>: The black lines at the top of the picture represent the scale of the picture...each one is 50 feet.</li>
		</ul>

		<a href="@Blobs.UrlWindmillRanchBulldozer("big-swale-1920-937.jpg")" target="_blank"
			 class="btn btn-primary">
			Full Size Image
			<i class="fas fa-external-link-square-alt"></i>
		</a>

		<a href="@Links.WindmillRanch.Swales.Page"
			 class="btn btn-primary ml-2">
			<i class="fas fa-caret-right"></i> Swales, Learn More...
		</a>

	</div>
</div>

<div class="card my-2">
	<div class="card-body">
		<h5 class="card-title">Video of wash running with water</h5>

		<p class="card-text">
		</p>

		<div class="ratio ratio-16x9">
			<iframe src='@Blobs.UrlWindmillRanch("Flood_2021_07_02/VID_20210702_165141379.mp4")' title="The pond is flooding" allowfullscreen></iframe>
		</div>

	</div>
</div>



<div class="card my-2">
	<img src='@Blobs.UrlWindmillRanchBulldozer("Bulldozer-1024-768.jpg")' class="card-img-top" alt="Bulldozer">
	<div class="card-body">
		<h5 class="card-title">Bulldozer</h5>
		<p class="card-text">Very big <b>Pit</b> dozer 58k lbs, 13' wide blade</p>
		<a href="@Blobs.UrlWindmillRanchBulldozer("Bulldozer.jpg")" target="_blank"
			 class="btn btn-primary">
			Full Size Image
			<i class="fas fa-external-link-square-alt"></i>
		</a>

		@*		<a href="@Blobs.UrlWindmillRanchBulldozer("how-dare-you.png")" target="_blank"
			class="btn btn-primary ml-2">
			Swedish Mascot <sup>How dare you!!!</sup>
			<i class="fas fa-external-link-square-alt"></i>
			</a>
		*@
	</div>
</div>

<div class="card my-2">
	<img src='@Blobs.UrlWindmillRanchBulldozer("bulldozer-work-80-acres-webb-and-wmr-1024-468.jpg")'
			 class="card-img-top" alt="Bulldozer work over 80 acres">
	<div class="card-body my-2">
		<h5 class="card-title">Bulldozer work over 80 acres</h5>
		<p class="card-text">
			This map shows the railroad bed at the bottom left portion of picture and the main work to be done is found in the bottom right section of the picture where the swales are to be dug out.
			As the bulldozer exits off the railroad bed and makes its way to the swales I'm thinking why not make a road as it goes there and returns from there.
			This road will be a very useful not only for the Webb's but others who can use it as an alternative road.
			Placing the road on the ridge of the property may not be the direct path, but it will be easy to maintain.
			Also the first part of the road will, for the most part, mark off the western edge of the Webb's property which maybe easier to fence off.
			It doesn't need to be perfect (unless it is decided to do that) but I would think that a single pass with the blade down on one side and lifting the dirt towards the center
			and doing a similar thing on the opposite side as the dozer returns, would be sufficient.
		</p>

		<p class="card-text"><u>Directions</u></p>

		<ul>
			<li>
				<b>North West Bound</b>. The path from off the railroad bed, represented by the <span class="text-danger">red line</span>, is to head northwest to the ridge of the hill which is pretty close to the edge of the Webb property.
			</li>
			<li>
				<b>North Bound</b>. Once you have gotten to the western edge head North, almost all the way to the northern edge of the Webb property.
			</li>
			<li>
				<b>East by Southeast Bound</b>. There is a cow trail / road that goes in a east southeast direction and is the best place to cross the wash.
				Follow that through all the way to where the swales will be.
			</li>
		</ul>

		<p class="card-text">
			To see the rest of the railroad bead that heads east to Bisbee Junction and the overpass, click here
			<a href="@Blobs.UrlWindmillRanchBulldozer("half-mile-down-railroad-bed-1277-432.jpg")" target="_blank"
				 class="btn btn-primary">
				<i class="fas fa-map-signs"></i>
				Railroad Bed Map
				<i class="fas fa-external-link-square-alt"></i>
			</a>
		</p>



		<p class="card-text">
			More Pics
			<a href="@Blobs.UrlWindmillRanchBulldozer("culvert-tunnel-rr-bed-1035-780.jpg")" target="_blank"
				 class="btn btn-primary">
				<i class="fas fa-archway"></i>
				Culvert Tunnel
				<i class="fas fa-external-link-square-alt"></i>
			</a>
			<a href="@Blobs.UrlWindmillRanchBulldozer("2-metal-fench-posts-w-of-fence-gate-1036-780.jpg")" target="_blank"
				 class="btn btn-primary">
				2-metal fence posts
				<i class="fas fa-external-link-square-alt"></i>
			</a>
			<a href="@Blobs.UrlWindmillRanchBulldozer("10-foot-wide-gate-Webb-1034-625.jpg")" target="_blank"
				 class="btn btn-primary">
				10` wide barbwire gate
				<i class="fas fa-external-link-square-alt"></i>
			</a>
		</p>

		<p class="card-text"><u>Swale Location overview</u></p>
		<p class="card-text">
			First off, more on this can be seen below in the next figure.
			The white polygon represents the area where phase 1 of the project will occur as it will directly benefit from the overflow from the swales.
			For the most part it is fairly flat so manicuring it with a bulldozer to be more consistent shouldn't be that hard.
			The goal is to have the water flow over it in sheets and not <a href="https://en.wikipedia.org/wiki/Rill">rill's</a> or worse <a href="https://en.wikipedia.org/wiki/Gully">gullies</a>.
			Taking out existing gullies and undulations along with the smaller trees and shrubs would be beneficial.
			Leaving a select few larger trees would also be beneficial as it would allow for wind breads and domesticated animals to cool off.
		</p>

		<a href="@Blobs.UrlWindmillRanchBulldozer("bulldozer-work-80-acres-webb-and-wmr.png")" target="_blank"
			 class="btn btn-primary">
			Full Size Image
			<i class="fas fa-external-link-square-alt"></i>
		</a>
	</div>
</div>


<div class="card my-2">
	<img src='@Blobs.UrlWindmillRanchBulldozer("contour-map-property-ownership-1064-1014.jpg")'
			 class="card-img-top" alt="Contour map of property ownership">
	<div class="card-body">
		<h5 class="card-title">Contour map showing property ownership and wells</h5>

		<p class="card-text">
			When developing a permaculture earth works plan and design, it's useful to see a zoomed out view of the property in question.
			This contour map shows land ownership and well locations that surround on two sides the 40 acres of the Windmill Ranch.
			Two others are owned by elders of Living Messiah each own 40 acres, one to the West mentioned above regarding building the road,
			and the other to the north where the swale continues on for another 1/4 of a mile.
		</p>

		<p>
			<a href="@Blobs.UrlWindmillRanchBulldozer("contour-map-property-ownership.jpg")" target="_blank"
				 class="btn btn-primary">
				Full Size Image
				<i class="fas fa-external-link-square-alt"></i>
			</a>
		</p>

		<p>
			<a href="@Blobs.UrlWindmillRanchBulldozer("160-acres-1024-982.jpg")" target="_blank"
				 class="btn btn-primary">
				160 Acres
				<i class="fas fa-external-link-square-alt"></i>
			</a>

			<a href="@Blobs.UrlWindmillRanchBulldozer("160-acres-1930-1851.png")" target="_blank"
				 class="btn btn-primary">
				160 Acres 8 meg
				<i class="fas fa-external-link-square-alt"></i>
			</a>
		</p>


	</div>
</div>


<div class="card my-2">
	<img src='@Blobs.UrlWindmillRanchBulldozer("regenerative-area-in-swale-849-661.jpg")'
			 class="card-img-top" alt="Contour map of property ownership">
	<div class="card-body">
		<h5 class="card-title">Contour map showing the regenerative area for the whole swale</h5>

		<p class="card-text">
		</p>

		<a href="@Blobs.UrlWindmillRanchBulldozer("regenerative-area-in-swale.png")" target="_blank"
			 class="btn btn-primary">
			Full Size Image
			<i class="fas fa-external-link-square-alt"></i>
		</a>
	</div>
</div>


<div class="card my-2">
	<img src='@Blobs.UrlWindmillRanchBulldozer("Fenced-Area-South-end-of-Wash-1174-748.jpg")'
			 class="card-img-top" alt="Contour map of property ownership">
	<div class="card-body">
		<h5 class="card-title">Map showing the necessity of a fence.</h5>

		<p class="card-text">
			To complete this task a fence needs to surround the swales so the cattle can't get on them and cause the water flow to not be uniform.
			It can be adjusted on the west side because the swale might extend out past that edge.
		</p>

		<a href="@Blobs.UrlWindmillRanchBulldozer("Fenced-Area-South-end-of-Wash.png")" target="_blank"
			 class="btn btn-primary">
			Full Size Image
			<i class="fas fa-external-link-square-alt"></i>
		</a>
	</div>
</div>

<h1><span class="badge badge-success"><b>More Bulldozer Work</b></span></h1>

<p>
	Depending on how things go and how easy other projects can be accomplished with the bulldozer, it makes sense to consider them.
	Why not leverage as much use out of a piece of equipment as you can given that the expense of getting it here is extensive.
</p>

<div class="card my-2">
	<img src='@Blobs.UrlWindmillRanchBulldozer("further-erosion-prevention-swale-webb-1039-761.jpg")'
			 class="card-img-top" alt="Contour map of property ownership">
	<div class="card-body">
		<h5 class="card-title">"a Cut-out-the-Cancer-Swale"</h5>

		<p class="card-text">
			The Webb property has a big area (e.g. 1 to 2 acres) where there's a massive topsoil erosion.
			I'm thinking that if you can encircle that area with a swale and then focus the water runoff into a specific area that is designed to handle the water off-ramp is good thing.
			The ground is soft and would be easy for the dozer to build it.
			What to do with that area I have some ideas but doing the swale to prevent any further damage is low handing fruit.
		</p>

		<p class="card-text">
			The map shows a contour of where the swale could be with the red lines identifying it's edge.
			If you zoom in, you can see the cracks or fissures caused by the erosion and probably the lower right edge of the proposed swale location should be extend along that contour line.
		</p>

		<a href="@Blobs.UrlWindmillRanchBulldozer("further-erosion-prevention-swale-webb.png")" target="_blank"
			 class="btn btn-primary">
			Full Size Image
			<i class="fas fa-external-link-square-alt"></i>
		</a>

		<a href="@Blobs.UrlWindmillRanchBulldozer("Webb-eroded-area1-1035-780.jpg")" target="_blank"
			 class="btn btn-primary">
			Erosion Area
			<i class="fas fa-external-link-square-alt"></i>
		</a>

	</div>
</div>

<h3>More work items...</h3>
<ul>
	<li>
		Parts of the drive way that runs north and south (separating Webb property from WR) needs some bulldozer love by moving dirt from it's east edge and putting it more in the center.
		This will keep it from further erosion and it should
		<a href="https://goo.gl/maps/1vqz8451SCzfHe1g9" title="31.3580, -109.8684">Google Map:</a>&nbsp;<i class="fa fa-map-pin"></i>.
		<a href="@Blobs.UrlWindmillRanchBulldozer("drive-way-looking-North-1095-825.jpg")" target="_blank"
			 class="btn btn-primary">
			Picture
			<i class="fas fa-external-link-square-alt"></i>
		</a>
	</li>
	<li>
		Scrap off a pad for Ralph and Peribeth's future resident location.
		<a href="https://goo.gl/maps/1vqz8451SCzfHe1g9" title="31.3611, -109.8668">Google Map:</a>&nbsp;<i class="fa fa-map-pin"></i>.
		<a href="@Blobs.UrlWindmillRanchBulldozer("Cratty-house-location-1039-783.jpg")" target="_blank"
			 class="btn btn-primary">
			Picture
			<i class="fas fa-external-link-square-alt"></i>
		</a>
	</li>
	<li>Do a better job of finishing the RV road and maybe continue north and hook up with the road going through Cratty's property</li>
	<li>Create a series of swales going all the way up the wash.</li>
	<li>?</li>
</ul>

<ReturnAnchor />

@*
	Move swale page
	geoff-lawton-swale-pictures-Permaculture-Design-for-Horses-People.jpg
*@