@using static LivingMessiah.Web.Pages.Sukkot.Constants.Blobs

<h3><span class="badge bg-warning">Windmill Ranch Documents</span></h3>


<ul class="h4">

	<li>

		<a href='@Blobs.UrlWindmillRanch("RAD-Questionnaire-Windmill-Ranch/Index.html")'
			  target="_blank">
			<i class="fas fa-file-pdf"></i>
			RAD Permaculture Design Questionnaire for the Windmill Ranch
		</a>

	</li>
	@*<li>
			<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.HouseRules)"
				 target="_blank">
				<i class="fas fa-file-pdf"></i> House Rules
			</a>
		</li>*@
	<li>
		<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.LiabilityWaiver)"
			 target="_blank">
			<i class="fas fa-file-pdf"></i> Liability Waiver
		</a>
	</li>

	@*<li>
		<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.WildernessRanchInfoPacket)"
			 target="_blank">
			<i class="fas fa-file-pdf"></i> Wilderness Ranch Info Packet
		</a>
	</li>*@

	<li>
		<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.WindmillRanchSupplementalRules)"
			 target="_blank">
			<i class="fas fa-file-pdf"></i> Windmill Ranch Supplemental Rules
		</a>
	</li>

	<li>
		<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.WindmillRanchSurroundingArea)"
			 target="_blank">
			<i class="fas fa-file-pdf"></i> Windmill Ranch Surrounding Area
		</a>
	</li>

</ul>
