@page "/WindmillRanch"
@using static LivingMessiah.Web.WindmillRanch

@*<h2><i class="@LivingMessiah.Web.WindmillRanch.Anchors.Icon"></i> @LivingMessiah.Web.WindmillRanch.Anchors.Title</h2>*@


@*<div class="pb-2 mt-4 mb-2 border-bottom">
		<h1><span class="text-primary @Anchors.GodsEconomy.Icon"></span> @Anchors.GodsEconomy.Title</h1>
	</div>*@


<img src='@Blobs.UrlWindmillRanch("windmill-ranch-logo-1024-379.jpg")'
		 alt="@Descr" class="img-fluid rounded my-3" />


<a href='@Blobs.UrlWindmillRanch("RAD-Questionnaire-Windmill-Ranch/Index.html")'
	 class="btn btn-primary btn-xlarge" target="_blank">
	<span class="fas fa-external-link-alt"></span>
	RAD Permaculture Design Questionnaire for the Windmill Ranch
</a>

<br />
@*<Anchor IsPrinterFriendly="false"
				ButtonCss="btn btn-primary btn-lg"
				TargetIsBlank="false"
				Href="https://LivingMessiah.com/" + "@LivingMessiah.Web.WindmillRanch.Anchors.IndexCodeOfConduct" 
				Descr="Code of Conduct">
</Anchor>*@

<br />



<PartialViewButtons>

</PartialViewButtons>

