@page "/WindmillRanch"
@using static LivingMessiah.Web.Links.WindmillRanch

@*<h2><i class="@LivingMessiah.Web.WindmillRanch.Anchors.Icon"></i> @LivingMessiah.Web.WindmillRanch.Anchors.Title</h2>*@


@*<div class="pb-2 mt-4 mb-2 border-bottom">
		<h1><span class="text-primary @Anchors.GodsEconomy.Icon"></span> @Anchors.GodsEconomy.Title</h1>
	</div>*@


<img src='@Blobs.UrlWindmillRanch("windmill-ranch-logo-1024-379.jpg")'
		 alt="@Descr" class="img-fluid rounded my-3" />


<Documents />


<h1>Page Enhancements</h1>
<p class="lead">
	I've bee waiting patienty to greatly improve this page as I see this as main part of my position at LMM and local resident/overseer/ground keeper of the property.

	<blockquote class="blockquote mx-5">
		Where there is no vision, the people perish: but he that keepeth the <b>Torah</b>	<sup>the law</sup>, happy is he.
		<footer class="blockquote-footer"><cite title="Proverbs 29:18">Proverbs 29:18</cite></footer>
	</blockquote>

	I see a big part of my task therefore is to keep the vision going.
	Part of that is showing and documenting progress which can more effectively be done if you are systematic / formal about documenting work that has been done and work that needs to be done.
	Therefore what I want to do with this page is for it to be seen as a Project Management page.
</p>

<h3>Project Management Technical Requirements</h3>
<h5>A database of tables</h5>

<ul class="list-inline">
	<li>Projects and Project Categories</li>.
	<li>People</li>.
	<li>Folders and Tags</li>.
	<li>???</li>.
</ul>

<p class="lead">
	<b>Project Data Points:</b> status, priority, prerequisites, cost, phases, justification, approval, funding
</p>

<p class="lead">
	<b>People Data Points:</b> Who worked on which project and how much time did they spend and how should they be compensated 
</p>

<p class="lead">
	<b>Folders and Tags:</b> This is to aide in searching / filtering the projects.
</p>

<h3>SyncFusion Components</h3>
<p class="lead">
	Since i'm already implementing this suite of components I thought I could leverage other ones that would be useful to this page
</p>

<ul>
	<li><a href="https://blazor.syncfusion.com/demos/kanban/dialog-editing?theme=bootstrap4"></a>A Kanban Board</li>.
	<li><a href="https://blazor.syncfusion.com/demos/diagramcomponent/hierarchical-tree?theme=bootstrap4"></a>Diagrams</li>.
</ul>


<ul>
	<li>Other keep track of hours</li>.
</ul>

<PartialViewButtons />

