@page "/Sukkot/CreateEdit/{Id:int?}"

@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting

@using static SukkotApi.Domain.Constants
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot

@inject IWebHostEnvironment Env

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@using Page = LivingMessiah.Web.Links.Sukkot
<PageTitle>@Page.CreateEditTitle</PageTitle>

@*<LoadingComponent IsLoading="Registration==null">
	</LoadingComponent>*@

@if (Registration != null && UI != null)
{
	@if (Env.IsDevelopment())
	{
		<p class="float-right">
			<sup> Registration.StatusEnum: @Registration.StatusEnum </sup>
		</p>

	}

	<h3>@Title<br /><small><i>@Title2</i></small></h3>

	<hr class="warning" />

	<EditForm Model="Registration"
					OnValidSubmit="HandleValidSubmit"
					class="card card-body bg-light mt-5">
		<DataAnnotationsValidator />
		<ValidationSummary />


		@*<Administrative>*@

		<fieldset class="mt-3">
			<legend class="text-primary">Contact Information</legend>

			<div class="row mt-n2">

				<div class="col-sm-4">
					<div class="form-group">
						<label for="familyName" class="control-label">Family Name</label>
						<InputText id="familyName" class="form-control" @bind-Value="Registration.FamilyName" />
						<ValidationMessage For="@(() => Registration.FamilyName)" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<label for="firstName" class="control-label">First Name</label>
						<InputText id="firstName" class="form-control" @bind-Value="Registration.FirstName" />
						<ValidationMessage For="@(() => Registration.FirstName)" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<label for="spouseName" class="control-label">Spouses Name</label>
						<InputText id="spouseName" class="form-control" @bind-Value="Registration.SpouseName" />
						<ValidationMessage For="@(() => Registration.SpouseName)" />
					</div>
				</div>

			</div>


			<div class="row">

				<div class="col-sm-6">
					<div class="form-group">
						<label for="otherNames" class="control-label">Other Names</label>
						<InputText id="otherNames" class="form-control" @bind-Value="Registration.OtherNames" />
						<ValidationMessage For="@(() => Registration.OtherNames)" />
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="phone" class="control-label">Phone</label>
						<InputText id="phone" class="form-control" @bind-Value="Registration.Phone" placeholder="phone (optional)" />
						<ValidationMessage For="@(() => Registration.Phone)" />
					</div>
				</div>

				@*<div class="col-sm-4">
					<div class="form-group">
					<label for="avitar" class="control-label">Avitar</label>
					<InputText id="avitar" class="form-control" @bind-Value="Registration.Avitar" placeholder="picture (optional)" />
					<ValidationMessage For="@(() => Registration.Avitar)" />
					</div>
					</div>*@

			</div>

		</fieldset>

		<fieldset class="mt-3">
			<legend class="text-primary">Attendance</legend>
			<div class="row mt-n2">

				<div class="col-sm-4">
					<div class="card bg-light mb-3">
						@*<div class="card-header"></div>*@
						<div class="card-body">
							@*<h4 class="card-title">Attendance</h4>*@
							<p class="card-text">What days will you be attending?  This helps us with planning.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-8">
					<div class="form-group">
						@*<label for="attendanceDays" class="control-label">Select Dates</label>*@

						<SfCalendar TValue="DateTime?"
											IsMultiSelection="true" ShowTodayButton="false"
											@bind-Values="@Registration.AttendanceDateList"
											Min="@DateRangeAttendance.DateRange.MinDate"
											Max="@DateRangeAttendance.DateRange.MaxDate">
						</SfCalendar>

					</div>
				</div>

			</div>
		</fieldset>


		<fieldset class="mt-3">
			<legend class="text-primary">People Count</legend>

			<div class="row mt-n2">
				<div class="col-sm-3">

					<div class="form-group">

						<label for="adults" class="control-label">Adults</label>
						<InputNumber id="adults" class="form-control" @bind-Value="Registration.Adults" />
						<ValidationMessage For="@(() => Registration.Adults)" />

					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="childBig" class="control-label">Child <sup>big</sup></label>
						<InputNumber id="childBig" class="form-control" @bind-Value="Registration.ChildBig" />
						<ValidationMessage For="@(() => Registration.ChildBig)" />
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="childSmall" class="control-label">Child <sup>small</sup></label>
						<InputNumber id="childSmall" class="form-control" @bind-Value="Registration.ChildSmall" />
						<ValidationMessage For="@(() => Registration.ChildSmall)" />
					</div>
				</div>

				<div class="col-sm-3">
				</div>

			</div>
		</fieldset>

		<fieldset class="mt-3">
			<legend class="text-primary">Other</legend>
			<div class="row mt-n2">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="notes" class="control-label"><small>Notes / Emergency Contact / Fellowship Attending</small></label>
						<p class="">
							Please include emergency contact and name of fellowship or congregation currently attending, if none list a personal reference
						</p>
						<InputTextArea id="notes" class="form-control" @bind-Value="Registration.Notes" />
						<ValidationMessage For="@(() => Registration.Notes)" />

					</div>
				</div>
			</div>


		</fieldset>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">

					@if (UI.EditMode)
					{
						<button type="submit" class="btn btn-primary btn-lg">
							<i class="fas fa-save"></i> Update
						</button>

					}
					else
					{
						<button type="submit" class="btn btn-success btn-lg">
							<i class="fas fa-save"></i> Save
						</button>
					}

				</div>

			</div>
		</div>

	</EditForm>


}


<a href="@LivingMessiah.Web.Links.Sukkot.RegistrationShell"
	 class="btn btn-info mt-3" title="Sukkot Introduction">
	<i class="far fa-arrow-alt-circle-left"></i> Back to Registration
</a>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
	else
	{
		if (DatabaseInformation)
		{
			<p class="text-info">@DatabaseInformationMsg</p>
		}
	}
}