@page "/Sukkot/CreateEdit/{Id:int?}"

@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting

@using static SukkotApi.Domain.Constants
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot

@inject IWebHostEnvironment Env

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@*<p class="text-info">ToDo: Port GlobalSharedPartialViews.Message for=Message</p>*@

@*<LoadingComponent IsLoading="Registration==null">
	</LoadingComponent>*@


@if (Registration != null && UI != null)
{

	@if (Env.IsDevelopment())
	{
		<p class="float-right">
			<sup> Registration.StatusEnum: @Registration.StatusEnum </sup>
		</p>

	}

	<h3>@Title<br /><small><i>@Title2</i></small></h3>
	<h5></h5>
	<hr class="warning" />

	<EditForm Model="Registration"
						OnValidSubmit="HandleValidSubmit"
						class="card card-body bg-light mt-5">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<input type="hidden" asp-for="Registration.StatusId" />
		<input type="hidden" asp-for="Registration.EMail" />
		<input type="hidden" asp-for="UI.EditMode" />

		@*<Administrative>*@

		<fieldset class="mt-3">
			<legend class="text-primary">Contact Information</legend>

			<div class="row mt-n2">

				<div class="col-sm-4">
					<div class="form-group">
						<label for="familyName" class="control-label">Family Name</label>
						<InputText id="familyName" class="form-control" @bind-Value="Registration.FamilyName" />
						<ValidationMessage For="@(() => Registration.FamilyName)" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<label for="firstName" class="control-label">First Name</label>
						<InputText id="firstName" class="form-control" @bind-Value="Registration.FirstName" />
						<ValidationMessage For="@(() => Registration.FirstName)" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<label for="spouseName" class="control-label">Spouses Name</label>
						<InputText id="spouseName" class="form-control" @bind-Value="Registration.SpouseName" />
						<ValidationMessage For="@(() => Registration.SpouseName)" />
					</div>
				</div>

			</div>


			<div class="row">

				<div class="col-sm-6">
					<div class="form-group">
						<label for="otherNames" class="control-label">Other Names</label>
						<InputText id="otherNames" class="form-control" @bind-Value="Registration.OtherNames" />
						<ValidationMessage For="@(() => Registration.OtherNames)" />
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="phone" class="control-label">Phone</label>
						<InputText id="phone" class="form-control" @bind-Value="Registration.Phone" placeholder="phone (optional)" />
						<ValidationMessage For="@(() => Registration.Phone)" />
					</div>
				</div>

				@*<div class="col-sm-4">
						<div class="form-group">
							<label for="avitar" class="control-label">Avitar</label>
							<InputText id="avitar" class="form-control" @bind-Value="Registration.Avitar" placeholder="picture (optional)" />
							<ValidationMessage For="@(() => Registration.Avitar)" />
						</div>
					</div>*@

			</div>

		</fieldset>


		<fieldset class="mt-3">
			<legend class="text-primary">Location</legend>
			<div class="row mt-n2">

				<div class="col-sm-4">
					<div class="card bg-light mb-3">
						@*<div class="card-header"></div>*@
						<div class="card-body">
							@*<h4 class="card-title">Attendance</h4>*@
							<p class="card-text">Sukkot 2021 is a unique year in that we have <b>three</b> locations which to select from.</p>
						</div>
					</div>
				</div>

				@* Required ValidationMessage doesn't work *@
				<div class="col-sm-8">
					<label for="locationEnum" class="control-label">Location</label>
					<InputSelectEnum @bind-Value="Registration.LocationEnum"
													 class="form-control" id="locationEnum" />
					<ValidationMessage For="@(() => Registration.LocationEnum)" />
				</div>

			</div>
		</fieldset>


		<fieldset class="mt-3">
			<legend class="text-primary">Attendance</legend>
			<div class="row mt-n2">

				<div class="col-sm-4">
					<div class="card bg-light mb-3">
						@*<div class="card-header"></div>*@
						<div class="card-body">
							@*<h4 class="card-title">Attendance</h4>*@
							<p class="card-text">What days will you be attending?  This helps us with planning.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-8">
					<div class="form-group">
						@*<label for="attendanceDays" class="control-label">Select Dates</label>*@

						<SfCalendar TValue="DateTime?"
												IsMultiSelection="true" ShowTodayButton="false"
												@bind-Values="@Registration.AttendanceDateList"
												Min="@DateRangeAttendance.DateRange.MinDate"
												Max="@DateRangeAttendance.DateRange.MaxDate">
						</SfCalendar>

					</div>
				</div>

			</div>
		</fieldset>


		@if (CanEditCampType)
		{ 

		<fieldset class="mt-3">
			<legend class="text-primary">Lodging</legend>
			<div class="row mt-n2">

				<div class="col-sm-4">
					<div class="form-group">
						<label for="campType" class="control-label">Camp Type</label>
						<InputSelectEnum @bind-Value="Registration.CampTypeEnum" class="form-control" />
						<ValidationMessage For="@(() => Registration.CampTypeEnum)" />
					</div>
				</div>
				<div class="col-sm-8">
					<b>Cost Details <sup class="text-black-50">1</sup></b>
					<ul class=" fa-ul">
						<li><i class="fa-li fas fa-caret-right"></i>Tent (@LodgingRate.ToString("C0") per day for entire family)</li>
						<li><i class="fa-li fas fa-caret-right"></i>RV or Camp Trailer (@LodgingRate.ToString("C0") per day for entire family)</li>
						<li>
							<i class="fa-li fas fa-caret-right"></i>Indoor Facility (@LodgingRate.ToString("C0") per day per person)<br />
							<b>You need to bring your own bedding, towels and toiletries</b>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">

				<div class="col-sm-4">
					<div class="card bg-light mb-3">
						<div class="card-body">
							@*<h4 class="card-title">Lodge Dates</h4>*@
							<p class="card-text">What days will you be lodging?</p>
						</div>
					</div>
				</div>

				<div class="col-sm-8">
					<div class="form-group">
						@*<label for="lodgeDate" class="control-label">Select Dates</label>*@
						<SfCalendar TValue="DateTime?" ShowTodayButton="false"
												IsMultiSelection="true"
												@bind-Values="@Registration.LodgingDateList"
												Min="@DateRangeLodging.DateRange.MinDate"
												Max="@DateRangeLodging.DateRange.MaxDate">
						</SfCalendar>
					</div>
				</div>

			</div>
		</fieldset>

		}


		<fieldset class="mt-3">
			<legend class="text-primary">People Count</legend>

			<div class="row mt-n2">
				<div class="col-sm-3">

					<div class="form-group">

						<label for="adults" class="control-label">Adults</label>
						<InputNumber id="adults" class="form-control" @bind-Value="Registration.Adults" />
						<ValidationMessage For="@(() => Registration.Adults)" />

					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="childBig" class="control-label">Child <sup>big</sup></label>
						<InputNumber id="childBig" class="form-control" @bind-Value="Registration.ChildBig" />
						<ValidationMessage For="@(() => Registration.ChildBig)" />
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="childSmall" class="control-label">Child <sup>small</sup></label>
						<InputNumber id="childSmall" class="form-control" @bind-Value="Registration.ChildSmall" />
						<ValidationMessage For="@(() => Registration.ChildSmall)" />
					</div>
				</div>

				<div class="col-sm-3">

				</div>

			</div>
		</fieldset>

		<fieldset class="mt-3">
			<legend class="text-primary">Other</legend>
			<div class="row mt-n2">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="notes" class="control-label"></label>
						<InputTextArea id="notes" class="form-control" @bind-Value="Registration.Notes" />
						<ValidationMessage For="@(() => Registration.Notes)" />

					</div>
				</div>
			</div>
		</fieldset>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">

					@if (UI.EditMode)
					{
						<button type="submit" class="btn btn-primary btn-lg">
							<i class="fas fa-save"></i> Update
						</button>

					}
					else
					{
						<button class="btn btn-success btn-lg">
							<i class="fas fa-save"></i> Save
						</button>

					}

				</div>

			</div>
		</div>

	</EditForm>


}
else if (LoadFailed)
{
	<p class="text-danger"><em>Could not load because of an Error</em></p>
}
else
{
	<p><em>Loading...</em></p>
}

<a href="@LivingMessiah.Web.Links.Sukkot.RegistrationShell"
	 class="btn btn-info mt-3" title="Sukkot Introduction">
	<i class="far fa-arrow-alt-circle-left"></i> Back to Registration
</a>



