@using LivingMessiah.Web.Links

<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 @NavBarColor">
	<div class="container">
		<NavbarHomeButton></NavbarHomeButton>
		<button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" 
						data-toggle="collapse" data-target=".navbar-collapse" 
						aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" 
				 @onclick="ToggleNavMenu">
			<ul class="navbar-nav flex-grow-1">

				<li class="nav-item">
					<a class="nav-link @TextColor" href="@ShabbatService.Index">
						@*<i class="@ShabbatService.Icon" aria-hidden="true"></i>*@
						@ShabbatService.Title
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link @TextColor" href="@UpcomingEvents.Index">
						@*<i class="@UpcomingEvents.Icon" aria-hidden="true"></i>*@
						@UpcomingEvents.Title
					</a>
				</li>

				<li class="nav-item">

					<a class="nav-link @TextColor" href="@PayPal.Donate.Index ">
						@*<i class="@PayPal.Donate.Icon" aria-hidden="true"></i>*@
						@PayPal.Donate.Title
					</a>

				</li>

				<li class="nav-item">
					<a class="nav-link @TextColor" href="@Calendar.Index">
						@Calendar.Title
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
