@using LivingMessiah.Web.Links;

<div class="d-sm-none">
	<a class="navbar-brand nav-link text-warning" title="<576px Xs" href="@Home.Index">
		<i class="fas fa-synagogue"></i> <b>Living Messiah</b>
	</a>
</div>

<div class="d-none d-sm-block d-md-none d-lg-none d-xl-none">
	<a class="navbar-brand nav-link text-warning" title="≥576px Sm" href="@Home.Index">
		<i class="fas fa-synagogue"></i> <sup><b>LMM</b></sup>
	</a>
</div>

<div class="d-none d-md-block d-lg-none d-xl-none">
	<a class="navbar-brand nav-link text-warning" title="≥768px Md" href="@Home.Index">
		<i class="fas fa-synagogue"></i> <b>Living Messiah</b>
	</a>
</div>

<div class="d-none d-lg-block d-xl-none">
	<a class="navbar-brand nav-link text-warning" title="≥992px Lg" href="@Home.Index">
		<i class="fas fa-synagogue"></i> <b>Living Messiah</b>
	</a>
</div>

<div class="d-none d-xl-block">
	<a class="navbar-brand nav-link text-warning" title="≥1200px Xl" href="@Home.Index">
		<i class="fas fa-synagogue"></i> <b>Living Messiah</b>
	</a>
</div>

@*
	@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env

	@functions
	{
	// Usage<i class="fas fa-synagogue"></i>@((MarkupString)VP("xl")) <b>Living Messiah</b>
		public String VP(string size)
		{
			return "";
			//if (env.EnvironmentName == "Development")
			//{
			//	return "<sup><small> " + size + "</small></sup>";
			//}
			//else
			//{
			//	return "";
			//}
		}
	}

		@((MarkupString)VP("xs"))
		@((MarkupString)VP("sm"))
		@((MarkupString)VP("md"))
		@((MarkupString)VP("lg"))

*@