@using LivingMessiah.Web.Links

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">Living Messiah</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
	</ul>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="@UpcomingEvents.Index" Match="NavLinkMatch.All">
				<i class="@UpcomingEvents.Icon" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;@UpcomingEvents.Title
			</NavLink>
		</li>
	</ul>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="@KeyDates.Index" Match="NavLinkMatch.All">
				<i class="@KeyDates.Icon" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;@KeyDates.Title
			</NavLink>
		</li>
	</ul>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="@Parasha.Index" Match="NavLinkMatch.All">
				<i class="@Parasha.Icon" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;@Parasha.Title
			</NavLink>
		</li>
	</ul>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="@ShabbatService.Index" Match="NavLinkMatch.All">
				<i class="@ShabbatService.Icon" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;@ShabbatService.Title
			</NavLink>
		</li>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
