
<LoadingComponent IsLoading="CurrentWeeklyVideo==null">

	<h1 class="mt-5"><span class="badge bg-warning">@CurrentWeeklyVideo.WvtDescr</span></h1>

	<h3><i class="@CurrentWeeklyVideo.WvtIcon"></i> @CurrentWeeklyVideo.Title</h3>

	@if (CurrentWeeklyVideo.WvtId <= 2)
	{
		<a href="@CurrentWeeklyVideo.BiblicalUrlReference"
			 class="btn btn-primary btn-lg my-2" target="_blank">
			<span class="fas fa-external-link-alt"></span>
			<b>@CurrentWeeklyVideo.ParashaName</b>
		</a>
	}
	else
	{
		<a href="@CurrentWeeklyVideo.BiblicalUrlReference"
			 class="btn btn-primary btn-lg my-2" target="_blank">
			<span class="fas fa-external-link-alt"></span>
			<b>@CurrentWeeklyVideo.BookTitle @CurrentWeeklyVideo.Chapter</b> <i>@CurrentWeeklyVideo.BookChapterTitle</i>
		</a>
	}

	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@CurrentWeeklyVideo.YouTubeId?rel=0"
						allowfullscreen></iframe>
	</div>

	<p class="my-0">
	<i class="fas fa-share fa-rotate-270"></i> Watch the video when it is live
	</p>

	<span class="float-end">
		<a href="@CurrentWeeklyVideo.YouTubeUrl" target="_blank"
			 title="@CurrentWeeklyVideo.YouTubeId">
			<u>@CurrentWeeklyVideo.YouTubeId</u>
			<i class="fas fa-external-link-square-alt"></i>
		</a>
	</span>




</LoadingComponent>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}