@using LivingMessiah.Web.Pages.Leadership.Enums
@using Syncfusion.Blazor.Navigations

<SfAccordion ExpandMode="ExpandMode.Single">
	<AccordionItems>
		@foreach (var item in LivingMessiah.Web.Pages.Leadership.Enums.Office.List
		.OrderBy(o => o.Sort)
		.Where(w => w.IsFilled == true).ToList())
		{
			<AccordionItem>
				<HeaderTemplate>
					<div class="my-1">
						<img src="@Blobs.Leadership(item.IconFile)" class="mr-3 rounded-circle" /> <img src="@Blobs.Leadership(item.IconFile2)" class="mr-3 rounded-circle" /> <br /> @item.OfficeHolderName  <i>@item.Title</i>
					</div>
				</HeaderTemplate>
				<ContentTemplate>
					<OfficeContent Office="@item" IsXs="true"></OfficeContent>
				</ContentTemplate>
			</AccordionItem>
		}
	</AccordionItems>
</SfAccordion>

<style>
.e-accordion .e-acrdn-item.e-select > .e-acrdn-header {
	background: #ffc107 !important;
}

</style>

@*
	.e-accordion {
	border: 5px solid rgb(255, 193, 7);
}
*@