@using LivingMessiah.Web.Pages.Leadership.Enums

<div class="card border-0">

	<img src="@Blobs.Leadership(Office.ImageFile)" class="@ImgClass" alt="@Office.OfficeHolderName" />
	
	<div class="card-body">
	
		<h4 class="card-title">@Office.OfficeHolderName<br /></h4>
		<p class="card-subtitle mb-2 text-muted">
			<i>@Office.Title</i><br />
			<address>
				<a href="mailto:@Office.Email">@Office.Email</a>&nbsp;<i class="far fa-envelope"></i>
			</address>
		</p>

		<div class="card-text">

			@if (Office == Office.CongregationLeader)
			{
				<p>
					Mark and Pollyanna Webb reside in Arizona with their 8 children, 10 grandchildren, sons and daughter in laws, along with their large multi-generational extended family.
				</p>
				<p>
					Mark was affirmed as a congregational servant-leader on July 7, 2007, and disciples believers in Messiah <i>Yahushua</i> (Jesus), the lost sheep of the House of Israel, in the Hebraic Roots of our Christian faith.  He serves as the congregational leader of Living Messiah Ministries in downtown Mesa.
				</p>
				<p>
					Experiencing the land of Israel was life changing for the Webb family. They began studying the Hebrew roots of their Christian faith in 2004. Mark began serving as a congregational leader on 7-7-2007 and is currently building community from a Hebraic understanding at Living Messiah Ministries in Mesa Arizona and at Windmill Ranch in Bisbee Arizona.
				</p>
				<p>
					Mark and Polly are passionate about the study of Biblical Astronomy, observing the prophetic patterns the heavens declare nightly of our Messiah. They are also devoted to the study of Biblical geography, history, customs, languages and the exile and gathering of the whole House of Israel.
				</p>
				<p>
					The Webb family enjoys traveling and meeting the scattered family of Israel that is being	gathered. We look forward to meeting you!
				</p>

				<i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
				<blockquote class="blockquote">
					The heavens declare the glory of God; the skies proclaim the work of His hands.
					<footer class="blockquote-footer"><cite title="">Psalms 19:1 </cite></footer>
				</blockquote>
			}
			else if (Office == Office.BeitDin1)
			{
				<p>
					Ralphie W. Cratty III grew up in New Castle, Pennsylvania and graduated from the Art Institute of Pittsburgh with a degree in Visual Communications.
					Self-employed as a Graphic Designer since 1986, he has lived most of his adult life in Arizona where he met and married his wife Peribeth who helps serve with him in leadership at Living Messiah Ministries.
					They are blessed with a growing family of 4 adult children and now 6 grandchildren.
				</p>
				<p>
					Ralphie came to a greater understanding of the scriptures after discovering the truth regarding the Creator’s name.
					This gave him a desire to re-examine his understanding of all the scriptures from the Hebraic mindset.
					He now has a deep passion for seeking out the scriptures and continues learning each and every day.
					Ralphie leads a weekly
					<LinkComponent LinkComponentEnum="LinkComponentEnum.InternalBtnSm"
											 Index="@LivingMessiah.Web.Links.IndepthStudy.Index"
											 Title="@LivingMessiah.Web.Links.IndepthStudy.Title"
											 Icon="@LivingMessiah.Web.Links.IndepthStudy.Icon">
					</LinkComponent>
					each Shabbat before the main service.
				</p>
				<ul>
					<li>
						@*<AnchorAboveAllImages AnchorEnum="AnchorEnums.ExternalButton"></AnchorAboveAllImages>*@
						<a href="@LivingMessiah.Web.Links.AboveAllImages.Url" class="btn btn-primary" target="_blank">
							@LivingMessiah.Web.Links.AboveAllImages.UrlSimple &nbsp;
							<i class="fas fa-external-link-square-alt"></i>
						</a>
					</li>
				</ul>

			}
			else if (Office == Office.BeitDin2)
			{
				<p>Vacant</p>
			}
			else if (Office == Office.BeitDin3)
			{
				<p>
					Born in Eastern Oregon, raised in Carson City, Nevada, John has lived in Arizona since 1979.
					Trained as a computer programmer and web developer, John has several websites that he has authored and maintains, including
					<a href="http://www.myhebrewbible.com/" target="_blank">www.MyHebrewBible.com</a> and
					<a href="http://musicfromgod.com/" target="_blank">www.MusicFromGod.com</a>.
					<br /><br />
					He has a passion for studying the scripture from the perspective of law, see
					<a href="http://www.TorahLawForm.com/" target="_blank">TorahLawForm.com</a>.
					John has been Torah observant and Y'shua believing for many years and has been involved with and helped found several Torah-based organizations
					(see <a href="http://tzuryisrael.azurewebsites.net/" target="_blank">TzuryIsrael.AzureWebsites.net</a>)
					and congregations.
					<br /><br />
					His unique perspective is a valuable asset to our leadership team.
				</p>

				<ul>
					@*<li><a href="@Url" class="btn btn-light" target="_blank">@UrlSimple <i class="fas fa-external-link-alt"></i></a></li>*@
					<li><a href="https://www.TorahLawForm.com/" class="btn btn-light" target="_blank">TorahLawForm.com <i class="fas fa-external-link-alt"></i></a></li>
				</ul>

			}
			else if (Office == Office.Elder1)
			{
				<p>
					Pat was raised in a believing home and has had a personal relationship with the Messiah since childhood.
					She was married to a Christian pastor with whom she served for 50 years, the last 15 of which were spent proclaiming the Messianic message.
					Together, Pat and her husband raised six children.
					Her wisdom and experience are a valuable resource to the leadership of our Living Messiah family.
				</p>

			}
			else if (Office == Office.Elder2)
			{
				<p>Vacant</p>
			}
			else
			{
				<p>
					In 2017, Paul’s career as a Graphic Designer provided an opportunity to move from Washington State to Mesa, Arizona,
					where he and his wife Wanda visited Living Messiah for the first time and never left.
				</p>
				<p>
					In 2017, Paul’s career as a Graphic Designer/ Creative Director provided an opportunity to move from Renton, Washington
					to Mesa, Arizona where they visited Living Messiah for the first time and never left.
				</p>
				<p>
					In February 2022, Wanda Hebron passed away from cancer after a three-year battle.
					The two met in 2002 and have four adult children between them and six grandchildren.
					Although both Paul and Wanda grew up in church and served in various leadership capacities over the years,
					they discovered the value of the Torah in 2012 and began their continued search for a deeper understanding of the Father’s instructions.
				</p>

				<img src="@Blobs.Leadership("wanda-hebron-memorial-400-519.jpg")" 
					class = "img-fluid"
					alt="@Office.OfficeHolderName" />

				<div class="row">
					<div class="col-12">
						<a href="@Blobs.Leadership("wanda-hebron-memorial.jpg")"
						 target="_blank" class="btn btn-primary mt-1 mb-2">
							<i class="fas fa-portrait"></i> Full Size Picture <i class="fas fa-external-link-square-alt"></i>
						</a>
					</div>
				</div>

				<i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
				<blockquote class="blockquote">
					Coming to Arizona has been an incredible journey.
					Now, without Wanda by my side, I’m having to grow in my faith and experience another level of what it means to trust YHWH for everything!
				</blockquote>
			}


		</div>  <!-- card-text -->
	</div>  <!-- card-body -->
</div>    <!-- card -->