@using LivingMessiah.Web.Anchors
@using static LivingMessiah.Web.Links.AboveAllImages

<div class="card border-0">
	<div class="w-50 p-3">
		<img src="@Blobs.Leadership(Person.ImageFile)" class="card-img-top" alt="@Person.Name" />
	</div>
	<div class="card-body">
		<h4 class="card-title">@Person.Name<br /></h4>
		<p class="card-subtitle mb-2 text-muted">
			<i>@Person.Title</i><br />
			<address>
				<a href="mailto:@Person.Email">@Person.Email</a>&nbsp;<i class="far fa-envelope"></i>
			</address>
		</p>

		<div class="card-text">

			@if (Person == null)
			{
				<p><em>Loading...</em></p>
			}
			else
			{
				@switch (Person.OfficeEnum)
				{
					case Domain.OfficeEnum.CongregationLeader:
						<p>
							Mark and Pollyanna Webb reside in Arizona with their 8 children, 10 grandchildren, sons and daughter in laws, along with their large multi-generational extended family.
						</p>
						<p>
							Mark was affirmed as a congregational servant-leader on July 7, 2007, and disciples believers in Messiah <i>Yahushua</i> (Jesus), the lost sheep of the House of Israel, in the Hebraic Roots of our Christian faith.  He serves as the congregational leader of Living Messiah Ministries in downtown Mesa.
						</p>
						<p>
							Experiencing the land of Israel was life changing for the Webb family. They began studying the Hebrew roots of their Christian faith in 2004. Mark began serving as a congregational leader on 7-7-2007 and is currently building community from a Hebraic understanding at Living Messiah Ministries in Mesa Arizona and at Windmill Ranch in Bisbee Arizona.
						</p>
						<p>
							Mark and Polly are passionate about the study of Biblical Astronomy, observing the prophetic patterns the heavens declare nightly of our Messiah. They are also devoted to the study of Biblical geography, history, customs, languages and the exile and gathering of the whole House of Israel.
						</p>
						<p>
							The Webb family enjoys traveling and meeting the scattered family of Israel that is being	gathered. We look forward to meeting you!
						</p>

						<i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
						<blockquote class="blockquote">
							The heavens declare the glory of God; the skies proclaim the work of His hands.
							<footer class="blockquote-footer"><cite title="">Psalms 19:1 </cite></footer>
						</blockquote>
						break;

					case Domain.OfficeEnum.BeitDin1:
						<p>
							Ralphie W. Cratty III grew up in New Castle, Pennsylvania and graduated from the Art Institute of Pittsburgh with a degree in Visual Communications.
							Self-employed as a Graphic Designer since 1986, he has lived most of his adult life in Arizona where he met and married his wife Peribeth who helps serve with him in leadership at Living Messiah Ministries.
							They are blessed with a growing family of 4 adult children and now 6 grandchildren.
						</p>
						<p>
							Ralphie came to a greater understanding of the scriptures after discovering the truth regarding the Creator’s name.
							This gave him a desire to re-examine his understanding of all the scriptures from the Hebraic mindset.
							He now has a deep passion for seeking out the scriptures and continues learning each and every day.
							Ralphie leads a weekly
							<AnchorInDepthStudy AnchorEnum="AnchorEnums.InternalBtnSm">

							</AnchorInDepthStudy>
							@*<a href="@LivingMessiah.Web.Anchors.Index" class="btn btn-outline-primary btn-sm"
									 title="@LivingMessiah.Web.Anchors..Title">
									<i class="@Icon"></i>
									@Title
								</a>*@
							each Shabbat before the main service.
						</p>
						<ul>
							<li>
								@*<AnchorAboveAllImages AnchorEnum="AnchorEnums.ExternalButton"></AnchorAboveAllImages>*@
								<a href="@Url" class="btn btn-primary" target="_blank">
									@UrlSimple &nbsp;
									<i class="fas fa-external-link-square-alt"></i>
								</a>
							</li>
						</ul>
						break;

					case Domain.OfficeEnum.BeitDin2:
						<h1>Office Not Filled</h1>
						break;

					case Domain.OfficeEnum.BeitDin3:
						<p>
							Born in Eastern Oregon, raised in Carson City, Nevada, John has lived in Arizona since 1979.
							Trained as a computer programmer and web developer, John has several websites that he has authored and maintains, including
							<a href="http://www.myhebrewbible.com/" target="_blank">www.MyHebrewBible.com</a> and
							<a href="http://musicfromgod.com/" target="_blank">www.MusicFromGod.com</a>.
							<br /><br />
							He has a passion for studying the scripture from the perspective of law, see
							<a href="http://www.TorahLawForm.com/" target="_blank">TorahLawForm.com</a>.
							John has been Torah observant and Y'shua believing for many years and has been involved with and helped found several Torah-based organizations
							(see <a href="http://tzuryisrael.azurewebsites.net/" target="_blank">TzuryIsrael.AzureWebsites.net</a>)
							and congregations.
							<br /><br />
							His unique perspective is a valuable asset to our leadership team.
						</p>

						<ul>
							@*<li><a href="@Url" class="btn btn-light" target="_blank">@UrlSimple <i class="fas fa-external-link-alt"></i></a></li>*@
							<li><a href="https://www.TorahLawForm.com/" class="btn btn-light" target="_blank">TorahLawForm.com <i class="fas fa-external-link-alt"></i></a></li>
						</ul>

						break;

					case Domain.OfficeEnum.Elder1:
						<p>
							Pat was raised in a believing home and has had a personal relationship with the Messiah since childhood.
							She was married to a Christian pastor with whom she served for 50 years, the last 15 of which were spent proclaiming the Messianic message.
							Together, Pat and her husband raised six children.
							Her wisdom and experience are a valuable resource to the leadership of our Living Messiah family.
						</p>
						break;

					case Domain.OfficeEnum.Elder2:
						<p>
							David is from Minnesota and His family owns a big farm there.
							He loves the messiah and he loves the law.
						</p>
						break;

					case Domain.OfficeEnum.Elder3:
						<p>
							Paul  & Wanda Hebron, married for over seventeen years, have four adult children between them and five grandchildren.
							Although both Paul and Wanda grew up in church and served in various leadership capacities during all those years;
							they discovered the value of Torah in 2012 and began their search for a fellowship that valued the same.
						</p>
						<p>
							In 2017, Paul’s career as a Graphic Designer/ Creative Director provided an opportunity to move from Renton, Washington
							to Mesa, Arizona where they visited Living Messiah for the first time and never left.
						</p>
						<p>
							Both have a passion for studying and following the Father’s instructions,
							which they believe is foundational to loving and serving Yah’s people.
						</p>
						<i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
						<blockquote class="blockquote">
							Coming to Arizona has been an incredible journey,
							where we’ve had to learn and grow in our faith and experience what it means to trust in YHVH for everything!
						</blockquote>
						break;

					default:
						<h1 class="text-danger">No Content for OfficeEnum: @Person.OfficeEnum</h1>
						break;
				}
			}


		</div>
	</div>
</div>
