@using LivingMessiah.Web.Pages.Leadership.Enums
@using LivingMessiah.Web.Pages.Leadership.Biographies

<div class="card border-0">
	@foreach (var item in Office.List
	.OrderBy(o => o.Sort)
	.Where(w => w.IsFilled == true).ToList())
	{
		<hr class="warning" />

		<img src="@Blobs.Leadership(@item.ImageFile)" 
			 class="@item.ImgClassSmMdLg" alt="@item.OfficeHolderName" />

		<div class="card-body">
			<h4 class="card-title">@item.OfficeHolderName<br /></h4>
			<p class="card-subtitle mb-2 text-muted">
				<i>@item.Title</i><br />
				<address>
					<a href="mailto:@item.Email">@item.Email</a>&nbsp;<i class="far fa-envelope"></i>
				</address>
			</p>

			<div class="card-text">
				@if (item.Value == Office.CongregationLeader)
				{
					<CongregationLeader />
				}
				else if (item.Value == Office.BeitDin1)
				{
					<BeitDin1 />
				}
				else if (item.Value == Office.BeitDin2)
				{
					<BeitDin2 />
				}
				else if (item.Value == Office.BeitDin3)
				{
					<BeitDin3 />
				}
				else if (item.Value == Office.Elder1)
				{
					<Elder1 />
				}
				else if (item.Value == Office.Elder2)
				{
					<Elder2 />
				}
				else if (item.Value == Office.Elder3) {<Elder3 />	}
				else
				{
					<Elder4 />
				}
			</div>  

		</div>  <!-- card-body -->
	}
</div>    <!-- card -->
