@page "/Sukkot/Details/{Id:int}/{showPrintInstructionMessage:bool}"
@using LivingMessiah.Web.Pages.Sukkot.Constants
@using LivingMessiah.Web.Infrastructure;
@using static LivingMessiah.Web.Links.Sukkot
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@using Page = LivingMessiah.Web.Links.Sukkot
<PageTitle>@Page.DetailsTitle</PageTitle>

<div class="d-print-none float-right">
	<a class="btn btn-sm btn-default" href="javascript:window.print()">
		<span class="fas fa-print"></span> Print
	</a>
</div>

<LoadingComponent IsLoading="vwRegistration == null">

	@if (!String.IsNullOrEmpty(vwRegistration.PayWithCheckMessage))
	{
		<div class="d-print-none">
			<button type="button" @onclick="PaymentInstructions_ButtonClick"
							bs-toggle-modal="instructions"
							class="btn btn-danger btn-lg mb-4">
				Payment Instructions
			</button>

			<div id="instructions" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title text-primary">Check Payment Instructions</h2>
							<button type="button" @onclick="CancelModal_ButtonClick"
											class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
						</div>

						<div class="modal-body">
							@((MarkupString)vwRegistration.PayWithCheckMessage)
						</div>

						<div class="modal-footer">

							<button type="button" class="btn btn-danger"
											data-dismiss="modal">
								<i class="far fa-window-close"></i> Cancel
							</button>

							<a href="javascript:window.print()"
								 class="btn btn-md btn-info">
								<i class="fa fa-print"></i> Print
							</a>

						</div>
					</div>

				</div>
			</div>


		</div>
	}

	<h4 class="mb-4">
		@Other.DetailsTitle
	</h4>

	<div class="card border-primary mb-3">

		@*<div class="card-header">
			<h4 class="card-title">@Title</h4>
		</div>*@

		<div class="body">
			<ul>
				<li>
					Name: @vwRegistration.FullName(false); <i>@vwRegistration.OtherNames</i>
				</li>
				<li>
					Registration#: @vwRegistration.Id
				</li>
			</ul>

		</div>
	</div>

	<DetailsContent vwRegistration="@vwRegistration"/>

	<hr class="warning d-print-none" />

	<div class="row d-print-none">
		<div class="col-12">

			@if (!String.IsNullOrEmpty(vwRegistration.PayWithCheckMessage))

				if (vwRegistration.StatusId != (int)SukkotApi.Domain.Enums.StatusEnum.FullyPaid)
				{

					<button @onclick="@(e => Edit_ButtonClick(e, vwRegistration.Id))"
									class="btn-primary btn-sm">
						<i class="fas fa-edit"></i> Edit
					</button>
				}




		</div>
	</div>
</LoadingComponent>

<div class="row d-print-none">
	<div class="col-12">
		<a href="@Page.RegistrationShell"
			 class="btn btn-info" title="Back to Registration Shell">
			<i class="far fa-arrow-alt-circle-left"></i> Back to Registration
		</a>
	</div>
</div>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
	else
	{
		if (DatabaseInformation)
		{
			<p class="text-info">@DatabaseInformationMsg</p>
		}
	}
}