@page "/Sitemap"
@using static LivingMessiah.Web.Links.Sitemap;

<PageHeader Icon="@Icon" Title="@Title"></PageHeader>

<DataList Data="@Links" Type="LinkTypeEnum.Sitemap">
	<span class="fa-li"><i class="@context.Icon"></i></span>
	<a href="@context.Index">
		@context.Title
	</a>
</DataList>
