@using static LivingMessiah.Web.Features.ImportantLinks.Constants.EtzBneyYosef

<h2 id="@Id"><span class="badge bg-warning">@Title</span></h2>
<div class="card">
	<img src="@Blobs.UrlImportantLinks(Image)" class="card-img-top" alt="@Title" />
	<div class="card-body">
		<p class="card-text">
			This website records the plans and events of an international group of people who believe that they are being called by God to assist in
			the reawakening of the House of Joseph, descendants of the lost tribes of Israel which have been scattered across the earth and lost their identity.
			To date, two <b>Ephraimite Congresses</b> have been held at which interested people gathered to discuss their heritage and to "get to know their extended family."
			This is a good starting point for those who are interested in this movement and would like to know more about others who feel that God is regathering His people in these Last Days.
		</p>
		<a href="@Url" target="_blank" class="btn btn-primary">@UrlSimple &nbsp;<i class="fas fa-external-link-square-alt"></i></a>
	</div>
</div>
