@using static LivingMessiah.Web.Features.ImportantLinks.Constants.IsraeliteReturn

<h2 id="@Id"><span class="badge bg-warning">@Title</span></h2>
<div class="card">
	<img src="@Blobs.UrlImportantLinks(Image)" class="card-img-top" alt="@Title" />
	<div class="card-body">
		<p class="card-text">
			This is the website of <b>Eprhaim and Rimona Frank</b>,
			an Israeli couple who have dedicated their lives to bringing the message to God's people that He is regathering them in these Last Days.
			The website contains descriptions of their books (with some available to download) and links to their weekly blogs, as well as other useful information.
			It is an excellent resource for learning more about our Hebrew roots and about God's plans for the future.
		</p>
		<a href="@Url" target="_blank" class="btn btn-primary">@UrlSimple &nbsp;<i class="fas fa-external-link-square-alt"></i></a>
	</div>
</div>

