@using LivingMessiah.Web.Pages.SpecialEvents
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (MainState.Value.DateRange is not null)
{
	<hr class="warning" />

	<LoadingComponent IsLoading="SpecialEvents == null">

		<button @onclick="@(() => AddActionHandler())"
					type="button" class="@ActionButtons.AddButtonColor btn-sm">
			<i class="@ActionButtons.AddIcon"></i> @ActionButtons.AddText
		</button>

		<TableTemplate Items="SpecialEvents">
			<TableHeader>
				<th class="text-info">Event Date</th>
				<th class="text-info">Type</th>
				<th class="text-info">Days Ahead</th>
				<th class="text-info">Title</th>
				<th class="text-danger text-center">Actions</th>
			</TableHeader>

			<RowTemplate>
				<td>@context.EventDate.ToShortDateString()</td>
				<td>@context.SpecialEventTypeId - @context.SpecialEventTypeName </td>
				<td>@context.DaysAhead</td>
				<td>@context.Title</td>
				<td class="text-center">
					<div class="btn-group">
						<button @onclick="@(() => EditActionHandler(context.Id))" title="Id: @context.Id"
									type="button" class="@ActionButtons.EditButtonColor btn-sm">
							<i class="@ActionButtons.EditIcon"></i> @ActionButtons.EditText
						</button>

						<button @onclick="@(() => DeleteActionHandler(context.Id))" title="Id: @context.Id"
									type="button" class="@ActionButtons.DeleteButtonColor btn-sm">
							<i class="@ActionButtons.DeleteIcon"></i> @ActionButtons.DeleteText
						</button>

						<button @onclick="@(e => DisplayActionHandler(context.Id))" title="Id: @context.Id"
							type="button" class="@ActionButtons.DisplayButtonColor btn-sm">
							<i class="@ActionButtons.DisplayIcon"></i> @ActionButtons.DisplayText
						</button>
					</div>
				</td>
			</RowTemplate>

		</TableTemplate>
	</LoadingComponent>
}
