@page "/SukkotAdmin/LodgingDetails/"
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.Pages.Sukkot.Constants

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@using Page = LivingMessiah.Web.Links.Sukkot
<PageTitle>@Page.LodgingDetailsTitle</PageTitle>

<div class="d-print-none">
	<div class="float-right">
		<a href="@Page.LodgingDaysPivotOnCampCode"
			 class="btn btn-info btn-sm">
			<i class="far fa-calendar fa-lg"></i> &Sigma; By Day
		</a>
	</div>
</div>

<h3><i class="fa fa-table mb-3"></i> Lodging Details</h3>

@if (Features.IsTrackingLodging)
{
	<LoadingComponent IsLoading="LodgingDetails == null">

	@if (!LodgingDetails.Any())
	{
		<h3 class="text-danger">No Records</h3>
	}
	else
	{
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id <sup><i class="fa fa-link text-info"></i></sup></th>
						<th>Name</th>
						<th>Camp Type</th>
						<th>SId<sup>&dagger;</sup></th>
						<th>People</th>
						<th>Days</th>
						<th>@DetailsFootnoteCode<sup>&Dagger;</sup></th>
						<th class="text-right">Cost</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in LodgingDetails)
					{
						gtCost += item.CampCost;
						<tr>
							<td>

								<button @onclick="@(e => Details_ButtonClick(item.Id))"
												class="btn-default btn-sm" title="Registration View">
									<i class="fas fa-info text-info"></i> View
								</button>
								&nbsp;
								<button @onclick="@(e => Edit_ButtonClick(item.Id))"
												class="btn-default btn-sm" title="Registration Edit">
									<i class="fas fa-pencil-alt text-success"></i> Edit
								</button>

							</td>
							<td>
								@* @Html.Truncate(item.FamilyName, 12) *@
								@item.FamilyName
							</td>
							<td>@item.CampCD</td>
							<td>@item.StatusId</td>
							<td>@item.PeopleCount</td>
							<td>@item.LodgingDays</td>
							<td>@item.CampDays</td>
							<td class="text-right">@item.CampCost.ToString("C")</td>
						</tr>
					}

					<tr>
						<td colspan="6"></td>
						<td><h3><span class="badge badge-success">Total</span></h3></td>
						<td class="text-right"><h3><span class="badge badge-success"><b>@gtCost.ToString("C")</b></span></h3></td>
					</tr>

				</tbody>
			</table>
		</div>

		<div class="card border-light">
			<h5><b>&dagger; SId</b> - Status ID</h5>
			<ul class="list-inline">
				<li class="list-inline-item"><small></small></li>
				<li class="list-inline-item"><small>2: Registration Form Completed</small></li>
				<li class="list-inline-item"><small>3: Meal ticket Completed</small></li>
				<li class="list-inline-item"><small>4: Partially Paid</small></li>
				<li class="list-inline-item"><small>5: Fully Paid</small></li>
				<li class="list-inline-item"><small>6: Canceled</small></li>
			</ul>
		</div>

		<div class="card">
			<div class="card-header py-1">

				<h5><b>&Dagger; @DetailsFootnoteCode</b> - Lodging Days, @DateRangeLodging.DateRange.MinDate.ToString("dddd, MMMM d") to @DateRangeLodging.DateRange.MaxDate.ToString("dddd, MMMM d") </h5>
				<div class="card-body">
					<h1 class="text-warning">ToDo: add list-inline-item of Lodging Dates</h1>
				</div>
			</div>
		</div>

		@*<div class="well well-sm">
			<h5><b>&Dagger; @DetailsFootnoteCode</b> - Lodging Days, @DateRangeLodging.DateRange.MinDate.ToString("dddd, MMMM d") to @DateRangeLodging.DateRange.MaxDate.ToString("dddd, MMMM d") </h5>

			<ul class="list-inline">
				<li class="list-inline-item"><small></small></li>
				@foreach (var item in LodgeDate.All)
				{
					<li class="list-inline-item"><small>@item.LodgeDateTime.ToString("ddd")-@item.LodgeDateTime.Day,</small></li>
				}
			</ul>
		</div>*@

	}
</LoadingComponent>
}
else
{
	<h1 class="text-warning text-center">Lodging Has Not Been Implemented</h1>
}


