@page "/SukkotAdmin/LodgingDaysPivotOnCampCode/"
@using LivingMessiah.Web.Pages.SukkotAdmin.Constants
@using static LivingMessiah.Web.Links.Sukkot
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using static SukkotApi.Domain.Constants

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

<div class="d-print-none">
	<div class="float-right">
		<a href="@LodgingDetails" class="btn btn-info btn-sm">
			<i class="fa fa-table fa-lg"></i> Details
		</a>
	</div>
</div>

<h3 class="mb-3"><i class="fas fa-truck"></i> Lodging &Sigma; By Day</h3>

<LoadingComponent IsLoading="LodgingDaysPivotOnCampCodeList == null">
	@if (!LodgingDaysPivotOnCampCodeList.Any())
	{
		<h3 class="text-danger">No Records</h3>
	}
	else
	{
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-sm">
				<thead>
					<tr>
						<th><br /><br /><br />#</th>
						<th><br /><br />Day </th>
						<th class="text-center"><br /><br />Tents</th>
						<th class="text-center"><br /><br /><i>Cabins</i></th>
						<th class="text-center"><br />Cabin<br />People</th>
						<th class="text-center">RV<br />with<br />Hookup</th>
						<th class="text-center">RV<br />Dry<br />Camp</th>
						<th class="text-center">Total<br />Chargeable<br />Units</th>
						<th class="text-center"><br />Total<br />Cost</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in LodgingDaysPivotOnCampCodeList)
					{
						tent += item.Tent;
						cabin += item.CabinBH;
						cabPeep += item.CabinPeople;
						rvH += item.RVHookup;
						rvD += item.RVDryCamp;
						gtLodgers += item.TotalChargeableUnits;
						gtCost += item.TotalCost;
						<tr>
							<td>@item.Sort</td>
							<td>@item.LodgingDay2</td>
							<td class="text-center">@item.Tent</td>
							<td class="text-center"><i>@item.CabinBH</i></td>
							<td class="text-center">@item.CabinPeople</td>
							<td class="text-center">@item.RVHookup</td>
							<td class="text-center">@item.RVDryCamp</td>
							<td class="text-center">@item.TotalChargeableUnits</td>
							<td class="text-center">@item.TotalCost.ToString("C0")</td>
						</tr>
					}
					<tr>
						<td colspan="1"></td>
						<td><u>Total</u></td>
						<td class="text-center"><u>@tent</u></td>
						<td class="text-center"><i><u>@cabin</u></i></td>
						<td class="text-center"><u>@cabPeep</u></td>
						<td class="text-center"><u>@rvH</u></td>
						<td class="text-center"><u>@rvD</u></td>
						<td class="text-center"><u><b>@gtLodgers</b></u></td>
						<td class="text-center"><u><b>@gtCost.ToString("C")</b></u></td>
					</tr>

				</tbody>
			</table>

			<div class="card border-primary mt-3">
				<div class="card-body">
					<ul>
						<li><b>Offsite Count</b>: @OffsiteCount</li>
						<li><b>Total Chargeable Units</b> = SUM(Tents + Cabin People + RV w/Hookup + RV Dry Camp)</li>
						<li><b>Total Cost</b> = Total Chargeable Units * @LodgingRate</li>
					</ul>

				</div>
			</div>


		</div>
	}

</LoadingComponent>
