@if (LunarMonths != null)
{

	<div class="card card-body text-white bg-secondary pt-1 @pb0  mb-4 @ml4">
		@if (!IsXsOrSm)
		{
			<div class="row">
				<div class="col-2">&nbsp;</div>
				<div class="col-3"><u>Biblical Name</u></div>
				<div class="col-4"><u>Rabbinic Name</u></div>
				<div class="col-3"></div>
			</div>
		}
		@foreach (var item in LunarMonths)
		{
			<div class="row">

				@if (IsXsOrSm)
				{
					<div class="col-3"><i class="far fa-moon"></i> <b>@item.EnumId</b></div>
					<div class="col-5"><b><i>@item.Month</i></b></div>
					<div class="col-4"><span class="float-right">@item.Date.ToString(DateFormat.ddd_mm_dd)</span></div>
				}
				else
				{
					<div class="col-2"><i class="far fa-moon"></i> <b>@item.EnumId</b></div>
					<div class="col-3"><span class="hebrew16">@item.BiblicalHebrew</span> <i>@item.BiblicalName</i></div>
					<div class="col-4"><span class="hebrew16">@item.Hebrew</span> <i>@item.Month</i></div>
					<div class="col-3"><span class="float-right">@item.Date.ToString(DateFormat.ddd_mm_dd)</span></div>
				}
			</div>


		}
	</div>
}

else
{
	<p><em>Loading LunarMonthCoponent...</em></p>
}
