@using LivingMessiah.Web.Infrastructure

@* template: Features\Admin\Video\WeeklyVideos\Index.razor  *@

<LoadingComponent IsLoading="ArchiveList==null">
	<TableTemplate Items="ArchiveList">
		<TableHeader>
			<th>Shabbat Week</th>
			<th>Image</th>
			<th>Cat/SubCat</th>
			<th>YouTube Id</th>
			<th>B/C</th>
			<th>Title</th>
		</TableHeader>
		<RowTemplate>
			<td>
				@context.ShabbatDate.ToShortDateString()
			</td>
			<td>
				@context.GraphicFile
			</td>
			<td>
				@context.CatSubCat
			</td>
			<td>
				@if (context.YouTubeId != null)
				{
					<a href="@context.YouTubeUrl" target="_blank"
						 title="@context.YouTubeUrl">
						<u>@context.YouTubeId</u>
						<i class="fas fa-external-link-square-alt"></i>
					</a>
				}
				else
				{
					<p class="text-info"><i>Missing</i></p>
				}
			</td>
			<td>
				@if (context.BookTitle is not null)
				{
					<a href="@context.BiblicalUrlReference" target="_blank"
						 title="@context.BookTitle : @context.Chapter">
						<u>MHB</u>
						<i class="fas fa-external-link-square-alt"></i>
					</a>
				}
			</td>

			<td>
				@StringExtensions.Truncate(@context.Title!, 20)
			</td>



		</RowTemplate>
	</TableTemplate>
</LoadingComponent>

