@using LivingMessiah.Web.Infrastructure

@* template: Features\Admin\Video\WeeklyVideos\Index.razor
	@using Page = LivingMessiah.Web.Links.Admin.Video
	<AuthorizeView Roles="@Roles.AdminOrAudiovisual">
	<Authorized>
*@

<LoadingComponent IsLoading="ArchiveList==null">
	<TableTemplate Items="ArchiveList" HeaderCSS="table table-bordered border-warning-subtle table-hover">
		<TableHeader>
			<th>Shabbat <br /> Week</th>
			<th>Title<br />M.H.B.</th>
			<th>Image</th>
			<th class ="text-center"><small>Max<br />Res</small></th>
			<th><small>Category <br /> Subcategory</small></th>
		</TableHeader>
		<RowTemplate>

			<td>
				@context.ShabbatDate.ToShortDateString() <br />
				<small>@context.YouTube</small>
			</td>

			<td>
				@StringExtensions.Truncate(@context.Title!, 25)
				<br />
				@if (context.BookTitle is not null)
				{
					<a href="@context.BiblicalUrlReference" target="_blank"
						 title="@context.BookChapter">
						<u>@context.BookChapter</u>
					</a>
					<i class="fas fa-external-link-square-alt"></i>
				}
			</td>

			<td>
				<a href="@context.GraphicFileUrl" class="" title="download full size image" target="_blank">
					<img src="@context.ThumbnailImgSrc" class="img-fluid" title="@context.GraphicFile" />
				</a>

			</td>

			<td class="text-center">
				<a href="@context.MaxResDefaultImgSrc" class="" title="download full size image from YouTube" target="_blank">
					<i class="fas fa-external-link-square-alt"></i>
				</a>
			</td>

			<td>
				@context.CatSubCat
			</td>


			@* <td>@context.YouTube</td> *@

		</RowTemplate>
	</TableTemplate>
</LoadingComponent>

