@using LivingMessiah.Web.Infrastructure

<div class="pb-1 mt-5 mb-0 border-bottom border-info">
	<LearnMoreModal />
	<h2><i class="fas fa-bread-slice"></i> Feast Planner</h2>
</div>

<SecondRowDates />

<div class="@MediaQuery.XsOrSm.DivClass">
 	<HeaderXsSm CurrentFilter="CurrentFilter"
							OnFilterSelected="@ReturnedFilter" /> 
	<Selector FeastDayType="CurrentFilter" IsXsOrSm=true />
	<FooterVerses FeastDayType="CurrentFilter" />
</div>

<div class="@MediaQuery.MdOrLgOrXl.DivClass">
	<FilterPills CurrentFilter="@CurrentFilter"
							 OnFilterSelected="@ReturnedFilter" />
	<Header FeastDayType="CurrentFilter" />
</div>


<div class="@MediaQuery.Md.DivClass">
	<div class="row mt-1">
		<div class="col-6">
			<Selector FeastDayType="CurrentFilter" IsXsOrSm=false />
		</div>
		<div class="col-6">
			<SidebarVerses FeastDayType="CurrentFilter" />
		</div>
	</div>
</div>

<div class="@MediaQuery.LgOrXl.DivClass">
	<div class="row mt-1">
		<div class="col-4">
			<Selector FeastDayType="CurrentFilter" IsXsOrSm=false />
		</div>
		<div class="col-8">
			<SidebarVerses FeastDayType="CurrentFilter" />
		</div>
	</div>
</div>

@*
	ToDo: Not Being Used
	- Maybe wrap this with a Learn More... Buttons
	<CommonHebrewWords /> 

*@

