@using static LivingMessiah.Web.Pages.ImportantLinks.Constants.BYNA

<h2 id="@Id"><span class="badge bg-warning">@Title</span></h2>
<div class="card">
	<img src="@Blobs.UrlImportantLinks(Image)" class="card-img-top" alt="@Title" />
	<div class="card-body">
		<p class="card-text">
			B'ney Yosef North America exists to assist the emergence of the reconstituted people of Northern Israel – the House of Ephraim,
			or Yosef (Joseph), specifically those located on the continent of North America.
			It is an out-growth of the
			<span class="fas fa-external-link-square-alt"></span>&nbsp;
			<a href="http://www.etzbneyyosef.com/projects.html#EventRecord" target="_blank">
				First Ephraimite / Northern Israel National Congress
			</a>
			which was held in Ariel, Israel, on May 25 - 28, 2015.
			This website is a source of information for those who live in North America and
			believe that they may be a part of the scattered nation of Israel
			which is being regathered in these last days.
		</p>
		<a href="@Url" target="_blank" class="btn btn-primary">@UrlSimple &nbsp;<i class="fas fa-external-link-square-alt"></i></a>
	</div>
</div>
