@using static LivingMessiah.Web.Pages.ImportantLinks.Constants.FaithLife

<h2 id="@Id"><span class="badge badge-warning">@Title</span></h2>
<div class="card">
	<img src="@Blobs.UrlImportantLinks(Image)" class="card-img-top" alt="@Title" />
	<div class="card-body">
		<p class="card-text">
			We are trying out an social media platform that is geared toward and run by people of faith.
			We want something that is an alternative to the generic platform which is run by companies who have values we do not share.
		</p>
		<a href="@Url" target="_blank" class="btn btn-primary"><small>@UrlSimple&nbsp;<i class="fas fa-external-link-square-alt"></i></small></a>
	</div>
</div>
