@using static LivingMessiah.Web.Pages.ImportantLinks.Constants.Hebrew4Christians

<h2 id="@Id"><span class="badge badge-warning">@Title</span></h2>
<div class="card">
	<img src="@Blobs.UrlImportantLinks(Image)" class="card-img-top" alt="@Title" />
	<div class="card-body">
		<p class="card-text">
			This is an excellent place for those interested in learning the Hebrew language on their own.
			Much of the material is at a beginning level but there is also plenty of history and background presented on the Hebrew language.
			There are also many audio files included so that you can hear the language and well as learn to read and write it.
			A very useful website!
		</p>
		<a href="@Url" target="_blank" class="btn btn-primary"><small>@UrlSimple</small> &nbsp;<i class="fas fa-external-link-square-alt"></i></a>
	</div>
</div>
