@using static LivingMessiah.Web.Pages.ImportantLinks.Constants.TorahTogether

<h2 id="@Id"><span class="badge badge-warning">@Title</span></h2>
<div class="card">
	<img src="@Blobs.UrlImportantLinks(Image)" class="card-img-top" alt="@Title" />
	<div class="card-body">
		<p class="card-text">
			This site includes a complete set of workbooks designed for use in small group Torah studies.
			The material is at a beginning to intermediate level and is well-suited to those who have a strong desire to know more about our God through the study of His Torah.
			It only requires a willing leader and motivated participants to have a life-changing encounter with the God of Abraham, Isaac and Jacob.
		</p>
		<a href="@Url" target="_blank" class="btn btn-primary">@UrlSimple &nbsp;<i class="fas fa-external-link-square-alt"></i></a>
	</div>
</div>
