
@switch (AnchorEnum)
{
	case AnchorEnums.Location:
		<a href="@Location.Index" title="@Location.Title">
			<i class="@Location.Icon" aria-hidden="true"></i>
		</a>
		break;

	case AnchorEnums.InternalBtnSm:
		<a href="@Anchors.Index" class="btn btn-outline-primary btn-sm"
			 title="@Anchors.Title">
			<i class="@Anchors.Icon"></i>
			@Anchors.Title
		</a>
		break;

	case AnchorEnums.InternalHome:
		<a href="@Anchors.Index"
			 title="@Anchors.Title" class="list-group-item list-group-item-warning ">
			<i class="@Anchors.Icon fa-fw fa-3x" aria-hidden="true"></i>
			<span class="home-page-xs"><b>@Anchors.Title</b></span>
		</a>
		break;


	default:
		<p class="text-warning">Anchor @AnchorEnum missing</p>
		break;
}

@code {

	[Parameter]
	public LivingMessiah.Web.Anchors.AnchorEnums AnchorEnum { get; set; }

	public static class Anchors
	{
		public const string Index = "/IndepthStudy/";
		public const string Title = "In-depth study";
		public const string Icon = "fas fa-graduation-cap";
	}
	public static class Location
	{
		public const string Index = "/Location";
		public const string Title = "Map";
		public const string Icon = "fas fa-map-signs";
	}
}
