@page "/Articles"
@using Page = LivingMessiah.Web.Links.Articles

<PageTitle>@Page.Title</PageTitle>

@*	border-bottom*@
<div class="pb-2 mt-4 mb-2">
	<h2><span class="text-warning @Page.Icon"></span> @Page.Title</h2>
</div>

<div class="list-group">
	@*<a href="#" class="list-group-item list-group-item-action active">Active Example</a>*@
	<a class="list-group-item list-group-item-action list-group-item-warning"
		 href="@LivingMessiah.Web.Links.Articles.MakingChallahBread.Index">
		<i class="fas fa-link"></i> @LivingMessiah.Web.Links.Articles.MakingChallahBread.Title
	</a>
	<a class="list-group-item list-group-item-action list-group-item-warning"
		 href="@LivingMessiah.Web.Links.Articles.Prepared.Index">
		<i class="fas fa-link"></i> @LivingMessiah.Web.Links.Articles.Prepared.Title
	</a>
	<a class="list-group-item list-group-item-action list-group-item-warning"
		 href="@LivingMessiah.Web.Links.Articles.Pesach.Index">
		<i class="fas fa-link"></i> Pesach
	</a>
	@* ToDo: Fix CreateTagHelper reference <a class="list-group-item list-group-item-action list-group-item-warning" href="PesachRP"><i class="fas fa-link"></i>  @CreateTagHelper<global::Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper>()</a>*@
	@*<a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Disabled Example</a>*@
</div>
