@page "/articles/MakingChallahBread"
@using Page = LivingMessiah.Web.Links.Articles

<PageTitle>@Page.MakingChallahBread.Title</PageTitle>

<BreadCrumbs Href="@Page.Index" 
						 ParentTitle="@Page.Title" 
						 Title="@Page.MakingChallahBread.Title" 
						 Icon="@Page.MakingChallahBread.Icon">
</BreadCrumbs>

<div class="row">
	<div class="col-sm-6">
		<h2 id="challah">
			<span class="badge bg-warning">The Making of the Challah Bread</span><br />
			<small>Observations on a Spiritual Blessing</small>
		</h2>

	</div>
	<div class="col-sm-6">
		<div class="float-end">
			<img src="@Blobs.UrlRoot("Jan.jpg")" class="rounded-circle" alt="Jan Watkins" />
			<div class="caption">
				<p>by Jan Watkins</p>
			</div>
		</div>
	</div>
</div>

<p>
	<img src="@Blobs.UrlRoot("challah-1.jpg")" class="img-fluid rounded float-end" alt="chalah bread 1" />
	To me, making Challah Bread is a “get to” and not a “have to”.  Sort of like how I feel about studying Torah.
	It’s a blessing!  I don’t claim to be ‘religious’ about baking this bread, but when I submit myself to setting apart Friday to bake this bread, the “fruit of the harvest” is always sweet.
	Here are some spiritual applications I have gleaned as I minister in my kitchen and to myself at bread-baking time.
</p>


<h4><span class="badge bg-warning">1</span>&nbsp;<b><u>Putting together the ingredients:</u></b></h4>
<p>
	This, of course, is the most important part of the bread baking process.  If you don’t put ingredients together, you don’t have anything.
	Likewise so in the Body of Yeshua.  The body of Yeshua comes in all different sizes, colors, languages, strengths and weaknesses.
	But put together we are one (in Hebrew, <i>echad</i>).
	Beautifully, we work together for one goal, to the Bread of Life, the life of Yeshua as He Himself stated in John 6:35.
	The word bread is used figuratively and negatively in such expressions as “bread of sorrows” (Ps. 127:2), “bread of tears” (Ps. 80:5), i.e.,
	sorrow and tears are like one’s daily bread, as it forms so great a part of life.
	The bread of “wickedness” (Prov. 4:17) and bread of “deceit” (Prov. 20:17) denote in like manner that wickedness and deceit are a part of the daily life of some.
	So, as I put the <b>yeast</b> in the warm water, the leaven begins to activate.  It prompts the other ingredients to… so to say… “rise to the occasion.”  But too much leaven makes the dough perverted and the bread has no consistency.  So similar with us… with the proper measurement of the leaven, all the ingredients rise together in harmony and good taste.  Galatians 5:9 speaks of another kind of leaven… “A little leaven, (a slight inclination to error, or a few false teachers), leavens the whole lump (it perverts the whole conception of faith or misleads the whole church).”  So leaven can be good or bad, depending on the teaching.  The dough is comprised of dry ingredients and wet ingredients.  We can be creative and see this as Ephraim and Judah coming together to make one.  Now, once you have all the required ingredients in one large bowl, the next process is &hellip;
</p>

<h4><span class="badge bg-warning">2</span>&nbsp;<b><u>Kneading:</u></b></h4>
<p>
	Kneading does many things:  (1) it participates in the activation of the yeast.
	The mere act of kneading distributes the yeast in all the parts of the dough.
	(2) I also think of kneading in another direction.
	Just this morning as I was kneading my bread, I found myself asking the Lord to massage my heart as I massaged that dough.
	I asked Him to squeeze out any wrong thoughts or actions that make me weak in spirit.
	I asked Him to massage in the Spirit of reconciliation, so I’d be prosperous in that area.
	If there was a stone in my heart, I asked Him to remove it so I would have a heart of flesh.
	I briefly thought of a surgeon massaging a heart that stopped, to bring back a heartbeat.
	Kneading the bread activates the yeast, the Lord kneading our hearts activates us to a higher calling.
</p>

<h4><span class="badge bg-warning">3</span>&nbsp;<b><u>Resting:</u></b></h4>
<p>
	When the dough has been kneaded and it is smooth and soft, it is time to Rise and Shine.
	But for any of us, to <i>Rise and Shine takes Time.</i>  <b>Resting</b> &hellip; resting in Him.
	Isn’t this what our Sabbath rest is all about?  Resting in Him.
	If we labor and are on the go all the time, our bodies don’t have time to rejuvenate, so we are called to rest.
	The book of Hebrew says
	<blockquote>
		For he who has once entered God’s rest also has ceased from the weariness and pain of human labors, just as God rested from those labors peculiarly His own.
		<small>Hebrews 4:10</small>
	</blockquote>
	Another way to look at this is waiting.   I’ve often felt like I’ve been put on a shelf for a season of time.
	<b>Waiting</b> in God’s waiting room is never, for me, pleasant.
	I like to make plans and go with them, not cogitate and linger with any decision.
	That’s why God gave me Jerry, the perfect balance to my whims.
	Zephaniah 3:8 in part, encourages us with,

	<blockquote class="blockquote mx-5">
		Therefore earnestly wait for Me, says the Lord, waiting for the day when I rise up to the attack.
		<i>For it is My decision and determination and right, to gather the nations together, to assemble the kingdoms &hellip;"</i>
		All that we work for here is not to be dealt with quickly, but in God’s orderly way, that the best possible means to the end will happen.
		<footer class="blockquote-footer"><cite title="Zephaniah 3:8">Zephaniah 3:8</cite></footer>
	</blockquote>
</p>

<h4><span class="badge bg-warning">4</span>&nbsp;<b><u>Forming the Braids:</u></b></h4>
<p>
	<img src="@Blobs.UrlRoot("challah-2.png")" class="img-fluid rounded" alt="chalah bread knots" />
	After the dough multiplies itself by a factor of two, which is a huge lump of dough, it is punched down to let all the air out,
	given a light kneading to put it all back together again and finally divided to make the loaves.
	Division can be good, and it can be bad.
	If division is created to make new parts of something good, and done with all parts in agreement, this is the correct way.
	The dough is divided and weighed.  One strand should not be heavier or lighter than the other, they should be of equal weight and strength.
	If a section is divided and it is small and underweight, when the heat comes it will burn quicker and be of no value to the rest of the braid.
	So weigh out the portions so all are equal.  Then we roll out the portions to be long cords.  The length and breadth of our own lives matter to God.
	Three long cords are placed together, and then are woven in a braid.
	The number three is important. <mark>Ecclesiastes 4:12</mark> says
</p>
<blockquote class="blockquote mx-5">
	And though a man might prevail against him who is alone, two will withstand him.	A threefold cord is not quickly broken.
	<footer class="blockquote-footer"><cite title="Ecclesiastes 4:12">Ecclesiastes 4:12</cite></footer>
</blockquote>

<p>Another way to interpret the three is found in <mark>I John 5:8</mark></p>

<blockquote class="blockquote mx-5">
	So there are three witnesses in heaven: the Father, the Word and the Holy Spirit, and these three are One <i>(Echad)</i>;
	and there are three witnesses on the earth:  the Spirit, the water, and the blood; and these three agree and are in unison; their testimony coincides.

	<footer class="blockquote-footer"><cite title="I John 5:8">I John 5:8</cite></footer>
</blockquote>
<p>
	Now we have the bread formed, but it has had the air knocked out of it.
	It must rise again a second time, but this time is not as lengthy as the first rise,
	for it has been dealt with effectively already, and it’s learned it’s lesson, so to say.
</p>

<h4><span class="badge bg-warning">5</span>&nbsp;<b><u>Egg Wash and Seeds:</u></b></h4>
<p>
	Working softly on the bread dough before baking is done delicately, as you don’t want the dough to think it’s punched down again.
	So, lightly with a pastry brush, an egg wash (egg yolk with dash of water) is brushed on the braided dough, which will do two things.
	This will give a golden glow to the bread as it bakes, and acts as glue for the sesame and poppy seeds that are placed on top before baking.
	The sesame and poppy seeds represent something positive to me:  they are two distinct colors &hellip; yet work together to finish a project.
	The seeds are also too many to number.
	Only the Father knows the exact number of hairs on our head, and only a nut would try to imitate God knowing the exact number of seeds on a Challah bread crust.
	Just sprinkle liberally and remember our forefathers who walked with Moses, and those who walked and triumphed proudly with Yeshua during His life on earth,
	and for the many who gave their lives for freedom in the Gospel of Yeshua.
</p>

<h4><span class="badge bg-warning">6</span>&nbsp;<b><u>Baking:</u></b></h4>
<p>
	When we are baked, we want to be burnished as pure gold… the furnace of affliction takes care of that.
	So we also want our bread to go through the furnace in the baking process and come out with a golden crust.
	The baking is timed so it doesn’t come out raw, or overbaked.
	The outside crust should be thumped to check its doneness, and the bottom of the bread should be lightly brown and soft.
	If the bread is baked too long, the crust becomes brittle and the seeds lose their taste.  Our lives are also timed &hellip;
	if we become too crusty and our walk has lost its taste, we are useless on God’s platter.
</p>

<p>
	<img src="@Blobs.UrlRoot("challah-3.jpg")" class="img-fluid rounded float-end" alt="chalah bread 3" />
	Listen to the voice of the Lord &hellip;
	(a) be patient under trials;
	(b) work diligently with the body of Yeshua to bring about one single goal;
	(c) rest in Him that He might regenerate us to be effective witnesses;
	(d) allow the Father to mold us in His fashion, to massage our hearts to His beat, not ours and
	(e) work in unity and harmony with the body of believers.
	We all know this scripture by heart:

	<blockquote class="blockquote mx-5">
		We are assured and know that God being a partner in our labor, all things work together and
		are fitting into a plan for good to and for those who love God and are called according to His design and purpose.
		<footer class="blockquote-footer"><cite title="Romans 8:28">Romans 8:28</cite></footer>
	</blockquote>
</p>
