@page "/articles/Prepared"

@using Page = LivingMessiah.Web.Links.Articles

<PageTitle>@Page.Prepared.Title</PageTitle>

<BreadCrumbs Href="@Page.Index" 
						 ParentTitle="@Page.Title" 
						 Title="@Page.Prepared.Title" 
						 Icon="@Page.Prepared.Icon">
</BreadCrumbs>

<h5>A Thought on Preparing</h5>

<div class="float-right">
	<img src="@Blobs.UrlRoot("Polly.jpg")" class="rounded-circle" alt="Polly" />
	<div class="caption">
		<p>by Polly Webb</p>
	</div>
</div>

<p>
	The Hebrew word, <i>Asa</i> (Ayin, Shin, Hey) is used many times through out The Scriptures to depict one who sees a need and
	is fulfilling it or is being directed to fulfill a present need that is seen by someone else.
</p>
<p>
	Psalms 78:8 instructs me not to be like my ancestors, a stubborn and rebellious generation that did not <b>prepare their hearts</b>.
	I am instructed in 1 Peter 3:15 <b>to be prepared</b> in humility and fear, to give a reason for the hope that I have.
	John 14:2 Yahushua speaks of a place in His Fathers house that He is <b>going to prepare</b> for me.
	And Revelation 12:6,14 speaks of a place in the wilderness <b>prepared by YHWH</b> for the woman to flee where she would be taken care of.
	These are just a few examples of preparing I see through out Scripture.
</p>
<p>
	Participating in a Sabbath rest requires advanced preparations in several areas, my home, meal plans, personal attention,
	spiritual needs (prayer, fasting, study, meditation) and assembly gatherings.
</p>
<p>
	In order to properly prepare for a task or event I need to be able to see what it is that I am preparing for.
	Preparing becomes a lifestyle, not a one time event.
	May The Spirit of YHWH open my heart and hands daily for what may be required of me.
</p>
<p>
	Prior to the Fall Feasts my family takes a closer look at ourselves,
	physically and spiritually looking for  areas in need of attention, improvement, repentance and restoration.
</p>
<p>
	Here is a short check list of some of the areas we examine-<br />
	&nbsp;<b>Spiritually -</b><br />
	&nbsp;&nbsp;- Is my relationship with my Creator, YHWH in order?<br />
	&nbsp;&nbsp;- Is my relationship with my family, friends,neighbors in order?<br />
	&nbsp;&nbsp;- Is The Word of God the standard I govern every thought and deed?<br />
	&nbsp;&nbsp;- Am I giving thanks for <b>ALL</b> things?<br />
	&nbsp;<b>Physically -</b><br />
	&nbsp;&nbsp;- I am prepared to stay or go if I am required?<br />
	&nbsp;&nbsp;- Is my purse or daily use back pack equipped with what I need if I could not get back home today?<br />
	&nbsp;&nbsp;- Is my 3 day (72 hour) grab and go bag ready?<br />
	&nbsp;&nbsp;- Do I have a 3 week supply of food, water and necessary supplies in my home in the event I had to shelter in place?<br />
	&nbsp;&nbsp;- Are my priority lists made in advance if I had to grab and go and only had 5, 15 or 30 minutes?<br />
	&nbsp;&nbsp;- Do I know where I would go and have I made prior arrangements to do so?<br />
</p>
<p>
	Below is a helpful list my family has complied and divided into 5 areas of preparation.
	Use it for your next camping trip or as a tool in your preparation planner to fill your priority needs as you walk out your lifestyle of being prepared.
</p>
<p>
	May we be prepared to have our names written in The Lambs Book of Life and may we prepare for the return of our Savior.
</p>
<br />

<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th>Water & Food</th>
			<th>Shelter, Fire, Light & Electricity</th>
			<th>Health, Medical & Sanitation</th>
		</tr>
		<tr><td>Filtration & Purification System</td><td>Tent, Poles, Stakes, String, Rope</td><td>First Aid Kit</td></tr>
		<tr><td>Individual Water Bottles</td><td>Tarps, Rugs, Mats, Chairs</td><td>Alcohol, Hydrogen Peroxide</td></tr>
		<tr><td>Large Quantity Jugs</td><td>Shade Canopy, Hammock</td><td>Medications, Vitamins</td></tr>
		<tr><td><b>Snacks:</b></td><td>&nbsp;</td><td>Sun Block, Chap Stick</td></tr>
		<tr><td>Trail Mix, Prunes, Crackers</td><td>&nbsp;</td><td>Insect Repellant, Dust Mask</td></tr>
		<tr><td><b>"Add Boiling Water" Foods:</b></td><td>&nbsp;</td><td>Saline Solution, Contacts</td></tr>
		<tr><td>Oatmeal, Soup, Grains</td><td>Pillows, Fleece Blankets</td><td>Glasses, Sun Glasses</td></tr>
		<tr><td>Hot Chocolate Powder, Tea Bags</td><td>Sleeping Bags</td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td><td>&nbsp;</td><td>Toilet Paper, Feminine Supplies</td></tr>
		<tr><td><b>Ice, Picnic Basket (plates,cups)</b></td><td>&nbsp;</td><td>Wipes, Squirt Bottle</td></tr>
		<tr><td>&nbsp;</td><td>Air Mattress, Repair Kit, Pump</td><td>Solar Shower</td></tr>
		<tr><td><b>Food Preparation:</b></td><td>Rain Poncho, Umbrella</td><td>&nbsp;</td></tr>
		<tr><td>Tea/Coffee Pot, Hot Pads, Bowl</td><td>&nbsp;</td><td>Porta-Potty, Porta-Potty Tent</td></tr>
		<tr><td>Skillet, Griddle, Dutch Oven, Lids</td><td><b>Light - Fire</b></td><td>Bio Blue Tablets, Kitty Litter</td></tr>
		<tr><td>Cookie Sheet, Cutting BOard</td><td>Flashlight, Extra Batteries</td><td>Trash Can or Bucket w/ Lid</td></tr>
		<tr><td>Spoon, Ladle, Spatula, Tongs</td><td>Lighter, Matches</td><td>Trash Can Liners</td></tr>
		<tr><td>Knife, Scissors, Can Opener, Peeler</td><td>Jar or Emergency Candle</td><td>&nbsp;</td></tr>
		<tr><td>Fire Roasters, Table Cover, Clips</td><td>12 Hour Light Stick</td><td><b>Toiletries:</b></td></tr>
		<tr><td>Plastic Bucket w/ Lid (Trash)</td><td>Glow Ropes/Sticks</td><td>Shampoo, Conditioner</td></tr>
		<tr><td>&nbsp;</td><td>Extension Cords/Outlets</td><td>Body Wash Towel, Wash Cloth</td></tr>
		<tr><td><b>Salt, Cayenne, Oil, Sweetener</b></td><td>&nbsp;</td><td>Deodorant, Lotion, Cotton Balls</td></tr>
		<tr><td><b>Vinegar, Seasonings, Soda</b></td><td>&nbsp;</td><td>Q-Tips, Razors, Tweezers, Mirror</td></tr>
		<tr><td>&nbsp;</td><td>Lantern, Bulb, Batteries</td><td>Toothbrush, Toothpaste, Floss</td></tr>
		<tr><td><b>Cooking:</b></td><td>Oil Lamps, Lamp Oil</td><td>Hair Brush/Comb, Nail Clippers</td></tr>
		<tr><td>Propane Stove, Volcano, BBQ Grill</td><td>Lighter Fluid</td><td>Hair-ties, Clips, Covers, Hat</td></tr>
		<tr><td>Dutch-Sun Oven, Wonder Box</td><td>&nbsp;</td><td>Shower Shoes</td></tr>
		<tr><td>Fire Grate, Wood, Briquets & Fluids</td><td>Solar Lights</td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td><td>Tiki Lights</td><td><b>Cosmetic:</b></td></tr>
		<tr><td><b>Paper Products:</b></td><td>&nbsp;</td><td>Make-up, Blow Dryer</td></tr>
		<tr><td>Clorox Wipes, Baggies</td><td>&nbsp;</td><td>Curling, Flatting Iron</td></tr>
		<tr><td>Foil, Saran, Trash Bags</td><td><b>Electricity:</b></td><td>&nbsp;</td></tr>
		<tr><td>Food Handlers, Gloves</td><td>Generator, Fuel</td><td><b>Clothing:</b></td></tr>
		<tr><td>Plates, Cups, Utensils</td><td>50-100 ft Extension Cord</td><td>Appropriate changes of Clothing</td></tr>
		<tr><td>Napkins, Paper Towels</td><td>&nbsp;</td><td>&nbsp;- Underwear, Socks, Sleepwear</td></tr>
		<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;- Long Pants, Shorts, Skirts</td></tr>
		<tr><td><b>Clean Up:</b></td><td>&nbsp;</td><td>&nbsp;- Long/Short Sleeve Shirts</td></tr>
		<tr><td>3 Dish Pans, Rubber Gloves</td><td>&nbsp;</td><td>&nbsp;- Jacket, Sturdy Shoes</td></tr>
		<tr><td>Dish/Hand Soap, Bleach, Scraper</td><td>&nbsp;</td><td>&nbsp;- Head Covering, Gloves, Scarf</td></tr>
		<tr><td>ScratchPads, Dish Sponge/Towel</td><td>&nbsp;</td><td>&nbsp;- Laundry Bag, Lint Roller</td></tr>
		<tr><td>Water Jug w/ Valve (hand wash)</td><td>&nbsp;</td><td>&nbsp;- Clothes Line, Clothes Pins</td></tr>
		<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	</table>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th>Communication, Documents & Travel</th>
			<th>Tools & Helpful Supplies</th>
		</tr>
		<tr><td>Cell Phones, Chargers</td><td>72 Hour Back Pack</td></tr>
		<tr><td>Two-Way Radios</td><td>Personal Safety Equipment</td></tr>
		<tr><td>Auto Adapter for Electronics</td><td>&nbsp;</td></tr>
		<tr><td>Radio</td><td>&nbsp;</td></tr>
		<tr><td>Map</td><td>Multi-Tool, Swiss Army Knike</td></tr>
		<tr><td>Compass</td><td>Hammer, Axe, Hatchet</td></tr>
		<tr><td>Whistle</td><td>Wrench, Pliers, Screwdriver</td></tr>
		<tr><td>Binoculars</td><td>Work Gloves, Safety Goggles</td></tr>
		<tr><td>Watch, Clock</td><td>Duct Tape, WD-40, Fishing Line</td></tr>
		<tr><td>&nbsp;</td><td>Bug Spray, Ant Killer</td></tr>
		<tr><td>&nbsp;</td><td>Citronella Candles</td></tr>
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
		<tr><td>Highway Flares</td><td>Shovel, Rake</td></tr>
		<tr><td>Jumper Cables</td><td>Broom, Dust Pan</td></tr>
		<tr><td>Fix-A-Flat</td><td>Water Hose, Bucket</td></tr>
		<tr><td>Tire Pressure Gauge</td><td>3 Coolers:</td></tr>
		<tr><td>&nbsp;</td><td>Frequent use, Perishable, Freezer</td></tr>
		<tr><td>&nbsp;</td><td>Folding Table & Camp Chairs</td></tr>
		<tr><td><b>Important Personal Documents</b></td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;- Drivers License</td><td>2 Liter Bootle for Mosquito Trap</td></tr>
		<tr><td>&nbsp;- Personal Identification</td><td>(will also need sugar & yeast)</td></tr>
		<tr><td>&nbsp;- Passports</td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;- Registration & Insurance Cards</td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;- Emergency Phone Numbers</td><td>Paper, Pencil, Tape</td></tr>
		<tr><td>&nbsp;- Personal Document Binder</td><td>Sharpie Markers</td></tr>
		<tr><td>&nbsp;</td><td>Colored Markers</td></tr>
		<tr><td>&nbsp;</td><td>Board Games, Card Games</td></tr>
		<tr><td><b>Cash / Coins on Hand</b></td><td>Reading Material</td></tr>
		<tr><td>&nbsp;</td><td>Sewing Kit, Needle & Thread</td></tr>
		<tr><td><b>To Do:</b></td><td>Safety Pins</td></tr>
		<tr><td>&nbsp;- Auto Maintenance / Repairs?</td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;- Change Oil</td><td><b>Bible</b></td></tr>
		<tr><td>&nbsp;- Fill Gas Tank</td><td>Siddur, Prayer Book</td></tr>
		<tr><td>&nbsp;- Fill Propane Tanks</td><td>Prayer Shawl</td></tr>
		<tr><td>&nbsp;- Check Tires / Pressure / Spare</td><td>Shofar</td></tr>
		<tr><td>&nbsp;</td><td>Musical Instruments</td></tr>
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td><td><b>Pet and Pet Supplies</b></td></tr>
		<tr><td>&nbsp;</td><td>Food, Leash, Kennel</td></tr>
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	</table>

</div>

