@page "/BibleBooks"
@page "/SmartEnums/BibleBooks"
@using LivingMessiah.Web.Enums

@using Page = LivingMessiah.Web.Links.Bible.BibleBooks

<PageTitle>@Page.Title</PageTitle>

<p class="text-muted"><small>Test <i>SmartEnum</i></small></p>

<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center">Direct reference to properties</h4>
	</div>

	<div class="card-body">

		<dl class="row">
			<dt class="col-6"><span class="float-end"><code>BibleBook.Deuteronomy</code>:</span></dt>
			<dd class="col-6">@BibleBook.Deuteronomy</dd>
		</dl>
		<dl class="row">
			<dt class="col-6"><span class="float-end"><code>BibleBook.Proverbs</code> | <code>BibleBook.Proverbs.BibleGroup.Name</code>:</span></dt>
			<dd class="col-6">@BibleBook.Proverbs | @BibleBook.Proverbs.BibleGroup.Name</dd>
		</dl>

	</div>
</div>

<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center">Using <code>FromValue</code> and <code>FromName</code></h4>
	</div>

	<div class="card-body">
		<dl class="row">
			<dt class="col-6"><span class="float-end"><code>BibleBook.FromValue(3)</code>:</span></dt>
			<dd class="col-6">@BibleBook.FromValue(3)</dd>
		</dl>
		<dl class="row">
			<dt class="col-6"><span class="float-end"><code>BibleBook.FromName('Genesis')</code>:</span></dt>
			<dd class="col-6">@BibleBook.FromName("Genesis")</dd>
		</dl>

	</div>
</div>

<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center"><code>BibleBook.List.ToList()</code></h4>
	</div>
	<div class="card-body">
		<TableTemplate Items="BibleBook.List.ToList()">
			<TableHeader>
				<th class="text-info">Id</th>
				<th class="text-primary">Name</th>
				<th class="text-danger">Abrv</th>
				<th class="text-warning">Group</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td>@context.Name</td>
				<td>@context.Abrv</td>
				<td>@context.BibleGroup.Name</td>
			</RowTemplate>
		</TableTemplate>
	</div>
	<p class="card-footer text-center"><code><small>BibleBook.List.Count</small></code>: @BibleBook.List.Count</p>
</div>

<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center"><code>item.Dump of BibleBook.List.OrderBy(o => o.Value)</code></h4>
	</div>

	<div class="card-body">

		@foreach (var item in BibleBook.List.OrderBy(o => o.Value))
		{
			<ul class="list-inline">
				<li class="list-inline-item">@item.Dump</li>
			</ul>
		}

	</div>
</div>

@*<TableTemplate Items="BibleBook.List.Where(x => x.BibleGroup.Name == Enums.BibleGroup.Poetry.Name).ToList()">*@

<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center"><code>BibleBook.List.ToList() Where BibleGroup.Name == Poetry</code></h4>
	</div>
	<div class="card-body">
		<TableTemplate Items="BibleBook.List.Where(x => x.BibleGroup.Value == BibleGroup.Poetry.Value).ToList()">
			<TableHeader>
				<th class="text-info">Id</th>
				<th class="text-primary">Name</th>
				<th class="text-danger">Abrv</th>
				<th class="text-warning">Group</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td>@context.Name</td>
				<td>@context.Abrv</td>
				<td>@context.BibleGroup.Name</td>
			</RowTemplate>
		</TableTemplate>
	</div>
	<p class="card-footer text-center"><code><small>BibleBook.List.Count</small></code>: @BibleBook.List.Count</p>
</div>


<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center">Fluent Interface</h4>
	</div>
	<div class="card-body">
		<p class="mx-5 my-1"><code><small>Book myNumbersSmartEnum = BibleBook.FromName("Numbers");</small></code></p>
		<p class="mx-5 my-1"><code><small>string FluentResult = "";</small></code></p>
		<p class="mx-5 my-1"><code><small>myNumbersSmartEnum</small></code></p>
		<p class="mx-5 my-1"><code><small>&nbsp;&nbsp;.When(BibleBook.Genesis).Then(() => FluentResult = "BibleBook.Genesis")</small></code></p>
		<p class="mx-5 my-1"><code><small>&nbsp;&nbsp;.When(BibleBook.Numbers).Then(() => FluentResult = "BibleBook.Numbers");</small></code></p>
	</div>

	<div class="card-body">
		<p>FluentResult: <b>@FluentResult</b></p>
	</div>
</div>
