@page "/BlazorExamples/todosort"

<h1>To-Do List</h1>

@if (items == null)
{
	<p><em>Loading...</em></p>
}
else if (!items.Any())
{
	<p><em>No ToDo items exist.  Please add some.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Remove</th>
				<th>
					<span class="sort-link" @onclick=@(() => SortTable("DateCreated"))>Date</span>
					<span>@(GetSortStyle("DateCreated"))</span>
				</th>
				<th>
					<span class="sort-link" @onclick=@(() => SortTable("Description"))>Description</span>
					<span>@(GetSortStyle("Description"))</span>
				</th>
				<th>Is Complete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in items)
			{
				<tr style="@(item.IsComplete ? "text-decoration: line-through" : "")">
					<td><button @onclick="(() => RemoveTodo(item.ID))"><i class="oi oi-trash"></i></button></td>
					<td>@item.DateCreated</td>
					<td>@item.Description</td>
					<td>
						@if (item.IsComplete)
						{
							<input type=checkbox @onchange="(() => ToggleToDo(item.ID))" checked />
						}
						else
						{
							<input type=checkbox @onchange="(() => ToggleToDo(item.ID))" />
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@if (items != null)
{
	<input placeholder="A new ToDo item" @bind="@newItem" />
	<button @onclick="AddTodo">Create</button>
}


<div class="row col-12 mt-5 pt-2 border-top border-info">
	<a href="https://github.com/exceptionnotfound/BlazorToDoList"
		 class="btn btn-warning" title="BlazorToDoListby ExceptionNotFound"
		 data-show-count="false" data-size="large" data-show-screen-name="false">
		<i class="fab fa-github fa-fw fa-2x" aria-hidden="true"></i>
	</a>
</div>

