@page "/admin/dashboard/index"

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Icon"></i> @Title</h2>
</div>

<p class="text-warning">ToDo: setup environment detection</p>

@*<environment names="Staging,Production">
		HostingEnvironment.EnvironmentName is <strong><span class="text-danger">Staging or Production</span></strong>
	</environment>
	<environment names="Development">
		HostingEnvironment.EnvironmentName is <strong><span class="text-warning">Development</span></strong>
	</environment><br />*@


<p class="text-warning">ToDo: setup authorization and authentication</p>

@*<div asp-authorize asp-roles="@LivingMessiah.Web.Services.Auth0.Roles.Admin">
	<div class="card" style="width: 18rem;">
		<div class="card-header">Inside asp-authorize</div>
		<div class="card-body">
			<h5 class="card-title">asp-authorize test</h5>
			<p class="card-text">If you're logged in with Admin Role, you can see this section.</p>
		</div>
	</div>
</div>

<hr class="warning" />*@

@* <div class="card" style="width: 25rem;" asp-authorize asp-roles="@LivingMessiah.Web.Services.Auth0.Roles.Admin"> *@

<div class="card" style="width: 25rem;">
	<div class="card-header">Admin</div>
	<div class="card-body">
		<h5 class="card-title">card-body goes here</h5>
		<p class="card-text">card-text goes here</p>
	</div>
	<ul class="list-group list-group-flush">

		<li class="list-group-item">
			<a href="@DashBoard.CallJsExample6"
				 title="Dump" class="list-group-item list-group-item-warning">
				<b>Browser Window Prompt JS Interupt</b>
				<i class="fas fa-chevron-right"></i>
			</a>
		</li>

		<li class="list-group-item">
			<a href="@DashBoard.Dump"
				 title="Dump" class="list-group-item list-group-item-warning">
				<b>Dump Settings</b>
				<i class="fas fa-chevron-right"></i>
			</a>
		</li>

		<li class="list-group-item">
			<a href="@DashBoard.FontAwesome"
				 title="Font Awesome" class="list-group-item list-group-item-warning">
				<b>FontAwesome</b>
				<i class="fas fa-chevron-right"></i>
			</a>
		</li>

		<li class="list-group-item">
			<a href="@DashBoard.PerformanceCompliance"
				 title="Performance Compliance" class="list-group-item list-group-item-warning">
				<b>Performance Compliance</b>
				<i class="fas fa-chevron-right"></i>
			</a>
		</li>

		<li class="list-group-item">
			<a href="@DashBoard.ThrowException"
				 title="Throw Exception" class="list-group-item list-group-item-warning">
				<b>Throw Exception</b>
				<i class="fas fa-chevron-right"></i>
			</a>
		</li>

		<li class="list-group-item">
			<a href="@DashBoard.Routes"
				 title="@DashBoard.RoutesTitle" class="list-group-item list-group-item-warning">
				<i class="@DashBoard.RoutesIcon"></i>
				<b>@DashBoard.RoutesTitle</b>
				<i class="fas fa-chevron-right"></i>
			</a>
		</li>

	</ul>
</div>

<hr class="warning" />

<h2>Routes</h2>
<p>
	ToDo: Not ported, see LivingMessiah.Web\Features\Routes2\Routes2Controller.cs
	<br /> see also <a href="https://ardalis.com/debugging-aspnet-core-routes">ardalis.com/debugging-aspnet-core-routes</a>
</p>


<h2>MiniProfiler</h2>
<p>ToDo: Not ported, see ???</p>

@{
	//string SomethingExpansive = "Add Content Please";
}

@*<h4>Not sure how this works exactly</h4>
	<profile name="My Profiling Step via a <profile> Tag">
		@{ @SomethingExpansive } Hello Mars!
	</profile>*@



@code {
	const string Title = "Dashboard";
	const string Icon = "fas fa-tachometer-alt";

	public static class DashBoard
	{
		public const string Index = "/Index";
		public const string Title = "DashBoard";
		public const string Icon = "fas fa-tachometer-alt";

		public const string ThrowException = "/ThrowException";
		public const string FontAwesome = "/FontAwesome";
		public const string Dump = "/Dump";
		public const string CallJsExample6 = "/Admin/call-js-example-6";
		public const string PerformanceCompliance = "/PerformanceCompliance";
		public const string Routes = "/Routes";
		public const string RoutesTitle = "Show routing endpoints";
		public const string RoutesIcon = "fas fa-route";

		//public const string ErrorLog = "/DashBoard/ErrorLog";
		//public const string OfflineMessage = "./OfflineMessage";
	}
}
