@page "/admin/dashboard/index"
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using static LivingMessiah.Web.Services.Auth0
@using Page = LivingMessiah.Web.Links.DashBoard

<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

@inject IWebHostEnvironment Env

<AuthorizeView Roles="@Roles.Admin">
	<div class="card" style="width: 18rem;">
		<div class="card-header">Inside AuthorizeView Component</div>

		<div class="card-body">
			<h5 class="card-title">asp-authorize test</h5>
			<p class="card-text">If you're logged in with Admin Role, you can see this section.</p>
		</div>

		<div class="card-body">
			@if (Env.IsProduction() | Env.IsStaging())
			{
				<p >
					HostingEnvironment.EnvironmentName is <strong><span class="text-danger">Staging or Production</span></strong>
				</p>
			}
			else
			{
				<p>
					HostingEnvironment.EnvironmentName is <strong><span class="text-warning">Development</span></strong>
				</p>
			}
		</div>

	</div>
</AuthorizeView>

@*<LivingMessiah.Web.Pages.Admin.Dashboard.ApplicationSettings>

</LivingMessiah.Web.Pages.Admin.Dashboard.ApplicationSettings>*@

<div class="card" style="width: 25rem;">
	<div class="card-header">Admin Links</div>

	<ul class="list-group list-group-flush">

		<li class="list-group-item">
			<button @onclick="@(e => ThrowException_ButtonClick())"
							class="list-group-item list-group-item-warning">
				<b>Throw Exception</b>
				<i class="fas fa-chevron-right"></i>
			</button>
		</li>
	</ul>
</div>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
