@using LivingMessiah.Web.Features.ThresholdCovenant.VerseReferenceCards

<div class="card border-warning my-3">
	<h4 class="card-header text-center">JKM commentary on Exodus 11</h4>

	<div class="card-body">

		<h5 class="card-title">
			<VerseAnchor Book="BibleBook.Exodus" ChapterVerse="11:1-10 (ch. 11)" HrefSuffix="exo/11/1-10/s_61001" SubTitle="The Plague on the Firstborn" />
		</h5>

		<p class="card-text">
			<sup class="verse-number">1</sup>
			And <b>Yehovah</b> <span class="hebrew"> יְהֹוָה </span> @Strongs.H("H3068") said unto Moses,
			"Yet will I bring one plague more upon Pharaoh, and upon Egypt; afterwards he will let you go hence: when
			he shall let you go,
			he shall <b>surely</b> <span class="hebrew"> גָּרֵשׁ </span> @Strongs.HandTransLit("garesh", "H1644")
			<b>thrust you out</b> <span class="hebrew"> יְגָרֵשׁ </span> @Strongs.HandTransLit("yegaresh", "H1644")
			hence altogether <span class="hebrew"> כָּלָה </span> @Strongs.HandTransLit("kalah", "H3617") .
		</p>

		<QuotationPTemplate Person="Source: Eddie Chumney">
			Eddie points out that the word for "he shall thrust you out" and "hence altogether" could be interpreted as the Pharaoh is
			<b>effectively giving Israel a Bill of Divorce</b>.
			<ul>
				<li>
					See page 10 of "MHB: Biblical-Word-Study-and-Commentary-on-ones-Legal-Status”, article	#210
				</li>
				<li>
					"Mat-5-17-19-Fulfil-G4137-Kalah-H3617-Kallah-H3618", article #265.
				</li>
			</ul>
		</QuotationPTemplate>

		<p class="card-text">
			<sup class="verse-number">2</sup>
			Speak now in the ears of the people, and let every man
			<b>borrow</b> <span class="hebrew"> וְיִשְׁאֲלוּ </span> @Strongs.HandTransLit("veyishalu", "H7592")
			of his neighbor, and every woman of her neighbor, jewels of silver and jewels of gold.
		</p>

		<QuotationPTemplate Person="JKM">
			I'm thinking it's not "borrow" like it's Pharaoh's to lend out, but more like he was their trustee and now it's being transferred / shifted back to Israel
			(because of Pharaoh's "Bill of Divorce") for which YHVH will now be the title holder.
			The final plague hasn't happened yet, so if the first born is killed before they "borrow the stuff", then there could be a cloud on the title	of the property.
			This is because the first born usually is the trustee of the family and therefore holds the title.

			<ul>
				<li>
					<a href="https://myhebrewbible5.blob.core.windows.net/mhb-container/Article/Word-Study-H7592-Shaal-borrowed.pdf">
						Word Study H7592 <i>shaal</i> borrowed, article	#687
					</a>
				</li>
				<li>
					<VerseAnchor Book="BibleBook.Exodus"
											 ChapterVerse="3:22"
											 HrefSuffix="exo/3/22/s_53022"
											 SubTitle="Prophesied by Yehovah that they would be delivered natsal (see article #1461)">
					</VerseAnchor>
				</li>
				<li>
					<i>In nubibus</i>: <b>In the clouds</b>. This is a figurative expression to signify a state of suspension or abeyance. 1 Co. 137. Bouvier’s abeyance: a state
					of temporary disuse or suspension. e.g. "matters were held in abeyance pending further inquiries".
				</li>
			</ul>

		</QuotationPTemplate>

		<p class="card-text">
			<sup class="verse-number">3</sup>
			And Yehovah gave the people favor in the sight of the Egyptians.
			Moreover the man Moses was very great in the land of Egypt,
			in the sight of Pharaoh's servants, and in the sight of the people.
		</p>
		<QuotationPTemplate Person="JKM">
			It’s clear here that many would have reasoned that it is wise to follow this Moshe and his Elohim wherever he goes.
			This would especially be true if you were a first born son Mitzrayim-ite after hearing of the next and final judgment.
		</QuotationPTemplate>

		<p>
			<sup class="verse-number">4</sup>
			And Moses said, "Thus saith Yehovah, About midnight will I go out into the midst of Egypt:
			<sup class="verse-number">5</sup> And all the firstborn in the land	of Egypt shall die,
			from the first born of Pharaoh that sitteth upon his throne, even unto the firstborn of the
			maidservant that is behind the mill; and all the firstborn of beasts.
			<sup class="verse-number">6</sup>
			And there shall be a great cry throughout	all the land of Egypt, such as there was none like it, nor shall be like it any more.
			<sup class="verse-number">7</sup>
			But against any of the children of Israel shall <b>not a dog move his tongue</b>,
			against man or beast: that ye may know how that Yehovah doth put a difference between the Egyptians and Israel.
		</p>
		<QuotationPTemplate Person="JKM">
			Even the warning of a <b>dog barking</b> isn’t going to happen.  Not even a dog will commit <i>lashon harah</i> 😁.
		</QuotationPTemplate>

		<p>
			<sup class="verse-number">8</sup>
			And all these thy servants shall come down unto me, and bow down themselves unto me, saying, Get thee out,
			and all the people that <b>follow</b> <span class="hebrew"> בְּרַגְלֶיךָ </span> @Strongs.HandTransLit("beragleicha", "H7272") thee :
			and after that I will go out. And he went out from Pharaoh in a great anger.
			<sup class="verse-number">9</sup>
			And Yehovah said unto Moses, Pharaoh shall not hearken unto you; that my wonders may be multiplied in the land of Egypt.
			<sup class="verse-number">10</sup>
			And Moses and Aaron did all these wonders before Pharaoh: and Yehovah hardened Pharaoh's heart,
			so that he would not let the children of Israel go out of his land.
		</p>

		<QuotationPTemplate Person="JKM">
			<ul>
				<li>
					"...and all the people that <b>follow</b>..."; the word translated as follow is @Strongs.H("H7272")
					which comes from <span class="hebrew"> רֶגֶל </span> @Strongs.HandTransLit("reḡel", "H7270") <i>regal</i>.
					I contend that there's a English connection to regal / royalty and that, hebraically speaking,
					sometimes the act of walking can metaphorically be viewed by someone acting in authority in the capacity of royalty.
				</li>
				<li>
					A logical conclusion could be made that not only was some of the followers were the mixed multitude
					but they could have been comprised of people previously loyal to Pharaoh and possibly they themselves were considered royalty
				</li>
			</ul>

		</QuotationPTemplate>

		<p class="card-text text-center bg-info-subtle">
			<b>Resource</b> MyHebrewBible (MHB) <br />
			<MhbArticleAnchor Id=1011
												SlugTitle="Exo 11 to 12:28 Od Nega Echad One More Plague"
												SlugUrl="Exo-11-to-12-28-Od-Nega-Echad-One-More-Plague" />
		</p>

	</div> <!-- <div "card-body Exodus 11" -->
</div> <!-- <div "card" -->

@code {

}
