
<div class="card border-warning my-3">
	<h4 class="card-header text-center">JKM commentary on Exodus 2:23-25</h4>
	<div class="card-body">

		<p class="card-text">
			My passion is law and the power and authority that comes from it.
			It is my intent in this section to point out why Israel has the authority to call out to Yehovah for salvation from the awful predicament in which they find themselves.
			I do that by exploring the meaning of key words (e.g. <b>bondage</b>, <b>petition</b>, <b>standing</b> etc.) that have a legal foundation and apply those principles found in law.
		</p>

		<div class="bg-info-subtle p-1">
			<h5 class="card-title text-center"><a href="https://www.blueletterbible.org/kjv/exo/2/23-25/s_52023" target='blank'>Exodus 2:23-25</a> <em>God respects the Israelites' cry</em></h5>
			<p class="card-text">
				<sup class="verse-number">23</sup> And it came to pass in process of time, that the king of Egypt died: 
				and the children <span class="hebrew"> בְנֵי־ </span> <sup><em>ben</em> </sup> @Strongs.H("H1121") of Israel sighed by reason of the
				<mark>bondage</mark> <span class="hebrew"> מִן־הָעֲבֹדָה </span><sup><em>ha'avoDah</em> </sup> @Strongs.H("H5656 ") and they
				<strong>cried</strong> <span class="hebrew"> וַיִּזְעָקוּ </span> <sup><em>vaiyiz'aku</em> </sup> @Strongs.H("H2199")
				, and their <strong>cry</strong> <span class="hebrew"> שַׁוְעָתָם </span> <sup>  <em>shav'Tam</em> </sup> @Strongs.H("H7775")
				came up unto God by <mark>reason of the bondage</mark> <span class="hebrew"> מִן־הָעֲבֹדָה </span>.
			</p>
		</div>

		<p class="card-text mt-3">
			It is interesting that <strong>bondage</strong> is mentioned twice.
			The plain understanding is the first occurrence, the children in Israel who find themselves stuck in Egypt under conditions that are not all appealing.
			But what about the second? Why does הָאֱלֹהִים (God) have to entertain these whining Israelites?
		</p>

		<div class="bg-warning-subtle ms-4 p-2">
			<p class="card-text ps-4">
				His attitude could have been as follows <sub><i class="fas fa-ellipsis-h" aria-hidden="true"></i></sub>
			</p>

			<i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>
			<blockquote class="blockquote fs-6">
				<p class="card-text">
					I never told you spiritual knuckleheads to stay down in Egypt. You have been there many generations yet the famine which caused you to go down there in the first place only lasted for 5 more years.
					The land of Canaan is your inheritance which I gave you but you show no regard for that and chose rather to get comfy in Egypt.
					Your <em>defacto</em> king became the King of Egypt which you benefited from while name dropping that your are the brother of Yoseph.
					You convinced yourself to stay in Egypt where life was good and easy.
					Why leave the cushy life to take your inheritance.
					In your mind that must have seemed way to hard and thereby showed that you had little faith that I would be with you to take the land.
				</p>
				<p class="card-text">
					Now there's a new sheriff in town, the King of Egypt who doesn't know Joseph and now when your children
					use the name dropping technique ain't working like it used to in the past.
				</p>
			</blockquote>

			<p class="card-text">
				Luckily God chose otherwise which, here is my explanation about the second time bond is used.
			</p>
		</div>

		<h5 class="card-title fst-italic mt-4">The bond is sticky on both sides</h5>
		<p class="card-text mt-0 ms-4">
			The <strong>bond</strong> represents Israel's sacred contract with Yehovah.
			In this contractually binding relationship we are the bond <strong>servant</strong> and, necessarily so, Yehovah is the bond <mark><strong>master</strong></mark>.
			Because of this bond/contract we who <mark>identify as Israel</mark> and therefore have the <strong>authority</strong> to <strong>petition</strong> his court...<strong>cry out</strong>.
			i.e. they have <strong>standing</strong> in his court.
			Yehovah must honor this claim if he is going to respect his covenant  with Abraham, with Isaac, and with Jacob (see next verse).
		</p>

		<div class="bg-info-subtle p-1">
			<p class="card-text">
				<sup class="verse-number">24</sup>
				And God <strong>heard</strong> <span class="hebrew"> וַיִּשְׁמַע </span> <sup><em>shema</em> </sup> @Strongs.H("H8085") their groaning,
				and God <strong>remembered</strong> <span class="hebrew"> וַיִּזְכֹּר </span> <sup><em>vaiyizKor</em> </sup> @Strongs.H("H2142")
				his <strong>covenant</strong> <span class="hebrew"> בְּרִיתוֹ </span> <sup><em>brit</em> </sup> @Strongs.H("H1285")
				with <strong>Abraham</strong>, with <strong>Isaac</strong>, and with <strong>Jacob</strong>.
			</p>
			<p>
				<sup class="verse-number">25</sup>
				And God looked upon the children of Israel, and God had <strong>respect</strong> <span class="hebrew"> וַיֵּדַע </span> <sup><em>vaiYeda'</em> </sup> @Strongs.H("H3045") unto [them].
			</p>

		</div>
		
		<h5 class="card-title fst-italic mt-4 ">Pay attention to these <b>Heavy Words</b></h5>
		<p class="card-text mt-0 ms-4">
			<ul>
				<li>the <b><i>sh'ma</i></b> applies to both parties <b>Israel</b> <b><mark>and Yehovah</mark></b>. You who identify as Israel <em>have Yehovah's ear</em>. <b>Wow!</b></li>
				<li>
					Yehovah remembered <span class="hebrew"> זָכַר </span> <b><i>zāḵar</i></b>["ed"].  The word comes from a very similar sounding word <span class="hebrew"> זָכָר </span> <sup><em>zāḵār</em> </sup> @Strongs.H("H2145") and it's  is meaning <b>male</b> and <b>memorial through the male genealogy</b>.
					In verse 23 above, it's not the children of Israel but the <b>sons</b> of Israel who cried out.
				</li>
				<li>
					What did Yehovah remember? The <sup><em>brit</em> </sup> @Strongs.H("H1285") (I like to say <b>his sacred contract</b> because it a very tangible thing anyone can understand).
				</li>
				<li>
					To whom in particular was the <em>brit</em> made to?  It's not so much with the sons of Israel, but their patriarchs...<b>Abraham, Isaac, and Jacob</b>.
				</li>
				<li>
					God Elohim
				</li>
				<li>
					Respect : Yada
				</li>

			</ul>
		</p>

				
		<h5 class="card-title fst-italic mt-4 ">Summary</h5>
		<p class="card-text mt-0 ms-4">
			<i>ToDo</i>
			@*
			For Yehovah to respect the covenant with the patriarchs, the men of Israel needed to <b>man up</b> cry out (petition to Yehovah)  articulate the authority </li>
			cry out (petition to Yehovah)  articulate the authority </li>
			*@

		</p>

	</div> <!-- <div "card-body" -->
</div> <!-- <div "card" -->


@code {

	// <h4 id="exodus-22325-jkm-en-03--detailed-commentary-on-exodus-223-25">Exodus 2:23–25 <sup>JKM EN 03 | Detailed commentary on Exodus 2:23-25</sup></h4>

}
