@page "/TorahTuesday"
@using LivingMessiah.Web.Pages.Parasha

@using Page = LivingMessiah.Web.Links.TorahTuesday
<PageTitle>@Page.Title</PageTitle>

<SubNavBar UseDarkMode="false" ActiveParashaEnum="@LivingMessiah.Web.Pages.Parasha.LinkSmartEnums.Parasha.SeeAlsoTorahTuesday" />

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>

<TuesdayTorahStudy></TuesdayTorahStudy>

@if (ShowLatestVideo)
{
	<YouTubeWeeklyVideo WeeklyVideoType="LivingMessiah.Domain.WeeklyVideoType.TorahTuesday">

	</YouTubeWeeklyVideo>
}

@* ToDo: is this a better way  @onclick="@(e => ChangeContent(e, PartialViewEnum.Intro))"> *@
<div class="row">
	<div class="col">
		<button class="my-3 btn btn-xlarge btn-primary"
						@onclick="@ShowLatestVideo_Button_Click">
			@((MarkupString)OppositeIcon) @OppositeToggleMsg
		</button>
	</div>
</div>