@page "/admin/Video/GraphicFilesNull"
@using Page = LivingMessiah.Web.Links.Admin.Video.GraphicFileIsNull
@using static LivingMessiah.Web.Services.Auth0

@using Blazored.Toast.Services
@inject IToastService? Toast

<AuthorizeView Roles="@Roles.Admin">

	<Authorized>

		<IndexPageHeader />

		@if (_showDetail)
		{
			<ProcessChosenBlob YouTubeId="@_youTubeId"
												 BlobFileName="@GraphicFile"
												 ShabbatWeekId="ShabbatWeekId"
												 OnProcessCompleted="ReturnedProccess" />
		}

		<Table OnBlobSelected=@ReturnedSelection />

	</Authorized>

	<NotAuthorized>

		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>

			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<LoginRedirectButton ReturnUrl="@Page.Index" />
			</div>
		</div>

	</NotAuthorized>

</AuthorizeView>


@code {

	private bool _showDetail = false;

	#region EventCallbacks

	private string? _youTubeId = null;
	private string? GraphicFile = null;
	private int ShabbatWeekId = 0;


	private void ReturnedSelection(YouTubeAndFileVM vm)  // string blobFile
	{
		_youTubeId = vm.YouTubeId!;
		GraphicFile = vm.GraphicFile!;
		ShabbatWeekId = vm.ShabbatWeekId;
		_showDetail = true;
		//StateHasChanged();
	}

	private BlobRecord? _blobRecord;
	private void ReturnedSelectionRec(BlobRecord rec)  // string blobFile
	{
		_blobRecord = rec;
		_showDetail = true;
		//StateHasChanged();
	}


	private string? _returnedTransactionMessage;
	private void ReturnedTransactionMessage(string msg)
	{
		_returnedTransactionMessage = msg;
		Toast!.ShowInfo($"Transaction Message: {nameof(ReturnedTransactionMessage)}");
	}

	private void ReturnedProccess(bool cancelClicked)
	{
		_showDetail = false;
		if (cancelClicked)
		{
			Toast!.ShowInfo("Cancel button clicked, No processing of blob");
		}
	}
	#endregion
}
