@using LivingMessiah.Web.Infrastructure

<TableHeaderExplanation></TableHeaderExplanation>

<LoadingComponent IsLoading="DonationsByRegistration==null && DatabaseWarning==false">

	@if (!DonationsByRegistration.Any())
	{
		<h3 class="text-danger">No Records</h3>
	}
	else
	{
		<div class="table-responsive">
			<table class="table table-bordered table-sm">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name <br />Status Id</th>
						<th>Total Donation<br />Amount Due</th>
						<th>#</th>
						<th>Amt</th>
						<th>Notes<br />Reference</th>
						<th>Created By <br />Created Date</th>
					</tr>
				</thead>

				<tbody>
					@foreach (var item in DonationsByRegistration)
					{

						@if (prevId != 0 & item.Id != prevId)
						{
							<tr><td colspan="7">---</td></tr>
						}

				<tr>

					@if (prevId == 0 | item.Id != prevId)
					{

					<td>
						<a href="/" title="View"><u>@item.Id <b>Fix</b></u></a>

						@*<a asp-page="@LivingMessiah.Web.Pages.Anchors.Sukkot.Details" asp-route-id="@item.Id">*@

						<br />

						<div class="btn-group">
							<a class="btn btn-success btn-sm" title="Donations" href="/">
								<i class="fa fa-plus"></i>&nbsp;<i class="fas fa-dollar-sign"></i> <b>Fix</b>
							</a>
						</div>

						@*asp-page="@LivingMessiah.Web.Links.Sukkot.Donations.Index" asp-route-id="@item.Id"*@

					</td>

						<td>@StringExtensions.Truncate(item.FirstName, 20)<br />@StringExtensions.Truncate(item.FamilyName, 20)</td>

						<td>
							<span class="float-right">@item.TotalDonation.ToString("C0")</span><br />
							<span class="float-right">@item.AmountDue.ToString("C0")</span>
						</td>

					}
					else
					{
						<td colspan="3">&nbsp;</td>
					}

					@if (item.Detail != null)
					{
						<td>@item.Detail</td>
						<td><span class="float-right">@item.Amount.ToString("C0") </span></td>
						<td>@item.NOTES<br />@item.ReferenceId</td>
						<td><small>@item.CreatedBy<br />@item.CreateDateMDY</small></td>
					}
					else
					{
						<td colspan="4"></td>
					}
				</tr>

						prevId = item.Id;
					}

				</tbody>
			</table>
		</div>

	}

</LoadingComponent>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}