@page "/SukkotAdmin/DonationsTreeGrid/"

@using Syncfusion.Blazor.TreeGrid
@using LivingMessiah.Web.Pages.SukkotAdmin.Donations.Domain

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h3><i class="fas fa-dollar-sign"></i> Donations Tree Grid</h3>
</div>

@**@

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row mt-2">

			@*  ParentIdMapping="ParentId" *@

			<SfTreeGrid AllowSorting="true" DataSource="@DonationReportList"
									IdMapping="Id" TreeColumnIndex="1"
									Height="315" AllowPaging="true"
									Toolbar="@(new List<string>() { "Edit", "Delete", "Update", "Cancel" })">

				<TreeGridPageSettings PageSize="2"></TreeGridPageSettings>

				<TreeGridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"
															Mode="@Syncfusion.Blazor.TreeGrid.EditMode.Row"
															NewRowPosition="Syncfusion.Blazor.TreeGrid.RowPosition.Bottom">
				</TreeGridEditSettings>

				<TreeGridColumns>
					<TreeGridColumn Field=@nameof(DonationReport.Id) HeaderText="Id" Width="35" AllowSorting="true"> </TreeGridColumn>
					<TreeGridColumn Field=@nameof(DonationReport.FirstName) HeaderText="First Name" Width="70" AllowSorting="true"></TreeGridColumn>
					<TreeGridColumn Field=@nameof(DonationReport.FamilyName) HeaderText="Last Name" Width="70" AllowSorting="true"></TreeGridColumn>
					<TreeGridColumn Field=@nameof(DonationReport.EMail) HeaderText="Email" Width="80" AllowSorting="false"></TreeGridColumn>
					<TreeGridColumn Field=@nameof(DonationReport.StatusId) HeaderText="SID" Width="40" AllowSorting="false"></TreeGridColumn>
					<TreeGridColumn Field=@nameof(DonationReport.LocationName) HeaderText="Location" Width="60" AllowSorting="true"></TreeGridColumn>
					<TreeGridColumn Field=@nameof(DonationReport.RegistrationFee) HeaderText="Reg. Fee" Width="60" Format="c0" TextAlign="TextAlign.Right" AllowSorting="false"></TreeGridColumn>
					<TreeGridColumn Field=@nameof(DonationReport.CampCost) HeaderText="Lodging" Width="60" Format="c0" TextAlign="TextAlign.Right" AllowSorting="false"></TreeGridColumn>
					<TreeGridColumn Field=@nameof(DonationReport.TotalDonation) HeaderText="Ttl Don" Width="60" Format="c0" TextAlign="TextAlign.Right" AllowSorting="false"></TreeGridColumn>
					<TreeGridColumn Field=@nameof(DonationReport.AmountDue) HeaderText="Amt Due" Width="70" Format="c0" TextAlign="TextAlign.Right" AllowSorting="false"></TreeGridColumn>

				</TreeGridColumns>
			</SfTreeGrid>

		</div>
	</div>
</div>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}
