@page "/SukkotAdmin/DonationsGridCmdColPopup"
<h3>Donations Grid Cmd Col Popup</h3>

@using Syncfusion.Blazor.Grids
@using LivingMessiah.Web.Pages.SukkotAdmin.Donations.Domain

@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using Syncfusion.Blazor.Popups;

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row">

			<SfGrid ID="MyGrid" @ref="grid" DataSource="DonationDetails" AllowSelection="true">

				<GridEvents CommandClicked="OnCommandClicked" TValue="DonationDetail"> </GridEvents>
				<GridColumns>
					<GridColumn Field="@nameof(DonationDetail.RegistrationId)" HeaderText="Reg ID" TextAlign="TextAlign.Center"></GridColumn>
					<GridColumn Field="@nameof(DonationDetail.Detail)" HeaderText="Detail" TextAlign="TextAlign.Left"></GridColumn>
					<GridColumn Field="@nameof(DonationDetail.ReferenceId)" HeaderText="ReferenceId" TextAlign="TextAlign.Left"></GridColumn>
					<GridColumn Field="@nameof(DonationDetail.CreateDate)" HeaderText="Date" TextAlign="TextAlign.Right" Format="d"></GridColumn>
					<GridColumn Field="@nameof(DonationDetail.CreatedBy)" HeaderText="Created By" TextAlign="TextAlign.Left"></GridColumn>
					<GridColumn HeaderText="View Details" TextAlign="TextAlign.Center" Width="150">

						<GridCommandColumns>
							<GridCommandColumn ButtonOption="@(new CommandButtonOptions() { CssClass="e-icons e-view-details"})" Title="View"></GridCommandColumn>
						</GridCommandColumns>

					</GridColumn>
				</GridColumns>
			</SfGrid>

		</div>
	</div>
</div>


<SfDialog Width="auto" @bind-Visible="@IsVisible" ShowCloseIcon="true" IsModal="false" Target="#MyGrid">
	<DialogTemplates>
		<Header> Employee Information  </Header>
		<Content>
			@{
				<div style="display:inline-flex">
					@if (RowDetails != null)
					{
						<b>Insert IMG</b>
						@*<div style="float:left;padding:45px;padding-top:70px">
							<img class="photo"
										src="@UriHelper.ToAbsoluteUri($"images/data-grid/{RowDetails?.EmployeeId}.png")"
									 alt="@RowDetails?.EmployeeId" />
								</div>*@
					}
					<div style="padding-top:42px">
						<div style="padding-bottom:10px;padding-left:10px;">
							<span style="font-size:large;font-weight: bold">@RowDetails?.Name</span>
						</div>
						<div>
							<span class="position">@RowDetails?.Id</span>
						</div>
						<div style="padding-top:10px;">
							<table class="table">
								<tr>
									<th>Birth Date </th>
									<td>@RowDetails?.CreateDate.ToString("dd/MM/yyyy")</td>
								</tr>
								<tr>
									<th>City </th>
									<td>@RowDetails?.Detail</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

			}
		</Content>
	</DialogTemplates>
	<DialogPositionData X="@Xvalue" Y="@Yvalue"></DialogPositionData>
</SfDialog>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}

<style>

	.table {
		display: table;
		border-collapse: separate;
		border-spacing: 10px;
		font-size: medium;
		text-align: left;
	}

	.position {
		background: #E0E0E0;
		border-radius: 13px;
		text-align: center;
		font-size: 13px;
		padding-top: 10px;
		width: 165px;
		height: 28px;
		padding: 8px 16px;
	}

	.photo {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		border: 2px solid #CBCBCB;
	}

	.styleDialog {
		margin-top: 4px;
	}

	.e-view-details::before {
		content: '\e787';
	}
</style>
