@page "/SukkotAdmin/Donations/Index/"
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.Infrastructure
@using SukkotApi.Domain.Donations.Enums
@using SukkotApi.Domain.Enums
@using SukkotApi.Domain.Registrations.Enums

@*<AuthorizeView Roles="@Roles.SukkotMenuBar">
		<SukkotAdminMenubar></SukkotAdminMenubar>
	</AuthorizeView>
*@

@foreach (var item in BaseDonationStatusFilterSmartEnum.List.OrderBy(o => o.Value))
{
	<a @onclick="@(() => OnClickFilter(item))" title="Filter by @item.ButtonName"
		 class="btn btn-outline-primary btn-sm @ActiveFilter(item)">
		@item.ButtonName &nbsp;<i class="fas fa-chevron-circle-right"></i>
	</a>
}

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h3><i class="fas fa-dollar-sign"></i> Donation Report</h3>
	<h5>
		Fitler: <span class="text-primary">@CurrentFilter.ButtonName</span>;
		Sort: <span class="text-primary">@CurrentSortAndDirection.ColumnName</span>
		<span class="text-black-50">@CurrentSortAndDirection.Order</span>
	</h5>
</div>

<h5 class="text-muted">
	<a href="@LivingMessiah.Web.Links.Sukkot.Donations.ByRegistration"
		 class="btn btn-primary btn-sm float-right">
		<i class="fa fa-table"></i> Details <i class="fas fa-caret-right"></i>
	</a>
</h5>

<TableHeaderExplanation></TableHeaderExplanation>

<LoadingComponent IsLoading="DonationReportList==null && DatabaseWarning==false">

	@if (!DonationReportList.Any())
	{
		<h3 class="text-danger">No Records</h3>
	}
	else
	{
		<div class="table-responsive table-sm">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>

						@if (CurrentFilter != BaseDonationStatusFilterSmartEnum.NoPayments)
						{
							<th>&nbsp;</th>
						}

						<th>
							First Name<br />
							<button @onclick="@(() => SortByFirstName())" class="btn-primary btn-sm"
											title="Sort by first name ascending order">
								<i class='fas fa-chevron-down'></i>
							</button>

							&nbsp;

							<button @onclick="@(() => SortByFirstNameDesc())" class="btn-primary btn-sm"
											title="Sort by first name descending order">
								<i class='fas fa-chevron-up'></i>
							</button>
						</th>

						<th>
							Last Name<br />
							<button @onclick="@(() => SortByLastName())" class="btn-primary btn-sm">
								<i class='fas fa-chevron-down'></i>
							</button>
							&nbsp;
							<button @onclick="@(() => SortByLastNameDesc())" class="btn-primary btn-sm">
								<i class='fas fa-chevron-up'></i>
							</button>
						</th>

						<th>EMail</th>
						<th>LocId</th>
						<th>SId</th>

						@if (IsMealsAvailable)
						{
							<th>Meals</th>
						}

						<th class="text-center">Reg.</th>
						<th class="text-center">Lodge</th>

						<th class="text-center">Donations</th>
						<th class="text-center">Amount Due</th>

						<th>&nbsp;</th>

						<th>Add</th>

					</tr>
				</thead>
				<tbody>

					@foreach (var item in DonationReportList)
					{
						rowCount += 1;
						totalDonation += item.TotalDonation;
						totalSurplus += item.AmountDue;
						totalGrand += (item.TotalDonation + (-1 * item.AmountDue));

					<tr>
						<td>@item.Id</td>


						@if (CurrentFilter != BaseDonationStatusFilterSmartEnum.NoPayments)
						{
							<td>
								@if (item.StatusId != BaseStatusSmartEnum. & item.StatusId != 3)
								{
									<div class="btn-group">
										<a class="btn btn-default btn-sm" title="Drill down" href="/">
											<i class="fas fa-level-down-alt"></i>
										</a>
									</div>
									@* 
										asp-page="@Anchors.Donations.ByRegistrationId"	 
										asp-route-id="@item.Id" 
										asp-route-familyName="@item.FamilyName">
									*@
								}
							</td>

						}

						<td>@StringExtensions.Truncate(item.FirstName, 12)</td>
						<td>@StringExtensions.Truncate(item.FamilyName, 12)</td>

						<td>@item.EMail</td>
						<td class="@Location.FromEnum(item.LocationEnum).TextColor">@Location.FromEnum(item.LocationEnum).ShortDescr</td>
						<td>@item.StatusId</td>

						@if (IsMealsAvailable)
						{
							<td><span class="float-right">@item.MealTotalCost.ToString("C0")</span></td>
						}

						<td><span class="float-right text-danger">@item.RegistrationFee.ToString("C0")</span></td>
						<td><span class="float-right text-danger">@item.CampCost.ToString("C0")</span></td>

						<td><span class="float-right text-success">@item.TotalDonation.ToString("C0")</span></td>


						<td>
							@if (item.AmountDue < 0)
							{
								<span class="text-success float-right"><b>@item.AmountDue.ToString("C0")</b></span>
							}
							else
							{
								<span class="float-right text-warning">@item.AmountDue.ToString("C0")</span>
							}
						</td>


						<td>
							@if (item.StatusId == 5)
							{

								<text><b>X</b></text>
							}
							else
							{
								<text>&nbsp;</text>
							}
						</td>

						<td>

							<div class="btn-group">
								<a class="btn btn-success btn-sm" title="Donations" href="/">
									<i class="fas fa-plus"></i>
								</a>
							</div>

							@*asp-page="@Anchors.Donations.FormInsert" asp-route-id="@item.Id" asp-route-name="@item.FamilyName"*@

						</td>

					</tr>
					}

				</tbody>
			</table>


			<div class="row col-12">
				Sort by Id &nbsp;
				<button @onclick="@(() => SortById())" class="btn-primary btn-sm" title="Sort by id ascending order">
					<i class='fas fa-chevron-up'></i>
				</button>
				&nbsp;
				<button @onclick="@(() => SortByIdDesc())" class="btn-primary btn-sm" title="Sort by id descending order">
					<i class='fas fa-chevron-down'></i>
				</button>
			</div>
		</div>
	}


</LoadingComponent>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}
