@page "/SukkotAdmin/DonationsGridEdit/"


@using Grid = Syncfusion.Blazor.Grids
@*
	ValidationRules' is an ambiguous reference between 'Syncfusion.Blazor.Grids.ValidationRules' and 'Syncfusion.Blazor.Schedule.ValidationRules'
	https://www.code4it.dev/csharptips/using-alias
*@

@using Syncfusion.Blazor.Data
@using LivingMessiah.Web.Pages.SukkotAdmin.Donations.Domain
@using LivingMessiah.Web.Pages.SukkotAdmin.Donations.Data

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row">
			<SfGrid DataSource="@DonationDetails" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">

				<GridEditSettings AllowAdding="true" Mode="EditMode.Dialog"></GridEditSettings>
				@*<GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog" ShowConfirmDialog="false"></GridEditSettings>*@

				<SfDataManager AdaptorInstance="typeof(SyncFusionAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>

				<GridColumns>
					<GridColumn Field="@nameof(DonationDetail.Id)" IsPrimaryKey="true" Visible="false"></GridColumn>
					@*<GridColumn Field="@nameof(DonationDetail.Id)" IsPrimaryKey="true" Width="35" Visible="true" AllowEditing="false" AllowAdding="false" HeaderText="PK #"></GridColumn>*@
					<GridColumn Field="@nameof(DonationDetail.Name)" Width="100" Visible="true" AllowAdding="false"></GridColumn>
					<GridColumn Field="@nameof(DonationDetail.RegistrationId)" Width="35" Visible="true" AllowAdding="false"></GridColumn>
					@*<GridColumn Field="@nameof(DonationDetail.RegistrationId)" Width="35" Visible="true" AllowEditing="false" AllowAdding="false" HeaderText="Reg #"></GridColumn>*@

					@*<GridColumn Field=@nameof(DonationDetail.Detail) HeaderText="#" Width="35" AllowEditing="false" AllowAdding="false"> </GridColumn>*@

					<GridColumn Field=@nameof(DonationDetail.Amount) HeaderText="Amount"
											ValidationRules="@(new Grid.ValidationRules{ Required=true, Range = new double[]{1, 1000}})"
											Width="70" Format="c0" TextAlign="TextAlign.Right">
					</GridColumn>

					<GridColumn Field=@nameof(DonationDetail.Notes) HeaderText="Notes" Width="110"></GridColumn>

					<GridColumn Field=@nameof(DonationDetail.ReferenceId) HeaderText="Reference"
											ValidationRules="@(new Grid.ValidationRules{ Required=true})" Width="120">

						<GridColumn Field=@nameof(DonationDetail.CreateDate) HeaderText="Date"
												ValidationRules="@(new Grid.ValidationRules{ Required=true})"
												EditType="EditType.DatePickerEdit" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="70">

						</GridColumn>

					</GridColumn>

					@* ToDo: make sure I'm adding this automatically *@
					@*<GridColumn Field=@nameof(DonationDetail.CreatedBy) HeaderText="Created by" Width="70" AllowEditing="false"></GridColumn>*@

				</GridColumns>
				<GridEvents TValue="DonationDetail" OnActionFailure="Failure"></GridEvents>
			</SfGrid>

		</div>
	</div>
</div>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}
