@*@page "/SmartEnums/FeastDays"*@
@using LivingMessiah.Web.Pages.KeyDate.Enums

<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center">Feast Days</h4>
	</div>
	<div class="card-body">
		<TableTemplate Items="BaseFeastDaySmartEnum.List.OrderBy(o => o.Value).ToList()">
			<TableHeader>
				<th>Id</th>
				<th>Name</th>
				<th>Hebrew</th>
				<th>Transliteration</th>
				<th>Details</th>
				<th>Add Days</th>
				<th>Add Days Descr</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td>@context.Name</td>
				<td><span class="hebrew16">@context.Hebrew</span></td>
				<td>@context.Transliteration</td>
				<td><small>@context.Details</small></td>
				<td>@context.AddDays</td>
				<td>@context.AddDaysDescr</td>
			</RowTemplate>
		</TableTemplate>
	</div>
	<p class="card-footer text-center">
		Count: @BaseFeastDaySmartEnum.List.Count
		<br /><span class="text-black-50"><small>Source: BaseFeastDaySmartEnum</small></span>
	</p>

</div>
