@*@page "/SmartEnums/LunarMonths"*@
@using LivingMessiah.Web.Pages.KeyDates.Enums

<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center">Lunar Months</h4>
	</div>
	<div class="card-body">
		<TableTemplate Items="LunarMonthSmartEnum.List.OrderBy(o => o.Value).ToList()">
			<TableHeader>
				<th>Id</th>
				<th>Name</th>
				<th>Hebrew</th>
				<th>Biblical Name</th>
				<th>Biblical Hebrew</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td>@context.Name</td>
				<td><span class="hebrew16">@context.Hebrew</span></td>
				<td>@context.BiblicalName </td>
				<td><span class="hebrew16">@context.BiblicalHebrew</span></td>
			</RowTemplate>
		</TableTemplate>
	</div>
	<p class="card-footer text-center">
		Count: @LunarMonthSmartEnum.List.Count
		<br /><span class="text-black-50"><small>Source: LunarMonthSmartEnum</small></span>
	</p>

</div>
