@*@page "/SmartEnums/Seasons"*@
@using LivingMessiah.Web.Pages.KeyDates.Enums

<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center">Seasons</h4>
	</div>
	<div class="card-body">
		<TableTemplate Items="BaseSeasonSmartEnum.List.OrderBy(o => o.Value).ToList()">
			<TableHeader>
				<th>Id</th>
				<th>Name</th>
				<th>Type</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td class="h3"><span class="badge @context.BadgeColor"><i class="@context.Icon"></i> @context.Name</span></td>
				<td>@context.Type</td>
			</RowTemplate>
		</TableTemplate>
	</div>
	<p class="card-footer text-center">
		Count: @BaseSeasonSmartEnum.List.Count
		<br /><span class="text-black-50"><small>Source: BaseSeasonSmartEnum</small></span>
	</p>

</div>

@*
				<th>BadgeColor</th>
				<th>Icon</th>

	<td>@context.Name</td>
				<td><span class="hebrew16">@context.Type</span></td>
				<td>@context.BadgeColor</td>
				<td><small>@context.Icon</small></td>


*@