<h5 class="mt-5 mb-1">@Title</h5>

<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="@Url"
					allowfullscreen></iframe>
</div>

<span class="float-right">
	<a href="https://www.youtube.com/watch?v=@UrlId" target="_blank"
		 title="@Title">
		<i class="fab fa-youtube"></i>
		<u>@UrlId</u>
		<i class="fas fa-external-link-square-alt"></i>
	</a>
</span>


@if (!String.IsNullOrWhiteSpace(Description))
{
	<p>@Description</p>
}
