
<div class="mt-4">
	<TableTemplate Items="CurrentSeasonAnalysisList" HeaderCSS="@HeaderCSS">
		<TableHeader>
			<th>Season</th>
			<th>Previous Date</th>
			<th>Date</th>
			<th class="text-end">Actual <br /> Difference</th>
			<th class="text-end fw-bolder">Acceptable Range</th>
			<th></th>
		</TableHeader>
		<RowTemplate>
			<td>@context.Season</td>
			<td>@context.PreviousDate</td>
			<td>@context.Date</td>
			<td class="text-end">@context.ActualDifference</td>
			<td class="text-end @context.ColorAndFontWeight">@context.AcceptableRange</td>
			<td> <i class="@context.Icon"></i></td>
		</RowTemplate>

	</TableTemplate>
</div>

@code {
	[Parameter, EditorRequired] public List<SeasonAnalysisVM>? ParamSeasonAnalysisList { get; set; }
	protected string? HeaderCSS = "table table-info table-hover";

	protected List<SeasonAnalysisVM>? CurrentSeasonAnalysisList { get; set; }

	protected override void OnParametersSet()
	{
		CurrentSeasonAnalysisList = ParamSeasonAnalysisList;
	}

}
