@using LivingMessiah.Web.Pages.KeyDates.Queries
@using LivingMessiah.Web.Pages.KeyDates.Enums

<div class="card bg-secondary text-white mt-4 mb-0">
	<div class="row mb-3">
		<div class="col-12">

			@if (IsCollapsed)
			{
				<Button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
								class="btn-primary btn-sm float-end">
					Details <i class='fas fa-chevron-down'></i>
				</Button>

			}
			else
			{
				<Button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
								class="btn-primary btn-sm float-end">
					Hide <i class='fas fa-chevron-up'></i>
				</Button>
			}

			<div class="lead">
				<span class="badge bg-warning mt-1 ml-2 p-3">Key Dates Grid</span>
			</div>


		</div>
	</div>
</div>

@if (!IsCollapsed)
{

	<SfGrid ID="Grid" @ref="Grid"
					DataSource="@CalendarEntries"
					AllowFiltering="true">
		<GridEvents TValue="@CalendarEntry" OnActionFailure="Failure"></GridEvents>
		<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>

		<GridTemplates>
			<DetailTemplate>
				@{
					var calendarEntry = (context as CalendarEntry);
				}
				<GridDetail DateTypeEnum="calendarEntry.DateTypeEnum"
										Detail="calendarEntry.Detail"
										Date="calendarEntry.Date">
				</GridDetail>

			</DetailTemplate>
		</GridTemplates>

		<GridSortSettings>
			<GridSortColumns>
				<GridSortColumn Field="@nameof(CalendarEntry.Date)" Direction="SortDirection.Ascending" />
			</GridSortColumns>
		</GridSortSettings>

		<GridColumns>
			<GridColumn Field=@nameof(CalendarEntry.Descr) HeaderText="Description" Width="85"
									AllowSorting="false" AllowFiltering="false">
				<Template>
					@{
						var row = (context as CalendarEntry);
						switch (row.DateTypeEnum)
						{
							case DateTypeEnum.Month:
								{
									@if (IsXsOrSm)
									{
										<h5>
											<span class="badge bg-dark"><i class="far fa-moon"></i> <b>@row.Descr</b></span>
										</h5>

									}
									else
									{
										<h3>
											<span class="badge bg-dark"><i class="far fa-moon"></i> <b>@row.Descr</b></span>
										</h3>
									}
								}

								break;

							case DateTypeEnum.Feast:
								{
									@if (IsXsOrSm)
									{
										<h5>
											<span class="badge bg-info"><i class="fas fa-glass-cheers"></i> <b>@row.Descr</b></span>
										</h5>

									}
									else
									{
										<h3>
											<span class="badge bg-info"><i class="fas fa-glass-cheers"></i> <b>@row.Descr</b></span>
										</h3>
									}
								}
								break;

							case DateTypeEnum.Season:
								{

									@if (IsXsOrSm)
									{
										<h5>
											<span class="badge @BaseSeasonSmartEnum.FromValue(row.Detail).BadgeColor">
												<i class="@BaseSeasonSmartEnum.FromValue(row.Detail).Icon"></i>
												@BaseSeasonSmartEnum.FromValue(row.Detail).Name
												@BaseSeasonSmartEnum.FromValue(row.Detail).Type
											</span>
										</h5>
									}
									else
									{
										<h3>
											<span class="badge @BaseSeasonSmartEnum.FromValue(row.Detail).BadgeColor">
												<i class="@BaseSeasonSmartEnum.FromValue(row.Detail).Icon"></i>
												@BaseSeasonSmartEnum.FromValue(row.Detail).Name
												@BaseSeasonSmartEnum.FromValue(row.Detail).Type
											</span>
										</h3>
									}

								}

								break;

							default:
								break;
						}
					}
				</Template>
			</GridColumn>

			<GridColumn Field=@nameof(CalendarEntry.DateTypeEnum) HeaderText="Type" Width="35" AllowSorting="false"
									FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })">
			</GridColumn>

			<GridColumn Field=@nameof(CalendarEntry.Date) Format="@DateFormat" HeaderText="Date" Width="60"
									AllowSorting="false" AllowFiltering="true">
			</GridColumn>

		</GridColumns>

	</SfGrid>

	@if (!String.IsNullOrEmpty(CachedMsg))
	{
		<p class="text-muted float-end mt-1"><small><sup>@CachedMsg</sup></small></p>
	}
}


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}

@*Hidden:Lines*@

<style type="text/css" class="cssStyles">
	.position {
		background: #E0E0E0;
		border-radius: 13px;
		text-align: center;
		font-size: 13px;
		padding-top: 10px;
		width: 165px;
		height: 28px;
		padding: 8px 16px;
	}

	.table {
		display: table;
		border-collapse: separate;
		border-spacing: 10px;
		font-size: medium;
		text-align: left;
	}
</style>


@*End:Hidden*@