@page "/Calendar"
@page "/KeyDates"
@using Page = LivingMessiah.Web.Links.Calendar

@using static LivingMessiah.Web.Pages.Calendar.ScheduleData

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons;

<div class="pb-1 mt-4 mb-5 border-bottom border-info bor">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>


<div class="card bg-secondary text-white mb-0">
	<div class="row">
		<div class="col-4 ">
			Living Messiah Calendar | @YearId
		</div>

		<div class="col-4 text-center p-1">
			<SfIcon IconCss="oi oi-clock"></SfIcon>
			Jerusalem @SystemTime.ToString("hh:mm:ss tt")
		</div>

		<div class="col-4 justify-content-end">

			<SfButton IconCss="e-icons e-schedule-print" CssClass="title-bar-btn"
								OnClick="OnPrintClick">Print</SfButton>

			<SfDropDownButton Content="Export">
				<DropDownMenuItems>
					<DropDownMenuItem Text="iCalendar" IconCss="e-icons e-schedule-ical-export"></DropDownMenuItem>
					<DropDownMenuItem Text="Excel" IconCss="e-icons e-schedule-excel-export"></DropDownMenuItem>
				</DropDownMenuItems>
				<DropDownButtonEvents ItemSelected="OnExportClick"></DropDownButtonEvents>
			</SfDropDownButton>

		</div>
	</div>
</div>


<div id="ControlRegion">
	<SfSchedule TValue="ReadonlyEventsData" @ref="ScheduleRef"
							MonthsCount="@NumberOfMonths"
							MinDate="@CalendarRange.MinDate" MaxDate="@CalendarRange.MaxDate"
							ShowQuickInfo="true"
							Width="100%" Height="650px"
							@bind-SelectedDate="@CurrentDate" @bind-CurrentView="@ViewNow">

		<ScheduleEventSettings DataSource="@AppointmentDataList"></ScheduleEventSettings>
		<ScheduleEvents TValue="ReadonlyEventsData"
										EventRendered="OnEventRendered" />
		<ScheduleViews>
			<ScheduleView Option="View.Week"></ScheduleView>
			<ScheduleView Option="View.Month"></ScheduleView>
			<ScheduleView Option="View.Year"></ScheduleView>
		</ScheduleViews>

	</SfSchedule>

</div>


<!-- IsXsOrSm="true" -->
<div class="d-md-none">
	<ShowHideGridButton>
		<ChildContent>
			<LivingMessiah.Web.Pages.KeyDates.CalendarGrid YearId="@YearId" IsXsOrSm="true" />
		</ChildContent>
	</ShowHideGridButton>

	@if (CalenderReadyForSale)
	{
		<LmmCalendarAdvertisement CalenderReadyForSale="@CalenderReadyForSale" IsXsOrSm="true" />
	}

</div>

<!-- IsXsOrSm="false" -->
<div class="d-none d-md-block">
	<ShowHideGridButton>
		<ChildContent>
			<LivingMessiah.Web.Pages.KeyDates.CalendarGrid YearId="@YearId" IsXsOrSm="false" />
		</ChildContent>
	</ShowHideGridButton>

	@if (CalenderReadyForSale)
	{
		<LmmCalendarAdvertisement CalenderReadyForSale="@CalenderReadyForSale" IsXsOrSm="false" />
	}

</div>




@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}

