@page "/Calendar"
@page "/KeyDates"

@using Page = LivingMessiah.Web.Links.Calendar
@using LivingMessiah.Web.SmartEnums

<PageTitle>@Page.Title</PageTitle>

<div class="pb-1 mt-4 mb-5 border-bottom border-info">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

@if (printedCalendarEnum == PrintedCalendarEnum.ReadyForSale)
{
	<div class="@MediaQuery.XsOrSm.DivClass">
		<LmmCalendarAdvertisement IsXsOrSm="true" PrintedCalendarEnum="@printedCalendarEnum" Year="@YearId" />
	</div>
	<div class="d-none d-md-block">
		<LmmCalendarAdvertisement IsXsOrSm="false" PrintedCalendarEnum="@printedCalendarEnum" Year="@YearId" />
	</div>
}

<div class="@MediaQuery.XsOrSm.DivClass">
	<div class="card bg-secondary text-white mb-0">
		<CalendarComponent IsXsOrSm="true" YearId="@YearId" />
	</div>
</div>

<div class="@MediaQuery.MdOrLgOrXl.DivClass">
	<CalendarComponent IsXsOrSm="false" YearId="@YearId" />
</div>

<div class="d-md-none">
	<Planner YearId="@YearId" IsXsOrSm="true" />
</div>

<div class="@MediaQuery.MdOrLgOrXl.DivClass">
	<Planner YearId="@YearId" IsXsOrSm="false" />
</div>


<div class="@MediaQuery.Xs.DivClass">
	<Carousel mq="MediaQuery.Xs"/>
</div>		
<div class="@MediaQuery.Sm.DivClass">
	<Carousel mq="MediaQuery.Sm"/>
</div>	
<div class="@MediaQuery.Md.DivClass">
	<Carousel mq="MediaQuery.Md"/>
</div>	
<div class="@MediaQuery.Lg.DivClass">
	<Carousel mq="MediaQuery.Lg"/>
</div>	
<div class="@MediaQuery.Xl.DivClass">
	<Carousel mq="MediaQuery.Xl"/>
</div>	