@page "/Calendar"
@page "/KeyDates"

@using Page = LivingMessiah.Web.Links.Calendar
@using static LivingMessiah.Web.Pages.Calendar.ScheduleData
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons;

<PageTitle>@Page.Title</PageTitle>

<div class="pb-1 mt-4 mb-5 border-bottom border-info">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<!-- IsXsOrSm="true" -->
<div class="d-md-none">
	<LmmCalendarAdvertisement IsXsOrSm="true" PrintedCalendarEnum="@printedCalendarEnum" />
</div>
<!-- IsXsOrSm="false" -->
<div class="d-none d-md-block">
	<LmmCalendarAdvertisement IsXsOrSm="false" PrintedCalendarEnum="@printedCalendarEnum" />
</div>


<!-- IsXsOrSm="true" -->
<div class="d-md-none">
	<div class="card bg-secondary text-white mb-0">
		<div class="row pl-3">

			<div class="col-12 text-center ">
				Living Messiah Calendar
			</div>

		</div>

		<div class="row pr-2">
			<div class="col-12">

				<SfButton IconCss="fas fa-print" CssClass="title-bar-btn"
									OnClick="OnPrintClick">Print</SfButton>

				<SfDropDownButton Content="Export">
					<DropDownMenuItems>
						<DropDownMenuItem Text="iCalendar" IconCss="fas fa-file-download"></DropDownMenuItem>
						<DropDownMenuItem Text="Excel" IconCss="far fa-file-excel"></DropDownMenuItem>
					</DropDownMenuItems>
					<DropDownButtonEvents ItemSelected="OnExportClick"></DropDownButtonEvents>
				</SfDropDownButton>

				<span class="float-right">Jerusalem @SystemTime.ToString("hh:mm:ss tt")</span>

			</div>
		</div>

	</div>
</div>

<!-- IsXsOrSm="false" -->
<div class="d-none d-md-block">

	<div class="card bg-secondary text-white mb-0">
		<div class="row pl-3">

			<div class="col-4">

				<SfButton IconCss="fas fa-print" CssClass="title-bar-btn"
									OnClick="OnPrintClick">Print</SfButton>

				<SfDropDownButton Content="Export">
					<DropDownMenuItems>
						<DropDownMenuItem Text="iCalendar" IconCss="fas fa-file-download"></DropDownMenuItem>
						<DropDownMenuItem Text="Excel" IconCss="far fa-file-excel"></DropDownMenuItem>
					</DropDownMenuItems>
					<DropDownButtonEvents ItemSelected="OnExportClick"></DropDownButtonEvents>
				</SfDropDownButton>

			</div>

			<div class="col-4 ">
				Living Messiah Calendar
			</div>

			<div class="col-4 text-center">
				Jerusalem @SystemTime.ToString("hh:mm:ss tt")
			</div>
		</div>
	</div>

</div>


<div id="ControlRegion">
	<SfSchedule TValue="ReadonlyEventsData" @ref="ScheduleRef"
							ShowQuickInfo="true"
							Width="100%" Height="650px"
							@bind-SelectedDate="@CurrentDate" @bind-CurrentView="@ViewNow">

		<ScheduleEventSettings DataSource="@AppointmentDataList"></ScheduleEventSettings>
		<ScheduleEvents TValue="ReadonlyEventsData"
										EventRendered="OnEventRendered" />
		<ScheduleViews>
			<ScheduleView Option="View.Week"></ScheduleView>
			<ScheduleView Option="View.Month"></ScheduleView>
			<ScheduleView Option="View.Year"></ScheduleView>
		</ScheduleViews>

	</SfSchedule>

</div>

@if (!String.IsNullOrEmpty(CachedMsg))
{
	<p class="text-muted float-right mt-1"><small><sup>@CachedMsg</sup></small></p>
}

<div class="d-md-none">
	<CalendarGrid YearId="@YearId" IsXsOrSm="true" />
</div>

<!-- IsXsOrSm="false" -->
<div class="d-none d-md-block">
	<CalendarGrid YearId="@YearId" IsXsOrSm="false" />
</div>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}

