@page "/LunarMonthTable"

@using Page = LivingMessiah.Web.Links.Calendar.LunarMonthTable
<PageTitle>@Page.Title</PageTitle>

<div class="pb-1 mt-4 mb-5 border-bottom border-info">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>


<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center">Lunar Months</h4>
	</div>
	<div class="card-body">
		<TableTemplate Items="Calendar.Enums.LunarMonth.List.OrderBy(o => o.Value).ToList()">
			<TableHeader>
				<th class="text-info">Id</th>
				<th class="text-info">Name</th>
				<th class="text-info">Hebrew</th>
				<th class="text-info">Full Name</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td>@context.Name</td>
				<td><span class="hebrew">@context.Hebrew</span> </td>
				<td>@context.FullName</td>
			</RowTemplate>
		</TableTemplate>
	</div>
</div>

@*<h4 class="card-title text-center"><code>Calendar.Enums.LunarMonth.List</code></h4>*@

