@using LivingMessiah.Web.SmartEnums
@using PageFeast = LivingMessiah.Web.Pages.Feasts.LinkSmartEnums.FeastLinks
@using PageMonth = LivingMessiah.Web.Pages.Feasts.LinkSmartEnums.FeastLinks.LunarMonth

<div class="pb-1 mt-5 mb-0 border-bottom border-info">
	<h2><i class="far fa-map"></i> Planner</h2>
</div>

<div class=" row mt-4">
	<div class="col-12">
		@foreach (var item in Enums.DateTypeFilter.List.OrderBy(o => o.Value))
		{
			<a @onclick="@(() => OnClickFilter(item))" title="Filter by @item.ButtonName"
				 class="btn btn-outline-primary btn-sm @ActiveFilter(item)">
				@item.ButtonName &nbsp;<i class="fas fa-filter"></i>
			</a>
		}
	</div>
</div>

<LoadingComponent IsLoading="PlannerQueries==null">
	<div class="card bg-light p-2">

		@foreach (var row in PlannerQueries!)
		{
			<div class=" row mb-3">
				<div class="col-md-6 col-lg-8">
					<span class="@DateCSS">@row.Date.ToString(DateFormat)</span>
				</div>

				<div class="col-md-6 col-lg-4">
					<HeaderRow DateTypeId="@row.DateTypeId" EnumId="@row.EnumId" Descr="@row.Description" />
				</div>
			</div>

			@if (row.FeastDay is not null && row.FeastDay.HasCalendarDetails)
			{
				<FeastDayCalendarDetails FeastDay="row.FeastDay" Date="row.Date" />
			}
		}

		@if (@CurrentFilter == Enums.DateTypeFilter.Feast)
		{
			<div class="card-footer">
				<a href="@PageFeast.Index"
					 class="btn btn-primary btn-sm float-end">
					@PageFeast.Title related verses <span class="fas fa-caret-right"></span>
				</a>
			</div>
		}
		else
		{
			@if (@CurrentFilter == Enums.DateTypeFilter.Month)
			{
				<div class="card-footer">
					<a href="@PageMonth.Index"
						 class="btn btn-primary btn-sm float-end">
						@PageMonth.Title related verses <span class="fas fa-caret-right"></span>
					</a>
				</div>

			}
		}

	</div>

</LoadingComponent>




