@page "/parasha/Archive"
@using LivingMessiah.Web.Pages.Parasha.Components
@using Page = LivingMessiah.Web.Links.Parasha
<PageTitle>@Page.Archive.Title</PageTitle>

<SubNavBar UseDarkMode="false"></SubNavBar>
@*<MenuBar ParashaEnum="@LivingMessiah.Web.LinkSmartEnums.ParashaLink.Archive"/>*@

<div class="pb-2 mt-4 mb-2 border-bottom">

	<h1><i class="@Page.Archive.Icon"></i> @Page.Archive.Title</h1>

	@*<BackButton Href="@Page.Index" Text="@Page.BackToButtonText"/>*@

	<div class="mt-3">
		<SfTab CssClass="">
			<TabItems>

				<TabItem>
					<ChildContent>
						<TabHeader Text="Leviticus"></TabHeader>
					</ChildContent>
					<ContentTemplate>
						<LeviticusStaticTable></LeviticusStaticTable>
					</ContentTemplate>
				</TabItem>

				<TabItem>
					<ChildContent>
						<TabHeader Text="Numbers"></TabHeader>
					</ChildContent>
					<ContentTemplate>
						<NumbersStaticTable></NumbersStaticTable>
					</ContentTemplate>
				</TabItem>

				<TabItem>
					<ChildContent>
						<TabHeader Text="Deuteronomy"></TabHeader>
					</ChildContent>
					<ContentTemplate>
						<DeuteronomyStaticTable></DeuteronomyStaticTable>
					</ContentTemplate>
				</TabItem>

				<TabItem>
					<ChildContent>
						<TabHeader Text="Genesis"></TabHeader>
					</ChildContent>
					<ContentTemplate>
						<GenesisStaticTable></GenesisStaticTable>
					</ContentTemplate>
				</TabItem>

			</TabItems>
		</SfTab>
	</div>

</div>
