@page "/Database/ErrorLog/"

<div class="row">
  <div class="col-12 my-2">
    <button type="button" @onclick="LogErrorTest_ButtonClick"	class="btn btn-danger btn-sm ">
			<i class="fas fa-times"></i> Log Error Test
    </button>
    <button  @onclick="EmptyErrorLog_ButtonClick" class="btn btn-danger btn-sm">
      <i class="fas fa-times"></i> Empty Log
    </button>
  </div>
</div>

<LoadingComponent IsLoading="ErrorLogs == null">
	<h4 class="mt-3">
		<i class="fas fa-bug"></i> Database Error Log
		<br />
		<small>Affected Rows=@AffectedRows</small>
	</h4>

	<TableTemplate Items="ErrorLogs">
		<TableHeader>
			<th>SPROC</th>
			<th>#</th>
			<th>Line</th>
			<th>Error Message</th>
			<th>Id</th>
			<th>How<br />Old</th>
			<th>Error Time</th>
		</TableHeader>
		<RowTemplate>
			<td>@context.ErrorProcedure</td>
			<td>@context.ErrorNumber</td>
			<td>@context.ErrorLine</td>
			<td>@context.ErrorMessage</td>
			<td>@context.ErrorLogID</td>
			<td>@context.HowLongAgoHMS</td>
			<td>@context.ErrorTime2</td>
		</RowTemplate>
	</TableTemplate>

</LoadingComponent>


@code {

}
