@using LivingMessiah.Web.Features.Calendar.Enums
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations


<div class="pb-1 mt-5 mb-0 border-bottom border-info">
	@if (mq==MediaQuery.Xs)
	{
		<h3><i class="far fa-sticky-note"></i> Living Messiah Calendar | @Year.ImageName</h3>
	}
	else
	{
	<h2><i class="far fa-sticky-note"></i> Living Messiah Calendar | @Year.ImageName</h2>
	}
</div>

<div class="carousel-section">
	<SfCarousel AutoPlay="false" Width="@width" Height="@height" ID="carousel" ButtonsVisibility="CarouselButtonVisibility.Visible">

		@foreach (var item in CarouselMonths.List.OrderBy(o => o.Value).ToList())
		{
			<CarouselItem>
				<figure class="img-container">
					<img src='@Blobs.UrlCalendar(item.Image)' alt="@item.Caption" style="height:100%;width:100%;" />
					<a href='@Blobs.UrlCalendar(item.ImageFullSize)' class="img-caption text-center" target="_blank">
						@item.Caption <i class="fas fa-external-link-square-alt"></i>
					</a>
				</figure>
			</CarouselItem>
		}

	</SfCarousel>
</div>
