@page "/FeastSfSchedule"
@using Syncfusion.Blazor.Schedule;
@using static LivingMessiah.Web.Features.Calendar.ScheduleData
@using LivingMessiah.Web.Infrastructure
@using static LivingMessiah.Web.Features.Shavuot.Domain.OmerGematriaFactory

@using Page = LivingMessiah.Web.Links.Calendar.FeastSfSchedule

@inject Data.IService? svc

<PageTitle>@Page.Title</PageTitle>

<div class="pb-1 mt-4 mb-5 border-bottom border-info">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<div id="ControlRegion">
	<SfSchedule TValue="ReadonlyEventsData" @ref="ScheduleRef"
							ShowQuickInfo="true"
							CssClass="schedule-overview" Width="100%" Height="650px"
	@bind-SelectedDate="@CurrentDate" @bind-CurrentView="@ViewNow">

		<ScheduleEventSettings DataSource="@AppointmentDataList"></ScheduleEventSettings>
		<ScheduleEvents TValue="ReadonlyEventsData"
										EventRendered="OnEventRendered" />
		<ScheduleViews>
			<ScheduleView Option="View.Week"></ScheduleView>
			<ScheduleView Option="View.Month"></ScheduleView>
			<ScheduleView Option="View.Year"></ScheduleView>
		</ScheduleViews>

	</SfSchedule>

</div>

@code {

	public View ViewNow = View.Month;

	List<DropDownData> ViewData = new List<DropDownData>() {
				new DropDownData { Name = "Week", Value = View.Week },
				new DropDownData { Name = "Month", Value = View.Month },
				new DropDownData { Name = "Year", Value = View.Year }
		};

	public class DropDownData
	{
		public string? Name { get; set; }
		public View? Value { get; set; }
	}

	public DateTime CurrentDate = DateTime.Now;

	protected Syncfusion.Blazor.Schedule.SfSchedule<ScheduleData.ReadonlyEventsData>? ScheduleRef;

	protected List<ScheduleData.ReadonlyEventsData>? AppointmentDataList { get; set; }

	public void OnEventRendered(EventRenderedArgs<ReadonlyEventsData> args)
	{
		args.Attributes = ScheduleData.ApplyCategoryColor(
			args.Data.CategoryColor!, args.Attributes, ViewNow);
	}

	protected override void OnInitialized()
	{
		AppointmentDataList = new List<ScheduleData.ReadonlyEventsData>();
		AppointmentDataList = svc!.GetData();
	}



}
