@using PageFeast = LivingMessiah.Web.Features.Feasts.FeastLinks
@using PageMonth = LivingMessiah.Web.Features.Feasts.FeastLinks.LunarMonth

@using LivingMessiah.Web.Features.Calendar.PlannerComponent

<div class="pb-1 mt-5 mb-0 border-bottom border-info">
	<h2><i class="far fa-map"></i> Planner</h2>
</div>

<div class=" row mt-4">
	<div class="col-12">
		@foreach (var item in Enums.DateType.List.OrderBy(o => o.Value))
		{
			<a @onclick="@(() => OnClickFilter(item))" title="Filter by @item.FilterLabel"
				 class="btn btn-outline-primary btn-sm @ActiveFilter(item)">
				@item.FilterLabel &nbsp;<i class="fas fa-filter"></i>
			</a>
		}
	</div>
</div>

<div class="card bg-light p-2">

	@if (CurrentFilter == Enums.DateType.Feast)
	{
		@foreach (var feastDay in Enums.FeastDay.List.OrderBy(o => o.Date).ToList())
		{

			<div class=" row mb-3">
				<div class="col-md-6 col-lg-8">
					@((MarkupString)MarkupLiterals.FormatedDate(IsXsOrSm, feastDay.Date))
				</div>

				<div class="col-md-6 col-lg-4">
					@((MarkupString)MarkupLiterals.HeaderOther(feastDay.Date, Enums.DateType.Feast, feastDay.Name))
				</div>
			</div>

			<FeastDayCalendarDetails FeastDay="feastDay" Date="feastDay.Date" />

		}

		<div class="card-footer">
			<a href="@PageFeast.Index"
				 class="btn btn-primary btn-sm float-end">
				@PageFeast.Title related verses <span class="fas fa-caret-right"></span>
			</a>
		</div>
	}

	@if (CurrentFilter == Enums.DateType.Season)
	{
		@foreach (var season in Enums.Season.List.OrderBy(o => o.Date).ToList())
		{

			<div class=" row mb-3">
				<div class="col-md-6 col-lg-8">
					@((MarkupString)MarkupLiterals.FormatedDate(IsXsOrSm, season.Date))
				</div>

				<div class="col-md-6 col-lg-4">
					@((MarkupString)MarkupLiterals.HeaderSeason(season.Date, season))
				</div>
			</div>
		}
	}

	@if (CurrentFilter == Enums.DateType.Month)
	{
		@foreach (var month in Enums.LunarMonth.List.OrderBy(o => o.Date).ToList())
		{

			<div class=" row mb-3">
				<div class="col-md-6 col-lg-8">
					@((MarkupString)MarkupLiterals.FormatedDate(IsXsOrSm, month.Date))
				</div>

				<div class="col-md-6 col-lg-4">
					@((MarkupString)MarkupLiterals.HeaderOther(month.Date, Enums.DateType.Month, month.Name))
				</div>
			</div>
		}

		<div class="card-footer">
			<a href="@PageMonth.Index"
				 class="btn btn-primary btn-sm float-end">
				@PageMonth.Title related verses <span class="fas fa-caret-right"></span>
			</a>
		</div>
	}

</div>

@code {
	[Parameter] public bool IsXsOrSm { get; set; }

	public Enums.DateType CurrentFilter { get; set; } = Enums.DateType.Feast;
	protected void OnClickFilter(Enums.DateType newFilter)
	{
		CurrentFilter = newFilter;
	}

	public string ActiveFilter(Enums.DateType filter)
	{
		if (filter == CurrentFilter)
		{
			return "active";
		}
		else
		{
			return "";
		}
	}
}