

<LoadingComponent IsLoading="NotesList == null" TurnSpinnerOff="@TurnSpinnerOff">

	@if (!NotesList!.Any())
	{
		<h3 class="text-danger">No Registrations that have notes yet</h3>
	}
	else
	{
		<div class="row">
			<div class="col-12">
				<p class="text-black-50 float-end mt-3 mb-1"><small>Row Count: <b>@NotesList!.Count()</b></small></p>
			</div>
		</div>

		

		@foreach (var item in NotesList!)
		{
			<div class="card text-dark bg-light mb-3">


				<div class="card-header">

					<div class="container d-flex justify-content-between">
						<p><b>@item.FirstName @item.FamilyName</b></p>
						<p>
							<a href="tel:@item.Phone" title="@item.PhoneNumber">@item.PhoneNumber</a>&nbsp;<i class="fa fa-phone"></i>
						</p>
						<p>
							<a href="mailto:@item.EMail" title="@item.EMail">@item.EMail</a>&nbsp;<i class="far fa-envelope"></i>
						</p>
					</div>

				</div>


				@if (CurrentFilter == Enums.NotesFilter.All)
				{
					<div class="row">
						<div class="col-sm-6">

							@if (!String.IsNullOrEmpty(item.AdminNotes))
							{
								<div class="card-body @Enums.NotesFilter.Admin.CssBgColor">
									@* <h4 class="mb-1"><b>Admin Notes</b></h4> *@
									<p class="card-text">@item.AdminNotes </p>
								</div>
							}
						</div>
						<div class="col-sm-6">
							@if (!String.IsNullOrEmpty(item.UserNotes))
							{
								<div class="card-body @Enums.NotesFilter.User.CssBgColor">
									@* <h4 class="mb-1"><b>User Notes</b></h4> *@
									<p class="card-text">@item.UserNotes </p>
								</div>
							}
						</div>
					</div>
				}
				else
				{
					@if (!String.IsNullOrEmpty(item.AdminNotes))
					{
						<div class="card-body @Enums.NotesFilter.Admin.CssBgColor">
							<p class="card-text ms-5">@item.AdminNotes </p>
						</div>
					}

					@if (!String.IsNullOrEmpty(item.UserNotes))
					{
						<div class="card-body @Enums.NotesFilter.User.CssBgColor">
							<p class="card-text ms-5">@item.UserNotes </p>
						</div>
					}	
				}




			</div>



		}
	}

</LoadingComponent>