@* 
<EditForm class="d-flex" Model="TypeaheadVM" OnValidSubmit="HandleFormSubmit">

	<BlazoredTypeahead SearchMethod="SearchNotes"
	@bind-Value="TypeaheadVM.Name"
										 EnableDropDown="true"
										 MaximumSuggestions="10"
										 MinimumLength="2"
										 placeholder="Search name...">
		<SelectedTemplate Context="mycontext">
			@mycontext.Name
		</SelectedTemplate>
		<HelpTemplate>
			Please enter at least 2 characters to perform a search.
		</HelpTemplate>
		<ResultTemplate Context="mycontext">
			@mycontext.FirstName  &nbsp; @mycontext.FamilyName
		</ResultTemplate>
	</BlazoredTypeahead>
	 <ValidationMessage For="@(() => TypeaheadVM.SelectedBook)" /> 
	<button class="btn btn-outline-primary btn-sm ms-1 me-2" type="submit"><i class="fas fa-search"></i></button>
</EditForm>
 *@
<LoadingComponent IsLoading="NotesList == null" TurnSpinnerOff="@TurnSpinnerOff">

	@if (!NotesList!.Any())
	{
		<h3 class="text-danger">No Registrations that have notes yet</h3>
	}
	else
	{
		@foreach (var item in NotesList!)
		{
			<div class="card text-dark bg-light mb-3">


				<div class="card-header">

					<div class="container d-flex justify-content-between">
						<p><b>@item.FirstName @item.FamilyName</b></p>
						<p>
							<a href="tel:@item.Phone" title="@item.PhoneNumber">@item.PhoneNumber</a>&nbsp;<i class="fa fa-phone"></i>
						</p>
						<p>
							<a href="mailto:@item.EMail" title="@item.EMail">@item.EMail</a>&nbsp;<i class="far fa-envelope"></i>
						</p>
					</div>

				</div>

				<div class="card-body @CurrentFilter.CssBgColor">
					<p class="card-text ms-5">@item.AdminOrUserNotes </p>
				</div>

			</div>
		}
	}

</LoadingComponent>