@using Microsoft.Extensions.Logging
@using Page = LivingMessiah.Web.Links.Sukkot.Notes

@inject ILogger<DetailsCard>? Logger
@inject IDispatcher Dispatcher
@inject IState<State>? State


@if (CurrentNote is not null)
{
	<div class="card text-dark bg-light my-4">
		<div class="card-header">

			<div class="container d-flex justify-content-between">
				<p><b>@CurrentNote.FirstName @CurrentNote.FamilyName</b></p>
				<p>
					<a href="tel:@CurrentNote.Phone" title="@CurrentNote.PhoneNumber">@CurrentNote.PhoneNumber</a>&nbsp;<i class="fa fa-phone"></i>
				</p>
				<p>
					<a href="mailto:@CurrentNote.EMail" title="@CurrentNote.EMail">@CurrentNote.EMail</a>&nbsp;<i class="far fa-envelope"></i>
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-6">

				@if (!String.IsNullOrEmpty(CurrentNote.AdminNotes))
				{
					<div class="card-body @Enums.NotesFilter.Admin.CssBgColor">
						<h4 class="mb-1"><b>Admin Notes</b></h4>
						<p class="card-text">@CurrentNote.AdminNotes </p>
					</div>
				}
			</div>
			<div class="col-sm-6">
				@if (!String.IsNullOrEmpty(CurrentNote.UserNotes))
				{
					<div class="card-body @Enums.NotesFilter.User.CssBgColor">
						<h4 class="mb-1"><b>User Notes</b></h4>
						<p class="card-text">@CurrentNote.UserNotes </p>
					</div>
				}
			</div>
		</div>

		<div class="d-print-none">
			<div class="card-footer text-center">

				<button @onclick="Close"
								class="btn-primary btn">
					Close <i class='fas fa-times'></i>
				</button>
			</div>
		</div>

	</div>

}

@code {

	[Parameter, EditorRequired] public required Notes? SelectedNote { get; set; }
	protected Notes? CurrentNote { get; set; }

	protected override void OnParametersSet()
	{
		string inside = $"{nameof(DetailsCard)}!{nameof(OnParametersSet)}";
		Logger!.LogDebug(string.Format("Inside {0}", inside));

		if (State!.Value.SelectedNote is not null)
		{
			CurrentNote = State!.Value.SelectedNote;
			Logger!.LogDebug(string.Format("...CurrentNote.FirstName: {0}", CurrentNote.FirstName));
		}
		else
		{
			Logger!.LogDebug(string.Format("State!.Value.SelectedNote IS null"));
		}
	}

	void Close()
	{
		Dispatcher!.Dispatch(new Set_SelectedNote_Action(null));
		Dispatcher!.Dispatch(new Set_ShowDetailCard_Action(false));
	}
}
