@page "/SukkotAdmin/Notes/"

@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@using Page = LivingMessiah.Web.Links.Sukkot.Notes
<PageTitle>@Page.Title</PageTitle>

<AuthorizeView Roles="@Roles.AdminOrSukkot">
	<Authorized>

		<div class="d-print-none">
			<a class="btn btn-sm btn-default float-end" href="javascript:window.print()">
				<span class="fa fa-print"></span> Print
			</a>
		</div>

		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h3> <span class="text-warning"><i class="fa fa-sticky-note"></i></span> @Page.Title</h3>
		</div>



		<div class="row">
			<div class="col-sm-6">
				<TypeaheadEditForm OnNoteSelected="@ReturnedNote" />
			</div>
			<div class="col-sm-6">
				<Filter OnFilterSelected="@ReturnedFilter" ShowDetailCard=showDetailCard />
			</div>
		</div>

		@if (showDetailCard)
		{
		<DetailsCard SelectedNote="currentNote" />
		}
		else
		{
		<Card CurrentFilter="@currentFilter" />
		}


	</Authorized>
	<NotAuthorized>
		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>
			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<LoginRedirectButton ReturnUrl="@Page.Index" />
			</div>
		</div>
	</NotAuthorized>
</AuthorizeView>

@code {
	protected Enums.NotesFilter currentFilter = Enums.NotesFilter.All;

	private async Task ReturnedFilter(Enums.NotesFilter filter)
	{
		await Task.Delay(0);
		currentFilter = filter;
	}

	protected Notes? currentNote = default;
	protected bool showDetailCard = false;

	private async Task ReturnedNote(ReturnArgs returnArgs)
	{
		await Task.Delay(0);
		currentNote = returnArgs.DetailNote;
		showDetailCard = returnArgs.ShowDetailCard;
	}
}