@page "/SukkotAdmin/AttendanceAllFeastDays/"
@using LivingMessiah.Web.Pages.SukkotAdmin.Constants
@using static LivingMessiah.Web.Links.Sukkot
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

<div class="d-print-none">
	<div class="float-right">
		<a href="@AttendanceChart"
			 class="btn btn-info btn-sm">
			<i class="fas fa-chart-line fa-lg"></i>
			Chart
		</a>
	</div>
</div>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h3><i class="fas fa-calculator"></i> Attendance Count</h3>
	<h5>The attendance for every day followed by a summary of people who attended regardless of which day(s).</h5>
</div>

<LoadingComponent IsLoading="AttendanceAllFeastDaysList == null">

	@if (!AttendanceAllFeastDaysList.Any())
	{
		<h3 class="text-danger">No Records</h3>
	}
	else
	{
		<div class="table-responsive">
			<table class="table table-sm table-bordered table-striped">
				<thead>
					<tr>
						<th>Day<br />#</th>
						<th>Day </th>
						<th>Adults</th>
						<th>Child<br />Big</th>
						<th>Child<br />Small</th>
						<th><br />Total</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in AttendanceAllFeastDaysList)
					{
						gtPeeps += item.TotalPeeps;
						<tr>
							<td>@item.Id</td>
							<td>@item.FeastDay2</td>
							<td><span class="text-center">@item.Adults</span></td>
							<td><span class="text-center">@item.ChildSmall</span></td>
							<td><span class="text-center">@item.ChildSmall</span></td>
							<td><b><span class="text-center">@item.TotalPeeps</span></b></td>

						</tr>
					}
					<tr>
						<td colspan="4"></td>
						<td><h3><span class="badge badge-success">Total</span></h3></td>
						<td><h3><span class="badge badge-success"><b>@gtPeeps</b></span></h3></td>
					</tr>

					<tr>
						<td colspan="6">&nbsp;</td>
					</tr>

					@if (AttendancePeopleSummary == null)
					{
						<tr>
							<td colspan="5"></td>
							<td>No Records for People Summary</td>
						</tr>

					}
					else
					{
						<tr>
							<td colspan="2">People Summary</td>
							<td><span class="text-center">@AttendancePeopleSummary.Adults</span></td>
							<td><span class="text-center">@AttendancePeopleSummary.ChildSmall</span></td>
							<td><span class="text-center">@AttendancePeopleSummary.ChildSmall</span></td>
							<td><b><span class="text-center">@AttendancePeopleSummary.TotalPeeps</span></b></td>
						</tr>

					}


				</tbody>
			</table>
		</div>
	}

</LoadingComponent>