@page "/SukkotAdmin/AttendanceChart/"
@using LivingMessiah.Web.Pages.SukkotAdmin.Constants
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot

@using Page = LivingMessiah.Web.Links.Sukkot
<PageTitle>@Page.Title</PageTitle>

@{
	//var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.XLabelAges.ToList());
	//var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Columns.Select(w => w.ColumnParts.Select(x => x.Days).ToList()));
	//var label2 = Newtonsoft.Json.JsonConvert.SerializeObject(Model.YLabelDays.ToList());
}

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

<div class="d-print-none">
	<div class="float-right">
		<a href="@Page.AttendanceAllFeastDays"
			 class="btn btn-info btn-sm">
			<i class="fa fa-calculator fa-lg"></i>
			Table
		</a>
	</div>
</div>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h3><i class="fas fa-chart-line"></i> Attendance Chart</h3>
</div>

<div class="box-body">
	<div class="chart-container">
		<canvas id="chartStacked" style="width:100%; height:500px"></canvas>
	</div>
</div>

<p class="text-danger jumbotron">CHART NOT DONE</p>

@*
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<script type="text/javascript">
					$(function () {
							var chartName = "chartStacked";
							var ctx = document.getElementById(chartName).getContext('2d');
							var XLabels = @Html.Raw(XLabels);
							var YValues = @Html.Raw( YValues );
							var label = @Html.Raw( label2 );
							var aux = 0;

							var barChartData = {
									labels:  @Html.Raw(label2),
									datasets: []
							}

							XLabels.forEach(function (a, i) {
									var data = [];
									YValues.forEach(function (a, i) {
											data.push(a[aux]);
									});

							barChartData.datasets.push({
									label: XLabels[aux],
									backgroundColor: random_rgba(),
									data: data
									});
									aux++;
							});
							var options = {
									maintainAspectRatio: false,
									scales: {
											yAxes: [{
													ticks: {
															min: 0,
															beginAtZero: true
													},
													stacked: true,
													gridLines: {
														display: true,

															color: "rgba(255,99,164,0.2)"
													}
											}],
											xAxes: [{
													stacked: true,
													gridLines: {
															display: false
													}
											}]
									}
							};
							function random_rgba() {
									var o = Math.round, r = Math.random, s = 255;
									return 'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',' + r().toFixed(1) + ')';
							}
							var myChart = new Chart(ctx, {
									options: options,
									data: barChartData,
									type: 'bar'

							});
					});
	</script>
*@
