@page "/BlazorSyncFusion"
<PageTitle>Blazor SyncFusion</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2>Blazor SyncFusion</h2>
</div>

<h4>Calendars\Calendar</h4>

<ul>
	<li><a href='@GetUrl("Calendar/Default-Functionalities")' target="_blank">Calendar/Default-Functionalities</a></li>
	<li><a href='@GetUrl("Calendar/Date-Range")' target="_blank">Calendar/Date-Range</a></li>
	<li><a href='@GetUrl("Calendar/Disabled-Dates")' target="_blank">Calendar/Disabled-Dates</a></li>
	<li><a href='@GetUrl("Calendar/Month-Picker")' target="_blank">Calendar/Month-Picker</a></li>
	<li><a href='@GetUrl("Calendar/Multi-Selection")' target="_blank">Calendar/Multi-Selection</a></li>
	<li><a href='@GetUrl("Calendar/Week-Number")' target="_blank">Calendar/Week-Number</a></li>
</ul>

<h4>Grid</h4>
<ul>
	<li><a href='@GetUrl("DataGrid/cell-edit-template")' target="_blank">DataGrid/Cell-Edit-Template</a></li>
	<li><a href='@GetUrl("DataGrid/GridSearch")' target="_blank">DataGrid/GridSearch</a></li>
	<li><a href='@GetUrl("DataGrid/grid-dialog-template")' target="_blank">Calendar/Grid-Dialog-Template</a></li>
</ul>

<h4>DatePicker</h4>
<h4>DateRangePicker</h4>
<h4>DateTimePicker</h4>
<h4>TimePicker</h4>

<h4>Schedule</h4>
<li><a href='@GetUrl("scheduler/agenda-view")' target="_blank">Scheduler/Agenda-View</a> <code>SfDropDownList</code> of True/False or False/True  </li>

@code {
	private string GetUrl(string s)
	{
		return "/BlazorSyncFusion/" + s;
	}
}

@*
	@page "/BlazorSyncFusion/"
	Barcodes
	Buttons
	Calendars
	Cards
	Charts
	CircularGauge
	Diagram
	DiagramComponent
	DocumentEditor
	DropDowns
	Editors
	FileFormats
	Forms
	GanttChart
	Grid
	HeatMapChart
	Index.razor
	Inputs
	Kanban
	Layouts
	LinearGauge
	Maps
	Navigations
	Notifications
	PivotView
	Popups
	ProgressBar
	RichTextEditor
	SampleList.cs
	Schedule
	TreeGrid
	TreeMap
	Viewer
	Barcodes\Barcode
	Barcodes\SampleList.cs
	Barcodes\Barcode\Codabar.razor
	Barcodes\Barcode\Code128.razor
	Barcodes\Barcode\Code128A.razor
	Barcodes\Barcode\Code128B.razor
	Barcodes\Barcode\Code128C.razor
	Barcodes\Barcode\Code32.razor
	Barcodes\Barcode\Code39.razor
	Barcodes\Barcode\Code39Extension.razor
	Barcodes\Barcode\Code93.razor
	Barcodes\Barcode\DataMatrix.razor
	Barcodes\Barcode\DefaultFunctionalities.razor
	Barcodes\Barcode\Ean13.razor
	Barcodes\Barcode\QRCode.razor
	Barcodes\Barcode\UpcA.razor
	Barcodes\Barcode\UpcE.razor
	Buttons\Button
	Buttons\Chips
	Buttons\SampleList.cs
	Buttons\Button\ButtonGroup.razor
	Buttons\Button\CheckBox.razor
	Buttons\Button\DefaultFunctionalities.razor
	Buttons\Button\DropDownButton.razor
	Buttons\Button\ProgressButton.razor
	Buttons\Button\RadioButton.razor
	Buttons\Button\SplitButton.razor
	Buttons\Button\Switch.razor
	Buttons\Chips\API.razor
	Buttons\Chips\DefaultFunctionalities.razor
	Calendars\Calendar
	Calendars\DatePicker
	Calendars\DateRangePicker
	Calendars\DateTimePicker
	Calendars\SampleList.cs
	Calendars\TimePicker
	Calendars\Calendar\DateRange.razor
	Calendars\Calendar\DefaultFunctionalities.razor
	Calendars\Calendar\DisabledDates.razor
	Calendars\Calendar\MonthPicker.razor
	Calendars\Calendar\MultiSelection.razor
	Calendars\Calendar\WeekNumber.razor
	Calendars\DatePicker\DateRange.razor
	Calendars\DatePicker\DefaultFunctionalities.razor
	Calendars\DatePicker\DisabledDates.razor
	Calendars\DatePicker\Format.razor
	Calendars\DatePicker\FormsValidation.razor
	Calendars\DatePicker\MonthPicker.razor
	Calendars\DatePicker\WeekNumber.razor
	Calendars\DateRangePicker\DateRange.razor
	Calendars\DateRangePicker\DaySpan.razor
	Calendars\DateRangePicker\DefaultFunctionalities.razor
	Calendars\DateRangePicker\Format.razor
	Calendars\DateRangePicker\FormsValidation.razor
	Calendars\DateRangePicker\MonthRangePicker.razor
	Calendars\DateRangePicker\PresetRanges.razor
	Calendars\DateRangePicker\WeekNumber.razor
	Calendars\DateTimePicker\DateTimeRange.razor
	Calendars\DateTimePicker\DefaultFunctionalities.razor
	Calendars\DateTimePicker\DisabledDates.razor
	Calendars\DateTimePicker\Format.razor
	Calendars\DateTimePicker\FormsValidation.razor
	Calendars\DateTimePicker\WeekNumber.razor
	Calendars\TimePicker\DefaultFunctionalities.razor
	Calendars\TimePicker\Format.razor
	Calendars\TimePicker\FormsValidation.razor
	Calendars\TimePicker\TimeDuration.razor
	Calendars\TimePicker\TimeRange.razor
	Cards\Card
	Cards\SampleList.cs
	Cards\Card\BasicCard.razor
	Cards\Card\CardWithList.razor
	Cards\Card\DynamicUpdate.razor
	Cards\Card\ExpandCard.razor
	Cards\Card\HeaderCard.razor
	Cards\Card\HorizontalCard.razor
	Cards\Card\MultipleContent.razor
	Cards\Card\RevealCard.razor
	Cards\Card\SwipeableCard.razor
	Cards\Card\TileView.razor
	Cards\Card\VerticalCard.razor
	Charts\BulletChart
	Charts\Chart
	Charts\PointColor.cs
	Charts\RangeNavigator
	Charts\SampleList.cs
	Charts\SmithChart
	Charts\SparkGridData.cs
	Charts\Sparkline
	Charts\StockChart
	Charts\ThemeHelper.cs
	Charts\BulletChart\BarCustomization.razor
	Charts\BulletChart\Customization.razor
	Charts\BulletChart\DefaultFunctionalities.razor
	Charts\BulletChart\Legend.razor
	Charts\BulletChart\MultipleData.razor
	Charts\BulletChart\RightToLeft.razor
	Charts\Chart\ADIChart.razor
	Charts\Chart\Area.razor
	Charts\Chart\AreaEmpty.razor
	Charts\Chart\AreaZone.razor
	Charts\Chart\ATRChart.razor
	Charts\Chart\AxisCrossing.razor
	Charts\Chart\Bar.razor
	Charts\Chart\BollingerChart.razor
	Charts\Chart\BoxandWhisker.razor
	Charts\Chart\Bubble.razor
	Charts\Chart\CandleStick.razor
	Charts\Chart\CategoryAxis.razor
	Charts\Chart\Column.razor
	Charts\Chart\ColumnPlacement.razor
	Charts\Chart\Crosshair.razor
	Charts\Chart\DashedLine.razor
	Charts\Chart\DataEditing.razor
	Charts\Chart\DateTimeAxis.razor
	Charts\Chart\DateTimeCategoryAxis.razor
	Charts\Chart\DefaultFunctionalities.razor
	Charts\Chart\Donut.razor
	Charts\Chart\EmaChart.razor
	Charts\Chart\EmptyPoint.razor
	Charts\Chart\EmptyPoints.razor
	Charts\Chart\ErrorBar.razor
	Charts\Chart\Export.razor
	Charts\Chart\Funnel.razor
	Charts\Chart\Grouping.razor
	Charts\Chart\Hilo.razor
	Charts\Chart\HiloOpenClose.razor
	Charts\Chart\Histogram.razor
	Charts\Chart\IndexedCategoryAxis.razor
	Charts\Chart\InversedAxis.razor
	Charts\Chart\InversedSpline.razor
	Charts\Chart\LineZone.razor
	Charts\Chart\LiveChart.razor
	Charts\Chart\LocalData.razor
	Charts\Chart\LogarithmicScale.razor
	Charts\Chart\MacdChart.razor
	Charts\Chart\MarkerChart.razor
	Charts\Chart\MomentumChart.razor
	Charts\Chart\MultiColoredLine.razor
	Charts\Chart\MultipleAxis.razor
	Charts\Chart\MultiSeriesChart.razor
	Charts\Chart\NegativeStack.razor
	Charts\Chart\NumericAxis.razor
	Charts\Chart\Pareto.razor
	Charts\Chart\Performance.razor
	Charts\Chart\Pie.razor
	Charts\Chart\PieLegend.razor
	Charts\Chart\PieRadius.razor
	Charts\Chart\Polar.razor
	Charts\Chart\PolarArea.razor
	Charts\Chart\PolarColumn.razor
	Charts\Chart\PolarLineChart.razor
	Charts\Chart\PolarRangeColumn.razor
	Charts\Chart\PolarScatter.razor
	Charts\Chart\PolarStackedArea.razor
	Charts\Chart\Print.razor
	Charts\Chart\Pyramid.razor
	Charts\Chart\RangeArea.razor
	Charts\Chart\RangeBar.razor
	Charts\Chart\RangeColumn.razor
	Charts\Chart\RangeSelection.razor
	Charts\Chart\RemoteData.razor
	Charts\Chart\RoundedColumn.razor
	Charts\Chart\RsiChart.razor
	Charts\Chart\Scatter.razor
	Charts\Chart\Selection.razor
	Charts\Chart\SemiPie.razor
	Charts\Chart\SmaChart.razor
	Charts\Chart\SmartAxisLabels.razor
	Charts\Chart\SmartLabels.razor
	Charts\Chart\Spline.razor
	Charts\Chart\SplineArea.razor
	Charts\Chart\StackedArea.razor
	Charts\Chart\StackedArea100.razor
	Charts\Chart\StackedBar.razor
	Charts\Chart\StackedBar100.razor
	Charts\Chart\StackedColumn.razor
	Charts\Chart\StackedColumn100.razor
	Charts\Chart\StackedLine.razor
	Charts\Chart\StackedLine100.razor
	Charts\Chart\StepArea.razor
	Charts\Chart\StepLine.razor
	Charts\Chart\StochasticChart.razor
	Charts\Chart\StripLine.razor
	Charts\Chart\StripLineRecurrence.razor
	Charts\Chart\TmaChart.razor
	Charts\Chart\TooltipTemplate.razor
	Charts\Chart\Trackball.razor
	Charts\Chart\TrendLines.razor
	Charts\Chart\VerticalChart.razor
	Charts\Chart\Waterfall.razor
	Charts\Chart\ZoomingandPanning.razor
	Charts\RangeNavigator\DateTimeAxis.razor
	Charts\RangeNavigator\EmptyPoint.razor
	Charts\RangeNavigator\Filter.razor
	Charts\RangeNavigator\LightWeight.razor
	Charts\RangeNavigator\Logarithmic.razor
	Charts\RangeNavigator\Multilevel.razor
	Charts\RangeNavigator\NumericAxis.razor
	Charts\RangeNavigator\PrintExport.razor
	Charts\RangeNavigator\RangeNavigator.razor
	Charts\RangeNavigator\RTL.razor
	Charts\SmithChart\Customization.razor
	Charts\SmithChart\DefaultFunctionalities.razor
	Charts\SmithChart\PrintAndExport.razor
	Charts\Sparkline\AxisTypes.razor
	Charts\Sparkline\Customization.razor
	Charts\Sparkline\DefaultFunctionalities.razor
	Charts\Sparkline\Liveupdate.razor
	Charts\Sparkline\RangeBand.razor
	Charts\Sparkline\SeriesType.razor
	Charts\Sparkline\SparklineGrid.razor
	Charts\StockChart\Area.razor
	Charts\StockChart\Candlestick and Volume.razor
	Charts\StockChart\Default.razor
	Charts\StockChart\Hide Period Selector.razor
	Charts\StockChart\Hide Selector.razor
	Charts\StockChart\Intraday.razor
	Charts\StockChart\Inversed Area.razor
	Charts\StockChart\Multiple Series.razor
	Charts\StockChart\OHLC.razor
	Charts\StockChart\Spline.razor
	Charts\StockChart\SplineArea.razor
	Charts\StockChart\StockEvents.razor
	CircularGauge\CircularGauge
	CircularGauge\SampleList.cs
	CircularGauge\CircularGauge\Annotation.razor
	CircularGauge\CircularGauge\AppleWatchRings.razor
	CircularGauge\CircularGauge\Arcgauge.razor
	CircularGauge\CircularGauge\ArcGauges.razor
	CircularGauge\CircularGauge\CircularGaugeLegend.razor
	CircularGauge\CircularGauge\Compass.razor
	CircularGauge\CircularGauge\Customization.razor
	CircularGauge\CircularGauge\DataSample.razor
	CircularGauge\CircularGauge\DefaultFunctionalities.razor
	CircularGauge\CircularGauge\Export.razor
	CircularGauge\CircularGauge\GradientColor.razor
	CircularGauge\CircularGauge\Labels.razor
	CircularGauge\CircularGauge\MultipleAxis.razor
	CircularGauge\CircularGauge\Pointer.razor
	CircularGauge\CircularGauge\PointerCustomization.razor
	CircularGauge\CircularGauge\PointerDrag.razor
	CircularGauge\CircularGauge\PointerImage.razor
	CircularGauge\CircularGauge\Range.razor
	CircularGauge\CircularGauge\Semicirculargauge.razor
	CircularGauge\CircularGauge\Speedometer.razor
	CircularGauge\CircularGauge\Tooltip.razor
	Diagram\Diagram
	Diagram\SampleList.cs
	Diagram\Diagram\Annotations.razor
	Diagram\Diagram\ComplexHierarchicalTree.razor
	Diagram\Diagram\Connectors.razor
	Diagram\Diagram\DefaultFunctionalities.razor
	Diagram\Diagram\DrawingTool.razor
	Diagram\Diagram\FileUtil.cs
	Diagram\Diagram\FishboneDiagram.razor
	Diagram\Diagram\FlowExecution.razor
	Diagram\Diagram\HierarchicalModel.razor
	Diagram\Diagram\HistoryManager.razor
	Diagram\Diagram\HTMLTemplate.razor
	Diagram\Diagram\Keyboardinteraction.razor
	Diagram\Diagram\LocalData.razor
	Diagram\Diagram\LogicCircuitDiagram.razor
	Diagram\Diagram\MindMap.razor
	Diagram\Diagram\Nodes.razor
	Diagram\Diagram\OrganizationModel.razor
	Diagram\Diagram\OverView.razor
	Diagram\Diagram\PertChart.razor
	Diagram\Diagram\Ports.razor
	Diagram\Diagram\PrintandExport.razor
	Diagram\Diagram\RadialTree.razor
	Diagram\Diagram\Routing.razor
	Diagram\Diagram\Rtltree.razor
	Diagram\Diagram\Serialization.razor
	Diagram\Diagram\Shapes.razor
	Diagram\Diagram\SymbolPalette.razor
	Diagram\Diagram\SymmetricLayout.razor
	Diagram\Diagram\UmlActivity.razor
	Diagram\Diagram\UmlClass.razor
	Diagram\Diagram\UserHandles.razor
	Diagram\Diagram\VennDiagram.razor
	Diagram\Diagram\Virtualization.razor
	DiagramComponent\DiagramComponent
	DiagramComponent\SampleList.cs
	DiagramComponent\DiagramComponent\FishboneDiagram.razor
	DiagramComponent\DiagramComponent\FlowChart.razor
	DiagramComponent\DiagramComponent\FlowExecution.razor
	DiagramComponent\DiagramComponent\HierarchicalTree.razor
	DiagramComponent\DiagramComponent\LocalData.razor
	DiagramComponent\DiagramComponent\Nodes.razor
	DiagramComponent\DiagramComponent\OrganizationModel.razor
	DiagramComponent\DiagramComponent\RemoteData.razor
	DiagramComponent\DiagramComponent\Shapes.razor
	DiagramComponent\DiagramComponent\VennDiagram.razor
	DocumentEditor\DocumentEditor
	DocumentEditor\SampleList.cs
	DocumentEditor\DocumentEditor\BulletsAndNumbering.razor
	DocumentEditor\DocumentEditor\CharacterFormat.razor
	DocumentEditor\DocumentEditor\Chart.razor
	DocumentEditor\DocumentEditor\Comments.razor
	DocumentEditor\DocumentEditor\CustomContextMenu.razor
	DocumentEditor\DocumentEditor\Data.cs
	DocumentEditor\DocumentEditor\DefaultFunctionalities.razor
	DocumentEditor\DocumentEditor\DocumentProtection.razor
	DocumentEditor\DocumentEditor\FormFields.razor
	DocumentEditor\DocumentEditor\HeadersAndFooters.razor
	DocumentEditor\DocumentEditor\HyperlinksAndBookmarks.razor
	DocumentEditor\DocumentEditor\Notes.razor
	DocumentEditor\DocumentEditor\ParagraphFormat.razor
	DocumentEditor\DocumentEditor\SectionFormat.razor
	DocumentEditor\DocumentEditor\Styles.razor
	DocumentEditor\DocumentEditor\TableFormat.razor
	DocumentEditor\DocumentEditor\TableOfContents.razor
	DocumentEditor\DocumentEditor\ToolbarCustomization.razor
	DocumentEditor\DocumentEditor\TrackChanges.razor
	DocumentEditor\DocumentEditor\WebLayout.razor
	DropDowns\AutoComplete
	DropDowns\ComboBox
	DropDowns\DropDownList
	DropDowns\ListBox
	DropDowns\MultiSelect
	DropDowns\SampleList.cs
	DropDowns\AutoComplete\DataBinding.razor
	DropDowns\AutoComplete\DefaultFunctionalities.razor
	DropDowns\AutoComplete\Employee.razor
	DropDowns\AutoComplete\FormsValidation.razor
	DropDowns\AutoComplete\GroupingIcon.razor
	DropDowns\AutoComplete\Highlight.razor
	DropDowns\AutoComplete\Template.razor
	DropDowns\ComboBox\Cascading.razor
	DropDowns\ComboBox\CustomValue.razor
	DropDowns\ComboBox\DataBinding.razor
	DropDowns\ComboBox\DefaultFunctionalities.razor
	DropDowns\ComboBox\Filtering.razor
	DropDowns\ComboBox\FormsValidation.razor
	DropDowns\ComboBox\GroupingIcon.razor
	DropDowns\ComboBox\MultiColumn.razor
	DropDowns\ComboBox\Template.razor
	DropDowns\DropDownList\Cascading.razor
	DropDowns\DropDownList\DataBinding.razor
	DropDowns\DropDownList\DefaultFunctionalities.razor
	DropDowns\DropDownList\Filtering.razor
	DropDowns\DropDownList\FormsValidation.razor
	DropDowns\DropDownList\GroupingIcon.razor
	DropDowns\DropDownList\Inline.razor
	DropDowns\DropDownList\Template.razor
	DropDowns\ListBox\Api.razor
	DropDowns\ListBox\Checkbox.razor
	DropDowns\ListBox\DefaultFunctionalities.razor
	DropDowns\ListBox\DragDrop.razor
	DropDowns\ListBox\DualListBox.razor
	DropDowns\ListBox\Template.razor
	DropDowns\MultiSelect\CheckBox.razor
	DropDowns\MultiSelect\ChipCustomization.razor
	DropDowns\MultiSelect\CustomValue.razor
	DropDowns\MultiSelect\DataBinding.razor
	DropDowns\MultiSelect\DefaultFunctionalities.razor
	DropDowns\MultiSelect\Filtering.razor
	DropDowns\MultiSelect\FormsValidation.razor
	DropDowns\MultiSelect\Grouping.razor
	DropDowns\MultiSelect\GroupingWithCheckbox.razor
	DropDowns\MultiSelect\SelectionLimit.razor
	DropDowns\MultiSelect\Template.razor
	Editors\InPlaceEditor
	Editors\SampleList.cs
	Editors\InPlaceEditor\DatePickers.razor
	Editors\InPlaceEditor\DropDown.razor
	Editors\InPlaceEditor\EditPost.razor
	Editors\InPlaceEditor\Overview.razor
	FileFormats\DocIO
	FileFormats\PDF
	FileFormats\Presentation
	FileFormats\SampleList.cs
	FileFormats\XlsIO
	FileFormats\DocIO\AdvancedReplace.razor
	FileFormats\DocIO\AdvancedReplaceService.cs
	FileFormats\DocIO\BookmarkNavigation.razor
	FileFormats\DocIO\BookmarkNavigationService.cs
	FileFormats\DocIO\Bookmarks.razor
	FileFormats\DocIO\BookmarksService.cs
	FileFormats\DocIO\CreateEquation.razor
	FileFormats\DocIO\CreateEquationService.cs
	FileFormats\DocIO\EditEquation.razor
	FileFormats\DocIO\EditEquationService.cs
	FileFormats\DocIO\EmployeeReport.razor
	FileFormats\DocIO\EmployeeReportService.cs
	FileFormats\DocIO\EncryptDecrypt.razor
	FileFormats\DocIO\EncryptDecryptService.cs
	FileFormats\DocIO\Forms.razor
	FileFormats\DocIO\FormsService.cs
	FileFormats\DocIO\HeaderandFooter.razor
	FileFormats\DocIO\HeaderandFooterService.cs
	FileFormats\DocIO\HelloWorld.razor
	FileFormats\DocIO\HelloWorldService.cs
	FileFormats\DocIO\ImageInsertion.razor
	FileFormats\DocIO\ImageInsertionService.cs
	FileFormats\DocIO\InsertOLEObject.razor
	FileFormats\DocIO\InsertOLEObjectService.cs
	FileFormats\DocIO\LetterFormat.razor
	FileFormats\DocIO\LetterFormatService.cs
	FileFormats\DocIO\MailMergeEvent.razor
	FileFormats\DocIO\MailMergeEventService.cs
	FileFormats\DocIO\NestedMailMerge.razor
	FileFormats\DocIO\NestedMailMergeService.cs
	FileFormats\DocIO\RTFtoDOC.razor
	FileFormats\DocIO\RTFtoDOCService.cs
	FileFormats\DocIO\SalesInvoice.razor
	FileFormats\DocIO\SalesInvoiceService.cs
	FileFormats\DocIO\TableofContent.razor
	FileFormats\DocIO\TableofContentService.cs
	FileFormats\DocIO\TrackChanges.razor
	FileFormats\DocIO\TrackChangesService.cs
	FileFormats\DocIO\UpdateFields.razor
	FileFormats\DocIO\UpdateFieldsService.cs
	FileFormats\DocIO\WordMLtoWord.razor
	FileFormats\DocIO\WordMLtoWordService.cs
	FileFormats\DocIO\WordToODT.razor
	FileFormats\DocIO\WordToODTService.cs
	FileFormats\DocIO\WordToPDF.razor
	FileFormats\DocIO\WordToPDFService.cs
	FileFormats\DocIO\WordToWordML.razor
	FileFormats\DocIO\WordToWordMLService.cs
	FileFormats\PDF\Annoations.razor
	FileFormats\PDF\AnnoationsService.cs
	FileFormats\PDF\Autotag.razor
	FileFormats\PDF\AutotagService.cs
	FileFormats\PDF\Barcode.razor
	FileFormats\PDF\BarcodeService.cs
	FileFormats\PDF\BulletsAndList.razor
	FileFormats\PDF\BulletsAndListService.cs
	FileFormats\PDF\Customtag.razor
	FileFormats\PDF\CustomtagService.cs
	FileFormats\PDF\DigitalSignature.razor
	FileFormats\PDF\DigitalSignatureService.cs
	FileFormats\PDF\DrawingShapes.razor
	FileFormats\PDF\DrawingShapesService.cs
	FileFormats\PDF\FindPDFCorruption.razor
	FileFormats\PDF\FindPDFCorruptionService.cs
	FileFormats\PDF\GraphicBrushes.razor
	FileFormats\PDF\GraphicBrushesService.cs
	FileFormats\PDF\HelloWorldPDF.razor
	FileFormats\PDF\HelloWorldPDFService.cs
	FileFormats\PDF\ImageInsertion.razor
	FileFormats\PDF\ImageInsertionService.cs
	FileFormats\PDF\InteractiveFeatures.razor
	FileFormats\PDF\InteractiveFeaturesService.cs
	FileFormats\PDF\JobApplication.razor
	FileFormats\PDF\JobApplicationService.cs
	FileFormats\PDF\Layers.razor
	FileFormats\PDF\LayersService.cs
	FileFormats\PDF\OpenTypeFont.razor
	FileFormats\PDF\OpenTypeFontService.cs
	FileFormats\PDF\OverlayDocuments.razor
	FileFormats\PDF\OverlayDocumentsService.cs
	FileFormats\PDF\Portfolio.razor
	FileFormats\PDF\PortfolioService.cs
	FileFormats\PDF\RearrangePages.razor
	FileFormats\PDF\RearrangePagesService.cs
	FileFormats\PDF\RTLText.razor
	FileFormats\PDF\RTLTextService.cs
	FileFormats\PDF\TableFeatures.razor
	FileFormats\PDF\TableFeaturesService.cs
	FileFormats\PDF\TextFlow.razor
	FileFormats\PDF\TextFlowService.cs
	FileFormats\PDF\XFAFormCreation.razor
	FileFormats\PDF\XFAFormCreationService.cs
	FileFormats\PDF\XFAFormFilling.razor
	FileFormats\PDF\XFAFormFillingService.cs
	FileFormats\Presentation\Chart.razor
	FileFormats\Presentation\ChartService.cs
	FileFormats\Presentation\Comment.razor
	FileFormats\Presentation\CommentService.cs
	FileFormats\Presentation\Connector.razor
	FileFormats\Presentation\ConnectorService.cs
	FileFormats\Presentation\CreateAnimation.razor
	FileFormats\Presentation\CreateAnimationService.cs
	FileFormats\Presentation\GettingStarted.razor
	FileFormats\Presentation\GettingStartedService.cs
	FileFormats\Presentation\ModifyAnimation.razor
	FileFormats\Presentation\ModifyAnimationService.cs
	FileFormats\Presentation\OLEObject.razor
	FileFormats\Presentation\OLEObjectService.cs
	FileFormats\Presentation\PPTXToImage.razor
	FileFormats\Presentation\PPTXToImageService.cs
	FileFormats\Presentation\PPTXToPDF.razor
	FileFormats\Presentation\PPTXToPDFService.cs
	FileFormats\Presentation\Slide.razor
	FileFormats\Presentation\SlideService.cs
	FileFormats\Presentation\SlideTransition.razor
	FileFormats\Presentation\SlideTransitionService.cs
	FileFormats\Presentation\SmartArt.razor
	FileFormats\Presentation\SmartArtService.cs
	FileFormats\Presentation\Table.razor
	FileFormats\Presentation\TableService.cs
	FileFormats\Presentation\WriteProtection.razor
	FileFormats\Presentation\WriteProtectionService.cs
	FileFormats\XlsIO\AttendanceTracker.razor
	FileFormats\XlsIO\AttendanceTrackerService.cs
	FileFormats\XlsIO\AutoShapes.razor
	FileFormats\XlsIO\AutoShapesService.cs
	FileFormats\XlsIO\ChartWorksheet.razor
	FileFormats\XlsIO\ChartWorksheetService.cs
	FileFormats\XlsIO\ConditionalFormatting.razor
	FileFormats\XlsIO\ConditionalFormattingService.cs
	FileFormats\XlsIO\Create.razor
	FileFormats\XlsIO\CreateService.cs
	FileFormats\XlsIO\DataValidation.razor
	FileFormats\XlsIO\DataValidationService.cs
	FileFormats\XlsIO\EmbeddedChart.razor
	FileFormats\XlsIO\EmbeddedChartService.cs
	FileFormats\XlsIO\EncryptAndDecrypt.razor
	FileFormats\XlsIO\EncryptAndDecryptService.cs
	FileFormats\XlsIO\ExcelToJSON.razor
	FileFormats\XlsIO\ExcelToJSONService.cs
	FileFormats\XlsIO\ExcelToPDF.razor
	FileFormats\XlsIO\ExcelToPDFService.cs
	FileFormats\XlsIO\FormatCells.razor
	FileFormats\XlsIO\FormatCellsService.cs
	FileFormats\XlsIO\FormControls.razor
	FileFormats\XlsIO\FormControlsService.cs
	FileFormats\XlsIO\Formulas.razor
	FileFormats\XlsIO\FormulasService.cs
	FileFormats\XlsIO\GroupShapes.razor
	FileFormats\XlsIO\GroupShapesService.cs
	FileFormats\XlsIO\ImportHTMLTable.razor
	FileFormats\XlsIO\ImportHTMLTableService.cs
	FileFormats\XlsIO\Sparklines.razor
	FileFormats\XlsIO\SparklinesService.cs
	FileFormats\XlsIO\Tables.razor
	FileFormats\XlsIO\TablesService.cs
	FileFormats\XlsIO\WorksheetToHTML.razor
	FileFormats\XlsIO\WorksheetToHTMLService.cs
	FileFormats\XlsIO\WorksheetToImage.razor
	FileFormats\XlsIO\WorksheetToImageService.cs
	Forms\QueryBuilder
	Forms\QueryBuilderData.cs
	Forms\SampleList.cs
	Forms\QueryBuilder\ColumnTemplate.razor
	Forms\QueryBuilder\DefaultFunctionalities.razor
	Forms\QueryBuilder\Grid.razor
	Forms\QueryBuilder\HeaderTemplate.razor
	Forms\QueryBuilder\Template.razor
	GanttChart\BaseData.cs
	GanttChart\DefaultData.cs
	GanttChart\EventData.cs
	GanttChart\FilterData.cs
	GanttChart\GanttChart
	GanttChart\GanttData.cs
	GanttChart\ResourceData.cs
	GanttChart\SampleList.cs
	GanttChart\ScheduleData.cs
	GanttChart\SelectionData.cs
	GanttChart\TaskbarTemplateData.cs
	GanttChart\TimelineData.cs
	GanttChart\UnscheduleData.cs
	GanttChart\WorkData.cs
	GanttChart\ZoomingData.cs
	GanttChart\GanttChart\Baseline.razor
	GanttChart\GanttChart\ColumnMenu.razor
	GanttChart\GanttChart\ColumnReordering.razor
	GanttChart\GanttChart\ColumnResizing.razor
	GanttChart\GanttChart\ColumnTemplate.razor
	GanttChart\GanttChart\ContextMenu.razor
	GanttChart\GanttChart\DefaultFunctionalities.razor
	GanttChart\GanttChart\DynamicData.razor
	GanttChart\GanttChart\Editing.razor
	GanttChart\GanttChart\EventMarkers.razor
	GanttChart\GanttChart\ExpandoData.razor
	GanttChart\GanttChart\Exporting.razor
	GanttChart\GanttChart\Filtering.razor
	GanttChart\GanttChart\GanttTaskbarTemplate.razor
	GanttChart\GanttChart\Holidays.razor
	GanttChart\GanttChart\RemoteData.razor
	GanttChart\GanttChart\ResourceAllocation.razor
	GanttChart\GanttChart\RowDragAndDrop.razor
	GanttChart\GanttChart\RowHeight.razor
	GanttChart\GanttChart\SchedulingMode.razor
	GanttChart\GanttChart\Selection.razor
	GanttChart\GanttChart\Sorting.razor
	GanttChart\GanttChart\Timeline.razor
	GanttChart\GanttChart\TooltipTemplate.razor
	GanttChart\GanttChart\UnscheduledTask.razor
	GanttChart\GanttChart\VirtualScroll.razor
	GanttChart\GanttChart\WorkTimeRange.razor
	GanttChart\GanttChart\WorkWeek.razor
	GanttChart\GanttChart\Zooming.razor
	Grid\Category.cs
	Grid\DataGrid
	Grid\GridData.cs
	Grid\InventorData.cs
	Grid\Product.cs
	Grid\SampleList.cs
	Grid\DataGrid\AdvancedExporting.razor
	Grid\DataGrid\Aggregate.razor
	Grid\DataGrid\AutoWrap.razor
	Grid\DataGrid\BatchEditing.razor
	Grid\DataGrid\CellEditTemplate.razor
	Grid\DataGrid\CellFormatting.razor
	Grid\DataGrid\CheckboxSelection.razor
	Grid\DataGrid\Clipboard.razor
	Grid\DataGrid\ColumnChooser.razor
	Grid\DataGrid\ColumnMenu.razor
	Grid\DataGrid\ColumnResize.razor
	Grid\DataGrid\ColumnTemplate.razor
	Grid\DataGrid\CommandColumn.razor
	Grid\DataGrid\ContextMenu.razor
	Grid\DataGrid\CustomBinding.razor
	Grid\DataGrid\CustomCommand.razor
	Grid\DataGrid\CustomValidation.razor
	Grid\DataGrid\DataAnnotation.razor
	Grid\DataGrid\DefaultFunctionalities.razor
	Grid\DataGrid\DefaultScrolling.razor
	Grid\DataGrid\DialogEditing.razor
	Grid\DataGrid\DragAndDropWithinGrid.razor
	Grid\DataGrid\Exporting.razor
	Grid\DataGrid\ExternalFormEditing.razor
	Grid\DataGrid\FilterCheckbox.razor
	Grid\DataGrid\FilterExcel.razor
	Grid\DataGrid\Filtering.razor
	Grid\DataGrid\FilterMenu.razor
	Grid\DataGrid\ForeignKeyColumn.razor
	Grid\DataGrid\FrozenRight.razor
	Grid\DataGrid\FrozenRowsAndColumns.razor
	Grid\DataGrid\FrozenVirtualization.razor
	Grid\DataGrid\GridDetailTemplate.razor
	Grid\DataGrid\GridDialogTemplate.razor
	Grid\DataGrid\GridDynamicObject.razor
	Grid\DataGrid\GridExpandoObject.razor
	Grid\DataGrid\GridHeaderTemplate.razor
	Grid\DataGrid\GridLines.razor
	Grid\DataGrid\GridRowTemplate.razor
	Grid\DataGrid\GridStackedHeader.razor
	Grid\DataGrid\GroupAndCaptionAggregate.razor
	Grid\DataGrid\Grouping.razor
	Grid\DataGrid\HierarchyGrid.razor
	Grid\DataGrid\InlineEditing.razor
	Grid\DataGrid\KeyboardNavigation.razor
	Grid\DataGrid\LazyLoadGrouping.razor
	Grid\DataGrid\LocalData.razor
	Grid\DataGrid\MasterDetails.razor
	Grid\DataGrid\ObservableBinding.razor
	Grid\DataGrid\Overview.razor
	Grid\DataGrid\PagerTemplate.razor
	Grid\DataGrid\Paging.razor
	Grid\DataGrid\PagingAPI.razor
	Grid\DataGrid\Print.razor
	Grid\DataGrid\RemoteData.razor
	Grid\DataGrid\Reorder.razor
	Grid\DataGrid\RowDragAndDrop.razor
	Grid\DataGrid\RowHeight.razor
	Grid\DataGrid\RowHover.razor
	Grid\DataGrid\Search.razor
	Grid\DataGrid\Selection.razor
	Grid\DataGrid\SelectionAPI.razor
	Grid\DataGrid\ShoworHideColumn.razor
	Grid\DataGrid\Sorting.razor
	Grid\DataGrid\SortingAPI.razor
	Grid\DataGrid\VirtualMaskRow.razor
	Grid\DataGrid\VirtualScrolling.razor
	HeatMapChart\HeatMapChart
	HeatMapChart\HeatMapData.cs
	HeatMapChart\SampleList.cs
	HeatMapChart\HeatMapChart\BubbleTypes.razor
	HeatMapChart\HeatMapChart\CalendarHeatmap.razor
	HeatMapChart\HeatMapChart\Cell.razor
	HeatMapChart\HeatMapChart\DefaultFunctionalities.razor
	HeatMapChart\HeatMapChart\Emptypoints.razor
	HeatMapChart\HeatMapChart\InversedAxis.razor
	HeatMapChart\HeatMapChart\JsonCell.razor
	HeatMapChart\HeatMapChart\JsonRow.razor
	HeatMapChart\HeatMapChart\LargeData.razor
	HeatMapChart\HeatMapChart\LegendPlacement.razor
	HeatMapChart\HeatMapChart\OpposedAxis.razor
	HeatMapChart\HeatMapChart\PaletteMode.razor
	HeatMapChart\HeatMapChart\Row.razor
	HeatMapChart\HeatMapChart\TooltipTemplate.razor
	Inputs\ColorPicker
	Inputs\MaskedTextBox
	Inputs\NumericTextBox
	Inputs\RangeSlider
	Inputs\SampleList.cs
	Inputs\TextBox
	Inputs\Uploader
	Inputs\ColorPicker\Api.razor
	Inputs\ColorPicker\ColorPickerFor.razor
	Inputs\ColorPicker\Custom.razor
	Inputs\ColorPicker\DefaultFunctionalities.razor
	Inputs\ColorPicker\Inline.razor
	Inputs\MaskedTextBox\CustomMask.razor
	Inputs\MaskedTextBox\DefaultFunctionalities.razor
	Inputs\MaskedTextBox\FormsValidation.razor
	Inputs\NumericTextBox\CustomFormat.razor
	Inputs\NumericTextBox\DefaultFunctionalities.razor
	Inputs\NumericTextBox\FormsValidation.razor
	Inputs\NumericTextBox\RangeValidation.razor
	Inputs\NumericTextBox\RestrictDecimals.razor
	Inputs\RangeSlider\API.razor
	Inputs\RangeSlider\CustomBar.razor
	Inputs\RangeSlider\CustomThumb.razor
	Inputs\RangeSlider\Default.razor
	Inputs\RangeSlider\Events.razor
	Inputs\RangeSlider\Limits.razor
	Inputs\RangeSlider\Ticks.razor
	Inputs\RangeSlider\Tooltip.razor
	Inputs\RangeSlider\VerticalOrientation.razor
	Inputs\TextBox\DefaultFunctionalities.razor
	Inputs\TextBox\FormsValidation.razor
	Inputs\TextBox\Multiline.razor
	Inputs\Uploader\ChunkUpload.razor
	Inputs\Uploader\CustomDropArea.razor
	Inputs\Uploader\DefaultFunctionalities.razor
	Inputs\Uploader\FileValidation.razor
	Inputs\Uploader\PreloadFiles.razor
	Kanban\Kanban
	Kanban\KanbanDataModels.cs
	Kanban\SampleList.cs
	Kanban\Kanban\Api.razor
	Kanban\Kanban\CardTemplate.razor
	Kanban\Kanban\DefaultFunctionalities.razor
	Kanban\Kanban\DialogEditing.razor
	Kanban\Kanban\Events.razor
	Kanban\Kanban\HeaderTemplate.razor
	Kanban\Kanban\LocalData.razor
	Kanban\Kanban\Overview.razor
	Kanban\Kanban\RemoteData.razor
	Kanban\Kanban\SearchFilter.razor
	Kanban\Kanban\ShowHideColumns.razor
	Kanban\Kanban\StackedHeader.razor
	Kanban\Kanban\Swimlane.razor
	Kanban\Kanban\SwimlaneTemplate.razor
	Kanban\Kanban\ToggleColumns.razor
	Kanban\Kanban\TooltipTemplate.razor
	Kanban\Kanban\WipValidation.razor
	Kanban\Kanban\Workflow.razor
	Layouts\DashboardLayout
	Layouts\Listview
	Layouts\SampleList.cs
	Layouts\Splitter
	Layouts\DashboardLayout\API.razor
	Layouts\DashboardLayout\Default.razor
	Layouts\Listview\CallHistory.razor
	Layouts\Listview\Checklist.razor
	Layouts\Listview\DefaultFunctionalities.razor
	Layouts\Listview\ListGroupTemplate.razor
	Layouts\Listview\ListTemplates.razor
	Layouts\Listview\ListviewDataSource.cs
	Layouts\Listview\NestedList.razor
	Layouts\Listview\RemoteData.razor
	Layouts\Listview\Virtualization.razor
	Layouts\Splitter\AccordionMenu.razor
	Layouts\Splitter\CodeEditorLayout.razor
	Layouts\Splitter\Default.razor
	Layouts\Splitter\DetailsView.razor
	Layouts\Splitter\ExpandandCollapse.razor
	Layouts\Splitter\OutlookStyleLayout.razor
	LinearGauge\LinearGauge
	LinearGauge\samplelist.cs
	LinearGauge\LinearGauge\Annotation.razor
	LinearGauge\LinearGauge\AxesandPointers.razor
	LinearGauge\LinearGauge\Container.razor
	LinearGauge\LinearGauge\DataSample.razor
	LinearGauge\LinearGauge\DefaultFunctionalities.razor
	LinearGauge\LinearGauge\Export.razor
	LinearGauge\LinearGauge\GradientColor.razor
	LinearGauge\LinearGauge\Ranges.razor
	LinearGauge\LinearGauge\Styles.razor
	LinearGauge\LinearGauge\Tooltip.razor
	Maps\Maps
	Maps\SampleList.cs
	Maps\Maps\Annotation.razor
	Maps\Maps\Bubble.razor
	Maps\Maps\ColorMapping.razor
	Maps\Maps\CyberAttackMap.razor
	Maps\Maps\DefaultFunctionalities.razor
	Maps\Maps\Drilldown.razor
	Maps\Maps\Earthquake.razor
	Maps\Maps\Export.razor
	Maps\Maps\FlightRoute.razor
	Maps\Maps\HeatMap.razor
	Maps\Maps\HighlightedRegion.razor
	Maps\Maps\Label.razor
	Maps\Maps\Legend.razor
	Maps\Maps\MapsWithPie.razor
	Maps\Maps\MapsWithSlider.razor
	Maps\Maps\Marker.razor
	Maps\Maps\MarkerCluster.razor
	Maps\Maps\MarkerTemplate.razor
	Maps\Maps\Multilayer.razor
	Maps\Maps\NavigationLines.razor
	Maps\Maps\OpenStreetMap.razor
	Maps\Maps\OSMNavigation.razor
	Maps\Maps\OSMSublayer.razor
	Maps\Maps\Print.razor
	Maps\Maps\ProgramaticZoom.razor
	Maps\Maps\Projection.razor
	Maps\Maps\SaleMaps.razor
	Maps\Maps\SeatSelection.razor
	Maps\Maps\Selection.razor
	Maps\Maps\Tooltip.razor
	Maps\Maps\Zooming.razor
	Navigations\Accordion
	Navigations\ContextMenu
	Navigations\FileManager
	Navigations\MenuBar
	Navigations\SampleList.cs
	Navigations\Sidebar
	Navigations\Tabs
	Navigations\Toolbar
	Navigations\TreeView
	Navigations\Accordion\DefaultFunctionalities.razor
	Navigations\Accordion\Icons.razor
	Navigations\Accordion\NetworkData.razor
	Navigations\Accordion\Template.razor
	Navigations\ContextMenu\DefaultFunctionalities.razor
	Navigations\FileManager\API.razor
	Navigations\FileManager\Azure.razor
	Navigations\FileManager\CustomThumbnail.razor
	Navigations\FileManager\DragAndDrop.razor
	Navigations\FileManager\Overview.razor
	Navigations\MenuBar\Api.razor
	Navigations\MenuBar\DataBinding.razor
	Navigations\MenuBar\DefaultFunctionalities.razor
	Navigations\MenuBar\Hamburger.razor
	Navigations\MenuBar\Scrollable.razor
	Navigations\MenuBar\Templates.razor
	Navigations\MenuBar\Toolbar.razor
	Navigations\Sidebar\API.razor
	Navigations\Sidebar\DefaultFunctionalities.razor
	Navigations\Sidebar\Dock.razor
	Navigations\Sidebar\PanelWithResponsive.razor
	Navigations\Sidebar\ResponsivePanel.razor
	Navigations\Sidebar\SidebarAPI.razor
	Navigations\Sidebar\SidebarDefaultFunctionalities.razor
	Navigations\Sidebar\SidebarDock.razor
	Navigations\Sidebar\SidebarList.razor
	Navigations\Sidebar\SidebarMenu.razor
	Navigations\Sidebar\SidebarWithListView.razor
	Navigations\Sidebar\SidebarWithMenu.razor
	Navigations\Tabs\DefaultFunctionalities.razor
	Navigations\Tabs\DragAndDrop.razor
	Navigations\Tabs\Orientation.razor
	Navigations\Tabs\ResponsiveModes.razor
	Navigations\Tabs\Wizard.razor
	Navigations\Toolbar\Alignment.razor
	Navigations\Toolbar\DefaultFunctionalities.razor
	Navigations\Toolbar\Popup.razor
	Navigations\TreeView\CheckBox.razor
	Navigations\TreeView\DefaultFunctionalities.razor
	Navigations\TreeView\IconsandImages.razor
	Navigations\TreeView\LocalData.razor
	Navigations\TreeView\MultipleSelection.razor
	Navigations\TreeView\NodeEditing.razor
	Navigations\TreeView\RemoteData.razor
	Navigations\TreeView\Template.razor
	Notifications\SampleList.cs
	Notifications\Spinner
	Notifications\Toast
	Notifications\Spinner\Overview.razor
	Notifications\Toast\API.razor
	Notifications\Toast\DefaultFunctionalities.razor
	Notifications\Toast\Position.razor
	Notifications\Toast\Template.razor
	Notifications\Toast\Types.razor
	PivotView\AggregateData.cs
	PivotView\GroupData.cs
	PivotView\PivotTable
	PivotView\ProductData.cs
	PivotView\SampleList.cs
	PivotView\TemplateData.cs
	PivotView\VirtualData.cs
	PivotView\PivotTable\AdvanceFiltering.razor
	PivotView\PivotTable\Aggregation.razor
	PivotView\PivotTable\CalculatedField.razor
	PivotView\PivotTable\Chart.razor
	PivotView\PivotTable\ConditionalFormatting.razor
	PivotView\PivotTable\DefaultFunctionalities.razor
	PivotView\PivotTable\DefaultSorting.razor
	PivotView\PivotTable\DeferUpdate.razor
	PivotView\PivotTable\DrillThrough.razor
	PivotView\PivotTable\Editing.razor
	PivotView\PivotTable\Exporting.razor
	PivotView\PivotTable\FieldList.razor
	PivotView\PivotTable\Grouping.razor
	PivotView\PivotTable\Groupingbar.razor
	PivotView\PivotTable\HyperLink.razor
	PivotView\PivotTable\LabelFiltering.razor
	PivotView\PivotTable\LocalData.razor
	PivotView\PivotTable\MemberFiltering.razor
	PivotView\PivotTable\OLAP.razor
	PivotView\PivotTable\PivotCellTemplate.razor
	PivotView\PivotTable\PivotData.cs
	PivotView\PivotTable\RemoteData.razor
	PivotView\PivotTable\Selection.razor
	PivotView\PivotTable\SummaryCustomization.razor
	PivotView\PivotTable\Toolbar.razor
	PivotView\PivotTable\ValueFiltering.razor
	PivotView\PivotTable\ValueSorting.razor
	PivotView\PivotTable\VirtualScrolling.razor
	Popups\Dialog
	Popups\SampleList.cs
	Popups\Tooltip
	Popups\Dialog\Animation.razor
	Popups\Dialog\ComponentsInsideDialog.razor
	Popups\Dialog\CustomDialogs.razor
	Popups\Dialog\DefaultFunctionalities.razor
	Popups\Dialog\Draggable.razor
	Popups\Dialog\Modal.razor
	Popups\Dialog\MultipleDialogs.razor
	Popups\Dialog\Positioning.razor
	Popups\Dialog\Resizable.razor
	Popups\Dialog\Template.razor
	Popups\Tooltip\Api.razor
	Popups\Tooltip\Default.razor
	Popups\Tooltip\HtmlTemplate.razor
	ProgressBar\ProgressBar
	ProgressBar\SampleList.cs
	ProgressBar\ProgressBar\Angle.razor
	ProgressBar\ProgressBar\Circular.razor
	ProgressBar\ProgressBar\Labels.razor
	ProgressBar\ProgressBar\Linear.razor
	ProgressBar\ProgressBar\ProgressSegment.razor
	ProgressBar\ProgressBar\Radius.razor
	ProgressBar\ProgressBar\Stripes.razor
	RichTextEditor\RichTextEditor
	RichTextEditor\SampleList.cs
	RichTextEditor\RichTextEditor\Api.razor
	RichTextEditor\RichTextEditor\AutoSave.razor
	RichTextEditor\RichTextEditor\DefaultFunctionalities.razor
	RichTextEditor\RichTextEditor\Events.razor
	RichTextEditor\RichTextEditor\Form-Validation.razor
	RichTextEditor\RichTextEditor\Iframe-Functionalities.razor
	RichTextEditor\RichTextEditor\Image.razor
	RichTextEditor\RichTextEditor\Inline.razor
	RichTextEditor\RichTextEditor\InsertEmoticons.razor
	RichTextEditor\RichTextEditor\InsertSpecialCharacters.razor
	RichTextEditor\RichTextEditor\Markdown-Custom-Format.razor
	RichTextEditor\RichTextEditor\Markdown-Overview.razor
	RichTextEditor\RichTextEditor\Markdown-Preview.razor
	RichTextEditor\RichTextEditor\Overview.razor
	RichTextEditor\RichTextEditor\Paste-Cleanup.razor
	RichTextEditor\RichTextEditor\Preview.razor
	RichTextEditor\RichTextEditor\Print.razor
	RichTextEditor\RichTextEditor\Resize-Editor.razor
	RichTextEditor\RichTextEditor\Types.razor
	RichTextEditor\RichTextEditor\Usecase.razor
	Schedule\SampleList.cs
	Schedule\Scheduler
	Schedule\Scheduler\AdaptiveGrouping.razor
	Schedule\Scheduler\AdaptiveRows.razor
	Schedule\Scheduler\AddRemoveResources.razor
	Schedule\Scheduler\Agenda.razor
	Schedule\Scheduler\AppointmentTemplate.razor
	Schedule\Scheduler\BlockEvents.razor
	Schedule\Scheduler\CalendarExportImport.razor
	Schedule\Scheduler\CellDimensions.razor
	Schedule\Scheduler\ContextMenu.razor
	Schedule\Scheduler\CustomBinding.razor
	Schedule\Scheduler\CustomCell.razor
	Schedule\Scheduler\DateHeader.razor
	Schedule\Scheduler\DayHourLimit.razor
	Schedule\Scheduler\Default.razor
	Schedule\Scheduler\EditorPopupTemplate.razor
	Schedule\Scheduler\EditorValidation.razor
	Schedule\Scheduler\Events.razor
	Schedule\Scheduler\ExcelExport.razor
	Schedule\Scheduler\ExtendedViews.razor
	Schedule\Scheduler\ExternalDragDrop.razor
	Schedule\Scheduler\ExternalFormEditing.razor
	Schedule\Scheduler\FareCalendar.razor
	Schedule\Scheduler\Group.razor
	Schedule\Scheduler\GroupByChild.razor
	Schedule\Scheduler\GroupByDate.razor
	Schedule\Scheduler\GroupCustomWorkdays.razor
	Schedule\Scheduler\GroupEditing.razor
	Schedule\Scheduler\HeaderBar.razor
	Schedule\Scheduler\HeaderRows.razor
	Schedule\Scheduler\HideWeekend.razor
	Schedule\Scheduler\IndividualViewSettings.razor
	Schedule\Scheduler\InlineEditing.razor
	Schedule\Scheduler\KeyboardInteraction.razor
	Schedule\Scheduler\LocalData.razor
	Schedule\Scheduler\MonthAgenda.razor
	Schedule\Scheduler\MultipleDrag.razor
	Schedule\Scheduler\Overview.razor
	Schedule\Scheduler\Print.razor
	Schedule\Scheduler\QuickInfoTemplate.razor
	Schedule\Scheduler\ReadonlyEvents.razor
	Schedule\Scheduler\RecurrenceEditorPopulateRule.razor
	Schedule\Scheduler\RecurrenceEvents.razor
	Schedule\Scheduler\RecurrenceRuleGenerator.razor
	Schedule\Scheduler\RemoteData.razor
	Schedule\Scheduler\Resource.razor
	Schedule\Scheduler\ScheduleData.cs
	Schedule\Scheduler\ScrollTime.razor
	Schedule\Scheduler\SearchEvents.razor
	Schedule\Scheduler\Timeline.razor
	Schedule\Scheduler\TimelineResource.razor
	Schedule\Scheduler\TimelineResourceGroup.razor
	Schedule\Scheduler\TimeScale.razor
	Schedule\Scheduler\Tooltip.razor
	Schedule\Scheduler\Views.razor
	Schedule\Scheduler\VirtualScrolling.razor
	Schedule\Scheduler\WorkDays.razor
	Schedule\Scheduler\WorkHours.razor
	Schedule\Scheduler\Year.razor
	TreeGrid\FormatData.cs
	TreeGrid\SampleList.cs
	TreeGrid\SelfData.cs
	TreeGrid\ShipmentData.cs
	TreeGrid\SummaryRowData.cs
	TreeGrid\TemplateData.cs
	TreeGrid\TreeData.cs
	TreeGrid\TreeGrid
	TreeGrid\VirtualData.cs
	TreeGrid\WrapData.cs
	TreeGrid\TreeGrid\Aggregate.razor
	TreeGrid\TreeGrid\AutoWrap.razor
	TreeGrid\TreeGrid\BatchEditing.razor
	TreeGrid\TreeGrid\CellAlignment.razor
	TreeGrid\TreeGrid\CellEditTemplate.razor
	TreeGrid\TreeGrid\CellEditType.razor
	TreeGrid\TreeGrid\CellSelection.razor
	TreeGrid\TreeGrid\CheckboxColumn.razor
	TreeGrid\TreeGrid\CheckboxSelection.razor
	TreeGrid\TreeGrid\Clipboard.razor
	TreeGrid\TreeGrid\ColumnFormatting.razor
	TreeGrid\TreeGrid\ColumnMenu.razor
	TreeGrid\TreeGrid\ColumnTemplate.razor
	TreeGrid\TreeGrid\CommandColumn.razor
	TreeGrid\TreeGrid\ConditionalFormatting.razor
	TreeGrid\TreeGrid\ContextMenu.razor
	TreeGrid\TreeGrid\DefaultFiltering.razor
	TreeGrid\TreeGrid\DefaultFunctionalities.razor
	TreeGrid\TreeGrid\DialogEditing.razor
	TreeGrid\TreeGrid\DragAndDropWithinGrid.razor
	TreeGrid\TreeGrid\Exporting.razor
	TreeGrid\TreeGrid\FilterBarTemplate.razor
	TreeGrid\TreeGrid\FrozenColumn.razor
	TreeGrid\TreeGrid\GridLines.razor
	TreeGrid\TreeGrid\Headerstemplate.razor
	TreeGrid\TreeGrid\InlineEditing.razor
	TreeGrid\TreeGrid\KeyboardInteraction.razor
	TreeGrid\TreeGrid\MenuFilter.razor
	TreeGrid\TreeGrid\Paging.razor
	TreeGrid\TreeGrid\PagingAPI.razor
	TreeGrid\TreeGrid\Print.razor
	TreeGrid\TreeGrid\RemoteData.razor
	TreeGrid\TreeGrid\RemoteDataWithVirtualization.razor
	TreeGrid\TreeGrid\Reorder.razor
	TreeGrid\TreeGrid\Resizing.razor
	TreeGrid\TreeGrid\RowDragAndDrop.razor
	TreeGrid\TreeGrid\RowHeight.razor
	TreeGrid\TreeGrid\RowHover.razor
	TreeGrid\TreeGrid\Search.razor
	TreeGrid\TreeGrid\Selection.razor
	TreeGrid\TreeGrid\SelectionAPI.razor
	TreeGrid\TreeGrid\ShowOrHide.razor
	TreeGrid\TreeGrid\Sorting.razor
	TreeGrid\TreeGrid\SortingAPI.razor
	TreeGrid\TreeGrid\ToolBarTemplate.razor
	TreeGrid\TreeGrid\TreeColumnChooser.razor
	TreeGrid\TreeGrid\TreeGridDetailTemplate.razor
	TreeGrid\TreeGrid\TreeGridDynamicObject.razor
	TreeGrid\TreeGrid\TreeGridExpandoObject.razor
	TreeGrid\TreeGrid\TreeGridRowTemplate.razor
	TreeGrid\TreeGrid\VirtualScrolling.razor
	TreeMap\SampleList.cs
	TreeMap\TreeMap
	TreeMap\TreeMap\ColorMapping.razor
	TreeMap\TreeMap\Customization.razor
	TreeMap\TreeMap\DefaultFunctionalities.razor
	TreeMap\TreeMap\Drilldown.razor
	TreeMap\TreeMap\Layout.razor
	TreeMap\TreeMap\Legend.razor
	TreeMap\TreeMap\Print.razor
	TreeMap\TreeMap\Rtl.razor
	TreeMap\TreeMap\Selection.razor
	TreeMap\TreeMap\Tooltip.razor
	TreeMap\TreeMap\TreeMapLabel.razor
	Viewer\PdfViewer
	Viewer\SampleList.cs
	Viewer\PdfViewer\DefaultFunctionalities.razor
	Viewer\PdfViewer\FormFilling.razor
	Viewer\PdfViewer\HandwrittenSignature.razor
*@