@page "/Sukkot/Payment/{Id:int}"
@using LivingMessiah.Web.Shared.Sukkot

@using Page = LivingMessiah.Web.Links.Sukkot
<PageTitle>@Page.Links2.PaymentTitle</PageTitle>

<h2><span class="text-primary fab fa-paypal"></span> @Page.Links2.PaymentTitle</h2>
<br />

<LoadingComponent IsLoading="RegistrationSummary == null">
	<h4 class="text-center">Registration Id: @RegistrationSummary.Id, Family: @RegistrationSummary.FamilyName</h4>

	<div class="d-none d-sm-block">
		<div class="card border-primary mb-3">
			<div class="card-body">
				<PaymentSummary RegistrationSummary="@RegistrationSummary"></PaymentSummary>
			</div>
		</div>
	</div>

	<div class="d-block d-sm-none">
		<div class="card border-primary mb-4">
			<div class="card-body">
				<PaymentSummaryXs RegistrationSummary="@RegistrationSummary"></PaymentSummaryXs>
			</div>
		</div>
	</div>


	<p class="lead text-primary">
		We look forward to seeing you during Sukkot, it is going to be awesome!
	</p>

	<div class="card border-primary">
		<div class="card-body mb-3">
			We are currently using PayPal for processing Living Messiah Ministry Sukkot donations.
			The table above is to help you in determining the amount.  By our calculations, the remaining amount is <b>@RegistrationSummary.RemainingCost.ToString("C0")</b>.
			By clicking the <span class="badge badge-warning"><b>Donate</b></span> button below, you will temporarily be redirected to their website.
		</div>

		<div class="card-body">

			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="@LivingMessiah.Web.Pages.Sukkot.Constants.PayPal.HostedButton">
				&nbsp;&nbsp;&nbsp;
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
							 border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"
							 title="Make a Sukkot Payment online with PayPal" class="btn btn-success btn-lg">
				<input type="hidden" name="item_name" value="@LivingMessiah.Web.Pages.Sukkot.Constants.PayPal.ItemMessage, Registration Id: @RegistrationSummary.Id">
				<input type="hidden" name="item_number" value="@RegistrationSummary.Id">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

		</div>
	</div>

	<div class="row">
		<div class="col-12">

		</div>
	</div>

</LoadingComponent>


<div class="row d-print-none mt-5">
	<div class="col-12">
		<a href="@Page.RegistrationShell"
			 class="btn btn-info" title="Back to Registration Shell">
			<i class="far fa-arrow-alt-circle-left"></i> Back to Registration
		</a>
	</div>
</div>