@inherits BasePaymentSummary

<div class="row">
	<div class="col-12">
		<h5 class="text-center">Detailed Costs</h5>
	</div>
</div>

<div class="row row-striped">
	<div class="col-4">
		<u>Line Item</u>
	</div>
	<div class="col-2">
		<span class="float-end"><u>Amount</u></span>
	</div>
	<div class="col-6">
		<u>Calculation</u>
	</div>
</div>



<div class="row row-striped">
	<div class="col-4">
		Registration Fee:
	</div>
	<div class="col-2">
		<span class="float-end">@RegistrationSummary!.RegistrationFeeAdjusted.ToString("C0")</span>
	</div>
	<div class="col-6">
		Early or Regular Fee
	</div>
</div>


<div class="row row-striped">
	<div class="col-4">
		Total Cost:
	</div>
	<div class="col-2">
		<span class="float-end">@RegistrationSummary.TotalCost.ToString("C0")</span>
	</div>
	<div class="col-6">
		@RegistrationSummary.RegistrationFeeAdjusted.ToString("C0")
	</div>
</div>

<div class="row row-striped">
	<div class="col-4">
		Total Cost:
	</div>
	<div class="col-2">
		<span class="float-end">@RegistrationSummary.TotalCost.ToString("C0")</span>
	</div>
	<div class="col-6">
		@RegistrationSummary.RegistrationFeeAdjusted.ToString("C0") 
	</div>
</div>


<div class="row row-striped">
	<div class="col-4">
		Prior Donation(s):
	</div>
	<div class="col-2">
		<span class="float-end">@RegistrationSummary.TotalDonation.ToString("C0")</span>
	</div>
	<div class="col-6">
		Summation of prior donation(s) (if any).
	</div>
</div>

<div class="row row-striped">
	<div class="col-4">
		Remaining Cost:
	</div>
	<div class="col-2">
		<span class="text-success float-end"><u><b>@RegistrationSummary.RemainingCost.ToString("C0")</b></u></span>
	</div>
	<div class="col-6">
		@RegistrationSummary.TotalCost.ToString("C0") - @RegistrationSummary.TotalDonation.ToString("C0") <small>(Cost - Donation)</small>
	</div>
</div>
