@page "/Hanukkah"
@using LivingMessiah.Web.Pages.Feasts.Components
@*@using LivingMessiah.Web.LinkSmartEnums*@

@using Page = LivingMessiah.Web.Links.Feast
<PageTitle>@Page.Hanukkah.Title</PageTitle>

<ReturnAnchor></ReturnAnchor>

<div class="pb-1 mt-4 mb-5 border-bottom border-primary">
	<h2><i class="@Page.Hanukkah.Icon"></i> @Page.Hanukkah.Title</h2>
</div>

<div class="card border-primary mt-5">
	<div class="card-header"><h5 class="text-center">@Page.Hanukkah.Title References | John 10</h5></div>

	<div class="card-body">
		<h5 class="card-title">John 10:22</h5>
		<blockquote>
			<p>
				<sup><b>22</b></sup>
				And it was at Jerusalem the feast of the dedication, and it was winter.
			</p>
			<small class="float-right"><i>Yochanan </i> <sup>John </sup> 10:22</small>
		</blockquote>

	</div>
</div>

@*And it was at Jerusalem <sup>G1456 eng-kah'-ee-nee-ah <i>Ἱεροσολύμοις</i></sup> the feast of the dedication<sup><i>ἐγκαίνια</i></sup>, and it was winter.*@

@*<BibleReference Feast="@LinkSmartEnums.Feast.Hanukkah"/>*@

