@page "/Feasts"

@using LivingMessiah.Web.LinkSmartEnums
@using LivingMessiah.Web.SmartEnums

@using Page = LivingMessiah.Web.Links.Feast
<PageTitle>@Page.Title</PageTitle>
<div class="pb-2 mt-4 mb-2 ">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<div class="list-group">
	@foreach (var item in Feast.List.OrderBy(o => o.Value).ToList())
	{
		<a href="@item.Page" title="@item.Hebrew.TitleSuffix @item.Hebrew.Strongs"
		 class="list-group-item list-group-item-warning ">
			<i class="@item.Icon fa-fw fa-3x" aria-hidden="true"></i>
			<span class="home-page-xs"><b>@item.Title</b></span>
			<span class="float-right text-info">
				<span class="hebrew">@item.Hebrew.FloatRightHebrew</span>
			</span>
		</a>
	}
</div>

<div class="card border-primary mt-5">
	<div class="card-header"><h5 class="text-center">Feast Bible References | Leviticus 23</h5></div>

	<div class="card-body">
			<h5 class="card-title">Leviticus 23:1-2</h5>
		<blockquote>
			<ol start="1">
				<li>
					And <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew16">וַיְדַבֵּר</span> <sup>spake unto</sup> 
					<i>Moseh</i> <span class="hebrew16">מֹשֶׁה</span> <sup>Moses</sup>, saying,
				</li>

				<li>
					Speak unto <i>benei</i> <span class="hebrew16">בְּנֵי</span> <sup>the children</sup> <i>Yisrael</i> <span class="hebrew16">יִשְׂרָאֵל</span> <sup>of Israel</sup>
					, and say unto them, Concerning the <i>moadei</i> <span class="hebrew16">מוֹעֲדֵי</span> <sup>feasts</sup> <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup>
					, which ye shall proclaim to be <i>kodesh</i> <span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> convocations, even these are my <i>moedi</i> <span class="hebrew16">מוֹעֲדֵי</span> <sup>feasts</sup>.
				</li>
			</ol>
			<small class="float-right"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:1-2</small>
		</blockquote>

	</div>
</div>


<AlephBetFooter />
