@page "/Tabernacles"
@using Sukkot = LivingMessiah.Web.Links.Sukkot
@using LivingMessiah.Web.Pages.Feasts.Components

@using Page = LivingMessiah.Web.Links.Feast
<PageTitle>@Page.Tabernacles.Title</PageTitle>

<ReturnAnchor></ReturnAnchor>

<div class="pb-1 mt-4 mb-5 border-bottom border-primary">
	<h2><i class="@Page.Tabernacles.Icon"></i> @Page.Tabernacles.Title</h2>
</div>

@*<BibleReference Feast="@LinkSmartEnums.Feast.Tabernacles"/>*@

<div class="card border-primary mt-5">
	<div class="card-header"><h5 class="text-center">@Page.Tabernacles.Title Bible References | Leviticus 23</h5></div>

	<div class="card-body">
		<h5 class="card-title">Leviticus 23:33-38</h5>
		<blockquote>

			<p>
				<sup><b>33</b></sup>
				And <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew16">וַיְדַבֵּר</span> <sup>spake unto</sup>
				<i>Moseh</i> <span class="hebrew16">מֹשֶׁה</span> <sup>Moses</sup>, saying,
			</p>

			<p>
				<sup><b>34</b></sup>
				Speak unto the <i>benei</i> <span class="hebrew16">בְּנֵי</span> <sup>children</sup> <i>Yisrael</i> <span class="hebrew16">יִשְׂרָאֵל</span> <sup>of Israel</sup>
				, saying, The fifteenth day of this seventh month
				shall be the <i>chag</i> <span class="hebrew16">חַג</span> <sup>feast</sup> of <i>hassukkot</i> <span class="hebrew16">הַסֻּכּוֹת</span> <sup>tabernacles</sup>
				for seven days unto <span class="hebrew16">לַיהוָה</span> <sup>the LORD</sup>.
			</p>

			<p>
				<sup><b>35</b></sup>
				On the first day shall be an <i>kodesh</i> <span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew16">מִקְרָא־</span> <sup>convocations</sup>
				: ye shall do no servile work therein.
			</p>

			<p>
				<sup><b>36</b></sup>
				Seven days ye <i>takrivu</i> <span class="hebrew16">תַּקְרִיבוּ</span> <sup>shall offer</sup>
				an offering made <i>ishsheh</i> <span class="hebrew16">אִשֶּׁה</span> <sup>by fire</sup> 
				unto <span class="hebrew16">לַיהוָה ס</span> <sup>the LORD</sup>:
				on the eighth day shall be 
				an <i>kodesh</i> <span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew16">מִקְרָא־</span> <sup>convocations</sup> unto you
				; and ye shall offer an offering made by fire unto the LORD:
				it is a <i>atzeret</i> <span class="hebrew16">עֲצֶרֶת</span> <sup>solemn assembly</sup>
				; and ye shall do no servile work therein.
			</p>

			<p>
				<sup><b>37</b></sup>
				These are the feasts of the LORD, which ye shall proclaim to be holy convocations
				, to offer an offering made by fire unto the LORD, a burnt offering, and a meat offering
				, a sacrifice, and drink offerings, every thing upon his day:
			</p>

			<p>
				<sup><b>38</b></sup>
				Beside the sabbaths of the LORD, and beside your gifts, and beside all your vows
				, and beside all your freewill offerings, which ye give unto the LORD.
			</p>

			<small class="float-right"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:33-38</small>
		</blockquote>
	</div>

	<div class="card-body">
		<h5 class="card-title">Leviticus 23:39-44</h5>
		<blockquote>

			<p>
				<sup><b>39</b></sup>
				Also in the fifteenth day of the seventh month, when ye have gathered in the fruit of the land
				, ye shall keep a feast unto the LORD seven days: on the first day shall be a sabbath
				, and on the eighth day shall be a sabbath.
			</p>

			<p>
				<sup><b>40</b></sup>
				And ye shall take you on the first day the boughs of goodly trees, branches of palm trees
				, and the boughs of thick trees, and willows of the brook
				; and ye shall rejoice before the LORD your God seven days.
			</p>

			<p>
				<sup><b>41</b></sup>
				And ye shall keep it a feast unto the LORD seven days in the year.
				It shall be a statute for ever in your generations: ye shall celebrate it in the seventh month.
			</p>
			<p>
				<sup><b>42</b></sup>
				Ye shall dwell in booths seven days; all that are Israelites born shall dwell in booths:
			</p>

			<p>
				<sup><b>43</b></sup>
				That your generations may know that I made the children of Israel to dwell in booths
				, when I brought them out of the land of Egypt: I am the LORD your God.
			</p>

			<p>
				<sup><b>44</b></sup>
				And Moses declared unto the children of Israel the feasts of the LORD.
			</p>

			<small class="float-right"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:39-44</small>
		</blockquote>


	</div>
</div>

<AlephBetFooter />
<img src="@Blobs.UrlEvents(LivingMessiah.Web.Pages.Sukkot.Constants.Other.Banner)" alt="Sukkot" class="img-fluid rounded mt-4" />

<a class="btn btn-outline-primary btn-sm mt-3"
	 href="@Sukkot.Index">
	<i class="fas fa-link"></i> @Sukkot.Title Registration
</a>


