@page "/Tabernacles"
@using Sukkot = LivingMessiah.Web.Links.Sukkot
@using LivingMessiah.Web.Pages.Feasts.Components

@using Page = LivingMessiah.Web.Links.Feast
<PageTitle>@Page.Tabernacles.Title</PageTitle>

<ReturnAnchor></ReturnAnchor>

<div class="pb-1 mt-4 mb-5 border-bottom border-primary">
	<h2><i class="@Page.Tabernacles.Icon"></i> @Page.Tabernacles.Title</h2>
</div>

@*<BibleReference Feast="@LinkSmartEnums.Feast.Tabernacles"/>*@

<div class="card border-primary mt-5">
	<div class="card-header"><h5 class="text-center">@Page.Tabernacles.Title Bible References | Leviticus 23</h5></div>

	<div class="card-body">
		<h5 class="card-title">Leviticus 23:33-44</h5>
		<blockquote>
			<ol start="33">
				<li>
					And <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew16">וַיְדַבֵּר</span> <sup>spake unto</sup> 
					<i>Moseh</i> <span class="hebrew16">מֹשֶׁה</span> <sup>Moses</sup>, saying,
				</li>

				<li>
					Speak unto the children of Israel, saying, The fifteenth day of this seventh month
					shall be the feast of tabernacles for seven days unto the LORD.
				</li>

				<li>
					On the first day shall be an holy convocation: ye shall do no servile work therein.
				</li>

				<li>
					Seven days ye shall offer an offering made by fire unto the LORD:
					on the eighth day shall be an holy convocation unto you; and ye shall offer an offering made by fire unto the LORD:
					it is a solemn assembly; and ye shall do no servile work therein.
				</li>

				<li>
					These are the feasts of the LORD, which ye shall proclaim to be holy convocations
					, to offer an offering made by fire unto the LORD, a burnt offering, and a meat offering
					, a sacrifice, and drink offerings, every thing upon his day:
				</li>

				<li>
					Beside the sabbaths of the LORD, and beside your gifts, and beside all your vows
					, and beside all your freewill offerings, which ye give unto the LORD.
				</li>

				<li>
					Also in the fifteenth day of the seventh month, when ye have gathered in the fruit of the land
					, ye shall keep a feast unto the LORD seven days: on the first day shall be a sabbath
					, and on the eighth day shall be a sabbath.
				</li>

				<li>
					And ye shall take you on the first day the boughs of goodly trees, branches of palm trees
					, and the boughs of thick trees, and willows of the brook
					; and ye shall rejoice before the LORD your God seven days.
				</li>

				<li>
					And ye shall keep it a feast unto the LORD seven days in the year.
					It shall be a statute for ever in your generations: ye shall celebrate it in the seventh month.
				</li>
				<li>
					Ye shall dwell in booths seven days; all that are Israelites born shall dwell in booths:
				</li>

				<li>
					That your generations may know that I made the children of Israel to dwell in booths
					, when I brought them out of the land of Egypt: I am the LORD your God.
				</li>

				<li>
					And Moses declared unto the children of Israel the feasts of the LORD.
				</li>

			</ol>
			<small class="float-right"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:33-44</small>
		</blockquote>

	</div>
</div>

@*

	Speak unto <i>benei</i> <span class="hebrew16">בְּנֵי</span> <sup>the children</sup> <i>Yisrael</i> <span class="hebrew16">יִשְׂרָאֵל</span> <sup>of Israel</sup>
	, and say unto them, Concerning the <i>moedi</i> <span class="hebrew16">מוֹעֲדֵי</span> <sup>feasts</sup> <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup>
	, which ye shall proclaim to be <i>kodesh</i> <span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> convocations, even these are my <i>moedi</i> <span class="hebrew16">מוֹעֲדֵי</span> <sup>feasts</sup>.

*@

<AlephBetFooter />
<img src="@Blobs.UrlEvents("2021-sukkot-banner-1039-x-530.jpg")" alt="Sukkot" class="img-fluid rounded mt-4" />

<a class="btn btn-primary btn-sm mt-3"
	 href="@Sukkot.Index">
	<i class="fas fa-link"></i> @Sukkot.Title Registration
</a>


