@page "/Weeks"
@using Shavuot = LivingMessiah.Web.Links.Shavuot
@using LivingMessiah.Web.Pages.Feasts.Components

@using Page = LivingMessiah.Web.Links.Feast
<PageTitle>@Page.Weeks.Title</PageTitle>

<ReturnAnchor></ReturnAnchor>

<div class="pb-1 mt-4 mb-5 border-bottom border-primary">
	<h2><i class="@Page.Weeks.Icon"></i> @Page.Weeks.Title</h2>
</div>


<div class="card border-primary mt-5">
	<div class="card-header"><h5 class="text-center">@Page.Weeks.Title References | Leviticus 23</h5></div>

	<div class="card-body">
		<h5 class="card-title">Leviticus 23:15-21</h5>
		<blockquote>
			<ol start="15">

				<li>
					And ye shall count unto you from the morrow after the sabbath
					, from the day that ye brought the sheaf of the wave offering
					; seven sabbaths shall be complete:
				</li>

				<li>
					Even unto the morrow after the seventh sabbath shall ye number fifty days
					; and ye shall offer a new meat offering unto the LORD.
				</li>

				<li>
					Ye shall bring out of your habitations two wave loaves of two tenth deals
					; they shall be of fine flour; they shall be baked with leaven; they are the firstfruits unto the LORD.
				</li>

				<li>
					And ye shall offer with the bread seven lambs without blemish of the first year
					, and one young bullock, and two rams: they shall be for a burnt offering unto the LORD
					, with their meat offering, and their drink offerings, even an offering made by fire, of sweet savor unto the LORD.
				</li>

				<li>
					Then ye shall sacrifice one kid of the goats for a sin offering
					, and two lambs of the first year for a sacrifice of peace offerings.
				</li>

				<li>
					And the priest shall wave them with the bread of the firstfruits for a wave offering before the LORD
					, with the two lambs: they shall be holy to the LORD for the priest.
				</li>

				<li>
					And ye shall proclaim on the selfsame day, that it may be an holy convocation unto you
					: ye shall do no servile work therein: it shall be a statute for ever in all your dwellings throughout your generations.
				</li>

			</ol>
			<small class="float-right"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:15-21</small>
		</blockquote>

	</div>
</div>

<AlephBetFooter />

@*<BibleReference Feast="@LinkSmartEnums.Feast.Weeks"/>*@

<a class="btn btn-primary btn-sm mt-3"
	 href="@Shavuot.Index">
	<i class="fas fa-link"></i> @Shavuot.Title
</a>



