@page "/Weeks"
@using Shavuot = LivingMessiah.Web.Links.Shavuot
@using LivingMessiah.Web.Pages.Feasts.Components
@using LivingMessiah.Web.Shared.BibleVerses

@using Page = LivingMessiah.Web.Pages.Feasts.LinkSmartEnums.FeastLinks
<PageTitle>@Page.Weeks.Title</PageTitle>

<ReturnAnchor />

<div class="pb-1 mt-4 mb-5 border-bottom border-primary">
	<h2><i class="@Page.Weeks.Icon"></i> @Page.Weeks.Title</h2>
</div>

<Lev_023_15_to_16 Header="Omer Counting Instructions">
</Lev_023_15_to_16>

<Lev_023_17_to_21 Header="Bible Reference to Weeks">
</Lev_023_17_to_21>

<AlephBetFooter />

@*<BibleReference Feast="@LinkSmartEnums.Feast.Weeks"/>*@

<a class="btn btn-outline-primary btn-sm mt-3"
	 href="@Shavuot.Index">
	<i class="fas fa-link"></i> @Shavuot.Title
</a>



