
<div class="card-group">
	<div class="card">

		<div class="card-body">
			<p class="card-title">@Date.AddDays(-1).ToString(DateFormat.dd)</p>

			<div class="progress-stacked" style="height: @_height">

				<div class="progress" role="progressbar" aria-label="Segment one a" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
						 style="width: 70%; height: @_height">

					@if (String.IsNullOrEmpty(FirstProgressBarDayLabel))
					{
						 <div class="progress-bar @_progressBarStriped_bg"></div>
						
					}
					else
					{
						<div class="progress-bar @_progressBarErev_bg">
							<span class="@_labelSize text-dark"><b>@FirstProgressBarDayLabel</b></span>
						</div>
					}

				</div>

				<div class="progress" role="progressbar" aria-label="Segment one b" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
						 style="width: 30%; height: @_height">
					<div class="progress-bar @_progressBarErev_bg">
						<span class="@_labelSize text-dark"><b>@FirstProgressBarErevLabel</b></span>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<p class="card-title"><b>@Date.ToString(DateFormat.dd)</b></p>

			<div class="progress-stacked" style="height: @_height">

				<div class="progress" role="progressbar" aria-label="Segment two a" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
						 style="width: 70%; height: @_height">

					
					<div class="progress-bar @_progressBarDay_bg">
						<span class="@_labelSize text-dark"><b>@SecondProgressBarDayLabel</b></span>
					</div>


@* 					@if (String.IsNullOrEmpty(SecondProgressBarDayLabel))
					{
						<div class="progress-bar @_progressBarStriped_bg"></div>

					}
					else
					{
						<div class="progress-bar @_progressBarErev_bg">
							<span class="@_labelSize text-dark"><b>@FirstProgressBarDayLabel</b></span>
						</div>
					} *@


				</div>

				<div class="progress" role="progressbar" aria-label="Segment two b" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
						 style="width: 30%; height: @_height">

					<div class="progress-bar @_progressBarStriped_bg"><b>@SecondProgressBarErevLabel</b></div>

				</div>

			</div>


		</div>
	</div>
</div>


@code {
	[Parameter, EditorRequired] public DateTime Date { get; set; }
	[Parameter] public string FirstProgressBarDayLabel  { get; set; } = "";
	[Parameter] public string FirstProgressBarErevLabel { get; set; } = "Eve"; // Erev
	[Parameter] public string SecondProgressBarDayLabel { get; set; } = "Day";
	[Parameter] public string SecondProgressBarErevLabel { get; set; } = "";


	const string _progressBarErev_bg = "bg-secondary-subtle";
	const string _progressBarDay_bg = "bg-warning-subtle border border-warning-subtle";
	const string _progressBarStriped_bg = "progress-bar-striped bg-secondary";
	const string _height = "20px";
	const string _labelSize = "";
}
