<div class="card mt-1">

	<div class="card-header">
		<h5 class="text-center"> Passover Bible References | Leviticus 23</h5>
		<p class="small mt-1 text-black-50 text-center">See also: Numbers 28:16-25</p>
	</div>

	<div class="card-body">
		<h5 class="text-center"> @book.Title @refChapterVerse</h5>

			<p>
				<sup><b>4</b></sup>
				These are the <i>moadei</i> <span class="hebrew16">מוֹעֲדֵי</span> <sup>feasts</sup> of <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup>
				, even <i>kodesh</i> <span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> <i>mikrei</i> <span class="hebrew16">מִקְרָאֵי</span> <sup>convocations</sup>
				, which ye shall <i>tikreu</i> <span class="hebrew16">תִּקְרְאוּ</span> <sup>proclaim</sup> in their <i>bemoadam</i> <span class="hebrew16">בְּמוֹעֲדָם</span> <sup>seasons</sup>.
			</p>

			<p>
				<sup><b>5</b></sup>
				<span class="text-info fw-bold">fourteenth day</span> of the <span class="text-info fw-bold">first month</span>
				<i>bein</i> <span class="hebrew16">בֵּין</span> <sup>at {or between}</sup> even is
				<span class="hebrew16">לַיהוָה</span> <sup>the LORD's</sup> <mark><b><i>pesach</i></b></mark> <span class="hebrew16">פֶּסַח</span> <mark><b><i><sup>passover</sup></i></b></mark>.
			</p>

			<p>
				<sup><b>6</b></sup>
				And on the <span class="text-danger fw-bold">fifteenth day</span> of the <span class="text-danger fw-bold">same month</span> is the
				<i>chag</i> <span class="hebrew16">חַג</span> <sup>feast</sup>
				of <mark><b><i>hammatztzot</i></b></mark> <span class="hebrew16">הַמַּצּוֹת</span> <mark><b><sup>unleavened bread</sup></b></mark> unto <span class="hebrew16">לַיהוָה</span> <sup>the LORD</sup>:
				seven days ye must eat <mark><b><i>matztzot</i></b></mark> <span class="hebrew16">מַצּוֹת</span> <mark><b><sup>unleavened bread</sup></b></mark>.
			</p>

			<p>
				<sup><b>7</b></sup>
				In the <i>harishon</i> <span class="hebrew16">הָרִאשׁוֹן</span> 
				<span class="text-danger fw-bold">first day</span> ye shall have an <i>kodesh</i>
				<span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew16">מִקְרָא־</span> <sup>convocation</sup>
				: ye shall do no servile work therein.
			</p>

			<p>
				<sup><b>8</b></sup>
				But ye shall offer an offering made by fire unto <span class="hebrew16">לַיהוָה</span> <sup>the LORD</sup> seven days
				: in the <span class="text-danger fw-bold">seventh day</span> is an
				<span class="hebrew16">קֹדֶשׁ</span> <sup>holy</sup> <i>mikra-</i> <span class="hebrew16">מִקְרָא־</span> <sup>convocation</sup>
				: ye shall do no servile work therein.
			</p>

			<small class="float-end"><i>@book.TransliterationInHebrew</i> <span class="hebrew16">@book.NameInHebrew</span> <sup>@book.Title </sup> @refChapterVerse</small>

	</div>

</div>


@code {
	BibleBook book = BibleBook.Leviticus;
	string refChapterVerse = "23:4–8";
}
