@using LivingMessiah.Web.Pages.UpcomingEvents
@using LivingMessiah.Domain.KeyDates.Enums

@switch (UpcomingEvent.DateTypeEnum)
{
	case DateTypeEnum.Month:
		<LunarMonth EventDate="@UpcomingEvent.EventDate" DaysAhead="@UpcomingEvent.DaysAhead" IsXsOrSm="@IsXsOrSm"
								LunarMonthSmartEnum="@LunarMonthSmartEnum.FromValue(UpcomingEvent.EnumId)">
		</LunarMonth>
		break;

	case DateTypeEnum.Feast:
		<Feast EventDate="@UpcomingEvent.EventDate" DaysAhead="@UpcomingEvent.DaysAhead" IsXsOrSm="@IsXsOrSm"
					 FeastDayLocal="@FeastDayLocal.FromInt(UpcomingEvent.EnumId)"
					 ImgUrl ="@UpcomingEvent.ImageUrl">
		</Feast>
		break;

	case DateTypeEnum.Season:
		<Season EventDate="@UpcomingEvent.EventDate" DaysAhead="@UpcomingEvent.DaysAhead" IsXsOrSm="@IsXsOrSm"
						SeasonLocal="@SeasonLocal.FromInt(UpcomingEvent.EnumId)">
		</Season>
		break;

	default:
		<p>DateTypeEnum Unknown</p>
		break;
}




