@inherits BaseKeyDates

<div class="card  border-primary my-5">
	<div class="card-header">

		@if (IsXsOrSm)
		{
			<div class="row">
				<div class="col-12">
					<h1 class="text-center"><span class="badge badge-info"> Feast</span></h1>
				</div>
			</div>

			<div class="row">

				<div class="col-6 mt-3">
					<span class="fa-stack fa-3x mt-2">
						<i class="far fa-calendar"></i>
						<strong class="calendar-text">@EventDate.Day</strong>
					</span>
					<h3><span class='badge badge-primary'>@EventDate.Date.ToString(DateFormat.ddd_mm_dd)</span></h3>
					@*<p class="mt-0"><small>@DaysAhead</small></p>*@
				</div>

				<div class="col-6">
					<img src='@Blobs.UrlOther("feasts-175-175.jpg")' alt="@FeastDayLocal.Name"
							 class="float-right img-fluid rounded mt-4" />
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<h1 class="text-center mt-4"><i class="@FeastDayLocal.Icon"></i> <i>@FeastDayLocal.Name</i></h1>
					<h3 class="text-center card-text"><i>@FeastDayLocal.Transliteration</i> <span class="hebrew36">@FeastDayLocal.Hebrew</span> </h3>
				</div>
			</div>

			@if (!String.IsNullOrEmpty(ImgUrl))
			{
				<div class="row col-12">
					<img src='@Blobs.UrlEvents(ImgUrl)' alt="@FeastDayLocal.Name"
							 class="img-fluid float-right rounded mt-4" />
				</div>
			}

		}
		else
		{

			<div class="row">

				<div class="col-3 mt-3">
					<span class="fa-stack fa-3x mt-2">
						<i class="far fa-calendar"></i>
						<strong class="calendar-text">@EventDate.Day</strong>
					</span>
					<h3><span class='badge badge-primary'>@EventDate.Date.ToString(DateFormat.ddd_mm_dd)</span></h3>
				</div>

				<div class="col-6">
					<h3 class="text-center"><span class="badge badge-info">Feast</span></h3>
					<h1 class="text-center mt-4"><i class="@FeastDayLocal.Icon"></i> <i>@FeastDayLocal.Name</i></h1>
					<h3 class="text-center card-text"><i>@FeastDayLocal.Transliteration</i> <span class="hebrew36">@FeastDayLocal.Hebrew</span> </h3>

				</div>

				<div class="col-3">
					<img src='@Blobs.UrlOther("feasts-175-175.jpg")' alt="@FeastDayLocal.Name"
							 class="float-right img-fluid rounded mt-4" />
				</div>
			</div>


			@if (!String.IsNullOrEmpty(ImgUrl))
			{
				<div class="row col-12">
					<img src='@Blobs.UrlEvents(ImgUrl)' alt="@FeastDayLocal.Name"
							 class="float-right img-fluid rounded mt-4" />
				</div>
			}

		}


	</div>

	<div class="card-body  text-white bg-secondary">
		@if (!String.IsNullOrEmpty(FeastDayLocal.Details))
		{
			<p class="card-text text-center">@FeastDayLocal.Details</p>
		}

		@*ToDo: List detail bullet points...maybe use MarkDown*@

	</div>

</div>

@*

		<div class="card-body py-0">
		<table class="table table-sm table-striped">
			<thead>
				@if (IsXsOrSm)
				{
					<tr><th>Name</th><th></th></tr>
				}
				else
				{
					<tr><th>Name</th><th>Hebrew</th><th>Transliteration</th><th></th></tr>
				}
			</thead>
			<tbody>

				*** Feast Day Details Not Shown ***

				@foreach (var fdd in item.FeastDayDetails)
				{
					<tr>
						<td>@fdd.Name</td>

						@if (IsXsOrSm)
						{
							<td><span class="float-right">@item.Date.AddDays(FDD.FromInt(fdd.Id).AddDays).ToString(@DateFormat.ddd_mm_dd)</span></td>
						}
						else
						{
							<td><span class="hebrew16">@fdd.Hebrew</span></td>
							<td><i>@fdd.Transliteration</i></td>
							<td><span class="float-right">@item.Date.AddDays(FDD.FromInt(fdd.Id).AddDays).ToString(@DateFormat.ddd_mm_dd)</span></td>
						}

					</tr>
				}

			</tbody>
		</table>

	</div>*@




@*<div class="row">
		@if (IsXsOrSm)
		{

			<div class="col-8 pr-1"><h6><b>@FeastDayLocal.Name</b> <span class="hebrew16">@FeastDayLocal.Hebrew</span> @FeastDayLocal.Transliteration</h6></div>
			<div class="col-4 pl-1">@GetDateHtml()</div>
		}
		else
		{
			<div class="col-4"><h5>@FeastDayLocal.Name</h5></div>
			<div class="col-4"><span class="hebrew16">@FeastDayLocal.Hebrew</span> <i>@FeastDayLocal.Transliteration</i></div>
			<div class="col-4">@GetDateHtml()</div>
		}
	</div>*@


