@page "/upcomingevents"

@* Deprecated Use /Calendar instead *@

@using LivingMessiah.Web.Pages.UpcomingEvents.Enums
@using Markdig

@using Page = LivingMessiah.Web.Links.UpcomingEvents
<PageTitle>@Page.Title</PageTitle>

<div class="d-print-none">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<RegularVideoedEvents />

<hr class="warning mt-1 mb-5" />
@*
<div class="card bg-light text-muted ">
	<div class="card-body my-1 pl-1 py-0">
		<ul class="list-inline float-end">
			<li class="list-inline-item"><small>Days Past: @DaysPast,</small></li>
			<li class="list-inline-item"><small>Days Ahead: @DaysAhead,</small></li>
			<li class="list-inline-item"><small>Row Cnt: @RowCnt</small></li>
		</ul>
	</div>
</div>*@

<LoadingComponent IsLoading="SpecialEvents==null" TurnSpinnerOff="@TurnSpinnerOff">
	@foreach (var item in SpecialEvents)
	{
		<SpecialEvent Id ="@item.Id"
							EventDate="@item.EventDate"
							SpecialEventType="@SpecialEventType.FromValue(item.SpecialEventTypeId)"
							Title="@item.Title"
							SubTitle="@item.SubTitle"
							ImageUrl="@item.ImageUrl"
							WebsiteUrl="@item.WebsiteUrl"
							WebsiteDescr="@item.WebsiteDescr"
							YouTubeId="@item.YouTubeId"
							Description="@Markdig.Markdown.ToHtml(item.Description, pipeline)">
			</SpecialEvent>
	}
</LoadingComponent>

@*
	
SpecialEventType="@item.SpecialEventType"

EventType.FromEnum(item.SpecialEventType)"


*@