@page "/upcomingevents"
@using LivingMessiah.Domain.KeyDates.Enums
@using static LivingMessiah.Web.Links.UpcomingEvents

<div class="d-print-none">
	<h2><i class="@Icon"></i> @Title</h2>
</div>

<div class="d-none d-print-block">
	<h1 class="text-center">@Title</h1>
</div>

<RegularVideoedEvents></RegularVideoedEvents>

<hr class="warning mt-5" />
<h3>Upcoming Events</h3>
<hr class="warning mt-0 mb-5" />

<LoadingComponent IsLoading="UpcomingEventList==null && DatabaseWarning==false">
	@foreach (var item in UpcomingEventList)
		{
			if (item.EventTypeEnum == EventTypeEnum.KeyDate)
			{
				<div class="d-md-none">
					<DetailKeyDate UpcomingEvent="@item" IsXsOrSm="true">
					</DetailKeyDate>
				</div>
				<div class="d-none d-md-block">
					<DetailKeyDate UpcomingEvent="@item" IsXsOrSm="false">
					</DetailKeyDate>
				</div>
			}
			else
			{
				<NonKeyDate EventDate="@item.EventDate"
										EventType="@EventType.FromEnum(item.EventTypeEnum)"
										Title="@item.Title"
										SubTitle="@item.SubTitle"
										ImageUrl="@item.ImageUrl"
										WebsiteUrl="@item.WebsiteUrl"
										WebsiteDescr="@item.WebsiteDescr"
										YouTubeId="@item.YouTubeId"
										Description="@item.Description">
				</NonKeyDate>
			}
		}
</LoadingComponent>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}




