@inherits BaseKeyDates

<div class="card border-primary my-5">
	<div class="card-header">

		@if (IsXsOrSm)
		{

			<div class="row">

				<div class="col-12">
					<h1 class="text-center"><span class="badge bg-info"><i class="@Icon"></i> New Moon</span></h1>
				</div>

			</div>

			<div class="row">

				<div class="col-6 mt-3">
					<span class="fa-stack fa-3x mt-2">
						<i class="far fa-calendar"></i>
						<strong class="calendar-text">@EventDate.Day</strong>
					</span>
					<h3><span class='badge bg-primary'>@EventDate.Date.ToString(DateFormat.ddd_mm_dd)</span></h3>
					@*<p class="mt-0"><small>@DaysAhead</small></p>*@
				</div>

				<div class="col-6">
					<img src='@Blobs.UrlOther("new-moon-175-174.jpg")' alt="@BaseLunarMonthSmartEnum.Name" class="float-end img-fluid rounded mt-4" />
				</div>

			</div>

			<div class="row">

				<div class="col-12">
					<h1 class="text-center mt-4"><i>@BaseLunarMonthSmartEnum.FullName</i> <span class="hebrew44">@BaseLunarMonthSmartEnum.Hebrew</span></h1>

					@if (!String.IsNullOrEmpty(@BaseLunarMonthSmartEnum.BiblicalHebrew))
					{
						<h3 class="text-center mb-0"><i>@BaseLunarMonthSmartEnum.BiblicalName</i> <span class="hebrew36">@BaseLunarMonthSmartEnum.BiblicalHebrew</span> </h3>
						<p class="text-center text-black-50 mt-0"><small>Biblical Name</small></p>
					}

				</div>

			</div>

		}
		else
		{
			<div class="row">

				<div class="col-3 mt-3">
					<span class="fa-stack fa-3x mt-2">
						<i class="far fa-calendar"></i>
						<strong class="calendar-text">@EventDate.Day</strong>
					</span>
					<h3><span class='badge bg-primary'>@EventDate.Date.ToString(DateFormat.ddd_mm_dd)</span></h3>
					<p class="mt-0"><small>@DaysAhead</small></p>
				</div>

				<div class="col-6">
					<h3 class="text-center"><span class="badge bg-info"><i class="@Icon"></i> New Moon</span></h3>
					<h1 class="text-center mt-4"><i>@BaseLunarMonthSmartEnum.FullName</i> <span class="hebrew44">@BaseLunarMonthSmartEnum.Hebrew</span></h1>

					@if (!String.IsNullOrEmpty(@BaseLunarMonthSmartEnum.BiblicalHebrew))
					{
						<h4 class="text-center mt-2"><i>@BaseLunarMonthSmartEnum.BiblicalName</i> <span class="hebrew36">@BaseLunarMonthSmartEnum.BiblicalHebrew</span> </h4>
						<p class="text-center text-black-50 mt-0"><small>Biblical Name</small></p>
					}

				</div>

				<div class="col-3">
					<img src='@Blobs.UrlOther("new-moon-175-174.jpg")' alt="@BaseLunarMonthSmartEnum.Name" class="float-end img-fluid rounded mt-4" />
				</div>

			</div>

		}

	</div>

</div>



@*<div class="card-body  text-white bg-secondary">
	</div>*@
