@page "/UpcomingEventsEdit"

@using static LivingMessiah.Web.Links.UpcomingEventsEdit
@using LivingMessiah.Web.Data
@using Syncfusion.Blazor.Data

<h2 class="mt-2">
	<i class="@Icon"></i> @Title
</h2>


<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row mt-4">

			<SfGrid TValue="UpcomingEventsEditVM"
							Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
				<SfDataManager AdaptorInstance="typeof(IGridDataAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>

				<GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowDeleteConfirmDialog="true">

					@*<HeaderTemplate>
				@{
					var text = GetHeader((context as UpcomingEventsEditVM));
					<span>@text</span>
				}
			</HeaderTemplate>
			<FooterTemplate>
				<SfButton OnClick="@Save" IsPrimary="true">@ButtonText</SfButton>
				<SfButton OnClick="@Cancel">Cancel</SfButton>
			</FooterTemplate>*@

				</GridEditSettings>


				<GridColumns>

					<GridColumn Field="@nameof(UpcomingEventsEditVM.Id)" IsPrimaryKey="true" Visible="false" Width="40"></GridColumn>
					<GridColumn Field=@nameof(UpcomingEventsEditVM.YearId) HeaderText="Year" Width="30" />
					<GridColumn Field=@nameof(UpcomingEventsEditVM.EventDate) Format="yyyy/MM/dd" HeaderText="Date" Width="40" />

					<GridColumn HeaderText="Show Dates" TextAlign="TextAlign.Center">
						<GridColumns>
							<GridColumn Field=@nameof(UpcomingEventsEditVM.ShowBeginDate) Format="yyyy/MM/dd" HeaderText="Begin" Width="40" />
							<GridColumn Field=@nameof(UpcomingEventsEditVM.ShowEndDate) Format="yyyy/MM/dd" HeaderText="End" Width="40" />
						</GridColumns>
					</GridColumn>

					@*<GridColumn Field=@nameof(UpcomingEventsEditVM.EventTypeEnum) HeaderText="Event Type" Width="40" EditType="EditType.DropDownEdit">
			<EditTemplate>
				<SfComboBox @bind-Value="UpcomingEventsEditVM.EventTypeEnum" ID="EventTypeEnum"
										AllowCustom="true" TItem="string" TValue="string" DataSource="@_signetsList">
				</SfComboBox>
			</EditTemplate>
		</GridColumn>*@

					<GridColumn Field=@nameof(UpcomingEventsEditVM.EventTypeEnum) HeaderText="Event Type" Width="40" />

					<GridColumn Field=@nameof(UpcomingEventsEditVM.YouTubeId) HeaderText="YouTube Id" Width="50" />

					<GridColumn HeaderText="Titles" TextAlign="TextAlign.Center">
						<GridColumns>
							<GridColumn Field=@nameof(UpcomingEventsEditVM.Title) HeaderText="Title" Width="90" />
							<GridColumn Field=@nameof(UpcomingEventsEditVM.SubTitle) HeaderText="Sub Title" Width="90" />
						</GridColumns>
					</GridColumn>

					<GridColumn HeaderText="Website" TextAlign="TextAlign.Center">
						<GridColumns>
							<GridColumn Field=@nameof(UpcomingEventsEditVM.WebsiteUrl) HeaderText="Url" Width="90" />
							<GridColumn Field=@nameof(UpcomingEventsEditVM.WebsiteDescr) HeaderText="Description" Width="90" />
						</GridColumns>
					</GridColumn>

					<GridColumn Field=@nameof(UpcomingEventsEditVM.ImageUrl) HeaderText="Image Url" Width="90" />
					<GridColumn Field=@nameof(UpcomingEventsEditVM.Description) HeaderText="Detail Description MD" Width="90" />

				</GridColumns>

				<GridEvents TValue="UpcomingEventsEditVM" OnActionFailure="Failure" OnActionBegin="OnActionBegin" />
			</SfGrid>

		</div>
	</div>
</div>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}

<style>
	.e-grid .e-headercelldiv {
		font-size: 10px;
	}

	.e-grid .e-rowcell {
		font-size: 10px;
	}
</style>
