@page "/UpcomingEventsGrid"
@using LivingMessiah.Web.Pages.UpcomingEvents.Queries

@using Page = LivingMessiah.Web.Links.UpcomingEvents
<PageTitle>@Page.Grid.Title</PageTitle>

<h2 class="mt-2">
	<i class="@Page.Grid.Icon"></i> @Page.Grid.Title
</h2>

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row mt-4">

			@* @ref="sfGrid" *@

			<SfGrid ID="Grid"
							DataSource="@UpcomingEventList"
							AllowSelection="true" AllowFiltering="true" AllowSorting="true">
				<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>

				@*  CommandClicked="OnSaveClicked" *@

				<GridSortSettings>
					<GridSortColumns>
						<GridSortColumn Field="@nameof(UpcomingEvent.EventDate)" Direction="SortDirection.Descending" />
					</GridSortColumns>
				</GridSortSettings>

				@*<GridEvents TValue="UpcomingEvent" QueryCellInfo="CustomizeCell"></GridEvents>*@
				@* ... RowSelected="RowSelectHandler" RowDeselected="RowDeSelectHandler" />*@

				<GridColumns>

					<GridColumn Field=@nameof(UpcomingEvent.EventDate) Format="yyyy/MM/dd" HeaderText="Date" Width="40" AllowSorting="true" AllowFiltering="false">
					</GridColumn>

					<GridColumn Field=@nameof(UpcomingEvent.EventTypeEnum) HeaderText="Event Type" Width="40" AllowSorting="false" AllowFiltering="true">
					</GridColumn>

					<GridColumn Field=@nameof(UpcomingEvent.DateTypeEnum) HeaderText="Date Type" Width="30" AllowSorting="false" AllowFiltering="true">
					</GridColumn>

					<GridColumn Field=@nameof(UpcomingEvent.Title) HeaderText="Title" Width="90" AllowSorting="false" AllowFiltering="false">
					</GridColumn>

					<GridColumn Field=@nameof(UpcomingEvent.SubTitle) HeaderText="Sub Title" Width="90" AllowSorting="false" AllowFiltering="false">
					</GridColumn>

					<GridColumn Field=@nameof(UpcomingEvent.DaysAhead) HeaderText="Days Ahead" Width="60" AllowSorting="false" AllowFiltering="false">
					</GridColumn>

					@*
						ImageUrl, YouTubeId, WebsiteUrl, WebsiteDescr, Description
					*@


				</GridColumns>

			</SfGrid>
		</div>
	</div>
</div>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
	else
	{
		if (DatabaseInformation)
		{
			<p class="text-success">@DatabaseInformationMsg</p>
		}

	}
}
