@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<MasterDetailState>? State

<TableTemplate Items="State!.Value.YouTubeList"
							 HeaderCSS="table table-light table-hover">
	<TableHeader>
		<th>Id</th>
		<th>YouTube</th>
		<th class="text-center">Actions</th>
	</TableHeader>

	<RowTemplate>
		<td>@context.Id </td>
		<td><small>@context.YouTubeId</small></td>
		<td class="text-center">
			<div class="btn-group">
				<ActionButtonGroup Id="@context.Id"
													 YouTubeId="@context.YouTubeId"
													 Title="@context.Title"/>
			</div>
		</td>

	</RowTemplate>

</TableTemplate>

@code {

}
