@using LivingMessiah.Web.Pages.KeyDates.Queries
@using Syncfusion.Blazor.Schedule

@*
	CssClass="year-view" MonthsCount="@NumberOfMonths" FirstMonthOfYear="@FirstMonthOfYear"
	<ScheduleView Option="View.Year" IsSelected="true"></ScheduleView>

*@

<div class="row">
	<div class="col-12">

		<SfSchedule TValue="AppointmentData"
								MonthsCount="@NumberOfMonths"
								MinDate="@CalendarRange.MinDate" MaxDate="@CalendarRange.MaxDate"
								Width="100%" Height="650px"
								@bind-SelectedDate="@CurrentDate" @bind-CurrentView="@ViewNow">

			<ScheduleEventSettings DataSource="@AppointmentDataList"></ScheduleEventSettings>

			<ScheduleViews>
				<ScheduleView Option="View.Day"></ScheduleView>
				<ScheduleView Option="View.Week"></ScheduleView>
				<ScheduleView Option="View.Month"></ScheduleView>
				<ScheduleView Option="View.Year" IsSelected="true"></ScheduleView>

				@*<ScheduleView MaxEventsPerRow="5" Option="View.TimelineYear"
												Orientation="Syncfusion.Blazor.Schedule.Orientation.Vertical"
												DisplayName="Vertical Timeline Year">
						<ScheduleViewGroup Resources="@ResourceName"></ScheduleViewGroup>
					</ScheduleView>*@

			</ScheduleViews>

			@*<ScheduleResources>
					<ScheduleResource TItem="ResourceData" TValue="int" DataSource="@TaskData"
														Field="TaskId" Title="Category" Name="Categories" TextField="Text"
														IdField="Id" ColorField="Color"></ScheduleResource>
				</ScheduleResources>*@


		</SfSchedule>
	</div>
</div>

@*<div class="row mt-2">

		<div class="col-6">
			Current View
		</div>

		<div class="col-6">
			<div>
				<SfDropDownList TValue="View" TItem="DropDownData"
												@bind-Value="@ViewNow" DataSource="@ViewData">
					<DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
				</SfDropDownList>
			</div>
		</div>

	</div>

*@

@*<div class="row col-12 my-2">
		<h5>Toggle Button with Icon</h5>
		<SfButton CssClass="e-flat"
							IsPrimary="true"
							IconCss="@IconCss"
							Content="@Content"
							IsToggle="true"
							@onclick="OnToggleClick"
							@ref="ToggleBtnObj">
		</SfButton>

	</div>*@

<button @onclick="@Show">Show/Hide</button>

<div hidden="@IsHidden" class="row">
	<div class="col-12">
		<TableTemplate Items="AppointmentDataList">
			<TableHeader>
				<th>Id</th>
				<th>Subject</th>
				<th>Description</th>
				<th>Start Time</th>
				<th>End Time</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Id</td>
				<td>@context.Subject</td>
				<td>@context.Description</td>
				<td>@context.StartTime.ToShortDateString()</td>
				<td>@context.EndTime.ToShortDateString()</td>
			</RowTemplate>
		</TableTemplate>
	</div>
</div>



@*<div class="row">
		<div class="col-12">
			<button class="my-3 btn btn-xlarge btn-primary"
							@onclick="@Show">
				@((MarkupString)OppositeIcon) @OppositeToggleMsg
			</button>
		</div>
	</div>*@


@*<div hidden="@IsHidden"></div>*@

	@*<div class="row mt-2">
		<div class="col-12">
			<LoadingComponent IsLoading="AppointmentDataList==null">
				<div class="card mb-3 border-warning">
					<div class="card-header">
						<h2 class="card-title text-center">
							<code>AppointmentDataList</code>
						</h2>
						<h4 class="card-title text-center">
							between @CalendarRange.MinDate.ToShortDateString() and @CalendarRange.MaxDate.ToShortDateString()
						</h4>
					</div>
					<div class="card-body">
						<TableTemplate Items="AppointmentDataList">
							<TableHeader>
								<th>Id</th>
								<th>Subject</th>
								<th>Description</th>
								<th>Start Time</th>
								<th>End Time</th>
							</TableHeader>
							<RowTemplate>
								<td>@context.Id</td>
								<td>@context.Subject</td>
								<td>@context.Description</td>
								<td>@context.StartTime.ToShortDateString()</td>
								<td>@context.EndTime.ToShortDateString()</td>
							</RowTemplate>
						</TableTemplate>
					</div>
				</div>
			</LoadingComponent>
		</div>
	</div>*@








@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}

@*

				<ScheduleView Option="View.TimelineYear" Orientation="Syncfusion.Blazor.Schedule.Orientation.Horizontal"
											DisplayName="Horizontal Timeline Year"></ScheduleView>

	https://blazor.syncfusion.com/documentation/scheduler/events
	<ScheduleEvents TValue="AppointmentData" ActionCompleted="OnActionCompleted"></ScheduleEvents>

*@