@using Syncfusion.Blazor.Grids
@using LivingMessiah.Web.Pages.KeyDates.Enums
@using LivingMessiah.Web.Pages.KeyDates.Queries


<div class="row mb-2 g-3 align-items-center">
	<div class="col-auto">
		<label for="keyDateYear" class="col-form-label">Year: </label>
	</div>
	<div class="col-auto">
		<select class="form-select" @onchange="ChangingYearAsync" id="keyDateYear">
			@foreach (var item in KeyDateYear.List.OrderBy(o => o.Value))
			{
				<option selected="@IsSelectedYear(item.Name)" value="@item">@item.Year (@item.Name)</option>
			}
		</select>
	</div>
</div>

<SfGrid ID="Grid" @ref="Grid"
				DataSource="@CalendarEntries"
				Toolbar="@(new List<string>() { "Update", "Cancel" })"
				AllowFiltering="true" AllowPaging="false">
	<GridEvents TValue="@CalendarEntry" OnActionFailure="Failure"></GridEvents>
	<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>

	<GridColumns>
		<GridEditSettings AllowEditing="true" AllowAdding="false" AllowDeleting="false"
											Mode="EditMode.Batch" ShowConfirmDialog="false" />

		<GridEvents OnBatchSave="OnSave" TValue="CalendarEntry" />

		<GridColumn Field=@nameof(CalendarEntry.CalendarTemplateId) HeaderText="Id"
								IsPrimaryKey="true" Visible="false"
								AllowEditing="false" AllowFiltering="false"
								Type="ColumnType.Number" Width="70" />

		<GridColumn Field=@nameof(CalendarEntry.DateTypeEnum) HeaderText="Type" Width="45" AllowEditing="false"
								FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })">
		</GridColumn>

		<GridColumn Field=@nameof(CalendarEntry.Date) HeaderText="Date" EditType="EditType.DefaultEdit" Format="d"
								ValidationRules="@(new Syncfusion.Blazor.Grids.ValidationRules{ Required= true })"
								AllowFiltering="false"
								Type="ColumnType.Date" TextAlign="TextAlign.Center" Width="80">
		</GridColumn>

		<GridColumn Field=@nameof(CalendarEntry.Descr) HeaderText="Description" Width="150"
								AllowEditing="false" AllowFiltering="false" Type="ColumnType.String" />

	</GridColumns>
</SfGrid>
