@using LivingMessiah.Web.Pages.KeyDates.Enums

@switch (DateTypeEnum)
{
	case Enums.DateTypeEnum.Month:
		<div class="row">
			<div class="col-6">
				Biblical<br /> <span class="hebrew36">@BaseLunarMonthSmartEnum.FromValue(Detail).BiblicalHebrew</span><br />
				<i class="mt-0">@BaseLunarMonthSmartEnum.FromValue(Detail).BiblicalName</i>
			</div>
			<div class="col-6">
				Talmudic<br /><span class="hebrew36">@BaseLunarMonthSmartEnum.FromValue(Detail).Hebrew</span><br />
				<i class="mt-0">@BaseLunarMonthSmartEnum.FromValue(Detail).FullName</i>
			</div>
		</div>
		break;

	case Enums.DateTypeEnum.Feast:
		<div class="row">
			<div class="col-7">
				<span class="hebrew36">@BaseFeastDaySmartEnum.FromValue(Detail).Hebrew</span> <br />
				<i class="mt-0">@BaseFeastDaySmartEnum.FromValue(Detail).Transliteration</i>
			</div>
			<div class="col-5">@Notes(BaseFeastDaySmartEnum.FromValue(Detail).AddDaysDescr, BaseFeastDaySmartEnum.FromValue(Detail).AddDays)</div>
		</div>

		@if (Detail == 3)
		{
			<div class="card border-info py-1 mb-4">
				@foreach (var fdd in PassoverDetails)
				{
					<div class="row">
						<div class="col-2">&nbsp;</div>
						<div class="col-6">@fdd.Description</div>
						<div class="col-4">@NotesFDD(fdd.AddDays)</div>
					</div>

				}
			</div>
		}
		else
		{
			@if (Detail == 7)
			{
				<div class="card card-body text-white bg-secondary py-1 mb-4">
					@foreach (var fdd in SukkotDetails)
					{
					<div class="row">
						<div class="col-1">&nbsp;</div>
						<div class="col-6">@fdd.Description</div>
						<div class="col-5">@NotesFDD(fdd.AddDays)</div>
					</div>
					}
				</div>
			}

		}

		break;

	case Enums.DateTypeEnum.Season:
		@*<div class="row">
				<div class="col">
					<span class="float-right mr-3">@BaseSeasonSmartEnum.FromValue(Detail).Type @Date.ToString(DateFormat.ddd_mm_dd)</span>
				</div>
			</div>*@
		break;


	default:
		<p>????</p>
		break;
}


@*
	<th>Name</th>
	<td>@BaseFeastDaySmartEnum.FromValue(Detail).Name</td>
	<div class="col-3"><span class="float-right">@Date.ToString(DateFormat.ddd_mm_dd)</span></div>
*@

