
@if (CalendarYear != null)
{

	<hr class="warning" />
	<div class="row">
		<div class="col">
			<h3 class="pb-1 text-center"><span class="badge badge-danger">Hebrew Years: @CalendarYear.ShortDescrHebrew <sup>&dagger;</sup></span></h3>
			<h5 class="pt-0 pb-4 text-center"><span class="badge badge-light">Gregorian Years: @CalendarYear.ShortDescr</span></h5>
		</div>
	</div>

	<Year CalendarEntryDateRanges="@CalendarEntryDateRanges"
				FeastDays="@FeastDays"
				LunarMonths="@LunarMonths" WithMonths="@WithMonths"
				Seasons="@Seasons"
				IsXsOrSm="@IsXsOrSm">
	</Year>

	<p class="text-danger"><b><sup>&dagger;</sup></b> By default, the dates shown for the High Sabbath are the dates of the <b>day</b> NOT the evening (<i>erev</i>) before.</p>
}
else if (LoadFailed)
{
	<p class="text-danger"><em>@LoadFailedMessasge</em></p>
}
else
{
	<p><em>Loading...</em></p>
}

