@page "/Admin/KeyDatesEdit"
@using static LivingMessiah.Web.Services.Auth0

@using Page = LivingMessiah.Web.Links.KeyDatesEdit
<PageTitle>@Page.Title</PageTitle>

<div class="pb-1 mt-4 mb-1 border-bottom border-info">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<AuthorizeView Roles="@Roles.AdminOrAnnouncements">

	<Authorized>
		<KeyDateSettingsList />
		<EditGrid />
	</Authorized>

	<NotAuthorized>

		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>

			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<button @onclick="@(() => RedirectToLoginClick(Page.Index))"
								type="button" class="btn-primary btn-sm">
					Login <i class='fas fa-sign-in-alt'></i>
				</button>
			</div>
		</div>

	</NotAuthorized>

</AuthorizeView>
