@page "/Admin/KeyDatesEdit"
@using static LivingMessiah.Web.Services.Auth0

@using Page = LivingMessiah.Web.Links.KeyDatesEdit
<PageTitle>@Page.Title</PageTitle>

<p class="my-1 float-right text-black-50"><small>Year: @SelectedYear (@SelectedValue)</small></p>

<div class="pb-1 mt-4 mb-5 border-bottom border-info">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<AuthorizeView Roles="@Roles.AdminOrAnnouncements">

	<Authorized>
		<EditGrid YearId="@SelectedYear"></EditGrid>
	</Authorized>

	<NotAuthorized>

		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>

			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<button @onclick="@(() => RedirectToLoginClick(Page.Index))"
								type="button" class="btn-primary btn-sm">
					Login <i class='fas fa-sign-in-alt'></i>
				</button>
			</div>
		</div>

	</NotAuthorized>

</AuthorizeView>



@*

	ToDo: Make this a modal

	<hr />

	<div class="row">
		<div class="col-9">
			<SfDropDownList TItem="DropDownListVM" TValue="string" PopupHeight="230px"
											Placeholder="Select year..."
											@bind-Value="@SelectedValue" DataSource="@DataSource">
				<DropDownListEvents TItem="DropDownListVM" TValue="string" ValueChange="OnChange"></DropDownListEvents>
				<DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
			</SfDropDownList>
		</div>
		<div class="col-3">

			@if (SelectedYear != 0)
			{
				<div class="card border-primary">
					<h3 class="p-2 text-center">
						@SelectedYear
					</h3>
				</div>
			}

		</div>
	</div>*@

