@page "/Admin/KeyDatesEdit"
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs

@using LivingMessiah.Web.Pages.KeyDates.Commands

<h3 class="badge-warning">Key Dates Calendar Update</h3>
<div class="row">
	<div class="col-md-5">
		<SfGrid DataSource="@DateUnionList" Toolbar="@(new List<string>() { "Update", "Cancel" })" AllowFiltering="false" AllowPaging="false">
			<GridColumns>
				<GridEditSettings AllowEditing="true" AllowAdding="false" AllowDeleting="false"
													Mode="EditMode.Batch" ShowConfirmDialog="false" />

				<GridEvents OnBatchSave="OnSave" TValue="DateUnion" />

				<GridColumn Field=@nameof(DateUnion.Id) HeaderText="Id" IsPrimaryKey="true" Visible="false"
										AllowEditing="false" Type="ColumnType.Number" Width="70" />
				<GridColumn Field=@nameof(DateUnion.DateTypeEnum) HeaderText="Type" AllowEditing="false"
										Type="ColumnType.Number" Width="80" />
				<GridColumn Field=@nameof(DateUnion.Date) HeaderText=" Date" EditType="EditType.DefaultEdit" Format="d"
										ValidationRules="@(new Syncfusion.Blazor.Grids.ValidationRules{ Required= true })"
										Type="ColumnType.Date" TextAlign="TextAlign.Center" Width="110">
				</GridColumn>
				<GridColumn Field=@nameof(DateUnion.Descr) HeaderText="Description" AllowEditing="false" Type="ColumnType.String" />

			</GridColumns>
		</SfGrid>

		@if (DatabaseError)
		{
			<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
		}
		else
		{
			if (DatabaseWarning)
			{
				<p class="text-warning">@DatabaseWarningMsg</p>
			}
		}

	</div>

	<div class="col-md-7">

		<SfSchedule TValue="LivingMessiah.Web.Pages.KeyDates.Queries.AppointmentData"
								CssClass="year-view" MonthsCount="@NumberOfMonths" FirstMonthOfYear="@FirstMonthOfYear">
			<ScheduleEventSettings DataSource="@AppointmentDataList"></ScheduleEventSettings>
			<ScheduleViews>
				<ScheduleView Option="View.Year" IsSelected="true"></ScheduleView>
				<ScheduleView Option="View.TimelineYear" Orientation="Syncfusion.Blazor.Schedule.Orientation.Horizontal"
											DisplayName="Horizontal Timeline Year"></ScheduleView>
				<ScheduleView MaxEventsPerRow="3" Option="View.TimelineYear"
											Orientation="Syncfusion.Blazor.Schedule.Orientation.Vertical"
											DisplayName="Vertical Timeline Year">
					<ScheduleViewGroup Resources="@ResourceName"></ScheduleViewGroup>
				</ScheduleView>
			</ScheduleViews>

			<ScheduleResources>
				<ScheduleResource TItem="ResourceData" TValue="int" DataSource="@TaskData"
													Field="TaskId" Title="Category" Name="Categories" TextField="Text"
													IdField="Id" ColorField="Color"></ScheduleResource>
			</ScheduleResources>


		</SfSchedule>
	</div>
</div>

