@using static LivingMessiah.Web.Links.Store

@* <div class="card border-warning mt-5 mb-3"> *@

@if (CalenderReadyForSale)
{
	<div class="d-print-none">
		<div class="card">

			<div class="card-body">
				<h3 class="card-text text-center mb-3 bg-dark text-white p-2 rounded">
					Living Messiah Calendar! Get It!
				</h3>

				<div class="text-center my-2">
					<a href="@LivingMessiah.Web.Links.Store.Index"
						 title="@Items.TitleCalendar"
						 class="btn btn-primary btn-lg">
						Order Now
						<i class="fas fa-chevron-right"></i>
					</a>
				</div>
			</div>

			<img src="@Blobs.UrlRoot("lmm-calendar-2022-1020-1020.jpg")"
					 class="card-img-top p-2"
					 alt="@Items.TitleCalendar">

		</div>
	</div>

}
else
{
	<div class="d-print-none">
		<div class="card">

			<div class="card-body">
				<h3 class="card-text text-center">
					Living Messiah Calendar! Coming Soon
				</h3>
			</div>

			<img src="@Blobs.UrlRoot("lmm-calendar-2022-1020-1020.jpg")"
					 class="card-img-top p-2"
					 alt="@Items.TitleCalendar">

		</div>
	</div>


}

@code {
	[Parameter]
	public bool CalenderReadyForSale { get; set; }

}
