@page "/RegistrationEntry/SuperUser"

@using Page = LivingMessiah.Web.Links.Sukkot.RegistrationEntry.SuperUser
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.SmartEnums
@using LivingMessiah.Web.Pages.Sukkot.RegistrationEntry.AddOrEdit
@using LivingMessiah.Web.Pages.Sukkot.RegistrationEntry.Detail
@*@using HRA = LivingMessiah.Web.Pages.Sukkot.RegistrationEntry.HouseRulesAgreement.Form*@
@using LivingMessiah.Web.Pages.Sukkot.RegistrationEntry
@using LoginLink = LivingMessiah.Web.Links.Account

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<AuthorizeView Roles="@Roles.AdminOrAnnouncements">
	<Authorized>

		<!-- ToDo: can this be moved to <PageHeader ??? -->
		<SukkotAdminMenubar></SukkotAdminMenubar>

		<div class="@MediaQuery.XsOrSm.DivClass">
			<PageHeader IsXsOrSm="true" />
		</div>

		<div class="@MediaQuery.MdOrLgOrXl.DivClass">
			<PageHeader IsXsOrSm="false" />
		</div>

		@if (State!.Value.VisibleComponent == Enums.VisibleComponent.MasterList)
		{		
			<LivingMessiah.Web.Pages.Sukkot.RegistrationEntry.HouseRulesAgreement.Form />
			<br />
			
			if (State!.Value.ShowAgreementParagraph)
			{
				<div class="@MediaQuery.Xs.DivClass">
					<div class="card mt-0 mb-3">
						<div class="card-body bg-light">
							<AgreementParagraph IsXs="true" />
							<AgreementButtons />
						</div>
					</div>
				</div>
				<div class="@MediaQuery.SmMdOrLgOrXl.DivClass">
					<AgreementParagraph IsXs="false" />
					<AgreementButtons />
				</div>
			}

			<div class="@MediaQuery.XsOrSm.DivClass">
				<MasterList IsXsOrSm="true" />
			</div>

			<div class="@MediaQuery.MdOrLgOrXl.DivClass">
				<MasterList IsXsOrSm="false" />
			</div>
		}
		else
		{
			<ShowMasterIndex />

			@if (State!.Value.VisibleComponent == Enums.VisibleComponent.AddEditForm)
			{
				<LivingMessiah.Web.Pages.Sukkot.RegistrationEntry.AddOrEdit.Form />
			}
			else
			{
				@*
		ToDo:
		- Details Pages\Sukkot\Details\Index.razor
		page "/Sukkot/Details/{Id:int}/{showPrintInstructionMessage:bool}"

		*@
				<Display />
			}
		}
	</Authorized>
	<NotAuthorized>

		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>
			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<LivingMessiah.Web.Pages.Sukkot.RegistrationSteps.LoginRedirectButton ReturnUrl="@Page.Index" />
			</div>
		</div>

	</NotAuthorized>
</AuthorizeView>

<ToasterSuperUser />
