@using LivingMessiah.Web.Shared
@using System.Threading.Tasks

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (IsXsOrSm)
{
	<div class="mb-1">
		<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Add" IsXsOrSm="@IsXsOrSm" Id="0" />
		<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Repopulate" IsXsOrSm="@IsXsOrSm" Id="0" />
	</div>

	<LoadingComponent IsLoading="State!.Value.vwRegistrationList == null">

		@foreach (var item in State!.Value.vwRegistrationList!)
		{
			<div class="card text-dark bg-light mb-5">
				<div class="card-header text-center">
					<h4>@item.FirstName</h4>
					<p>StatusId: @item.StatusId</p>
				</div>
				<div class="card-body">
					<div class="float-start">
						ToDo
					</div>
					<div class="float-end">
						Days <i class='fas fa-angle-left'></i>
						or <i class='fas fa-angle-right'></i>
					</div>
				</div>

				<h4 class="text-center mb-3">@item.OtherNames</h4>

				<div class="card-footer">
					<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Edit" IsXsOrSm="@IsXsOrSm" Id="@item.Id" />
					<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Delete" IsXsOrSm="@IsXsOrSm" Id="@item.Id" />
					<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Display" IsXsOrSm="@IsXsOrSm" Id="@item.Id" />
				</div>

			</div>
		}
	</LoadingComponent>
}
else
{
	<span class="float-end mb-1">
		<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Add" IsXsOrSm="@IsXsOrSm" Id="0" />
		<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Repopulate" IsXsOrSm="@IsXsOrSm" Id="0" />
	</span>

	<TableTemplate Items="State!.Value.vwRegistrationList"
							 HeaderCSS="table table-primary table-hover">
		<TableHeader>
			<th>Id</th>
			<th>First Name</th>
			<th>Family Name</th>
			<th>Spouse Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Status</th>
			<th class="text-center">Actions</th>
		</TableHeader>

		<RowTemplate>
			<td>@context.Id</td>
			<td>@context.FirstName</td>
			<td>@context.FamilyName</td>
			<td>@context.SpouseName</td>
			<td>@context.EMail </td>
			<td>@context.Phone </td>
			<td>@context.StatusId </td>
			<td class="text-center">
				<div class="btn-group">
					<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Edit" IsXsOrSm="@IsXsOrSm" Id="@context.Id" />
					<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Delete" IsXsOrSm="@IsXsOrSm" Id="@context.Id" />
					<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Display" IsXsOrSm="@IsXsOrSm" Id="@context.Id" />
				</div>
			</td>

		</RowTemplate>

	</TableTemplate>

}
