@using Page = LivingMessiah.Web.Links.Sukkot.RegistrationEntry.SuperUser
<PageTitle>@Page.Title</PageTitle>

@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<div class="pb-1 mt-4 mb-2">

	@if (IsXsOrSm)
	{
		<h3>
			<i class="@Page.Icon"></i> @Page.Title
			<span class="@State!.Value.PageHeaderVM!.Color float-end">
				<i class="@State!.Value.PageHeaderVM!.Icon"></i>
				@State!.Value.PageHeaderVM!.Title
			</span>
		</h3>
	}
	else
	{
		<h1>
			<i class="@Page.Icon"></i> @Page.Title
			<span class="@State!.Value.PageHeaderVM!.Color float-end">
				<i class="@State!.Value.PageHeaderVM!.Icon"></i>
				@State!.Value.PageHeaderVM!.Title
			</span>
		</h1>
	}

</div>

@code {
	[Inject] private IState<State>? State { get; set; }
	[Parameter, EditorRequired] public bool IsXsOrSm { get; set; }
}
