@page  "/Sukkot/DeleteConfirmation/{Id:int}"

@using LivingMessiah.Web.Pages.Sukkot.Constants
@using LivingMessiah.Domain

@using static LivingMessiah.Web.Links.Sukkot
@using LivingMessiah.Web.Shared.Sukkot
@using static LivingMessiah.Web.Services.Auth0

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@using Page = LivingMessiah.Web.Links.Sukkot
<PageTitle>@Page.DeleteConfirmationTitle</PageTitle>

<h2>@Page.DeleteConfirmationSubTitle [#@Id]</h2>
<hr class="warning" />

<div class="jumbotron mt-2">
	<h2 class="text-danger">Confirm Registration Deletion</h2><br />
	Click the <b>Delete Registration</b> button to complete the process
</div>

<div class="row col-12 my-2">
  <div class="form-group">
    <button class="btn btn-danger btn-md" 
      @onclick="@(e => Delete_ButtonClick(vwRegistration.Id))" title="Delete registration">
      <i class="fas fa-times"></i> Yes, Delete Registration
    </button>

		<a href="@Page.RegistrationShell"
			 class="btn btn-primary" title="Cancel Sukkot Registration Deletion">
			<i class="far fa-hand-paper"></i>	Cancel
		</a>

  </div>
</div>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
	else
	{
		if (DatabaseInformation)
		{
			<p class="text-info">@DatabaseInformationMsg</p>
		}
	}
}