@using LivingMessiah.Web.Pages.Sukkot.Constants
@using LivingMessiah.Web.Pages.Sukkot.RegistrationEnums
@inherits BaseRegistrationBody

	<div class="row">
		<div class="col-sm-1">
			<h5><span class="badge badge-warning">Step</span></h5>
		</div>
		<div class="col-sm-1">
			<h5><span class="badge badge-warning">Done</span></h5>
		</div>
		<div class="col-sm-10">
			<h5><span class="badge badge-warning">Description</span></h5>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-1">
			<i class="fa-2x">1</i>
		</div>
		<div class="col-sm-1">
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.EmailConfirmation) == true)
			{
				<i class="fas fa-check fa-3x"></i>
			}
		</div>
		<div class="col-sm-10">
			<h4>Task - Getting Started</h4>
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.EmailConfirmation) == true)
			{
				<p class="lead"><b>Task completed</b></p>
			}
			else
			{
				<p class="lead">
					Print out this
					<a href="@LivingMessiah.Web.Pages.Sukkot.Constants.Blobs.UrlPDF(PDFs.RegistrationWalkThrough)"
						 class="btn btn-primary btn-sm" target="_blank">
						<i class="fas fa-file-pdf"></i> PDF
					</a> or leave it open in another window as it will be helpful with the next step.
				</p>

			}

		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-sm-1">
			<i class="fa-2x">2</i>
		</div>
		<div class="col-sm-1">
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.EmailConfirmation) == true)
			{
				<i class="fas fa-check fa-3x"></i>
			}
		</div>

		<div class="col-sm-10">
			<h4>Task - Living Messiah Account</h4>
			<Step2EmailVerified StatusFlagEnum="@StatusFlagEnum"></Step2EmailVerified>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-sm-1">
			<i class="fa-2x">3</i>
		</div>

		<div class="col-sm-1">
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.RegistrationFormCompleted) == true)
			{
				<i class="fas fa-check fa-3x"></i>
			}
		</div>

		<div class="col-sm-10">
			<h4>Task - Registration</h4>
			@*<p class="text-black-50"><small><sup>IsXs: @IsXs</sup></small></p>*@
			@*<p class="text-black-50"><small><sup>vwRegistrationShell.Id: @vwRegistrationShell.Id</sup></small></p>*@
			<Step3Registration IsXs="@IsXs"
												 RegistrationId="@vwRegistrationShell.Id"
												 StatusFlagEnum="@StatusFlagEnum">
			</Step3Registration>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-sm-1">
			<i class="fa-2x">4</i>
		</div>

		@if (IsMealsAvailable)
		{
			<div class="col-sm-1">
				@if (StatusFlagEnum.HasFlag(StatusFlagEnum.MealsFormCompleted) == true)
				{
					<i class="fas fa-check fa-3x"></i>
				}
			</div>

			<div class="col-sm-10">
				<h4>Task - Meal Ticket (optional)</h4>
				<Step4MealTicket StatusFlagEnum="@StatusFlagEnum"
												 vwRegistrationShell="@vwRegistrationShell">
				</Step4MealTicket>
			</div>
		}
		else
		{
			<div class="col-sm-1">
				<i class="fas fa-ban fa-3x"></i>
			</div>

			<div class="col-sm-10">
				<h4 class="warning">No Meals Offered</h4>
			</div>

		}
	</div>

	<hr />

	<div class="row">
		<div class="col-sm-1">
			<i class="fa-2x">5</i>
		</div>

		<div class="col-sm-1">
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.FullyPaid) == true)
			{
				<i class="fas fa-check fa-3x"></i>
			}
			else
			{
				@if (StatusFlagEnum.HasFlag(StatusFlagEnum.PartiallyPaid) == true)
				{
					<i class="fas fa-star-half fa-3x text-muted"></i>
				}
			}
		</div>

		<div class="col-sm-10">
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.PartiallyPaid) == true)
			{
				<h4>Task - Payment (partial)</h4>
			}
			else
			{
				<h4>Task - Payment</h4>
			}
			<Step5Payment StatusFlagEnum="@StatusFlagEnum"
										vwRegistrationShell="@vwRegistrationShell">
			</Step5Payment>
		</div>
	</div>
