@using LivingMessiah.Web.Pages.Sukkot.Constants
@using LivingMessiah.Web.Pages.Sukkot.RegistrationEnums
@inherits BaseRegistrationBody

<hr class="warning" />

<LoadingComponent IsLoading="vwRegistrationShell==null">

	<div class="row">
		<div class="col-3">
			<p class="lead  text-warning"> Step 1</p>
		</div>
		<div class="col-9">
			<h4>Task - Getting Started</h4>

			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.EmailConfirmation) == true)
			{
				<p class="lead"><b>Task completed</b></p>
			}
			else
			{
				<p class="lead">
					Print out this
					<a href="@LivingMessiah.Web.Pages.Sukkot.Constants.Blobs.UrlPDF(PDFs.RegistrationWalkThrough)"
						 class="btn btn-primary btn-sm" target="_blank">
						<i class="fas fa-file-pdf"></i> PDF
					</a>
					or leave it open in another window as it will be helpful with the next step.
				</p>
			}

		</div>
	</div>

	<div class="row">
		<div class="col-3">

			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.EmailConfirmation) == true)
			{
				<i class="fas fa-check fa-3x"></i>
			}
		</div>
		<div class="col-9">


		</div>
	</div>

	<hr class="warning" />

	<div class="row">
		<div class="col-3">
			<p class="lead text-warning">Step 2</p>
		</div>
		<div class="col-9">
			<h4>Task - Living Messiah Account</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-3">
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.EmailConfirmation) == true)
			{
				<i class="fas fa-check fa-3x"></i>
			}
		</div>
		<div class="col-9">
			<Step2EmailVerified StatusFlagEnum="@StatusFlagEnum"></Step2EmailVerified>
		</div>
	</div>

	<hr class="warning" />

	<div class="row">
		<div class="col-3">
			<p class="lead text-warning">Step 3</p>
		</div>
		<div class="col-9">
			<h4>Task - Registration</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-3">
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.RegistrationFormCompleted) == true)
			{
				<i class="fas fa-check fa-3x"></i>
			}
		</div>
		<div class="col-9">
			@*<p class="text-black-50"><small><sup>IsXs: @IsXs</sup></small>></p>*@
			@*<p class="text-black-50"><small><sup>vwRegistrationShell.Id: @vwRegistrationShell.Id</sup></small></p>*@
			<Step3Registration IsXs="@IsXs"
												 RegistrationId="@vwRegistrationShell.Id"
												 StatusFlagEnum="@StatusFlagEnum">
			</Step3Registration>
		</div>
	</div>

	<hr class="warning" />

	<div class="row">
		<div class="col-3">
			<p class="lead text-warning">Step 5</p>
		</div>
		<div class="col-9">
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.PartiallyPaid) == true)
			{
				<h4>Task - Payment (partial)</h4>
			}
			else
			{
				<h4>Task - Payment</h4>
			}
		</div>
	</div>

	<div class="row">
		<div class="col-3">
			@if (StatusFlagEnum.HasFlag(StatusFlagEnum.FullyPaid) == true)
			{
				<i class="fas fa-check fa-3x"></i>
			}
			else
			{
				@if (StatusFlagEnum.HasFlag(StatusFlagEnum.PartiallyPaid) == true)
				{
					<i class="fas fa-star-half fa-3x text-muted"></i>

				}
			}

		</div>
		<div class="col-9">
			<Step5Payment StatusFlagEnum="@StatusFlagEnum"
										vwRegistrationShell="@vwRegistrationShell">
			</Step5Payment>
		</div>
	</div>

</LoadingComponent>
