@page "/Sukkot/RegistrationShell"
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@using LivingMessiah.Web.Shared.Sukkot
@using static LivingMessiah.Web.Services.Auth0

@inject IWebHostEnvironment Env

@using Page = LivingMessiah.Web.Links.Sukkot
<PageTitle>@Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Title</h2>
</div>

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@if (Env.IsDevelopment())
{
	<p class="float-right"><sup> StatusFlagEnum: @StatusFlagEnum</sup></p>
}

<h4 class="mb-3">To register for Sukkot, you must complete these steps</h4>

<LoadingComponent IsLoading="vwRegistrationShell==null">
	<div class="d-block d-sm-none">
		<RegistrationBodyXs IsXs="true"
												StatusFlagEnum="@StatusFlagEnum"
												vwRegistrationShell="@vwRegistrationShell">
		</RegistrationBodyXs>
	</div>
	<div class="d-none d-sm-block">
		<RegistrationBody IsXs="false"
											StatusFlagEnum="@StatusFlagEnum"
											vwRegistrationShell="@vwRegistrationShell">
		</RegistrationBody>
	</div>
</LoadingComponent>


<hr />

<div class="row col-12">
	<br />
	<a href="@Page.Index"
		 title="Sukkot Introduction" class="btn-info btn-sm">
		<i class="far fa-arrow-alt-circle-left"></i> Back to Introduction
	</a>
</div>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
	else
	{
		if (DatabaseInformation)
		{
			<p class="text-info">@DatabaseInformationMsg</p>
		}
	}
}