@using LivingMessiah.Web.Pages.Sukkot.RegistrationEnums
@using static LivingMessiah.Web.Links.Sukkot

@if (StatusFlagEnum.HasFlag(StatusFlagEnum.RegistrationFormCompleted) == true)
{
	@if (StatusFlagEnum.HasFlag(StatusFlagEnum.MealsFormCompleted) == false)
	{
		<p class="lead">
			The first part of the registration form has been completed.<br />
			The next step is to configure your meal tickets (this is optional).<br />
		</p>
	}
	else
	{
		<p class="lead"><b>Task completed</b></p>
	}

	// ToDo: is this nececcary ... Html.DisplayFor(modelItem => MealCost)
	<p>Meal Count: <b>@vwRegistrationShell.MealCount</b>, Meal Cost: <b> @vwRegistrationShell.MealCost</b></p>

	@if (StatusFlagEnum.HasFlag(StatusFlagEnum.FullyPaid) != true)
	{
		<button @onclick="@(e => Edit_ButtonClick(e, vwRegistrationShell.Id))"
						class="btn-primary btn-sm">
			<i class="fas fa-pencil-alt-square-o"></i> Edit
		</button>

	}
	<text>&nbsp;</text>

	<button @onclick="@(e => DetailsMealTicket_ButtonClick(e, vwRegistrationShell.Id))"
					class="btn-success btn-sm">
		<i class="fas fa-info"></i> View
	</button>

	<text>&nbsp;</text>

	<button @onclick="@(e => KitchenWork_ButtonClick(e, vwRegistrationShell.Id))"
					class="btn-primary btn-sm">
		<i class="fas fa-utensil-spoon"></i> Kitchen Help
	</button>
	
}



