
<div class="list-group">
	<div class="card mb-3 bg-warning">
		<div class="card-body">

			<DataList Data="@AdminLinks"
								Type="LinkTypeEnum.Admin">
				<i class="@context.Icon" aria-hidden="true"></i>
				<a href="@context.Index" title="@context.Title">
					@context.Title
				</a>
			</DataList>

		</div>
	</div>
</div>
