@page "/"
@using static LivingMessiah.Web.Services.Auth0
@using Page = LivingMessiah.Web.Links.Home
<PageTitle>@Page.PageTitle</PageTitle>

<HomeImage></HomeImage>

<div class="d-md-none">
	<SectionMain />
	<br />
	<AuthorizeView Roles="@Roles.AdminOrElder">
		<NotAuthorized>
			<div class="row">
				<div class="col-12">
					<WelcomeButton />
				</div>
			</div>
		</NotAuthorized>
	</AuthorizeView>

	<SidebarButtons></SidebarButtons>
	<ShabbatMeter></ShabbatMeter>
	<div class="d-print-none">
		<SocialMediaButtons></SocialMediaButtons>
	</div>

	@*ToDo: CHOSE AND ICON AND DELETE THIS*@
	<AuthorizeView Roles="@Roles.AdminOrElder">
		<NotAuthorized>
			<div class="row mt-2">
				<div class="col-12">
					<WelcomeButton UseHappyFaceIcon="false" />
				</div>
			</div>
		</NotAuthorized>
	</AuthorizeView>

</div>

<div class="d-none d-md-block d-lg-none d-xl-none">
	<div class="row">
		<div class="col-7">
			<SectionMain />
			<AuthorizeView Roles="@Roles.AdminOrElder">
				<NotAuthorized>
					<IntroductionAndWelcome MediaQueryEnum="MediaQueryEnum.Md" />
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="col-5">
			<SidebarButtons></SidebarButtons>
			<ShabbatMeter></ShabbatMeter>
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>
		</div>
	</div>
</div>

<div class="d-none d-lg-block">
	<div class="row">

		<div class="col-8">
			<SectionMain />
			<AuthorizeView Roles="@Roles.AdminOrElder">
				<NotAuthorized>
					<IntroductionAndWelcome MediaQueryEnum="MediaQueryEnum.Lg" />
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="col-4">
			<SidebarButtons></SidebarButtons>
			<ShabbatMeter></ShabbatMeter>
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>

		</div>
	</div>
</div>
