@using LivingMessiah.Web.Links

<h2>
	<i class="far fa-smile"></i>
	<span class="badge badge-warning">Welcome</span>
</h2>

<h3>
	<span class="badge badge-dark">A Torah-based Messianic Ministry</span>
</h3>

<p class="lead">
	<strong style="font-size: 140%">Living Messiah Ministries</strong>, located in the heart of downtown Mesa, Arizona, is centered around families.
	<a href="@Location.Index"
		 title="@Location.Title" class="btn btn-warning">
		<i class="@Location.Icon" aria-hidden="true"></i>
		&nbsp;<span class="home-page-xs"><b>@Location.Title</b></span>
	</a>

	The foundation of our assembly is established on the essence of the Kingdom of Heaven, Love.
	We are a fellowship applying the Word of God in thought and deed.
	We walk in unity and love, keeping His commandments and His testimony.
</p>
<p class="lead">
	Our ministry is united in purpose, applying the study of scripture, through obedience, loving-kindness, hospitality, charity, praise and prayer.
	We focus on the Hebrew roots of our faith and we keep Shabbat as well as the Biblical holidays (Leviticus 23).

	<a href="@KeyDates.Index"
		 title="@KeyDates.Title" class="btn btn-warning">
		<i class="@KeyDates.Icon fa-lg" aria-hidden="true"></i>
		&nbsp;<span class="home-page-xs"><b>@KeyDates.Title</b></span>
	</a>
</p>
<p class="lead">
	We desire to branch and grow by utilizing the gifts of the Spirit in each believer.
	We proclaim the message of Salvation to the nations. We disciple those who seek Truth.
	We practice a traditional Hebrew worship style, making a joyful noise as families worship together in song and dance.
	We endeavor to lead a Torah-based lifestyle in fellowship with others.
	<a href="@ShabbatService.Index"
		 title="@ShabbatService.Title" class="btn btn-warning">
		<i class="@ShabbatService.Icon fa-lg" aria-hidden="true"></i>
		&nbsp;<span class="home-page-xs"><b>@ShabbatService.Title</b></span>
	</a>
</p>
<p class="lead">
	Please explore our website to find out more about us, what we believe and what we do.
	And if you have any questions, please contact us for more information.
	Better yet, join us at one of our Shabbat Services so that we can get to know one another better!
	<a href="@Sitemap.Index"
		 title="@Sitemap.Title" class="btn btn-warning">
		<i class="@Sitemap.Icon fa-lg" aria-hidden="true"></i>
		&nbsp;<span class="home-page-xs"><b>@Sitemap.Title</b></span>
	</a>
</p>

<hr />
<h3>
	<span class="badge badge-warning">Visitors are always welcome</span>
</h3>
<h3><u>What To Expect</u></h3>
<p class="lead">
	Our services are open to all who seek to know the God of Abraham, Isaac and Jacob more intimately and to enjoy the relationship we can have with Him through the Messiah.
	We believe that as His “set-apart”  (holy) people, we are to gather on His “set-apart” day, <i>Shabbat</i>, (Saturday) for a “set-apart” purpose, to worship Him.
	Here are some of the things you can expect if you join us:
</p>

<ul class="fa-ul lead">
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		Our services are longer than typical “Sunday church,” running from about 1:45 pm through the dinner hour, usually ending between 6:00 and 7:00 pm.
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		In addition to a variety of music, we include typical Hebraic dance in our worship, and those who wish may join in.
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		We are using a three-year cycle to study the <i>Torah</i>, and we read and discuss the weekly portions from the <i>Torah</i>, the Prophets, and the <i>Brit Hadashah</i> (New Testament).
	</li>
	<li>
		<i class="fa-li fas fa-caret-right"></i>
		We have chosen to allow our children to remain with us during the entire worship service so that they might learn to worship along side us.
		This requires some patience from all of us and some loving guidance from parents as we seek to provide an appropriate atmosphere during certain parts of the service.
	</li>
</ul>

<IntroductionOneg></IntroductionOneg>

<h3>
	<span class="badge badge-warning">A word about modesty</span>
</h3>
<p class="lead">
	We want to honor our God with our worship service and ask that you keep in mind modesty and discretion when planning your attire for our congregational meetings.
	Attire should not take anyone’s focus away from worship, prayer, and study.
	In general, you should avoid wearing snug-fitting clothing or clothing that may expose body parts that should remain covered.
	In general, please don’t wear anything that you think might offend another member of our community.
	When in doubt,  it’s always better to choose the side of discretion.
</p>
