@*
<div class="d-none d-md-block">
	<LivingMessiah.Web.Pages.Shavuot.OmerCount IsXsOrSm="false">
	</LivingMessiah.Web.Pages.Shavuot.OmerCount>
</div>

<div class="d-md-none">
	<LivingMessiah.Web.Pages.Shavuot.OmerCount IsXsOrSm="true">
	</LivingMessiah.Web.Pages.Shavuot.OmerCount>
</div>
*@

<RuthOmerCountButton />

<div class="list-group">
	<DataList Data="@HomeSidebarLinks"
						Type="LinkTypeEnum.HomeSidebar">
		<a href="@context.Index" title="@context.Title @context.HomeTitleSuffix"
			 class="list-group-item list-group-item-warning ">
			<div class="d-flex w-100 justify-content-between">
				<i class="@context.Icon fa-fw fa-3x" aria-hidden="true"></i>
				<span class="@TitleCSS">@context.Title</span>
				<span class="float-end text-info">
					<span class="hebrew">@context.HomeFloatRightHebrew</span>
				</span>
			</div>
		</a>
	</DataList>
</div>

