@using LivingMessiah.Web.Pages.KeyDate.Constants
@using static LivingMessiah.Web.Pages.Shavuot.Domain.OmerGematriaFactory
@*@using static LivingMessiah.Web.Links.Shavuot*@

@if (UI == null)
{
	<p><em>Loading...</em></p>
}
else
{
	@if (UI.ShowOmer)
	{
		<div class="card border-warning text-center mb-3">
			<div class="card-header p-1 bg-warning">
				<h2><span class="card-title mb-0">Omer Count @Years.Current</span></h2>
			</div>
			<img src='@Blobs.UrlEvents("omer-count-card-image-398-161.jpg")' class="card-img-top" alt="Omer Count" />

			<div class="row">

				<div class="col-6 mx-0 px-0">
					<div class="card-body mb-3 pb-1">

						<span class="fa-stack @UI.faX">
							<i class='far fa-calendar fa-stack-2x'></i>
							<strong class='fa-stack-1x calendar-text'><span class='text-danger'>@UI.OmerCnt</span></strong>
						</span>
						<p class="text-black mt-0"><small>Current Count</small></p>
					</div>

				</div>

				<div class="col-6 mx-0 px-0">
					<div class="card-body mb-3 pb-1 ">

						<span class="fa-stack @UI.faX">
							<i class='far fa-calendar fa-stack-2x'></i>
							<strong class="fa-stack-1x calendar-text"><span class='text-danger @UI.HebrewFont'> @GetHebrew(UI.OmerCnt)</span></strong>
						</span>

						<p class="text-black mt-0"><small>Hebrew Gematria</small></p>
					</div>
				</div>
			</div>

			<div class="card-footer bg-warning mt-1">
				<div class="row ">
					<div class="col-6">
						<a href="@LivingMessiah.Web.Links.Shavuot.Index"
							 title="See all 50 omer counts checked off dynamically each day!"
							 class="btn btn-primary btn-sm  px-1">
							<b>Learn More</b> <i class="fas fa-caret-right"></i>
						</a>
						<p class="text-primary mt-0"><small><b>Count in Hebrew!</b></small></p>
					</div>
					<div class="col-6">
						<BlankCalendarDownloadAnchor Title="Calendar Download"></BlankCalendarDownloadAnchor>
					</div>
				</div>

			</div>

		</div>
	}
}

