@page "/ThresholdCovenant"
@* <PageHeader PageEnum="LivingMessiah.Web.Enums.Nav.ThresholdCovenant" /> *@

@using Page = LivingMessiah.Web.Links.ThresholdCovenant
<PageTitle>@Page.Title</PageTitle>


	<div class="@MediaQuery.XsOrSm.DivClass">
		<div class="card mb-3">

			<div class="row g-0">
				<div class="col-6 p-2">
					<img src="@ThresholdCovenant.Blobs.Image("book-cover.jpg")" alt="Book cover" class="img-fluid rounded-start">
				</div>

				<div class="col-6">
					<div class="card-body d-flex justify-content-end mx-1">
						<TocOffCanvasFilter CurrentFilter=@CurrentFilter OnFilterSelected="@ReturnedFilter" IsXsOrSm="true" />
					</div>
				</div>
			</div>

			<div class="row g-0">
				<div class="col-12 p-2 text-center">
					<h5 class="">@Page.Title <small class="text-black-50"> by H. Clay Trumbull</small></h5>
			</div>
		</div>

	</div>
</div>


<div class="@MediaQuery.MdOrLgOrXl.DivClass">

	<div class="card mb-3">
		<div class="row g-0">

			<div class="col-sm-4 p-2">
				<img src="@ThresholdCovenant.Blobs.Image("book-cover.jpg")" alt="Book cover" class="img-fluid rounded-start">
			</div>
			<div class="col-sm-4 p-2 text-center">
				<h3 class="">@Page.Title</h3>
				<h5> by H. Clay Trumbull</h5>
			</div>

			<div class="col-sm-4">
				<div class="card-body d-flex justify-content-end mx-1">
					<TocOffCanvasFilter CurrentFilter=@CurrentFilter OnFilterSelected="@ReturnedFilter" IsXsOrSm="false" />
				</div>
			</div>
		</div>
	</div>


</div>

<BookSection NavItem="CurrentFilter" />

@code {

	//public Enums.NavItem? CurrentFilter { get; set; }
	public Enums.NavItem? CurrentFilter { get; set; } = Enums.NavItem.HebrewPassOverOrCrossOver;

	#region EventCallbacks
	private void ReturnedFilter(Enums.NavItem filter)
	{
		CurrentFilter = filter;
		StateHasChanged();
	}
	#endregion


}
