@page "/ThresholdCovenant"
@* <PageHeader PageEnum="LivingMessiah.Web.Enums.Nav.ThresholdCovenant" /> *@

@using Page = LivingMessiah.Web.Links.ThresholdCovenant
<PageTitle>@Page.Title</PageTitle>


	<div class="card mb-3">
		<div class="row g-0">

			<div class="col-sm-4 p-2">
				<img src="@ThresholdCovenant.Blobs.Image("book-cover.jpg")" alt="Book cover" class="img-fluid rounded-start">
			</div>
			<div class="col-sm-4 p-2 text-center">
				<h3 class="">@Page.Title</h3>
				<h5> by H. Clay Trumbull</h5>
			</div>
			<div class="col-sm-4">
				<div class="card-body d-flex justify-content-end mx-1">
				
				@if (_AreNavItemsCollapsed)
				{
					<TocToggleButton CurrentBoolValue=@_AreNavItemsCollapsed OnToggleSelected="@ReturnedToggle" />
				}
				
				@if (!_AreNavItemsCollapsed)
				{
					<TableOfContentFilter CurrentFilter=@CurrentFilter OnFilterSelected="@ReturnedFilter" />
				}

			</div>
			
		</div>
	</div>
</div>


<BookSection NavItem="CurrentFilter" />

@code {

	protected Enums.NavItem currentNavItem = Enums.NavItem.HebrewPassOverOrCrossOver;

	public Enums.NavItem? CurrentFilter { get; set; }
	protected override void OnInitialized()
	{
		base.OnInitialized();
		CurrentFilter = Enums.NavItem.HebrewPassOverOrCrossOver;
		_AreNavItemsCollapsed = true;
	}

	private void ReturnedFilter(Enums.NavItem filter)
	{
		_AreNavItemsCollapsed = true;
		CurrentFilter = filter;
		StateHasChanged();
	}

	private bool _AreNavItemsCollapsed;

	#region EventCallbacks
	private void ReturnedToggle(bool areNavItemsCollapsed)
	{
		_AreNavItemsCollapsed = areNavItemsCollapsed;
		StateHasChanged();
	}
	#endregion
}
