@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<MasterDetailState>? State

<TableTemplate Items="State!.Value.SuperUserList"
							 HeaderCSS="table table-light table-hover">
	<TableHeader>
		<th>Full Name</th>
		<th>Email</th>
		<th>Next Step</th>
		<th>Notes</th>
		<th class="text-start">$</th>
		<th class="text-center">Actions</th>
	</TableHeader>

	<RowTemplate>
		<td class="@context.FullNameOrNAColor">@context.FullNameOrNA</td>
		<td>@context.EMail </td>
		<td>@context.StatusName</td>
		<td><small>@context.Notes</small></td>
		<td class="@context.TotalDonationClass">
			@context.TotalDonationNoCents
		</td>
		<td class="text-center">
			<div class="btn-group">
				<ActionButtonGroup IdHra="@context.IdHra"
													 Id="@context.Id"
													 EMail="@context.EMail"
													 FullName="@context.FullName"
													 DonationRowCount="@context.DonationRowCount"
													 StatusId="@context.StatusId" />
			</div>
		</td>

	</RowTemplate>

</TableTemplate>

@code {

}
