@page "/KeyDatesCalendarGrid"
@using static LivingMessiah.Web.Links.KeyDatesCalendarGrid
@*@using LivingMessiah.Domain.KeyDates.Enums*@
@using Syncfusion.Blazor.Buttons

<h2 class="mt-2">
	<i class="@Icon"></i> @LivingMessiah.Web.Links.KeyDatesCalendarGrid.Title
</h2>

<div class="col-lg-12 control-section">
	<div class="control_wrapper">
		<SfDropDownList TValue="string" TItem="YearLookup"
										Placeholder="Select Year"
										@bind-Value="@ChangedID"
										DataSource="@YearLookupList">
			<DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
			<DropDownListEvents TItem="YearLookup" TValue="string"
													ValueChange="OnChange">
			</DropDownListEvents>
		</SfDropDownList>
	</div>
</div>

<!--

	-->

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row mt-4">

			<SfGrid ID="Grid"
							DataSource="@CalendarEntries" @ref="sfGrid"
							AllowSelection="true" AllowFiltering="true" AllowSorting="true">
				<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>

				@*  CommandClicked="OnSaveClicked" *@

				<GridSortSettings>
					<GridSortColumns>
						<GridSortColumn Field="@nameof(Domain.CalendarEntry.Date)" Direction="SortDirection.Ascending" />
					</GridSortColumns>
				</GridSortSettings>

				@*<GridEvents TValue="Domain.CalendarEntry" QueryCellInfo="CustomizeCell"></GridEvents>*@
				@* ... RowSelected="RowSelectHandler" RowDeselected="RowDeSelectHandler" />*@

				<GridColumns>

					<GridColumn Field=@nameof(Domain.CalendarEntry.Date) Format="yyyy-MM-dd" HeaderText="Date" Width="30" AllowSorting="false" AllowFiltering="true">
					</GridColumn>

					<GridColumn HeaderText="Part 1">
						<GridColumns>

							@*<GridColumn Field=@nameof(Domain.CalendarEntry.DateTypeId) HeaderText="Type" Width="40"
														FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })">
								</GridColumn>*@

							<GridColumn Field=@nameof(Domain.CalendarEntry.DateTypeEnum) HeaderText="Type" Width="40" AllowSorting="false"
													FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })">
							</GridColumn>

							@*<GridColumn Field=@nameof(Domain.CalendarEntry.DateTypeId) HeaderText="Type" Width="30" AllowSorting="true" AllowFiltering="false"></GridColumn>*@

							<GridColumn Field=@nameof(Domain.CalendarEntry.Detail) HeaderText="Dtl" Width="25" AllowSorting="false" AllowFiltering="false"></GridColumn>
						</GridColumns>
					</GridColumn>

					<GridColumn HeaderText="Part 2">
						<GridColumns>

							@*<GridColumn Field=@nameof(Domain.CalendarEntry.TypeDescr) HeaderText="Type Descr." Width="40"  AllowSorting="false"
														FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })">
								</GridColumn>*@

							<GridColumn Field=@nameof(Domain.CalendarEntry.EventDescr) HeaderText="Event Description" Width="60" AllowSorting="false" AllowFiltering="false">
							</GridColumn>

						</GridColumns>
					</GridColumn>

					@*
						Year.razor
						if (item.DateTypeId == 1 && WithMonths==true)
						{
								<LunarMonthComponent IsXsOrSm="@IsXsOrSm"
																		 DateIdBeg="item.DateIdBeg"
																		 DateIdEnd="item.DateIdEnd"
																		 LunarMonths="LunarMonths.Where(w => w.DateId >= item.DateIdBeg && w.DateId <= item.DateIdEnd).ToList()">
								</LunarMonthComponent>

					*@


				</GridColumns>

			</SfGrid>
		</div>
	</div>
</div>
