@page "/KeyDatesDataGrid"
@*@using Syncfusion.Blazor.Schedule*@

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs

@using LivingMessiah.Domain.KeyDates.Commands

<h3 class="badge-warning">Key Dates Calendar Update</h3>
<div class="row">
	<div class="col-5">
		<SfGrid DataSource="@DateUnionList" Toolbar="@(new List<string>() { "Update", "Cancel" })" AllowFiltering="false" AllowPaging="false">
			<GridColumns>
				<GridEditSettings AllowEditing="true" AllowAdding="false" AllowDeleting="false" 
													Mode="EditMode.Batch" ShowConfirmDialog="false" />

				<GridEvents OnBatchSave="OnSave" TValue="DateUnion" />

				<GridColumn Field=@nameof(DateUnion.Id) HeaderText="Id" IsPrimaryKey="true" Visible="false"
										AllowEditing="false" Type="ColumnType.Number" Width="70" />
				<GridColumn Field=@nameof(DateUnion.DateTypeEnum) HeaderText="Type" AllowEditing="false" 
										Type="ColumnType.Number" Width="80" />
				<GridColumn Field=@nameof(DateUnion.Date) HeaderText=" Date" EditType="EditType.DefaultEdit" Format="d"
										ValidationRules="@(new Syncfusion.Blazor.Grids.ValidationRules{ Required= true })"
										Type="ColumnType.Date" TextAlign="TextAlign.Center" Width="110">
				</GridColumn>
				<GridColumn Field=@nameof(DateUnion.Descr) HeaderText="Description" AllowEditing="false" Type="ColumnType.String" />

			</GridColumns>
		</SfGrid>

		@* ValidationRules="@(new Syncfusion.Blazor.Grids.ValidationRules{ Required= true })" *@

		@if (DatabaseError)
		{
			<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
		}
		else
		{
			if (DatabaseWarning)
			{
				<p class="text-warning">@DatabaseWarningMsg</p>
			}
		}

	</div>

	<div class="col-7">

		<SfSchedule TValue="LivingMessiah.Domain.KeyDates.Queries.AppointmentData"
								CssClass="year-view" MonthsCount="@NumberOfMonths" FirstMonthOfYear="@FirstMonthOfYear">
			<ScheduleEventSettings DataSource="@AppointmentDataList"></ScheduleEventSettings>
			<ScheduleViews>
				<ScheduleView Option="View.Year" IsSelected="true"></ScheduleView>
				<ScheduleView Option="View.TimelineYear" Orientation="Syncfusion.Blazor.Schedule.Orientation.Horizontal"
											DisplayName="Horizontal Timeline Year"></ScheduleView>
				<ScheduleView MaxEventsPerRow="3" Option="View.TimelineYear"
											Orientation="Syncfusion.Blazor.Schedule.Orientation.Vertical"
											DisplayName="Vertical Timeline Year">
					<ScheduleViewGroup Resources="@ResourceName"></ScheduleViewGroup>
				</ScheduleView>
			</ScheduleViews>

			<ScheduleResources>
				<ScheduleResource TItem="ResourceData" TValue="int" DataSource="@TaskData"
													Field="TaskId" Title="Category" Name="Categories" TextField="Text"
													IdField="Id" ColorField="Color"></ScheduleResource>
			</ScheduleResources>


		</SfSchedule>
	</div>
</div>

<LoadingComponent IsLoading="AppointmentDataList==null">
	<h3 class="mt-3 badge-warning">Appointment DataList</h3>
	<div class="row">
		<div class="col-12">
			<TableTemplate Items="@AppointmentDataList">
				<TableHeader>

					<th>Id</th>
					<th>Subject</th>
					<th>Description</th>
					<th>Date</th>

				</TableHeader>
				<RowTemplate>
					<td>@context.Id</td>
					<td>@context.Subject</td>
					<td>@context.Description</td>
					<td>@context.StartTime</td>
				</RowTemplate>
			</TableTemplate>
		</div>
	</div>

</LoadingComponent>

@*
			<label class="showhide" style="padding: 10px 5px 10px 0"> Order ID </label>
		<SfSwitch ValueChange="@((Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args) => { change("Order ID", args); })" 
				@bind-Checked="@Check" TChecked="bool"></SfSwitch>

		<ScheduleEventSettings DataSource="@AppointmentDataList"></ScheduleEventSettings>
	 public static List<EventData> AppointmentData = GenerateEvents();

	<ScheduleViewGroup Resources="@ResourceName"></ScheduleViewGroup>
	ResourceName
	public string[] ResourceName = { "Categories" };


	@bind-SelectedDate="@CurrentDate"  ">

	<GridEvents OnBatchSave="@((args)=>BatchSaveHandler(args,"Grid"))"/>

	 <GridEditSettings AllowEditing="true" Mode="EditMode.Batch" ShowConfirmDialog="true"></GridEditSettings>
		<GridEvents OnToolbarClick="ToolbarClickHandler" OnBatchSave="@((args)=>BatchSaveHandler(args,"Grid"))"
	ValidationRules{ Required= true, Min=2021-09-22, Max=2022-12-05 }

			[Range(1, 10, ErrorMessage = "{0} must be between {1} and {2}")]
	<GridColumn Field=@nameof(OrdersDetails.Freight) HeaderText="Freight" ValidationRules="@(new ValidationRules{ Required=true, Range = new double[]{1, 1000}})" EditType="EditType.NumericEdit" Format="C2" TextAlign="TextAlign.Right"  Width="140"></GridColumn>

		 <div class="col-lg-12 control-section">
				 <div class="content-wrapper">
						 <div class="row">

					 </div>
			 </div>
	 </div>
*@
