@using LivingMessiah.Web;
@using LivingMessiah.Web.Pages.KeyDates.Enums;

@if (FeastDays != null)
{
	@foreach (var item in FeastDays)
	{
		<div class="card mb-3">
			<div class="card-header py-1">
				<div class="row">
					@if (IsXsOrSm)
					{
						<div class="col-8 pr-1"><h6><b>@item.Name</b> <span class="hebrew16">@item.Hebrew</span> @item.Transliteration</h6></div>
						<div class="col-4 pl-1">@((MarkupString)item.DateHtml)</div>
					}
					else
					{
						<div class="col-4"><h5>@item.Name</h5></div>
						<div class="col-4"><span class="hebrew16">@item.Hebrew</span> <i>@item.Transliteration</i></div>
						<div class="col-4">@((MarkupString)item.DateHtml)</div>
					}
				</div>
			</div>

			@if (!String.IsNullOrEmpty(item.Details))
			{
				<div class="card-body py-1">
					<p class="card-text">@item.Details</p>
				</div>
			}
		</div>


		@if (FeastDays != null && item.DetailCount > 0)
		{

			<div class="card-body py-0">
				<table class="table table-sm table-striped">
					<thead>
						@if (IsXsOrSm)
						{
							<tr><th>Name</th><th></th></tr>
						}
						else
						{
							<tr><th>Name</th><th>Hebrew</th><th>Transliteration</th><th></th></tr>
						}
					</thead>
					<tbody>

						@foreach (var fdd in item.FeastDayDetails)
						{
							<tr>
								<td>@fdd.Name</td>

								@if (IsXsOrSm)
								{
									<td><span class="float-right">@item.Date.AddDays(FDD.FromInt(fdd.Id).AddDays).ToString(@DateFormat.ddd_mm_dd)</span></td>
								}
								else
								{
									<td><span class="hebrew16">@fdd.Hebrew</span></td>
									<td><i>@fdd.Transliteration</i></td>
									<td><span class="float-right">@item.Date.AddDays(FDD.FromInt(fdd.Id).AddDays).ToString(@DateFormat.ddd_mm_dd)</span></td>
								}

							</tr>
						}

					</tbody>
				</table>

			</div>

		}
	}
}

else
{
	<p><em>Loading FeastDayComponent...</em></p>
}

