@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IDispatcher Dispatcher
@using ParentState = LivingMessiah.Web.Pages.Admin.Video.Index

<div class="mb-2 d-grid gap-1 d-flex justify-content-end">

	<button @onclick="ShowTableHandler" title="Show a table of the weekly videos"
					type="button" class="@Constants.ShowTableButton.ButtonColor">
		<i class="@Constants.ShowTableButton.Icon"></i>
		@Constants.ShowTableButton.Text
	</button>

	<button @onclick="@(() => RepopulateHandler())" title="Re-populate the list"
					type="button" class="@Constants.RepopulateButton.ButtonColor">
		<i class="@Constants.RepopulateButton.Icon"></i>@Constants.RepopulateButton.Text
	</button>

</div>


@code {
	void ShowTableHandler()
	{
		Dispatcher!.Dispatch(new ParentState.Set_PageHeader_For_Table_Action(
			Constants.ShowTableButton.PageHeader.Text, Constants.ShowTableButton.PageHeader.Icon, Constants.ShowTableButton.PageHeader.Color, 0));
		Dispatcher!.Dispatch(new ParentState.Set_DetailPageHeader_Empty_Action());
		Dispatcher!.Dispatch(new ParentState.Set_VisibleComponent_Action(Enums.VisibleComponent.WeeklyVideosTable));
	}

	void RepopulateHandler()
	{
		Dispatcher!.Dispatch(new Get_Action());
	}
}
