

@if (IsXsOrSm)
{
	<p class="mb-4"><i class="far fa-calendar"></i> @Parasha.ShabbatDate.ToString("MMMM dd-yyyy")</p>
}
else
{
	<p class="float-end"><i class="far fa-calendar"></i> @Parasha.ShabbatDate.ToString("MMMM dd-yyyy")</p>
}


<a href='@Parasha.ParashaHref'
	 class='btn-primary btn-lg mt-3' title='The current weekly reading (parasha)' target='_blank'>
	<i class='fas fa-external-link-alt'></i>
	@Parasha.TorahLong
</a>

<ul style="@CssUlStyle" class="@CssUlClass">

	@if (!String.IsNullOrEmpty(Parasha.Haftorah))
	{
		<li>
			@GetWarningCaretRight()
			Haftorah: @Parasha.Haftorah
		</li>
	}
	else
	{
		<li>
			@GetWarningCaretRight()
			<small>No Haftorah</small>
		</li>
	}


	@if (!String.IsNullOrEmpty(Parasha.Brit))
	{
		<li>
			@GetWarningCaretRight()
			Brit: @Parasha.Brit
		</li>
	}
	else
	{
		<li>
			@GetWarningCaretRight()
			<small>No Brit</small>
		</li>
	}

	@if (!String.IsNullOrEmpty(Parasha.AhavtaURL))
	{
		<li>
			@GetWarningCaretRight()
			<a href="@Parasha.AhavtaURL"
				 class='btn-primary btn-sm'
				 title="Ahavta URL [@Parasha.Id]" target="_blank">
				<i class="fas fa-external-link-alt"></i>
				Commentary by Ahavta
			</a>
		</li>
	}
	else
	{
		<li>
			@GetWarningCaretRight()
			<small>No Commentary</small>
		</li>
	}


</ul>

@*<p>PrevId: @Parasha.PrevId / NextId: @Parasha.NextId</p>*@

@*

		<li class="h5">

	@if (IsPrinterFriendly)
	{
		<li>
			<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
			<small>@Parasha.ParashaHref</small>
		</li>
	}
*@
