

<p class="float-right"><i class="far fa-calendar"></i> @vwCurrentParasha.ShabbatDate.ToString("MMMM dd-yyyy")</p>

<a href='@vwCurrentParasha.ParashaHref'
	 class='btn-primary btn-lg mt-2' title='The current weekly reading (parasha)' target='_blank'>
	<i class='fas fa-external-link-alt'></i>
	@vwCurrentParasha.Torah
</a>

<ul class="fa-ul h4 mt-3">
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		@vwCurrentParasha.Haftorah
	</li>
	<li>
		<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
		@vwCurrentParasha.Brit
	</li>
</ul>












@*
	@if (IsPrinterFriendly)
	{
		<li>
			<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
			<small>@vwCurrentParasha.ParashaHref</small>
		</li>
	}
*@
