@page  "/Parasha"
@using static LivingMessiah.Web.Parasha.Anchors

@*
	ToDo: figure out how to make this work
	<br />
	<HebrewDate></HebrewDate>
*@

<h2>
	<i class="@Icon"></i> @Title
	<br />
</h2>

<hr class="warning" />

@*
	<Current> is a wrapper around these two componeonts
		<CurrentParashaButton> 
		<ParashaCalendar>
*@
<Current></Current>

@*
	ToDo: See Note1

	<h4 class="pt-2">
		<span class='badge badge-warning pb-15'>Weekly Torah Study</span>

		<button class="btn btn-outline-primary collapsed" type="button"
						data-target="#DetailsId" data-toggle="collapse"
						aria-controls="DetailsId" aria-expanded="false">
			<i class="fas" aria-hidden="true"></i>
			Details...
		</button>
	</h4>

		<div class=" collapse" id="DetailsId">
			Detailed Content, i.e. IndexTable Goes HERE!
		</div>*@

@if (ShowTable)
{
	<hr class="warning" />
	<div class="row">
		<div class="col">
			<h2><span class="badge badge-warning">Weekly Torah Study</span></h2>		<h6>
				We are currently studying the Torah on a three year cycle which allows us more time to delve deeper into His Word.
			</h6>
			<ul class="list-inline">
				<li><a href="@IndexPrint"><small><b>Print Version</b></small></a></li>
			</ul>
		</div>
	</div>

	<div class="row d-none d-sm-block">
		<IndexTable IsXs="false"></IndexTable>
	</div>
	<div class="d-block d-sm-none">
		<IndexTable IsXs="true"></IndexTable>
	</div>

	<div class="d-none d-sm-block">
		<HebrewMonthsStatic></HebrewMonthsStatic>
		<a href="#hebMonths" data-toggle="modal"><i class="far fa-moon"></i> Hebrew Months</a><br />
		<a href="@LivingMessiah.Web.ParashaArchive.Anchors.Index">
			<i class="@LivingMessiah.Web.ParashaArchive.Anchors.Icon"></i>
			@Title
		</a>
	</div>
	<div class="d-block d-sm-none">
		<HebrewMonthsXsStatic></HebrewMonthsXsStatic>
		<a href="#hebMonthsXs" data-toggle="modal"> Hebrew Months</a>
	</div>
}


@* ToDo: is this a better way  @onclick="@(e => ChangeContent(e, PartialViewEnum.Intro))"> *@
<div class="row">
	<div class="col">
		<button class="my-3 btn btn-xlarge btn-primary"
						@onclick="@ShowTable_Button_Click">
			@((MarkupString)OppositeIcon) @OppositeToggleMsg
		</button>
	</div>
</div>

<hr class="warning" />

<TuesdayTorahStudy></TuesdayTorahStudy>
<AlephBetFooter></AlephBetFooter>

@*
	Note 1:
	 It would be nice to figure out how manually open the details (i.e. <IndexTable>),
		so that I could load the contents of that table at that time.
		Bootstrap does this via JS
		See C:\Source\LivingMessiahWiki\Toggle-Button-Group.png
		See C:\Source\LivingMessiahBackup\774 Parasha is not showing the right reading date\ToggleButtonGroup-src

*@