@page  "/Parasha"
@using static LivingMessiah.Web.Links.Parasha
@*
	ToDo: figure out how to make this work
	<HebrewDate></HebrewDate>
*@

<PageHeader Icon="@Icon"
						Title="@Title"
						AddBorderBottom="false" />

<LoadingComponent IsLoading="vwCurrentParasha==null && DatabaseWarning==false">

	<div class="card bg-light">
		<div class="card-header text-center">
			<h3> <i class="@IconCurrent"></i> Current Parasha</h3>
		</div>
		<div class="card-body">
			<HelloWorld vwCurrentParasha="@vwCurrentParasha"></HelloWorld>
		</div>

	</div>
</LoadingComponent>

<ButtonToggleVisibility Title="Parasha Table">
	<ChildContent>
		<div class="card-body  m-0 px-4">

			<h6>
				We are currently studying the Torah on a three year cycle which allows us more time to delve deeper into His Word.
			</h6>
			<ul class="list-inline">
				<li><a href="@IndexPrint"><small><b>Print Version</b></small></a></li>
			</ul>

			<div class="d-none d-sm-block">
				<IndexTable IsXs="false"></IndexTable>
			</div>
			<div class="d-block d-sm-none">
				<IndexTable IsXs="true"></IndexTable>
			</div>

		</div>
	</ChildContent>
</ButtonToggleVisibility>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarning</p>
	}
}

@*<div class="d-none d-sm-block">
	<button type="button" @onclick="HebrewMonthsStatic_ButtonClick"
					bs-toggle-modal="instructions"
					class="btn btn-danger btn-lg mb-4">
		<i class="far fa-moon"></i> Hebrew Months
	</button>
	@if (MakeModalVisible)
	{
		<HebrewMonthsStatic></HebrewMonthsStatic>
	}
</div>*@

@*<div class="d-none d-sm-block">
		<HebrewMonthsStatic></HebrewMonthsStatic>
		<a href="#hebMonths" data-toggle="modal"><i class="far fa-moon"></i> Hebrew Months</a><br />
		<a href="@LivingMessiah.Web.Links.ParashaArchive.Index">
			<i class="@LivingMessiah.Web.Links.ParashaArchive.Icon"></i>
			@Title
		</a>
	</div>
	<div class="d-block d-sm-none">
		<HebrewMonthsXsStatic></HebrewMonthsXsStatic>
		<a href="#hebMonthsXs" data-toggle="modal"> Hebrew Months</a>
	</div>*@

<h1 class="mt-5 mb-1">Related</h1>
<div class="list-group">
	<a href="@TorahTuesdayLink.Index" title="@TorahTuesdayLink.Title @TorahTuesdayLink.HomeTitleSuffix"
		 class="list-group-item list-group-item-warning ">
		<i class="@TorahTuesdayLink.Icon fa-fw fa-3x" aria-hidden="true"></i>
		<span class="home-page-xs"><b>@TorahTuesdayLink.Title</b></span>
		<span class="float-right text-info">
			<span class="hebrew">@TorahTuesdayLink.HomeFloatRightHebrew</span>
		</span>
	</a>
</div>


<AlephBetFooter></AlephBetFooter>
