@page  "/Parasha/IndexPrint"
@using static LivingMessiah.Web.Links.Parasha

<HebrewDate></HebrewDate>

<h4 class="text-center">Weekly Torah Study Index (<i>parashot</i>) | Living Messiah Ministries</h4>
<h5 class="text-center"><sup><small><text>LivingMessiah.com/Parasha</text></small></sup></h5>

<a class="btn btn-sm btn-default" href="javascript:window.print()">
	<span class="fas fa-print"></span> Print
</a>

@if (!String.IsNullOrEmpty(CachedMsg))
{
	<p class="text-muted float-right mt-1"><small><sup>@CachedMsg</sup></small></p>
}
else
{
	<p class="text-muted float-right mt-1"><small><sup>Database Call</sup></small></p>
}


<div class="row">
	<div class="col-12">

		<LoadingComponent IsLoading="ParashaList==null | BibleBook==null">
			<table class="table table-sm table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>#</th>
						<th>Read Date</th>
						<th>Torah</th>
						<th>Haftorah</th>
						<th>Brit Chadashah</th>
						<th>&nbsp;</th>
					</tr>
				</thead>

				<tbody>

					@foreach (var item in ParashaList)
					{
						if (item.RowCntByBookId == 1)
						{
							if (BibleBook != null)
							{
								<tr>
									<td colspan="6">
										<a id="@BibleBook.EnglishTitle"></a>
										<span class="badge badge-danger">@BibleBook.EnglishTitle</span> &nbsp;
										<span class="text-muted"><i>@BibleBook.HebrewTitle</i></span>
										<span class="float-right hebrewchart">@((MarkupString)BibleBook.HebrewName)</span>
									</td>
								</tr>
							}
						}

						<tr>
							<td>@item.Id</td>
							<td>@item.TriNum</td>
							<td>@item.ShabbatDate.ToString("MMM d")</td>
							<td>@item.TorahLong</td>
							<td>@item.Haftorah</td>
							<td>@item.Brit</td>
						</tr>
					}

				</tbody>
			</table>
		</LoadingComponent>

	</div>
</div>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}