@page "/Parasha/IndexPrint/{BookId:int}"

@*
	page "/Parasha/IndexPrint/{BibleBookName:string}"
	page "/Parasha/IndexPrint/{BookId:int}/{Name:string}"
*@
@using Page = LivingMessiah.Web.Links.Parasha
<PageTitle>@Page.Title</PageTitle>

<HebrewDate></HebrewDate>

<h4 class="text-center">Weekly Torah Study Index (<i>parashot</i>) | Living Messiah Ministries</h4>
<h5 class="text-center"><sup><small><text>LivingMessiah.com/Parasha</text></small></sup></h5>
<h4 class="text-center">@BibleBookName</h4>

<div class="d-print-none float-end">
	<a class="btn btn-sm btn-default" href="javascript:window.print()">
		<span class="fas fa-print"></span> Print
	</a>
</div>


<BackButton Href="@Page.Index" Text="@Page.BackToButtonText"/>

<LoadingComponent IsLoading="Parashot==null" TurnSpinnerOff="@TurnSpinnerOff">
	<table class="table table-sm table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>#</th>
				<th>Read Date</th>
				<th>Torah</th>
				<th>Haftorah</th>
				<th>Brit Chadashah</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

		<tbody>

			@foreach (var item in Parashot!)
			{
				if (item.RowCntByBookId == 1)
				{
					<tr>
						<td colspan="6">
							<a id="@item.BibleBook.Name"></a>
							<span class="badge bg-danger">@item.BibleBook.Name</span> &nbsp;
							<span class="text-muted"><i>@item.BibleBook.TransliterationInHebrew</i></span>
							<span class="float-end hebrewchart">@((MarkupString)item.BibleBook.NameInHebrew)</span>
						</td>
					</tr>
				}


				<tr>
					<td>@item.Id</td>
					<td>@item.TriNum</td>
					<td>@item.ShabbatDate.ToString("MMM d")</td>
					<td>@item.TorahLong</td>
					<td>@item.Haftorah</td>
					<td>@item.Brit</td>
				</tr>
			}

		</tbody>
	</table>
</LoadingComponent>
