@using PageLink = LivingMessiah.Web.Pages.Parasha.LinkSmartEnums.ParashaLinks

<nav id="subNavBar" class="navbar navbar-expand-sm navbar-toggleable-md border-bottom box-shadow p-0 mb-3 @NavBarColor">
	<div class="container">

		<a class="nav-link @GetActive(@LinkSmartEnums.Parasha.Current)" title="" href="@PageLink.Index">
			<i class="fas fa-home"></i>
			@PageLink.NavBarText
		</a>

		<button class="navbar-toggler" @onclick="ToggleSubNavBar" type="button"
						data-bs-toggle="collapse" data-target=".navbar-collapse"
						aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="@SubNavBarCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse"
				 @onclick="ToggleSubNavBar">

			<ul class="navbar-nav flex-grow-1">
				@foreach (var item in LinkSmartEnums.Parasha.List.OrderBy(o => o.Value)
					.Where(w => w.Value != LinkSmartEnums.Parasha.Current.Value & w.Display == true))
				{
					<li class="nav-item">
						<a class="nav-link @GetActive(item)" href="@item.Page">
							<i class="@item.NavBarIcon"></i>
							@item.NavBarText
						</a>
					</li>
				}
			</ul>

		</div>
	</div>
</nav>
