
@if (TorahTuesdayLink is not null)
{
	<h1 class="mt-5 mb-1">Related</h1>
	<div class="list-group">
		<a href="@TorahTuesdayLink.Index" title="@TorahTuesdayLink.Title @TorahTuesdayLink.HomeTitleSuffix"
			 class="list-group-item list-group-item-warning ">
			<i class="@TorahTuesdayLink.Icon fa-fw fa-3x" aria-hidden="true"></i>
			<span class="home-page-xs"><b>@TorahTuesdayLink.Title</b></span>
			<span class="float-end text-info">
				<span class="hebrew">@TorahTuesdayLink.HomeFloatRightHebrew</span>
			</span>
		</a>
	</div>
}