@page "/bloodmoons"
@using static LivingMessiah.Web.BloodMoons.Anchors

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Icon text-danger"></i> @Title</h2>
</div>

<ul class="nav nav-pills">
	<li role="presentation" class="nav-item"><a class="nav-link active" data-toggle="pill" href="#welcome">Welcome</a></li>
	<li role="presentation" class="nav-item"><a class="nav-link" data-toggle="pill" href="#Year1492">1492</a></li>
	<li role="presentation" class="nav-item"><a class="nav-link" data-toggle="pill" href="#Year1948">1948</a></li>
	<li role="presentation" class="nav-item"><a class="nav-link" data-toggle="pill" href="#Year1510">1510</a></li>
	<li role="presentation" class="nav-item"><a class="nav-link" data-toggle="pill" href="#Year1967">1967</a></li>
	<li role="presentation" class="nav-item"><a class="nav-link" data-toggle="pill" href="#Year2032">2032</a></li>
	<li role="presentation" class="nav-item"><a class="nav-link" data-toggle="pill" href="#Year2013">2013</a></li>
	<li role="presentation" class="nav-item"><a class="nav-link" data-toggle="pill" href="#newpattern">A New Pattern</a></li>
</ul>

<div class="tab-content">

	<!--Welcome-->
	<div id="welcome" class="tab-pane active" role="tabpanel">

		<img src="@Blobs.UrlRedBloodMoons("welcome-red-blood-moons.png")"
				 alt="Red Blood Moons on Biblical Holidays" class="mx-auto d-block img-fluid my-3" />

		<img src="@Blobs.UrlRedBloodMoons("welcome-rbm-on-bhd.png")"
				 alt="Red Blood Moons on Biblical Holidays" class="mx-auto d-block img-fluid my-3" />

		<p class="h5">
			The intent of this website is to bring forth the evidence and the witnesses of the Almighty’s creation.
			They are on His order, and they are faithful witnesses.
			The data regarding the eclipses on this site was obtained from NASA's official lunar eclipse website at <a href="http://eclipse.gsfc.nasa.gov/lunar.html">http://eclipse.gsfc.nasa.gov/lunar.html</a>.
			The red blood moons occur in a set of 4 total eclipses in a row called a tetrad, Mark Biltz discovered this a couple years ago noting that
			they occur on biblical holy days of Passover and Tabernacles.
			When you look at the occurrences of these tetrads during the years they occur, there doesn’t seem to be any relevant pattern.
			However when you look at the year before the pattern or sometimes the year after you see that
			there is a year of partial eclipses that appear on dates where Passover and Tabernacles should be.
			The years that these tetrads occur are 1492, the year Jews were expelled from spain and Columbus discovered America, through 1494.
			The next set was 1510, the year the Jews were expelled from Berlin through 1513.
			The next set occurs in 1948, the year Israel became a nation, through 1950.
			The next set was 1967, the year Jerusalem was liberated, through 1969.
			The next set occurs in 2013 through 2015.
			This pattern shows that the first year these eclipses started was the year something happened to Israel in the previous sets.
			I will begin with 1492 and end with 2032.
			Please note that these eclipses occur on Passover and Tabernacles every time, this cannot be coincidence,
			since they are on His order and man cannot manipulate them, that is why the wise men trusted them, they are His prophets.
			Psa. 19:1 The <span class="text-success"><b>heavens</b></span> are <span class="text-success"><b>telling</b></span> of the glory of God; And their expanse is declaring the work of His hands.
			Psa. 50:6 And the heavens declare His righteousness,
			For God Himself is judge. These are just a couple scriptures that tell us the <b>heavens</b> speak.
		</p>
		<img src="@Blobs.UrlRedBloodMoons("welcome-nasa.png")"
				 alt="N.A.S.A." class="img-fluid mx-auto d-block my-3" />

		<img src="@Blobs.UrlRedBloodMoons("welcome-date-table.png")"
				 alt="welcome date table" class="mx-auto d-block img-fluid my-3" />

		<div class="row">
			<div class="col-sm-offset-7">

				<div class="card card-body bg-light">
					<p class="">
						Passover and <br />
						Tabernacles in 49 and 50.
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<img src="@Blobs.UrlRedBloodMoons("welcome-his-prophets-speak.png")"
						 alt="His Prophets Speak" class="mx-auto d-block img-fluid" />
			</div>
			<div class="col-sm-4">
				<div class="card card-body bg-light">
					<p class="">
						This page and the concepts have been created  by
						Mark Webb
						markten@me.com
					</p>
				</div>
			</div>
		</div>

	</div>

	<!--Year1492-->
	<div id="Year1492" class="tab-pane" role="tabpanel">
		<img src="@Blobs.UrlRedBloodMoons("1492-jews-expelled-from-spain.png")"
				 alt="expelled from Spain" class="mx-auto d-block img-fluid my-3" />

		<img src="@Blobs.UrlRedBloodMoons("1492-date-table.png")"
				 alt="Date Table 1492" class="mx-auto d-block img-fluid my-3" />

		<figure class="float-right">
			<img src="@Blobs.UrlRedBloodMoons("1492-ophiuchus.png")" alt="Here is Ophiuchus"
					 class="img-fluid rounded" />
			<figcaption>Fig.1 - Here is <b>Ophiuchus</b></figcaption>
		</figure>

		<p class="h5">
			This is the year that Columbus discovers America and the Jews are expelled from Spain.
			The decree was written in November of <b>1491</b> as a lunar eclipse is happening in November.
			This pattern continues in each example.
			The key to note is the first year of these Eclipses in April, (in blue), is the year something happened to Israel.
			The other observation is that the red blood moon in Ophiuchus is the beginning of the pattern each time.
			It is said in Biblical Astronomy that this moon in Ophiuchus is the seed wrestling with the enemy.
			Ophiuchus is a man wrestling with a serpent in his hand. E. W. Bullinger, in the witness of the stars says this of Ophiuchus,
		</p>
		<blockquote>
			<span class="text-danger">(The man grasping the serpent). The struggle with the enemy.</span>
		</blockquote>
		<p class="h5">
			You will see this pattern above unfold six times in history and then we will look at all six events and see another pattern unfold.
		</p>

	</div>

	<!--Year1948-->
	<div id="Year1948" class="tab-pane" role="tabpanel">

		<img src="@Blobs.UrlRedBloodMoons("1948-israeli-state.png")"
				 alt="Israeli State" class="mx-auto d-block img-fluid my-3" />

		<img src="@Blobs.UrlRedBloodMoons("1948-date-table.png")"
				 alt="1948 date table" class="mx-auto d-block img-fluid my-3" />

		<p class="h5">
			This year <b>1948</b>, Israel becomes a nation after war with the Arab nations.
			The war begins in November of 1947 when a lunar eclipse is happening.
			Notice that this eclipse in November happens in each of the previous and future examples.
			November seems to be when things get started for Israel.
			The patterns here are the same as in the years for 1492 and 1510.
			I will keep saying this repeatedly that the first year the eclipses start in April,
			(in <span class="text-primary">blue</span>), are the year something happens to Israel.
		</p>

	</div>

	<!--Year1510-->
	<div id="Year1510" class="tab-pane" role="tabpanel">
		<img src="@Blobs.UrlRedBloodMoons("1510-expelled-from-berlin.png")"
				 alt="Expelled from Berlin" class="mx-auto d-block img-fluid my-3" />

		<img src="@Blobs.UrlRedBloodMoons("1510-date-table.png")"
				 alt="1510 date table" class="mx-auto d-block img-fluid my-3" />

		<p class="h5">
			This year <b>1510</b>, the Jews were expelled from Berlin.
			I’m not certain when the decree was written to expel the Jews from Berlin, but certainly it was conceived before the event took place.
			I would suggest that it may have happened in November as the others were. The patterns here are the same as in the year for <b>1492</b>.
			I will keep saying this repeatedly that the first year the eclipses start in April,
			(in <span class="text-primary">blue</span>), are the year something happens to Israel.
		</p>

		<img src="@Blobs.UrlRedBloodMoons("welcome-his-prophets-speak.png")"
				 alt="His Prophets Speak" class="mx-auto d-block img-fluid" />
	</div>

	<!--Year1967-->
	<div id="Year1967" class="tab-pane" role="tabpanel">
		<img src="@Blobs.UrlRedBloodMoons("1967-jerusalem-free.png")"
				 alt="Jerusalem Free" class="mx-auto d-block img-fluid my-3" />

		<img src="@Blobs.UrlRedBloodMoons("1967-date-table.png")"
				 alt="1967 date table" class="mx-auto d-block img-fluid my-3" />

		<p class="h5">
			This year <b>1967</b>, Israel liberates Jerusalem in the six day war.
			Like the other patterns the conflict began in November just after the lunar eclipse is happening in October
			and ended 6 months later in May on Shavuot (Pentecost).
			The patterns here are the same as in the years for <b>1492</b>, <b>1510</b> and <b>1948</b>.
			I will keep saying this repeatedly that the first year the eclipses start in April,
			(in <span class="text-primary">blue</span>), are the year something happens to Israel.
		</p>

		<img src="@Blobs.UrlRedBloodMoons("welcome-his-prophets-speak.png")"
				 alt="His Prophets Speak" class="mx-auto d-block img-fluid" />
	</div>

	<!--Year2032-->
	<div id="Year2032" class="tab-pane" role="tabpanel">
		<img src="@Blobs.UrlRedBloodMoons("2032-year-of-yahushuah.png")"
				 alt="Year of Yahushuah?" class="mx-auto d-block img-fluid my-3" />

		<img src="@Blobs.UrlRedBloodMoons("2032-date-table.png")"
				 alt="2032 date table" class="mx-auto d-block img-fluid my-3" />

		<p class="h5">
			This is the last time these red blood moons happen on biblical holy days.
			They will show us a new pattern that will emerge from looking at all six together.
			Interestingly enough <b>2032</b> would be almost exactly 2000 years (2 days) since Messiah Yahushua paid the price on Passover.
		</p>

		<img src="@Blobs.UrlRedBloodMoons("welcome-his-prophets-speak.png")"
				 alt="His Prophets Speak" class="mx-auto d-block img-fluid" />
	</div>

	<!--Year2013-->
	<div id="Year2013" class="tab-pane" role="tabpanel">
		<img src="@Blobs.UrlRedBloodMoons("2013-possible-war.png")"
				 alt="Possible War?" class="mx-auto d-block img-fluid my-3" />

		<img src="@Blobs.UrlRedBloodMoons("2013-date-table.png")"
				 alt="2013 date table" class="mx-auto d-block img-fluid my-3" />

		<p class="h5">
			This is the next set of lunar eclipses on Biblical Holy Days.
			If you look at the previous four times this pattern has happened in history,
			something happened to Israel, expelling and war between November and June each time the year eclipses begin in April.
			It is the blue box each time and also when Passover would begin.
		</p>

	</div>

	<!--NewPattern-->
	<div id="newpattern" class="tab-pane" role="tabpanel">
		<img src="@Blobs.UrlRedBloodMoons("new-pattern-emerges.png")"
				 alt="A pattern emerges" class="mx-auto d-block img-fluid my-3" />

		<img src="@Blobs.UrlRedBloodMoons("new-pattern-date-table.png")"
				 alt="new pattern date table" class="mx-auto d-block img-fluid my-3" />

		<p class="h5">
			You can see here that an amazing pattern has emerged.
			Both in 1492 and 1510 the Jews were expelled from a country and they happened 18 years apart.
			What is obvious here is the fact that 18 years after the expelling from Spain they are expelled again from another nation.
			In 1948 the Jews go to war with their enemy, 19 years later they go to war with the enemy again.
			The pattern before us is this, whatever happened to them in 1492 and 1948 repeated itself 19 years later,
			I found that this is a cycle called a metonic cycle. This cycle shows that the planets are in the same place every 19 years.
			However these patterns don’t occur every 19 years.
			I have only been able to discover the ones above after looking at several millennia,
			so these are rare and special events that this writer believes the Almighty is showing those who are listening.
			After considering the patterns, it puts the year 2013 into focus for us to watch from November of 2012 to June of 2013.
			Also <span class="text-danger"><b>IF</b></span> something does occur and I emphasize <span class="text-danger"><b>IF</b></span>, then the patterns tell us the same event <span class="text-danger"><b>MIGHT</b></span> happen again in 2032.
			Take notice, I’m not predicting anything, just observing the witnesses and patterns that have already occurred.
			As the Almighty tells us in <b>Genesis 1:14</b> that the Sun, Moon and Stars are for signs, seasons, days and years.
		</p>

	</div>
</div>
