@page "/Location"
@using Page = LivingMessiah.Web.Links.Location;
<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2>
		<i class="@Page.Icon"></i> @Page.Title
	</h2>
</div>


<h2><span class='badge badge-warning'>Address</span></h2>
<p>
	<address>
		@AddressService.GetAddress().FullAddress
	</address>
	<img src="@Blobs.UrlRoot("LMmapSm.jpg")" class="img-fluid" />
</p>

<h4 class="mt-3">Google Maps</h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9419.795318480548!2d-111.8370479446454!3d33.41279949684512!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0169c0f6b64a049!2sLiving+Messiah+Ministries!5e0!3m2!1sen!2sus!4v1501018401900"
				width="350" height="300" frameborder="0" style="border:0" allowfullscreen>
</iframe>


@code {
	[Inject]
	private LivingMessiah.Web.Services.IAddressService AddressService { get; set; }
}
