@page "/BlazorSyncFusion/DropDowns/DropDownList/BibleBook"
@using LivingMessiah.Web.Enums 

<div class="pb-1 mt-4 mb-4 border-bottom">
	<h3>Bible Book | <code>SfDropDownList</code> | <code>SmartEnum</code></h3>
</div>


<div class="row">

	<div class="col-6">
		<div class="card border-danger">
			<div class="card-header py-1">
				<code>SfDropDownList</code>
			</div>
			<div class="card-body py-1">
				<SfDropDownList TItem="VM" TValue="string" PopupHeight="230px"
												Placeholder="Select a game"
												@bind-Value="@SelectedValue" DataSource="@Books">
					<DropDownListEvents TItem="VM" TValue="string" ValueChange="OnChange"></DropDownListEvents>
					<DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
				</SfDropDownList>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="table-responsive">
			<table class="table table-bordered table-sm table-success">
				<tr>
					<th>Selected Value</th>
					<th>Selected Text</th>
					<th>Selected Id</th>
				</tr>
				<tr>
					<td>@SelectedValue</td>
					<td>@SelectedText</td>
					<td>@SelectedId</td>
				</tr>
			</table>

		</div>

	</div>

</div>


@code {
	public class VM
	{
		public string Value { get; set; }
		public string Text { get; set; }
	}

	private List<VM> Books = new List<VM>();
	protected override void OnInitialized()
	{
		var query = (from b in BaseBibleBookSmartEnum.List.ToList()
								 select new { b.Value, b.Name }).ToList();

		foreach (var item in query)
		{
			Books.Add(new VM() { Value = item.Value.ToString(), Text = item.Name });
		}
	}

	public string SelectedValue = BaseBibleBookSmartEnum.Genesis.Value.ToString();
	public string SelectedText { get; set; } = BaseBibleBookSmartEnum.Genesis.Name;
	public int SelectedId { get; set; } = BaseBibleBookSmartEnum.Genesis.Value;

	public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, VM> args)
	{
		SelectedText = args.ItemData.Text;
		int i = int.TryParse(SelectedValue, out i) ? i : 0;
		SelectedId = i;
	}

}
