@using LivingMessiah.Web.Data
@using LivingMessiah.Web.Pages.UpcomingEvents.Data
@using Syncfusion.Blazor.Data

@using PageEditMarkdown = LivingMessiah.Web.Links.UpcomingEventsAdmin.EditMarkdown
@using PageUploadImage = LivingMessiah.Web.Links.UpcomingEventsAdmin.UploadImage

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row mt-4">

			<SfGrid TValue="EditVM"
							Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
				<SfDataManager AdaptorInstance="typeof(ISpecialEventGridDataAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>

				<GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowDeleteConfirmDialog="true">
				</GridEditSettings>

				<GridColumns>

					<GridColumn Field="@nameof(EditVM.Id)" IsPrimaryKey="true" Visible="false" Width="40"></GridColumn>
					

					<GridColumn Field=@nameof(EditVM.EventDate) Format="yyyy/MM/dd" HeaderText="Date" Width="40" />

					<GridColumn HeaderText="Show Dates" TextAlign="TextAlign.Center">
						<GridColumns>
							<GridColumn Field=@nameof(EditVM.ShowBeginDate) Format="yyyy/MM/dd" HeaderText="Begin" Width="40" />
							<GridColumn Field=@nameof(EditVM.ShowEndDate) Format="yyyy/MM/dd" HeaderText="End" Width="40" />
						</GridColumns>
					</GridColumn>

					<GridColumn Field=@nameof(EditVM.SpecialEventTypeId) HeaderText="Type" Width="30" />

					<GridColumn Field=@nameof(EditVM.YouTubeId) HeaderText="YouTube Id" Width="50" />

					<GridColumn HeaderText="Titles" TextAlign="TextAlign.Center">
						<GridColumns>
							<GridColumn Field=@nameof(EditVM.Title) HeaderText="Title" Width="90" />
							<GridColumn Field=@nameof(EditVM.SubTitle) HeaderText="Sub Title" Width="90" />
						</GridColumns>
					</GridColumn>

					<GridColumn HeaderText="Website" TextAlign="TextAlign.Center">
						<GridColumns>
							<GridColumn Field=@nameof(EditVM.WebsiteUrl) HeaderText="Url" Width="90" />
							<GridColumn Field=@nameof(EditVM.WebsiteDescr) HeaderText="Description" Width="90" />
						</GridColumns>
					</GridColumn>

					<GridColumn HeaderText="Img" Width="40">
						<Template>
							@{
								var vm = (context as EditVM);
								<button @onclick="@(e => Image_ButtonClick(vm.Id))"
												class="btn-default btn-xs" title="@PageUploadImage.Title Id: @vm.Id">
									<i class="@PageUploadImage.Icon"></i>
								</button>
							}
						</Template>
					</GridColumn>

					<GridColumn HeaderText="Descr" Width="40">
						<Template>
							@{
								var vm = (context as EditVM);
								<button @onclick="@(e => Edit_ButtonClick(vm.Id))"
												class="btn-default btn-xs" title="@PageEditMarkdown.Title Id: @vm.Id">
									<i class="@PageEditMarkdown.Icon"></i>
								</button>
							}
						</Template>
					</GridColumn>

				</GridColumns>

				<GridEvents TValue="EditVM" OnActionFailure="Failure" OnActionBegin="OnActionBegin" />
			</SfGrid>

		</div>
	</div>
</div>

<style>
	.e-grid .e-headercelldiv {
		font-size: 10px;
	}

	.e-grid .e-rowcell {
		font-size: 10px;
	}
</style>
@*
					<GridColumn Field=@EditVM.SpecialEventType.FromValue(EditVM.SpecialEventTypeId) HeaderText="Event Type" Width="40" />
error CS0120: An object reference is required for the non-static field, method, or property 'EditVM.SpecialEventType'
Pages\UpcomingEventsAdmin\Edit\GridComponent.razor(34,74,34,99): error CS0120: An object reference is required for the non-static field, method, or property 'EditVM.SpecialEventTypeId'
*@