@page "/UpcomingEventsAdminEdit"

@using LoginLink = LivingMessiah.Web.Links.Account
@using static LivingMessiah.Web.Services.Auth0;
@using Page = LivingMessiah.Web.Links.UpcomingEventsAdmin.Edit

<PageTitle>@Page.Title</PageTitle>
<h2 class="mt-2">
	<i class="@Page.Icon"></i> @Page.Title
</h2>

<AuthorizeView Roles="@Roles.AdminOrAnnouncements">

	<Authorized>
<div class="p-5 mb-4 bg-danger rounded-3">
	<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold">NOT FUNCTIONING CORRECTLY</h1>
		<h3>
			<p class="text-warning">
				ToDo: THIS NEEDs TO BE FULL CONVERTED OVER FROM KeyDate.UpcomingEvent TO SpecialEvent.Event 
			</p>
			<p class="text-warning">
				Don't do CUD function from here
			</p>
		</h3>
	</div>
</div>
		<GridComponent></GridComponent>
	</Authorized>

	<NotAuthorized>

		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>

			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<button @onclick="@(() => RedirectToLoginClick(Page.Page))"
								type="button" class="btn-primary btn-sm">
					Login <i class='fas fa-sign-in-alt'></i>
				</button>

			</div>

		</div>

	</NotAuthorized>

</AuthorizeView>

