@using LivingMessiah.Web.Services

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Data


<p class="text-right text-muted mt-5 mb-0">
	<sup>Shabbat Week Id: @ShabbatWeekId</sup>
</p>

<h4 class="mt-0 mb-1"><span class="badge badge-warning">Shabbat Week @ShabbatDate.ToShortDateString()</span></h4>

<SfGrid ID="Grid" @ref="Grid" DataSource="@GridData"	Toolbar="@Toolbar">
	<GridSearchSettings Fields="@InitSearchField" Key="@ShabbatWeekId.ToString()"
		Operator=Syncfusion.Blazor.Operator.Contains IgnoreCase="true" />	 
	<SfDataManager AdaptorInstance="typeof(IWeeklyVideosGridDataAdaptor)" Adaptor="Adaptors.CustomAdaptor" />
	<GridEvents TValue="WeekCrudGridVM" OnActionFailure="Failure" OnActionBegin="OnActionBegin" />

	<GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"
										ShowDeleteConfirmDialog="true"
										Mode="@EditMode.Dialog" Dialog="DialogParams">
		<Template>
			@{
				// ToDo: in the Template, test if I can use EditForm, DataAnnotationsValidator and ValidationSummary
				var VM = (context as WeekCrudGridVM);
			}

			<div class="form-row">

				<div class="form-group col-md-6">
					<label for="weeklyVideoTypeEnum" class="control-label">Event Type</label>
					<InputSelectEnum @bind-Value="VM.WeeklyVideoTypeEnum" class="form-control" id="weeklyVideoTypeEnum" />
				</div>

				<div class="form-group col-md-5">
					<SfTextBox ID="YouTubeId" @bind-Value="@(VM.YouTubeId)" FloatLabelType="FloatLabelType.Always"
										 ValidateOnInput="true"
										 Placeholder="YouTube Id"></SfTextBox>
				</div>

			</div>

			<div class="form row">
				<div class="form-group col-md-12">
					<SfTextBox ID="Title" @bind-Value="@(VM.Title)" FloatLabelType="FloatLabelType.Always"
										 Placeholder="Title"></SfTextBox>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<SfNumericTextBox ID="Book" @bind-Value="@(VM.Book)" TValue="int"
														Min="1" Max="66"
														FloatLabelType="FloatLabelType.Always" Placeholder="Book"></SfNumericTextBox>
				</div>

				<div class="form-group col-md-6">
					<SfNumericTextBox ID="Chapter" @bind-Value="@(VM.Chapter)" TValue="int"
														Min="1" Max="@CurrentLastChapter"
														FloatLabelType="FloatLabelType.Always" Placeholder="Chapter"></SfNumericTextBox>
				</div>
			</div>

		</Template>
	</GridEditSettings>

	<GridColumns>

		<GridColumn Field=@nameof(WeekCrudGridVM.Id) IsPrimaryKey="true" HeaderText="PK Id" Visible="false" Width="40" />
		<GridColumn Field=@nameof(WeekCrudGridVM.ShabbatWeekId) HeaderText="Id" Width="40" TextAlign="@TextAlign.Center" />
		<GridColumn Field=@nameof(WeekCrudGridVM.WeeklyVideoTypeEnum) HeaderText="WVT Enum" Width="50" TextAlign="@TextAlign.Left" />
		<GridColumn Field=@nameof(WeekCrudGridVM.Title) HeaderText="Title" Width="100"></GridColumn>

		<GridColumn HeaderText="YouTube Id" Width="50">
			<Template>
				@{
					var youTubeInfo = (context as WeekCrudGridVM);
					@if (youTubeInfo.YouTubeId != null)
					{
						<a href="@youTubeInfo.Url()" target="_blank"
					 	title="@youTubeInfo.Url()">
							<u>@youTubeInfo.YouTubeId</u>
							<i class="fas fa-external-link-square-alt"></i>
						</a>
					}
					else
					{
						<p class="text-info"><i>Missing</i></p>
					}
				}
			</Template>
		</GridColumn>

		<GridColumn HeaderText="Book/Chapter" Width="50">
			<Template>
				@{
					var bc = (context as WeekCrudGridVM);

					@if (bc.Book != 0 && bc.Chapter != 0)
					{
						<a href="@bc.MHBUrl()" target="_blank"
					 	title="@bc.MHBUrl()">
							<u>@bc.Book / @bc.Chapter</u>
							<i class="fas fa-external-link-square-alt"></i>
						</a>
					}
					else
					{
						<p class="text-info"><i>Missing</i></p>
					}

				}
			</Template>
		</GridColumn>

	</GridColumns>

</SfGrid>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}

