@using LivingMessiah.Web.SmartEnums

<div class="card border-primary mt-5">
	<div class="card-header"><h5 class="text-center"> @Header</h5></div>
	<div class="card-body">
		<h5 class="card-title">@BibleBook.Name  @Chapter:@Verses</h5>
		<blockquote>

			<p><sup><b>15</b></sup>
				And ye shall count unto you from the morrow after the sabbath, from the day that ye brought the sheaf of the wave offering; seven sabbaths shall be complete:
			</p>

			<p><sup><b>16</b></sup>
				Even unto the morrow after the seventh sabbath shall ye number fifty days; and ye shall offer a new meat offering unto <span class="hebrew16">לַיהוָה</span>.
			</p>

			<small class="float-end"><i>@BibleBook.TransliterationInHebrew</i> <span class="hebrew16">@BibleBook.NameInHebrew</span> <sup>@BibleBook.Name </sup> @Verses</small>
		</blockquote>

	</div>
</div>


@code {
	[Parameter] public string Header { get; set; } = "";
	[Parameter] public BibleBook BibleBook { get; set; } = BibleBook.Leviticus;
	[Parameter] public int Chapter { get; set; } = 23;
	[Parameter] public string Verses { get; set; } = "15-16";
}
