@page "/Sukkot/Payment/{Id:int}"

@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.Features.Sukkot.Components

@using Page = LivingMessiah.Web.Links.Sukkot.Stripe.Payment
@using PageConfirmation = LivingMessiah.Web.Links.Sukkot.Stripe.ConfirmRegistration

<PageTitle>@Page.Title</PageTitle>
<h2 class="mb-3"><span class="text-primary @Page.Icon"></span> @Page.Title</h2>


@if (AttemptingToGetRecord == true)
{
	<div class="spinner-border"></div>
	<span style="display: inline-block; vertical-align: super">Loading...</span>
}
else
{
	@if (!String.IsNullOrWhiteSpace(AttemptingToGetRecordMsg))
	{
		<p class="text-danger"><em>@AttemptingToGetRecordMsg</em></p>
	}
	else
	{
		<h4 class="text-center">Registration Id: @RegistrationSummary!.Id, Family: @RegistrationSummary.FamilyName</h4>

		<div class="d-none d-sm-block">
			<div class="card border-primary mb-3">
				<div class="card-body">
					<PaymentSummary RegistrationSummary="@RegistrationSummary"></PaymentSummary>
				</div>
			</div>
		</div>

		<div class="d-block d-sm-none">
			<div class="card border-primary mb-4">
				<div class="card-body">
					<PaymentSummaryXs RegistrationSummary="@RegistrationSummary"></PaymentSummaryXs>
				</div>
			</div>
		</div>


		<p class="lead text-primary">
			We look forward to seeing you during Sukkot, it is going to be awesome!
		</p>

		<div class="card border-primary">
			<div class="row g-0">

				<div class="col-md-6 col-lg-8">
					<div class="card-body">
						<p class="card-text">
							We are currently using <b>Stripe Payment Links</b> for processing Living Messiah Ministry Sukkot donations.
						</p>
						<p class="card-text">
							The table above is to help you in determining the amount.
						</p>
						<h4 class="card-title mt-2"><span class="badge bg-secondary text-white">Instructions</span></h4>
						<p class="card-text">
							1. By our calculations, the remaining amount is <b>@RegistrationSummary.RemainingCost.ToString("C0")</b>.
							If you need to enter a different, amount click the <small><u>Change amount</u></small>
						</p>
						<p class="card-text">
							2. By clicking the <span class="badge bg-primary"><b>Donation</b></span> button
							, you will be redirected to a <b>second tab</b> on your browser so that you can complete the process.
						</p>
						<p class="card-text">
							<img src="/Images/second-tab.jpg" class="img-fluid" alt="second tab created by Stripe" />
						</p>
						<p class="card-text">
							3. Fill out the normal credit card / debit card processing and submit the form.
						</p>
						<p class="card-text">
							4. After the payment processing is completed the second tab will show "<b>@PageConfirmation.Title</b>". 
							You can now close that second tab.
							Click the <span class="badge bg-info"> <i class="far fa-arrow-alt-circle-left">&nbsp;</i>Back to Registration Steps</span> Button.
							Your payment on your registration will be reflected some time later.
						</p>

					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="card-body text-center">
						<stripe-buy-button buy-button-id="@StripeBuyButtonId"
															 publishable-key="@StripePublishableKey">
						</stripe-buy-button>
					</div>
				</div>

			</div>
		</div>

	}
}

<RegistrationStepsLink BackwardDirection="true" />
