
<div class="card border-danger my-3">
	<div class="card-header bg-danger">
		<h1 class="text-center text-white ">
			Lyrics, Liturgy and Teaching
		</h1>
	</div>

	<div class="body my-2">
		<h3 class="text-center">
			@Title
		</h3>
	</div>

@* 	
	<div class="body">
		<h3 class="text-center">
			@Teaching
		</h3>
	</div> *@


	<div class="card-footer">
		<div class="text-center">
			<a href="@PDF" target="_blank" title="@Title | @Teaching"
				 class="btn btn-outline-danger btn-xl">
				<i class="fas fa-file-pdf fa-fw fa-2x"></i>
				<span class="fs-4"> @Teaching</span>
				<i class="fas fa-file-download fa-fw fa-2x" aria-hidden="true"></i>
			</a>
		</div>

		@if (!string.IsNullOrEmpty(PDF2))
		{
			<div class="text-center mt-2">
				<a href="@PDF2" target="_blank" title="@Title2"
					 class="btn btn-outline-danger btn-xl">
					<i class="fas fa-file-pdf fa-fw fa-2x"></i>
					<span class="fs-4">@Title2</span>
					<i class="fas fa-file-download fa-fw fa-2x" aria-hidden="true"></i>
				</a>
			</div>
		}


		@if (!string.IsNullOrEmpty(Link))
		{
			<div class="text-center mt-2">
				<a href="@Link" target="_blank" title="@Title3"
					 class="btn btn-outline-danger btn-xl">
					<span class="fs-4">@Title3</span>
					<i class="fas fa-external-link-square-alt fa-fw fa-2x" aria-hidden="true"></i>
				</a>
			</div>
		}

	</div>


</div>

@code {
	[Parameter, EditorRequired] public string? Title { get; set; }
	[Parameter, EditorRequired] public string? Teaching { get; set; }
	[Parameter, EditorRequired] public string? PDF { get; set; }
	[Parameter] public string? PDF2 { get; set; }
	[Parameter] public string? Title2 { get; set; }
	[Parameter] public string? Link { get; set; }
	[Parameter] public string? Title3 { get; set; }
}
