@page "/"
@using static LivingMessiah.Web.Services.Auth0
@using Page = LivingMessiah.Web.Links.Home

@using static LivingMessiah.Web.Components.ShabbatWeek.Dictionaries.ShabbatWeekDictionary

<PageTitle>@Page.PageTitle</PageTitle>
<HomeImage></HomeImage>


<div class="@MediaQuery.XsOrSm.DivClass">
	<RoleBasedLinks />
	<br />

	<SidebarButtons IsXsOrSm="true" />
	<ShabbatMeter />
	<div class="d-print-none">
		<SocialMediaButtons></SocialMediaButtons>
	</div>

</div>

<div class="@MediaQuery.Md.DivClass">
	<div class="row">
		<div class="col-7">
			<RoleBasedLinks />
			<AuthorizeView Roles="@Roles.AdminOrElder">
				<NotAuthorized>
					<IntroductionAndWelcome MediaQuery="MediaQuery.Md" />
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="col-5">
			<SidebarButtons IsXsOrSm="false" />
			<ShabbatMeter />
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>
		</div>
	</div>
</div>

<div class="@MediaQuery.LgOrXl.DivClass">
	<div class="row">

		<div class="col-8">
			<RoleBasedLinks />
			<AuthorizeView Roles="@Roles.AdminOrElder">
				<NotAuthorized>
					<IntroductionAndWelcome MediaQuery="MediaQuery.Lg" />
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="col-4">
			<SidebarButtons IsXsOrSm="false" />
			<ShabbatMeter />
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>

		</div>
	</div>
</div>
