@page "/"
@using static LivingMessiah.Web.Services.Auth0
@using Page = LivingMessiah.Web.Links.Home

@using static LivingMessiah.Web.Components.ShabbatWeek.Dictionaries.ShabbatWeekDictionary

<PageTitle>@Page.PageTitle</PageTitle>
<HomeImage></HomeImage>

@*
	
	2025-05-31-Gen-32-04-to-33-17
<Header Title="2025 May 03"
				Teaching="Lyrics and Liturgy Only"
				PDF="https://livingmessiahstorage.blob.core.windows.net/shabbat-service/2025-04-26-Gen-28-10-to-29-30.pdf"
				PDF2="https://livingmessiahstorage.blob.core.windows.net/shabbat-service/2025-04-26-Gen-28-10-to-29-30-Gods-Sovereign-Control-Over-Hearts.pdf"
				Title2 ="Gods Sovereign Control Over Hearts"
				Link="https://docs.google.com/presentation/d/e/2PACX-1vQ0RGqOWaGaXticIbw7_mt4a8f3qHdrHLR-Zkm5Fux5TQWxyZFbsMq8zekeZS5RVv4BpVke8QVRJiXB/pub?start=false&loop=false&delayms=3000&pli=1&slide=id.g351ce096e70_0_133"
				Title3="The Will of YHVH" />

*@

<Header Title="2025 May 31 | Genesis 32:4-33:17"
				Teaching="Pdf Download"
				PDF="https://livingmessiahstorage.blob.core.windows.net/shabbat-service/2025-05-31-Gen-32-04-to-33-17.pdf" />
				                                                                        
				     
<HebrewClassCard PDF="https://livingmessiahstorage.blob.core.windows.net/shabbat-service/2025-02-08-Hebrew-Class.pdf"/>	

<div class="@MediaQuery.XsOrSm.DivClass">
	<RoleBasedLinks />
	<br />

	<SidebarButtons IsXsOrSm="true" />
	<ShabbatMeter />
	<div class="d-print-none">
		<SocialMediaButtons></SocialMediaButtons>
	</div>

</div>

<div class="@MediaQuery.Md.DivClass">
	<div class="row">
		<div class="col-7">
			<RoleBasedLinks />
			<AuthorizeView Roles="@Roles.AdminOrElder">
				<NotAuthorized>
					<IntroductionAndWelcome MediaQuery="MediaQuery.Md" />
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="col-5">
			<SidebarButtons IsXsOrSm="false" />
			<ShabbatMeter />
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>
		</div>
	</div>
</div>

<div class="@MediaQuery.LgOrXl.DivClass">
	<div class="row">

		<div class="col-8">
			<RoleBasedLinks />
			<AuthorizeView Roles="@Roles.AdminOrElder">
				<NotAuthorized>
					<IntroductionAndWelcome MediaQuery="MediaQuery.Lg" />
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="col-4">
			<SidebarButtons IsXsOrSm="false" />
			<ShabbatMeter />
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>

		</div>
	</div>
</div>
