@page "/"
@using static LivingMessiah.Web.Services.Auth0
@using Page = LivingMessiah.Web.Links.Home

@using static LivingMessiah.Web.Components.ShabbatWeek.Dictionaries.ShabbatWeekDictionary

<PageTitle>@Page.PageTitle</PageTitle>
<HomeImage></HomeImage>

@* list-group-item list-group-item-danger *@

<div class="row my-3">
	<div class="col-12">
		<div class="d-flex w-100 justify-content-center">
			<a href="https://livingmessiahstorage.blob.core.windows.net/shabbat-service/2024-12-07-Gen-08b.pdf" target="_blank" title="2024-12-07 Gen 8:15-9:17"
			 class="btn btn-danger btn-xl">
			<div class="">
				<i class="far fa-file-pdf fa-fw fa-3x" aria-hidden="true"></i>
				<span class="h1">
					Download Lyrics, Liturgy and Teaching
				</span>
					<i class="fas fa-file-download fa-fw fa-3x" aria-hidden="true"></i>
			</div>
		</a>
		</div>
	</div>
</div>

<div class="row my-3">
	<div class="col-12">
		<div class="d-flex w-100 justify-content-center">
			<a href="https://livingmessiahstorage.blob.core.windows.net/shabbat-service/2Esdras-4-12.pdf" target="_blank" title="2nd Esdras 4-12"
			 class="btn btn-success btn-xl">
			<div class="">
				<i class="far fa-file-pdf fa-fw fa-2x" aria-hidden="true"></i>
				<span class="h1">
						2<sup>nd</sup> Esdras 4-12
				</span>
					<i class="fas fa-file-download fa-fw fa-3x" aria-hidden="true"></i>
			</div>
		</a>
		</div>
	</div>
</div>


<div class="@MediaQuery.XsOrSm.DivClass">
	<RoleBasedLinks />
	<br />

	<SidebarButtons IsXsOrSm="true" />
	<ShabbatMeter />
	<div class="d-print-none">
		<SocialMediaButtons></SocialMediaButtons>
	</div>

</div>

<div class="@MediaQuery.Md.DivClass">
	<div class="row">
		<div class="col-7">
			<RoleBasedLinks />
			<AuthorizeView Roles="@Roles.AdminOrElder">
				<NotAuthorized>
					<IntroductionAndWelcome MediaQuery="MediaQuery.Md" />
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="col-5">
			<SidebarButtons IsXsOrSm="false" />
			<ShabbatMeter />
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>
		</div>
	</div>
</div>

<div class="@MediaQuery.LgOrXl.DivClass">
	<div class="row">

		<div class="col-8">
			<RoleBasedLinks />
			<AuthorizeView Roles="@Roles.AdminOrElder">
				<NotAuthorized>
					<IntroductionAndWelcome MediaQuery="MediaQuery.Lg" />
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="col-4">
			<SidebarButtons IsXsOrSm="false" />
			<ShabbatMeter />
			<div class="d-print-none">
				<SocialMediaButtons></SocialMediaButtons>
			</div>

		</div>
	</div>
</div>
