@page "/SampleCode"

@using Page = LivingMessiah.Web.Links.SampleCode
@using PageBibleCascadingDDL = LivingMessiah.Web.Links.SampleCode.BibleCascadingDDL
@using PageBibleSearch = LivingMessiah.Web.Links.SampleCode.BibleSearch
@using PageGrid12Calendar = LivingMessiah.Web.Links.SampleCode.Grid12Calendar
@using PageMarkDown = LivingMessiah.Web.Links.SampleCode.MarkDown
@using PageSyncfusionSfDropDownList = LivingMessiah.Web.Links.SampleCode.SyncfusionSfDropDownList

<PageTitle>@Page.Title</PageTitle>
<div class="pb-1 mt-4 mb-1 border-bottom border-info">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<div class="card bg-light mt-3">
	<div class="card-body">
		@((MarkupString)Html!)
	</div>
</div>

<h3 class="mt-3">Links</h3>
<ul>
	<li><a href="@PageBibleCascadingDDL.Index">@PageBibleCascadingDDL.Title</a></li>
	<li><a href="@PageBibleSearch.Index">@PageBibleSearch.Title</a></li>
	<li><a href="@PageGrid12Calendar.Index">@PageGrid12Calendar.Title</a></li>
	<li><a href="@PageMarkDown.Index">@PageMarkDown.Title</a></li>
	<li><a href="@PageSyncfusionSfDropDownList.Index">@PageSyncfusionSfDropDownList.Title</a></li>
</ul>


<h4 class="mt-4">Links</h4>
<p><small><code>d-grid gap-2 d-md-flex</code></small></p>
<div class="d-grid gap-2 d-md-flex">
	<a class="btn btn-info" href="@PageBibleCascadingDDL.Index">
		@PageBibleCascadingDDL.Title
	</a>
	<a class="btn btn-info" href="@PageBibleSearch.Index">@PageBibleSearch.Title</a>
	<a class="btn btn-info" href="@PageGrid12Calendar.Index">@PageGrid12Calendar.Title</a>
	<a class="btn btn-info" href="@PageMarkDown.Index">@PageMarkDown.Title</a>
	<a class="btn btn-info" href="@PageSyncfusionSfDropDownList.Index">@PageSyncfusionSfDropDownList.Title</a>


	@* 	<button  class="btn btn-info" @onclick="@OnShowHtml">
	Info Toast with HTML
	</button>
	*@
</div>