@page "/LeadershipSmartEnum"
@using LivingMessiah.Web.Features.Leadership.Enums

@using Page = LivingMessiah.Web.Links.Leadership
<PageTitle>@Page.Title</PageTitle>

<Header></Header>

<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center">Leadership Table</h4>
	</div>

	<div class="card-body">
		<TableTemplate 
			Items="Office.List
				.OrderBy(o => o.Value)
				.Where(w => w.IsFilled==true).ToList()">
			<TableHeader>
				<th>Id</th>
				<th>Name</th>
				<th>Office Holder</th>
				<th>Title</th>
				<th>Image</th>
				<th>Email</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td>@context.Name</td>
				<td>@context.OfficeHolderName</td>
				<td>@context.Title</td>
				<td>
					<img src="@Blobs.Leadership(context.IconFile)" 
						class="card-img-top" alt="@context.Name" 
						title="@context.ImageFile" />
				</td>
				<td>@context.Email</td>
			</RowTemplate>
		</TableTemplate>
	</div>
</div>
