@using LivingMessiah.Web.Features.WindmillRanch.Enums
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations

<div class="carousel-section">
	<SfCarousel AutoPlay="false" Width="@width" Height="@height" ID="carousel" 
		ButtonsVisibility="CarouselButtonVisibility.Visible">

		@foreach (var item in NewsLetter.List.OrderBy(o => o.Value).ToList())
		{
			<CarouselItem>
				<figure class="img-container">
					<img src='@Blobs.NewsLetter(item.Image)' alt="@item.Caption" style="height:100%;width:100%;" />
				</figure>
			</CarouselItem>
		}

	</SfCarousel>
</div>


@* <a href='@Blobs.UrlWindmillRanchSwaleRainEvent(item.ImageFullSize)' class="img-caption text-center" target="_blank">
	@item.Caption <i class="fas fa-external-link-square-alt"></i>
</a>
 *@