@page "/Admin/WeeklyVideos"
@using static LivingMessiah.Web.Links.WeeklyVideos

<div class="pb-2 mt-4 mb-3">
	<h1><span class="text-warning"><i class="@Icon"></i></span> @Title</h1>
</div>

@if (MakeModalVisible)
{
	<div class="modal" style="display:block">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modify Weekly Verses | @CrudOperation <sup>@WeeklyVideoModel.ShabbatWeekId</sup></h5>
					<button type="button" @onclick="CancelModal_ButtonClick"
									class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
				</div>

				<EditForm Model="WeeklyVideoModel"
									OnValidSubmit="HandleValidSubmit"
									class="card card-body bg-light mt-5">
					<DataAnnotationsValidator />
					<ValidationSummary />
					<div class="modal-body">

						<div class="form-group row">
							<label for="youTubeId" class="col-md-3 col-form-label">YouTube Id:</label>
							<div class="col-md-9">
								<InputText id="youTubeId" class="form-control" @bind-Value="WeeklyVideoModel.YouTubeId" />
								<ValidationMessage For="@(() => WeeklyVideoModel.YouTubeId)" />
							</div>
						</div>

						<div class="form-group row">
							<label for="title" class="col-md-3 col-form-label">Title:</label>
							<div class="col-md-9">
								<InputText id="title" class="form-control" @bind-Value="WeeklyVideoModel.Title" />
								<ValidationMessage For="@(() => WeeklyVideoModel.Title)" />
							</div>
						</div>

						<div class="form-group row">
							<label for="graphicFileRoot" class="col-md-3 col-form-label">Graphic File:</label>
							<div class="col-md-9">
								<InputText id="graphicFileRoot" class="form-control" @bind-Value="WeeklyVideoModel.GraphicFileRoot" />
								<ValidationMessage For="@(() => WeeklyVideoModel.GraphicFileRoot)" />
							</div>
						</div>

						<div class="form-group row">
							<label for="notesFileRoot" class="col-md-3 col-form-label">Notes File:</label>
							<div class="col-md-9">
								<InputText id="notesFileRoot" class="form-control" @bind-Value="WeeklyVideoModel.NotesFileRoot" />
								<ValidationMessage For="@(() => WeeklyVideoModel.NotesFileRoot)" />
							</div>
						</div>

						@if (WeeklyVideoModel.WeeklyVideoTypeId > 2)
						{

							<div class="form-group row">
								<label for="book" class="col-md-3 col-form-label">Book:</label>
								<div class="col-md-9">
									<InputNumber id="book" class="form-control" @bind-Value="WeeklyVideoModel.Book" />
									<ValidationMessage For="@(() => WeeklyVideoModel.Book)" />
								</div>
							</div>

							<div class="form-group row">
								<label for="chapter" class="col-md-3 col-form-label">Chapter:</label>
								<div class="col-md-9">
									<InputNumber id="chapter" class="form-control" @bind-Value="WeeklyVideoModel.Chapter" />
									<ValidationMessage For="@(() => WeeklyVideoModel.Chapter)" />
								</div>
							</div>
						}

					</div>

				</EditForm>

				<div class="modal-footer">

					@if (CrudOperation == CRUD.Add)
					{
						<button type="button" @onclick="SaveModal_ButtonClick"
										class="@AddButtonColor" data-dismiss="modal">
							@AddModalText <i class="@SaveIcon"></i>
						</button>
					}
					else
					{
						@if (CrudOperation == CRUD.Edit)
						{
							<button type="button" @onclick="SaveModal_ButtonClick"
											class="@EditButtonColor" data-dismiss="modal">
								@EditModalText <i class="@EditIcon"></i>
							</button>
						}
						else
						{
							<button type="button" @onclick="SaveModal_ButtonClick"
											class="@DeleteButtonColor" data-dismiss="modal">
								@DeleteText <i class="@DeleteIcon"></i>
							</button>
						}

					}

					<button type="button" @onclick="CancelModal_ButtonClick"
									class="btn btn-light" data-dismiss="modal">
						<i class="@CancelIcon"></i> Cancel
					</button>

				</div>
			</div>
		</div>
	</div>
}

@if (WeeklyVideoIndex != null)
{
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>Video Type</th>
				<th>YouTube Id / Title</th>
				<th>Files (Graphic/Notes)</th>
				<th>Bk/Ch</th>
				<th>Modify</th>
			</tr>
		</thead>

		<tbody>

			@foreach (var item in WeeklyVideoIndex)
			{

				@if (item.TypeId == 1 & item.RowNum != 1)
				{
					<tr><td colspan="5">&nbsp;</td></tr>
				}

				@if (item.TypeId == 1)
				{
					<tr>
						<td colspan="5" align="center">
							--- <b>@item.ShabbatDate.ToString("MMM dd")</b> <small><sup>@item.ShabbatWeekId</sup></small> ---
						</td>
					</tr>
				}


				<tr>


					<td>@item.Descr <small><sup class="text-black-50">@item.TypeId</sup></small></td>

					<td>
						@if (item.YouTubeId != null)
						{
							<a href="@item.Url()" target="_blank"
								 title="@item.Url()">
								<u>@item.YouTubeId</u>
								<i class="fas fa-external-link-square-alt"></i>
							</a>
						}
						else
						{
							<p class="text-info"><i>Missing</i></p>
						}
						<br /> @item.Title
					</td>
					<td>
						<small><i>@item.GraphicFile</i></small><br />
						<small><i>@item.NotesFile</i></small>
					</td>

					@if (item.TypeId == 3 | item.TypeId == 4)
					{
						<td><small><i>@item.Book/@item.Chapter</i></small></td>
					}
					else
					{
						<td></td>
					}



					@*<td class="text-danger"><b>WORK IN PROGRESS</b></td>*@

					<td>
						@if (item.YouTubeId != null)
						{
							<button @onclick="@(() => ShowModal_ButtonClick(CRUD.Edit, item))"
											type="button" class="@EditButtonColor btn-sm">
								<i class="@EditIcon"></i> @EditText
							</button>

							<button @onclick="@(() => ShowModal_ButtonClick(CRUD.Delete, item))"
											type="button" class="@DeleteButtonColor btn-sm">
								<i class="@DeleteIcon"></i> @DeleteText
							</button>

						}
						else
						{
							<button @onclick="@(() => ShowModal_ButtonClick(CRUD.Add, item))"
											type="button" class="@AddButtonColor btn-sm">
								<i class="@AddIcon"></i> @AddText
							</button>
						}
					</td>

				</tr>

			}

		</tbody>
	</table>

	<p class="text-right mt-5 bg-light">
		<Anchor Href="https://www.youtube.com/results?search_query=living+messiah"
						Descr="YouTube Search=living+messiah" UsePrefixIcon="false">
		</Anchor>
	</p>
}
else if (CrudOperationFailed)
{
	<h1 class="text-danger">Database operation <b>@CrudOperation</b> failed.</h1>
}
else
{
	<p><em>Loading...</em></p>
}



@if (IsDebug)
{
	<div class="card mt-5">
		<div class="card-header">
			<h6 class="card-subtitle mb-2 text-muted">Debug Info</h6>
		</div>
		<div class="card text-center" style="width: 18rem;">
			<div class="card-body">
				<p class="text text-black-50"><small>CrudOperation: @CrudOperation</small></p>
				<p class="text text-black-50"><small>CrudOperationFailed: @CrudOperationFailed</small></p>
				<p class="text text-black-50"><small>MakeModalVisible: @MakeModalVisible</small></p>
				<p class="text text-black-50"><small>NewId: @NewId</small></p>
				<p class="text text-black-50"><small>Affectedrows: @Affectedrows</small></p>
			</div>
		</div>
	</div>
}