@page "/Admin/AudioVisual/WeeklyVideoAddMultiForms/"
@using LivingMessiah.Web.SmartEnums
@using Page = LivingMessiah.Web.Links.Admin.AudioVisual.AddMultiForms
@using PageBack = LivingMessiah.Web.Links.Admin.AudioVisual

<PageTitle>@Page.Title</PageTitle>
<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<h4 class="mt-4 mb-2"><span class="badge bg-warning">YouTube Feed</span></h4>

<LoadingComponent IsLoading="WeeklyVideoAddVMList==null || ShabbatWeekList==null">
	@foreach (var item in WeeklyVideoAddVMList!)
	{
		<a href="https://www.youtube.com/watch?v=@item.YouTubeId" target="_blank" title="@item.YouTubeId">
			<img src='https://img.youtube.com/vi/@item.YouTubeId/mqdefault.jpg' class='mt-4' />
			<br>@item.Title
		</a>

		<EditForm Model="item"
						OnValidSubmit="HandleValidSubmit"
						class="card card-body bg-light mt-1">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="mb-3 row">

				@if (ShabbatWeekList!.Any())
				{
					<label for="shabbatWeekId" class="col-md-3 col-form-label">Shabbat Week Id:</label>
					<div class="col-md-9">
						<InputSelect id="shabbatWeekId" @bind-Value="item.ShabbatWeekId" class="form-control">
							@foreach (var item in ShabbatWeekList!)
							{
						<option value="@item.Id">@item.ShabbatDate.ToShortDateString() [@item.Id]</option>
							}
				</InputSelect>
			</div>
				}
				else
				{
					<p class="text-warning">ShabbatWeekList is empty</p>
				}
			</div>

			<div class="mb-3 row">
				<label for="youTubeId" class="col-md-3 col-form-label">YouTube Id:</label>
				<div class="col-md-9">
					<InputText id="youTubeId" class="form-control" @bind-Value="item.YouTubeId" />
					<ValidationMessage For="@(() => item.YouTubeId)" />
				</div>
			</div>

			<div class="mb-3 row">
				<label for="title" class="col-md-3 col-form-label">Title:</label>
				<div class="col-md-9">
					<InputText id="title" class="form-control" @bind-Value="item.Title" />
					<ValidationMessage For="@(() => item.Title)" />
				</div>
			</div>

			<div class="mb-3 row">
				<label for="type" class="col-md-3 col-form-label">Type</label>
				<div class="col-md-9">
					<InputSelect id="type" @bind-Value="item.WeeklyVideoTypeId" class="form-control">
						@foreach (var item in WeeklyVideoType.List.ToList())
						{
						<option value="@item.Value">@item.Name</option>
						}
				</InputSelect>
			</div>

		</div>


		<div class="row">
			<div class="col-sm-6">
				<div class="mb-3">
					<button class="btn btn-success btn-md" type="submit">
						<i class="fas fa-save"></i> Save
					</button>
				</div>

			</div>
		</div>

	</EditForm>
	}
</LoadingComponent>