@page "/Admin/AudioVisual/WeeklyVideoUpdateForm/{Id:int?}"
@using LivingMessiah.Web.SmartEnums
@using Page = LivingMessiah.Web.Links.Admin.AudioVisual.Update
@using PageBackAdd = LivingMessiah.Web.Links.Admin.AudioVisual.Add
@using PageBack = LivingMessiah.Web.Links.Admin.AudioVisual

<PageTitle>@Page.Title</PageTitle>
<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<LoadingComponent IsLoading="vm==null || ShabbatWeekList==null">
	<h4 class="mt-4 mb-0"><span class="badge bg-warning">Update Form <sup>(@vm.Id)</sup></span></h4>

	<EditForm Model="vm"
						OnValidSubmit="HandleValidSubmit"
						class="card card-body bg-light mt-1">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<div class="mb-3 row">

			@if (ShabbatWeekList.Any())
			{
				<label for="shabbatWeekId" class="col-md-3 col-form-label">Shabbat Week Id:</label>
				<div class="col-md-9">
					<InputSelect id="shabbatWeekId" @bind-Value="vm.ShabbatWeekId" class="form-control">
						@foreach (var item in ShabbatWeekList)
						{
						<option value="@item.Id">@item.ShabbatDate.ToShortDateString() [@item.Id]</option>
						}
				</InputSelect>
			</div>
			}
			else
			{
				<p class="text-warning">ShabbatWeekList is empty</p>
			}
		</div>

		<div class="mb-3 row">
			<label for="youTubeId" class="col-md-3 col-form-label">YouTube Id:</label>
			<div class="col-md-9">
				<InputText id="youTubeId" class="form-control" @bind-Value="vm.YouTubeId" />
				<ValidationMessage For="@(() => vm.YouTubeId)" />
			</div>
		</div>

		<div class="mb-3 row">
			<label for="title" class="col-md-3 col-form-label">Title:</label>
			<div class="col-md-9">
				<InputText id="title" class="form-control" @bind-Value="vm.Title" />
				<ValidationMessage For="@(() => vm.Title)" />
			</div>
		</div>

		<div class="mb-3 row">
			<label for="type" class="col-md-3 col-form-label">Type</label>
			<div class="col-md-9">
				<InputSelect id="type" @bind-Value="vm.WeeklyVideoTypeId" class="form-control">
					@foreach (var item in WeeklyVideoType.List.ToList())
					{
						<option value="@item.Value">@item.Name</option>
					}
				</InputSelect>
			</div>

		</div>


		<div class="row">
			<div class="col-sm-6">
				<div class="mb-3">
					<button class="btn btn-success btn-md" type="submit">
						<i class="fas fa-save"></i> Update
					</button>
				</div>

			</div>
		</div>

	</EditForm>

</LoadingComponent>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
	else
	{
		if (DatabaseInformation)
		{
			<p class="text-info">@DatabaseInformationMsg</p>
		}
	}
}

<div class="row d-print-none mt-2">
	<div class="col-12">
		<a href="@PageBackAdd.Index"
			 class="btn btn-info" title="Back to @PageBackAdd.Title">
			<i class="far fa-arrow-alt-circle-left"></i> Back to @PageBackAdd.Title
		</a>
	</div>
</div>


<div class="row d-print-none mt-2">
	<div class="col-12">
		<a href="@PageBack.Index"
			 class="btn btn-info" title="Back to @PageBack.Title">
			<i class="far fa-arrow-alt-circle-left"></i> Back to @PageBack.Title
		</a>
	</div>
</div>