@page "/Wirecast"
@using Page = LivingMessiah.Web.Links.Wirecast

<PageTitle>@Page.Title</PageTitle>

<LoadingComponent IsLoading="Wirecast==null">

	<ul class="list-inline float-right">
		<li class="list-inline-item">Id: @Wirecast.Id</li>
		<li class="list-inline-item">Date: @Wirecast.ShabbatDate.ToString("MMMM dd")</li>
	</ul>

	<a href="@Wirecast.WirecastLink"
		 class="btn btn-success" title="Link to Wirecast">
		<i class="fas fa-podcast fa-fw fa-3x" aria-hidden="true"></i>
	</a>
	<p><small>@Wirecast.WirecastLink</small></p>

	<hr class="warning" />

</LoadingComponent>


@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	<p class="text-success">Record Found</p>
}

