@page "/Wirecast/Edit/"

@using Page = LivingMessiah.Web.Links.Wirecast
<PageTitle>@Page.Edit.Title</PageTitle>

<h2 class="mt-2">
	<i class="@Page.Edit.Icon"></i> @Page.Edit.Title
</h2>

<LoadingComponent IsLoading="Wirecast==null">
	<EditForm Model="@Wirecast"
						OnValidSubmit="UpdateWirecastLink"
						class="card card-body bg-light mt-5">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<fieldset class="mt-3">
			<legend class="text-primary">Wirecast Link</legend>

			<div class="row mt-n2">

				<div class="col-sm-4">
					<div class="mb-3">
						<label for="wirecast" class="control-label">Wirecast Link</label>
						<InputText id="wirecast" class="form-control" @bind-Value="Wirecast.WirecastLink" />
						<ValidationMessage For="@(() => Wirecast.WirecastLink)" />
					</div>
				</div>

			</div>
		</fieldset>

		<div class="row">
			<div class="col-sm-6">
				<div class="mb-3">
					<button type="submit" class="btn btn-primary btn-lg">
						<i class="fas fa-save"></i> Update
					</button>
				</div>
			</div>
		</div>

	</EditForm>
</LoadingComponent>



<LoadingComponent IsLoading="ScratchPad==null">
	<EditForm Model="@ScratchPad"
						OnValidSubmit="UpdateScratchPad"
						class="card card-body bg-light mt-5">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<fieldset class="mt-3">
			<legend class="text-primary">Scratch Pad</legend>

			<div class="row mt-n2">

				<div class="col-12">
					<div class="mb-3">
						@*<label for="scratchPad" class="control-label">Scratch Pad</label>*@
						<InputTextArea id="scratchPad" rows="20" class="form-control" @bind-Value="ScratchPad.WireCast" />
						<ValidationMessage For="@(() => ScratchPad.WireCast)" />
					</div>
				</div>

			</div>
		</fieldset>

		<div class="row">
			<div class="col-sm-6">
				<div class="mb-3">
					<button type="submit" class="btn btn-primary btn-lg">
						<i class="fas fa-save"></i> Update
					</button>
				</div>
			</div>
		</div>

	</EditForm>
</LoadingComponent>

@if (DatabaseError)
{
<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
<p class="text-success"><em>Rows Affected: @RowCount</em></p>
}



