@using static LivingMessiah.Web.Pages.Sukkot.Constants.Blobs

<h3><span class="badge bg-warning">Document Packet</span></h3>

<ul class="h4">
	<li>
		<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.LiabilityWaiver)"
			 target="_blank">
			<i class="fas fa-file-pdf"></i> Liability Waiver
		</a>
	</li>

	<li>
		<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.HouseRules)"
			 target="_blank">
			<i class="fas fa-file-pdf"></i> Sukkot 2023 House Rules
		</a>
	</li>
	
	<li>
		<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.Schedule)"
			 target="_blank">
			<i class="fas fa-file-pdf"></i> Schedule
		</a>
	</li>

@*	<li>
		<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.WindmillRanchSupplementalRules)"
			 target="_blank">
			<i class="fas fa-file-pdf"></i> Windmill Ranch Supplemental Rules
		</a>
	</li>
*@
	<li>
		<a href="@UrlPDF(LivingMessiah.Web.Pages.Sukkot.Constants.PDFs.WindmillRanchSurroundingArea)"
			 target="_blank">
			<i class="fas fa-file-pdf"></i> Windmill Ranch Surrounding Area
		</a>
	</li>

</ul>
