@page "/sukkot"
@using LivingMessiah.Web.Pages.Sukkot.Constants
@using static SukkotApi.Domain.Constants
@using static LivingMessiah.Web.Links.Sukkot
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot

@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options
@inject IOptions<SukkotSettings> SukkotSettings

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotSettingsList />
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

<PageHeader Icon="@Icon" Title="@Title"></PageHeader>

<AuthorizeView>
	<Authorized>
		<h3>Hello, @context.User.Identity.Name!</h3>
		<ul>
			@*<li>IsAuthenticated: @context.User.Identity.IsAuthenticated</li>
				<li>IsInRole admin: @context.User.IsInRole("admin")</li>*@
			@*<li>Claims: @context.User.Claims.ToString</li>*@
		</ul>
	</Authorized>
	<NotAuthorized>
		@*<h1>NOT AUTHORIZED</h1>*@
	</NotAuthorized>
</AuthorizeView>

@if (SukkotSettings.Value.SukkotIsOpen)
{
	<div class="d-print-none">
		<div class="row">
			<div class="col-12">
				<img src="@LivingMessiah.Web.Pages.Sukkot.Constants.Blobs.UrlEvents(Other.Banner)"
						 alt="@LivingMessiah.Web.Pages.Sukkot.Constants.Blobs.Url(Other.BannerAlt)"
						 class="img-fluid rounded" />
			</div>
		</div>
	</div>

	@if (SukkotSettings.Value.IsRegistrationClosed)
	{
		<div class="jumbotron">
			<h1>
				<span class="text-danger">Registration is CLOSED</span>
			</h1>
			<h3>
				<span class="text-warning">
					If you would like to join us for Sukkot, please	contact @ContactName at
					<a href="mailto:@ContactEmail?Subject=@Title1" target="_top">@ContactEmail</a> &nbsp;<i class="far fa-envelope"></i>.
				</span>
			</h3>
		</div>
	}

	<Introduction Dates="Sundown Wednesday, October 20, through sundown Thursday, October 28th"
								LodgingRate="@LodgingRate.ToString("C0")">
	</Introduction>

	<Meals IsMealsAvailable="SukkotSettings.Value.IsMealsAvailable"></Meals>

	@if (!SukkotSettings.Value.IsRegistrationClosed)
	{
		<RegistrationInfo EarlyRegistrationLastDay="@RegistrationMeta.EarlyRegistrationLastDay.ToString("MMMM dd")"
											EarlyRegistrationFee="@RegistrationMeta.EarlyRegistrationFee.ToString("C0")"
											RegistrationLastDay="@RegistrationMeta.RegistrationLastDay.ToString("MMMM dd")"
											RegistrationFee="@RegistrationMeta.RegistrationFee.ToString("C0")">
		</RegistrationInfo>

		<PaymentInfo></PaymentInfo>
	}

	<Documents></Documents>

	@if (!SukkotSettings.Value.IsRegistrationClosed)
	{
		<br />
		<p class="lead">
			Click the big green button to begin registration.
		</p>

		<div class="row">
			<div class="col-12">

				<a class="btn btn-success btn-lg"
					 href="@LivingMessiah.Web.Links.Sukkot.RegistrationShell">
					Begin Registration
					<i class="fas fa-caret-right"></i>
				</a>
			</div>
		</div>

	}

	<hr />

	<SukkotTShirt></SukkotTShirt>

}
else
{
	<div class="jumbotron">
		<h1>
			<span class="text-danger">Registration is Over</span>
		</h1>
	</div>
}