@using LivingMessiah.Web.Pages.Sukkot.Constants

<div class="card bg-light my-3">
	<div class="card-header">
		<h3><b>Registration</b></h3>
	</div>
	<div class="card-body">
		<p class="lead">
			Filling out the <a class="btn btn-success btn-sm" href="@LivingMessiah.Web.Links.Sukkot.RegistrationShell">registration form</a> is only available on line.
			If you can not do that then contact one of the elders and we will fill it out for you.
		</p>
	</div>
	<div class="card-body">
		<h5 class="card-title mb-1">Registration Fee</h5>

		@if (RegistrationMeta.IsThereEarlyRegistration)
		{
			<dl class="row ml-1">
				<dt class="col-8">Early Registration Fee:</dt>
				<dd class="col-4"><span class="float-right">@RegistrationMeta.EarlyRegistrationFee.ToString("C0")</span></dd>
				<dt class="col-8">Early Registration Last Day:</dt>
				<dd class="col-4"><span class="float-right">@RegistrationMeta.EarlyRegistrationLastDay</span></dd>
			</dl>
		}

		<dl class="row ml-1">
			<dt class="col-8">Regular Registration Fee:</dt>
			<dd class="col-4"><span class="float-right">@RegistrationMeta.RegistrationFee.ToString("C0")</span></dd>
			<dt class="col-8">Registration Last Day:</dt>
			<dd class="col-4"><span class="float-right">@RegistrationMeta.RegistrationLastDay.ToShortDateString()</span></dd>
		</dl>

	</div>
</div>


