@using LivingMessiah.Web.Pages.Sukkot.Constants
@using LivingMessiah.Web.Pages.Sukkot.RegistrationEnums
@using static LivingMessiah.Web.Links.Sukkot

@if (StatusFlagEnum.HasFlag(StatusFlagEnum.RegistrationFormCompleted) == true)
{
	@if (StatusFlagEnum.HasFlag(StatusFlagEnum.FullyPaid) == false)
	{
		if (StatusFlagEnum.HasFlag(StatusFlagEnum.PartiallyPaid) == true)
		{
			<text>
				<p class="lead">Remainder: <b>@vwRegistrationShell.RemainingCost.ToString("C0"))</b></p>
				<p>
					Total Cost: @vwRegistrationShell.TotalCost.ToString("C0"))
					(Camp Cost: @vwRegistrationShell.CampCost.ToString("C0")) +
					Meal Cost: @vwRegistrationShell.MealCost.ToString("C0"))).
					<br />Previous donation(s)@vwRegistrationShell.TotalDonation)
				</p>
			</text>
		}
		<p class="lead">
			Two Payment Options
			<ol class="lead">
				<li>
					<b>Preferred Option</b>.  Pay with <u>Debit or Credit Card</u>.  Click the

					<button @onclick="@(e => Payment_ButtonClick(e, vwRegistrationShell.Id))"
									class="btn-warning btn-sm">
						<i class="fab fa-paypal"></i> Donation
					</button>

					@* class="btn btn-warning btn-sm

		showPrintInstructionMessage
		" *@

					button and follow the instructions.
					<br />See the

					<a href="@LivingMessiah.Web.Pages.Sukkot.Constants.Blobs.UrlPDF(PDFs.PayPalWalkThrough)"
						 target="_blank">
						<i class="fas fa-file-pdf"> <u>PayPal walk through</u></i>
					</a> if you need more details.
					Note, a <em>PayPal</em> &reg; account is <u>not</u> necessary, Living Messiah just uses them to process financial transactions.
					<br /><em>Or</em>...<br />
				</li>
				<li>

					Pay via <u>Check</u>.  Click

					<button @onclick="@(e => PrintInstructions_ButtonClick(e, vwRegistrationShell.Id, true))"
									class="btn-info btn-sm">
						<i class="fa fa-print"></i> Print
					</button> and follow the instructions.



				</li>
			</ol>
		</p>

	}
	else
	{
		<p class="lead"><b>Task Completed</b></p>

		<a href="@Details" asp-route-id="@vwRegistrationShell.Id"
			 class="btn-info btn-sm">
			<i class="fas fa-info"></i> View Your Registration
		</a>

	}


}
