@using static LivingMessiah.Web.Links.Sukkot
@using LivingMessiah.Web.Pages.Sukkot.Constants;
@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options
@inject IOptions<SukkotSettings> SukkotSettings


@{
	string classActive = ""; // "active"

	//<ol class="breadcrumb mx-auto justify-content-center">
}

<div class="d-print-none mt-3">
	<ol class="breadcrumb mx-n3 mt-n3">
		<li>
			<a class="badge bg-secondary" href="@LivingMessiah.Web.Links.Sukkot.AdminIndex">
				<i class="fas fa-campground"></i>&nbsp;<sup>Home</sup>
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-dark" href="@LivingMessiah.Web.Links.Sukkot.HouseRulesAgreement.Index">
				<i class="@LivingMessiah.Web.Links.Sukkot.HouseRulesAgreement.Icon">
				</i>&nbsp;<sup>@LivingMessiah.Web.Links.Sukkot.HouseRulesAgreement.TitleMenu</sup>
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-dark" href="@RegistrationGrid">
				<i class="fas fa-table">
				</i>&nbsp;<sup>Registration Grid</sup>
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-info" href="@RegistrationList">
				<i class="fas fa-table">
				</i>&nbsp;<sup>Registration List</sup>
			</a>&nbsp;&nbsp;
		</li>


		<li class="@classActive">
			<a class="badge bg-warning" href="@AttendanceAllFeastDays">
				<i class="fas fa-chart-line"></i>&nbsp;<sup>Attend</sup>
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-success" href="@Donations.Grid">
				<i class="fas fa-dollar-sign"></i>&nbsp;<sup>Donate</sup>
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-danger" href="@Errors.ErrorLog">
				<i class="fas fa-bug"></i>&nbsp;<sup>Errors</sup>
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-secondary" href="@LegalAgreementVerbiage.Index">
				<i class="@LegalAgreementVerbiage.Icon"></i>&nbsp;<sup>@LegalAgreementVerbiage.Title</sup>
			</a>
		</li>

	</ol>

</div>
