@using static LivingMessiah.Web.Links.Sukkot
@using LivingMessiah.Web.Features.Sukkot.Constants;
@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options
@inject IOptions<SukkotSettings> SukkotSettings

@{
	string classActive = ""; // "active"
	//<ol class="breadcrumb mx-auto justify-content-center">
}

<div class="d-print-none mt-3">
	<ol class="breadcrumb mx-n3 mt-n3">

		<li class="@classActive">
			<a class="badge bg-dark" href="@ManageRegistration.Index">
				<i class="@ManageRegistration.Icon">
				</i>&nbsp;@ManageRegistration.IconText
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-info" href="@ManageNotes.Index">
				<i class="@ManageNotes.Icon">
				</i>&nbsp;@ManageNotes.IconText
			</a>&nbsp;&nbsp;
		</li>


		<li class="@classActive">
			<a class="badge bg-warning" href="@AttendanceAllFeastDays">
				<i class="fas fa-chart-line"></i>&nbsp;Attend
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-success" href="@Donations.Grid">
				<i class="fas fa-dollar-sign"></i>&nbsp;Donate
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge bg-secondary" href="@LegalAgreementVerbiage.Index">
				<i class="@LegalAgreementVerbiage.Icon"></i>&nbsp;@LegalAgreementVerbiage.Title
			</a>
		</li>

	</ol>

</div>
