@using static LivingMessiah.Web.Links.Sukkot
@using LivingMessiah.Web.Pages.Sukkot.Constants;
@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options
@inject IOptions<SukkotSettings> SukkotSettings


@{
	string classActive = ""; // "active"

	//<ol class="breadcrumb mx-auto justify-content-center">
}

<div class="d-print-none mt-3">
	<ol class="breadcrumb mx-n3 mt-n3">
		<li>
			<a class="badge badge-secondary" href="@LivingMessiah.Web.Links.Sukkot.AdminIndex">
				<i class="fas fa-campground"></i>&nbsp;<sup>Home</sup>
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge badge-light" href="@RegistrationGrid">
				<i class="fas fa-table">
				</i>&nbsp;<sup>Registration Grid</sup>
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge badge-light" href="@RegistrationList">
				<i class="fas fa-table">
				</i>&nbsp;<sup>Registration</sup>
			</a>&nbsp;&nbsp;
		</li>


		<li class="@classActive">
			<a class="badge badge-warning" href="@AttendanceAllFeastDays">
				<i class="fas fa-chart-line"></i>&nbsp;<sup>Attend</sup>
			</a>&nbsp;&nbsp;
		</li>


		@if (Features.IsTrackingLodging)
		{
			<li class="@classActive">
				<a class="badge badge-info" href="@LodgingDays.PivotOnCampCode">
					<i class="fa fa-truck"></i>&nbsp;<sup>Lodge</sup>
				</a>&nbsp;&nbsp;
			</li>
		}


		<li class="@classActive">
			<a class="badge badge-success" href="@Donations.Grid">
				<i class="fas fa-dollar-sign"></i>&nbsp;<sup>Donate</sup>
			</a>&nbsp;&nbsp;
		</li>

		<li class="@classActive">
			<a class="badge badge-danger" href="@Errors.ErrorLog">
				<i class="fas fa-bug"></i>&nbsp;<sup>Errors</sup>
			</a>
		</li>

	</ol>

	<!-- 
		@if (Features.IsTrackingMeals) 	{ 	}
	-->

	@if (SukkotSettings.Value.IsMealsAvailable)
	{
		<ol class="breadcrumb">

			<li class="@classActive">
				<a class="badge badge-primary" href="@Meals.PlannerReport">
					<i class="fa fa-list-ol"></i>&nbsp;<sup>Meal Planner</sup>
				</a>&nbsp;&nbsp;
			</li>

			<li class="@classActive">
				<a class="badge badge-primary" href="@Meals.Index">
					<i class="fas fa-ticket-alt"></i>&nbsp;<sup>Meal Tickets</sup>
				</a>&nbsp;&nbsp;
			</li>

			<li class="@classActive">
				<a class="badge badge-primary" href="@Meals.TicketsPunched">
					<i class="fas fa-money-bill-wave-alt"></i>&nbsp;<sup>Punched</sup>
				</a>&nbsp;&nbsp;
			</li>

			<li class="@classActive">
				<a class="badge badge-primary" href="@Meals.ListMealPlanMenu">
					<i class="far fa-map"></i>&nbsp;<sup>Menu List</sup>
				</a>&nbsp;&nbsp;
			</li>

			<li class="@classActive">
				<a class="badge badge-primary" href="@KitchenWork.Index">
					<i class="fas fa-utensils"></i>&nbsp;<sup>Kitchen Work</sup>
				</a>&nbsp;&nbsp;
			</li>
			@* asp-route-mealTicketEnum="@SukkotApi.Domain.MealTicketEnum.Day01Brunch" ToDo, cant see this??? *@
		</ol>
	}
</div>
