@using LivingMessiah.Web.Features.ThresholdCovenant

<div class="card mt-1">

	<h5 class="card-header text-center">
		@book.Title @refChapterVerse
		<sup><a href="https://www.blueletterbible.org/kjv/exo/12/1-20/s_62001" target="_blank">🔗</a></sup>
	</h5>


	@*
	Exodus 12:1–20</a> <em>The Passover rite is instituted</em>
	<sup>JKM EN 01 | MHB Parasha Exo 11 to 12:28</sup>

	*@

	<div class="card-body">

		<p class="verse-outline">The beginning of the year is changed</p>

		<p class="card-text">
			<sup class="verse-number">1</sup> And <b>Yehovah</b> <span class="hebrew"> יְהֹוָה </span> @Strongs.H("H3068") spake unto Moses and Aaron in the land of Egypt, saying,
			<sup class="verse-number">2</sup> This month [shall be] unto you the beginning of months: it [shall be] the first month of the year to you.
		</p>

		<p class="verse-outline">The Passover is instituted</p>

		<p class="card-text">
			<sup class="verse-number">3</sup> Speak ye unto all the congregation of Israel, saying, In the tenth [day] of this month they shall take to them every man a lamb, according to the house of [their] fathers, a lamb for an house:
			<sup class="verse-number">4</sup> And if the household be too little for the lamb, let him and his neighbour next unto his house take [it] according to the number of the souls; every man according to his eating shall make your count for the lamb.
			<sup class="verse-number">5</sup> Your lamb shall be without blemish, a male of the first year: ye shall take [it] out from the sheep, or from the goats:
			<sup class="verse-number">6</sup> And ye shall keep it up until the fourteenth day of the same month: and the whole assembly of the congregation of Israel shall kill it in the evening.
			<sup class="verse-number">7</sup> And they shall take of the blood, and strike [it] on the two side posts and on the upper door post of the houses, wherein they shall eat it <span class="hebrew"> אֹתוֹ </span> <sup><b>oto</b> </sup> @Strongs.H("H853").
			<sup class="verse-number">8</sup> And they shall eat the flesh in that night, roast with fire, and unleavened bread; [and] with bitter [herbs] they shall eat it <span class="hebrew"> אֶת־ </span> <sup><b>et-</b> </sup> @Strongs.H("H853").
			<sup class="verse-number">9</sup> Eat not of it raw, nor sodden at all with water, but roast [with] fire; his head with his legs, and with the purtenance thereof.
			<sup class="verse-number">10</sup> And ye shall let nothing of it remain until the morning; and that which remaineth of it until the morning ye shall burn with fire.
		</p>

	</div>
</div>

<div class="card mt-1">

	<div class="row g-0">
		<div class="col-md-4">

			<div class="card-body">

				<h5 class="card-title">Yehova's Passover'</h5>
				<p class="card-text">
					<sup class="verse-number">11</sup> And thus shall ye eat it <span class="hebrew"> אֹתוֹ </span> <sup><i><b>oto</b></i> </sup> @Strongs.H("H853");
					[with] your loins girded, your shoes on your feet, and your staff in your hand;
					and ye shall eat it <span class="hebrew"> אֹתוֹ </span> <sup><i><b>oto</b></i> </sup> @Strongs.H("H853") in haste:
					it [is] the LORD's <mark> <span class="hebrew"> לַיהוָה </span> </mark> <sup><i><b>laYehovah</b></i></sup> @Strongs.H("H3068")
					<mark>passover</mark> <span class="hebrew"> פֶּסַח </span> <sup><i><b>pesach</b></i></sup> @Strongs.H("H6453").
				</p>
			</div>
		</div>

		<div class="col-md-8 p-2">
			<img src="/images/yahovahs-passover.jpg" class="img-fluid rounded-start" alt="Yahovahs Passover">
		</div>
	</div>

</div>


<div class="card mt-1">

	<img src="/images/death-swallowed-up.jpg" class="card-img-top" alt="death swallowed up">
	<div class="card-body">
		<h5 class="card-title">Death swallowed up</h5>
		<p class="card-text">
			<sup class="verse-number">12</sup> For I will pass through the land of Egypt this night, and will smite all the firstborn in the land of Egypt, both man and beast; and against all the gods of Egypt I will execute judgment: I [am] <b>Yehovah</b> <span class="hebrew"> יְהֹוָה </span> @Strongs.H("H3068").
			<sup class="verse-number">13</sup> And the blood shall be to you for a <b>token</b> <span class="hebrew"> לְאֹת </span> <sup><i>le·ot</i> @Strongs.H("H226")</sup>
			upon the houses where ye [are]: and when I see the blood, I will <mark>pass over</mark> <span class="hebrew"> וּפָסַחְתִּי </span> <sup><i><b>ufasachti</b></i></sup> @Strongs.H("H6452") you, and the plague shall not be upon you to destroy [you], when I smite the land of Egypt.
			<sup class="verse-number">14</sup> And this day shall be unto you for a memorial; and ye shall keep it a feast to <b>Yehovah</b> <span class="hebrew"> יְהֹוָה </span> @Strongs.H("H3068"). throughout your generations; ye shall keep it a feast by an ordinance for ever.
		</p>

	</div>


	<div class="card-body">
	</div>
</div>


<div class="card mt-1">
	<div class="card-body">
		<p class="verse-outline">Unleavened bread</p>
		<p class="card-text">
			<sup class="verse-number">15</sup> Seven days shall ye eat unleavened bread; even the first day ye shall put away leaven out of your houses: for whosoever eateth leavened bread from the first day until the seventh day, that soul shall be cut off from Israel.
			<sup class="verse-number">16</sup> And in the first day [there shall be] an holy convocation, and in the seventh day there shall be an holy convocation to you; no manner of work shall be done in them, save [that] which every man must eat, that only may be done of you.
			<sup class="verse-number">17</sup> And ye shall observe [the feast of] unleavened bread; for in this selfsame day have I brought your armies out of the land of Egypt: therefore shall ye observe this day in your generations by an ordinance for ever.
			<sup class="verse-number">18</sup> In the first [month], on the fourteenth day of the month at even, ye shall eat unleavened bread, until the one and twentieth day of the month at even.
			<sup class="verse-number">19</sup> Seven days shall there be no leaven found in your houses: for whosoever eateth that which is leavened, even that soul shall be cut off from the congregation of Israel, whether he be a stranger, or born in the land.
			<sup class="verse-number">20</sup> Ye shall eat nothing leavened; in all your habitations shall ye eat unleavened bread.
		</p>


		<p class="card-text text-end mb-0">
			<small><i>@book.TransliterationInHebrew</i> <span class="hebrew">@book.NameInHebrew</span> <sup>@book.Title </sup> @refChapterVerse</small>
		</p>
	</div>
</div>


@code {
	BibleBook book = BibleBook.Exodus;
	string refChapterVerse = "12:1–20";
}
