
<p class="card-text">
	<sup class="verse-number">3</sup> Speak ye unto all the congregation of Israel, saying,
	In the tenth [day] of this month they shall take to them every man a lamb,
	according to the house of [their] fathers, a lamb for an house:
	
	<sup class="verse-number">4</sup> And if the household be too little for the lamb,
	let him and his neighbour next unto his house take [it] according to the number of the souls;
	every man according to his eating shall make your count for the lamb.
	
	<sup class="verse-number">5</sup> Your lamb shall be without blemish,
	a male of the first year: ye shall take [it] out from the sheep, or from the goats:
	<sup class="verse-number">6</sup> And ye shall keep it up until the fourteenth day of the same month:
	and the whole assembly of the congregation of Israel shall kill it in the evening.
</p>

<p class="card-text">
	<sup class="verse-number">7</sup> And they shall take of the blood, 
	and strike [it] on the two side posts <span class="hebrew"> הַמְּזוּזֹת </span> <sup><b>hammezuzot</b> </sup> @Strongs.H("H4201") and on 
	the upper door post <span class="hebrew"> הַמַּשְׁקוֹף </span> <sup><b>hammashkof</b> </sup> @Strongs.H("H4947") of the houses,
	wherein they shall eat it <span class="hebrew"> אֹתוֹ </span> <sup><b>oto</b> </sup> @Strongs.H("H853").
</p>

<p class="card-text ms-4">
	See also Exodus 12:22-23. Yeshua says I am the door for the Sheep (this would definitely include <b>the Lost Sheep of the House of Israel</b>).
	see Joh 10:7-9.  https://www.blueletterbible.org/kjv/jhn/10/7-9/s_1007007
	<a href="https://www.blueletterbible.org/kjv/jhn/10/7-9/s_1007007" target="_blank">
		John 10:7-9
	</a>
	and see
	<a href="https://www.blueletterbible.org/kjv/deu/6/9/s_159009" target="_blank">
		Deuteronomy 6:9
	</a>
	And thou shalt write them upon the posts <span class="hebrew"> מְזוּזֹת </span> <sup><b>mezuzot</b> </sup> @Strongs.H("H4201") of thy house, and on thy gates.
</p>

<p class="card-text">
	<sup class="verse-number">8</sup> And they shall eat the flesh in that night, roast with fire, and unleavened bread;
	[and] with bitter [herbs] they shall eat it <span class="hebrew"> אֶת־ </span> <sup><b>et-</b> </sup> @Strongs.H("H853").
	
	<sup class="verse-number">9</sup> Eat not of it raw, nor sodden at all with water, but roast [with] fire;
	his head with his legs, and with the purtenance thereof.

	<sup class="verse-number">10</sup> And ye shall let nothing of it remain until the morning; and that which remaineth of it until the morning ye shall burn with fire.
</p>

@code {
	// 
}
