@page "/SukkotAdmin/RegistrationList/"
@using LivingMessiah.Web.Pages.SukkotAdmin.Constants
@using LivingMessiah.Web.Pages.Sukkot.CreateEdit
@using SukkotApi.Domain.Registrations.Enums

@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.Infrastructure
@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options
@inject IOptions<SukkotSettings> SukkotSettings

@{
	string sortField = (RegistrationSort == RegistrationSortEnum.LastName) ? "Name" : "Id";
	int rowCount = 0;
}

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h3><i class="fas fa-table"></i> Registration List</h3>
	<h5 class="text-muted">
		Sorted by @sortField

		@*<a href="@LivingMessiah.Web.Pages.SukkotAdmin.Constants.Anchors.Notes" class="btn btn-primary btn-sm float-right">
				<i class="far fa-sticky-note"></i> Notes <i class="fas fa-caret-right"></i>
			</a>*@

	</h5>
</div>

<AuthorizeView Roles="@Roles.AdminOrSukkot">
	<div class="row">
		<div class="col-12">
			<button @onclick="@(e => Add_ButtonClick())"
							class="btn-success btn-lg mb-3">
				<i class="fas fa-plus"></i> Add
			</button>
		</div>
	</div>

</AuthorizeView>

<LoadingComponent IsLoading="RegistrationsGHTHF == null">
	@if (!RegistrationsGHTHF.Any())
	{
		<h3 class="text-danger">No GHTHF Registrations Yet</h3>
	}
	else
	{
		<div class="card text-white bg-success">
			<div class="card-header">
				<h3><b>Greenhouse Trolley Hobby Farm</b></h3>
			</div>
		</div>

		<ul class="list-inline">
			<li class="list-inline-item"><small><b>Lodging</b></small></li>
			<li class="list-inline-item"><small>Off S: Offsite</small></li>
			<li class="list-inline-item"><small>Tent: Tent</small></li>
			<li class="list-inline-item"><small>RV: RV or Camp Trailer</small></li>
			<li class="list-inline-item"><small>CorBH: Cabin or Bunkhouse</small></li>
		</ul>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>
							<button @onclick="@(e => Sort_ButtonClick(RegistrationSortEnum.Id))"
											title="Sort by id">
								<i class="fas fa-sort"></i>Id
							</button>
						</th>
						<th>
							<button @onclick="@(e => Sort_ButtonClick(RegistrationSortEnum.LastName))"
											title="Sort by family name">
								<i class="fas fa-sort"></i> Last Name
							</button>
							<button @onclick="@(e => Sort_ButtonClick(RegistrationSortEnum.FirstName))"
											title="Sort by family name">
								<i class="fas fa-sort"></i> First Name
							</button>
							<br />Name EMail Phone
						</th>
						<th>Lodging<br />Donation Status</th>
						<th>Registration</th>

						@if (SukkotSettings.Value.IsMealsAvailable)
						{
							<th>Meals</th>
						}
						<th>Other</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in RegistrationsGHTHF)
					{
						rowCount += 1;
						<tr>
							<td>@item.Id</td>
							<td>@StringExtensions.Truncate(item.FullName(false), 30)<br />@item.EMail<br />@item.Phone</td>

							@* @Html.Truncate(item.Status, 15) *@
							<td>@item.CampCD <br /> @item.Status</td>

							<AuthorizeView Roles="@Roles.AdminOrSukkot">
								<Authorized>
									<td>
										<div class="btn-group">
											<button @onclick="@(e => Details_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration View">
												<i class="fas fa-info text-info"></i> View
											</button>
											<button @onclick="@(e => Edit_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration Edit">
												<i class="fas fa-pencil-alt text-success"></i> Edit
											</button>

										</div>
									</td>

									@if (SukkotSettings.Value.IsMealsAvailable)
									{
										<td>
											<div class="btn-group">
												<button @onclick="@(e => DetailsMealTicket_ButtonClick(item.Id))"
																class="btn-default btn-sm" title="Meal View">
													<i class="fas fa-info text-info"></i> View
												</button>
												<button @onclick="@(e => EditMeals_ButtonClick(item.Id))"
																class="btn-default btn-sm" title="Meal Edit">
													<i class="fas fa-pencil-alt text-warning"></i> Edit
												</button>

											</div>
										</td>
									}

									<td>

										<div class="btn-group">
											<button @onclick="@(e => Payment_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Payment">
												<i class="fas fa-dollar-sign text-success"></i> Pay
											</button>

											<button @onclick="@(e => DeleteConfirmation_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Delete">
												<i class="fas fa-times text-danger"></i> Del
											</button>

											@*<AuthorizeView Roles="@Roles.Admin">
													<Authorized>
													ToDo: It look like you can not have nested authirze views, to put
													SEE BUTTON ABOVE
													</Authorized>

													<NotAuthorized>
														<i class="fa fa-times text-danger"></i>
													</NotAuthorized>
												</AuthorizeView>*@


										</div>
									</td>

								</Authorized>

								<NotAuthorized>
									<td>
										<div class="btn-group">
											<button @onclick="@(e => Details_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration">
												<i class="fas fa-info text-info"></i>
											</button>
										</div>
									</td>
									<td>
										<div class="btn-group">

											<button @onclick="@(e => DetailsMealTicket_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Meal View">
												<i class="fas fa-info text-info"></i> Meals
											</button>

										</div>
									</td>
									<td></td>
								</NotAuthorized>
							</AuthorizeView>

						</tr>
					}

					<tr>
						<td><h2><span class="badge badge-success"><b>@rowCount</b></span></h2></td>
						<td><h2><span class="badge badge-success">Total</span></h2></td>
						<td colspan="4">&nbsp;</td>
					</tr>

				</tbody>
			</table>
		</div>

	}

</LoadingComponent>


<LoadingComponent IsLoading="RegistrationsWildernessRanch == null">
	@if (!RegistrationsWildernessRanch.Any())
	{
		<h3 class="text-danger">No Wilderness Ranch Registrations Yet</h3>
	}
	else
	{
		<div class="card text-white bg-danger my-3">
			<div class="card-header">
				<h3><b>Wilderness Ranch</b></h3>
			</div>
		</div>

		<ul class="list-inline">
			<li class="list-inline-item"><small><b>Lodging</b></small></li>
			<li class="list-inline-item"><small>Off S: Offsite</small></li>
			<li class="list-inline-item"><small>Tent: Tent</small></li>
			<li class="list-inline-item"><small>RV: RV or Camp Trailer</small></li>
			<li class="list-inline-item"><small>CorBH: Cabin or Bunkhouse</small></li>
		</ul>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>
							<button @onclick="@(e => Sort_ButtonClick(RegistrationSortEnum.Id))"
											title="Sort by id">
								<i class="fas fa-sort"></i>Id
							</button>
						</th>
						<th>
							<button @onclick="@(e => Sort_ButtonClick(RegistrationSortEnum.LastName))"
											title="Sort by family name">
								<i class="fas fa-sort"></i> Last Name
							</button>
							<button @onclick="@(e => Sort_ButtonClick(RegistrationSortEnum.FirstName))"
											title="Sort by family name">
								<i class="fas fa-sort"></i> First Name
							</button>
							<br />Name EMail Phone
						</th>
						<th>Lodging<br />Donation Status</th>
						<th>Registration</th>

						@if (SukkotSettings.Value.IsMealsAvailable)
						{
							<th>Meals</th>
						}
						<th>Other</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in RegistrationsWildernessRanch)
					{
						rowCount += 1;
						<tr>
							<td>@item.Id</td>
							<td>
								@* @Html.Truncate(item.FullName(false), 35) *@
								@item.FullName(false)<br />@item.EMail<br />@item.Phone
							</td>
							@* @Html.Truncate(item.Status, 15) *@
							<td>@item.CampCD <br /> @item.Status</td>

							<AuthorizeView Roles="@Roles.AdminOrSukkot">
								<Authorized>
									<td>
										<div class="btn-group">
											<button @onclick="@(e => Details_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration View">
												<i class="fas fa-info text-info"></i> View
											</button>
											<button @onclick="@(e => Edit_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration Edit">
												<i class="fas fa-pencil-alt text-success"></i> Edit
											</button>

										</div>
									</td>

									@if (SukkotSettings.Value.IsMealsAvailable)
									{
										<td>
											<div class="btn-group">
												<button @onclick="@(e => DetailsMealTicket_ButtonClick(item.Id))"
																class="btn-default btn-sm" title="Meal View">
													<i class="fas fa-info text-info"></i> View
												</button>
												<button @onclick="@(e => EditMeals_ButtonClick(item.Id))"
																class="btn-default btn-sm" title="Meal Edit">
													<i class="fas fa-pencil-alt text-warning"></i> Edit
												</button>

											</div>
										</td>
									}

									<td>

										<div class="btn-group">
											<button @onclick="@(e => Payment_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Payment">
												<i class="fas fa-dollar-sign text-success"></i> Pay
											</button>

											<button @onclick="@(e => DeleteConfirmation_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Delete">
												<i class="fas fa-times text-danger"></i> Del
											</button>

											@*<AuthorizeView Roles="@Roles.Admin">
													<Authorized>
													ToDo: It look like you can not have nested authirze views, to put
													SEE BUTTON ABOVE
													</Authorized>

													<NotAuthorized>
														<i class="fa fa-times text-danger"></i>
													</NotAuthorized>
												</AuthorizeView>*@


										</div>
									</td>

								</Authorized>

								<NotAuthorized>
									<td>
										<div class="btn-group">
											<button @onclick="@(e => Details_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration">
												<i class="fas fa-info text-info"></i>
											</button>
										</div>
									</td>
									<td>
										<div class="btn-group">

											<button @onclick="@(e => DetailsMealTicket_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Meal View">
												<i class="fas fa-info text-info"></i> Meals
											</button>

										</div>
									</td>
									<td></td>
								</NotAuthorized>
							</AuthorizeView>

						</tr>
					}

					<tr>
						<td><h2><span class="badge badge-success"><b>@rowCount</b></span></h2></td>
						<td><h2><span class="badge badge-success">Total</span></h2></td>
						<td colspan="4">&nbsp;</td>
					</tr>

				</tbody>
			</table>
		</div>

	}

</LoadingComponent>



<LoadingComponent IsLoading="RegistrationsWindmillRanch == null">
	@if (!RegistrationsWindmillRanch.Any())
	{
		<h3 class="text-danger">No RWindmill Ranch Registrations Yet</h3>
	}
	else
	{
		<div class="card ext-white bg-warning">
			<div class="card-header">
				<h3><b>Windmill Ranch</b> <i class="@LivingMessiah.Web.Links.WindmillRanch.Icon"></i> </h3>
			</div>
		</div>

		<ul class="list-inline">
			<li class="list-inline-item"><small><b>Lodging</b></small></li>
			<li class="list-inline-item"><small>Off S: Offsite</small></li>
			<li class="list-inline-item"><small>Tent: Tent</small></li>
			<li class="list-inline-item"><small>RV: RV or Camp Trailer</small></li>
			<li class="list-inline-item"><small>CorBH: Cabin or Bunkhouse</small></li>
		</ul>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>
							<button @onclick="@(e => Sort_ButtonClick(RegistrationSortEnum.Id))"
											title="Sort by id">
								<i class="fas fa-sort"></i>Id
							</button>
						</th>
						<th>
							<button @onclick="@(e => Sort_ButtonClick(RegistrationSortEnum.LastName))"
											title="Sort by family name">
								<i class="fas fa-sort"></i> Last Name
							</button>
							<button @onclick="@(e => Sort_ButtonClick(RegistrationSortEnum.FirstName))"
											title="Sort by family name">
								<i class="fas fa-sort"></i> First Name
							</button>
							<br />Name EMail Phone
						</th>
						<th>Lodging<br />Donation Status</th>
						<th>Registration</th>

						@if (SukkotSettings.Value.IsMealsAvailable)
						{
							<th>Meals</th>
						}
						<th>Other</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in RegistrationsWindmillRanch)
					{
						rowCount += 1;
						<tr>
							<td>@item.Id</td>
							<td>
								@* @Html.Truncate(item.FullName(false), 35) *@
								@item.FullName(false)<br />@item.EMail<br />@item.Phone
							</td>
							@* @Html.Truncate(item.Status, 15) *@
							<td>@item.CampCD <br /> @item.Status</td>

							<AuthorizeView Roles="@Roles.AdminOrSukkot">
								<Authorized>
									<td>
										<div class="btn-group">
											<button @onclick="@(e => Details_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration View">
												<i class="fas fa-info text-info"></i> View
											</button>
											<button @onclick="@(e => Edit_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration Edit">
												<i class="fas fa-pencil-alt text-success"></i> Edit
											</button>

										</div>
									</td>

									@if (SukkotSettings.Value.IsMealsAvailable)
									{
										<td>
											<div class="btn-group">
												<button @onclick="@(e => DetailsMealTicket_ButtonClick(item.Id))"
																class="btn-default btn-sm" title="Meal View">
													<i class="fas fa-info text-info"></i> View
												</button>
												<button @onclick="@(e => EditMeals_ButtonClick(item.Id))"
																class="btn-default btn-sm" title="Meal Edit">
													<i class="fas fa-pencil-alt text-warning"></i> Edit
												</button>

											</div>
										</td>
									}

									<td>

										<div class="btn-group">
											<button @onclick="@(e => Payment_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Payment">
												<i class="fas fa-dollar-sign text-success"></i> Pay
											</button>

											<button @onclick="@(e => DeleteConfirmation_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Delete">
												<i class="fas fa-times text-danger"></i> Del
											</button>

											@*<AuthorizeView Roles="@Roles.Admin">
													<Authorized>
													ToDo: It look like you can not have nested authirze views, to put
													SEE BUTTON ABOVE
													</Authorized>

													<NotAuthorized>
														<i class="fa fa-times text-danger"></i>
													</NotAuthorized>
												</AuthorizeView>*@


										</div>
									</td>

								</Authorized>

								<NotAuthorized>
									<td>
										<div class="btn-group">
											<button @onclick="@(e => Details_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration">
												<i class="fas fa-info text-info"></i>
											</button>
										</div>
									</td>
									<td>
										<div class="btn-group">

											<button @onclick="@(e => DetailsMealTicket_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Meal View">
												<i class="fas fa-info text-info"></i> Meals
											</button>

										</div>
									</td>
									<td></td>
								</NotAuthorized>
							</AuthorizeView>

						</tr>
					}

					<tr>
						<td><h2><span class="badge badge-success"><b>@rowCount</b></span></h2></td>
						<td><h2><span class="badge badge-success">Total</span></h2></td>
						<td colspan="4">&nbsp;</td>
					</tr>

				</tbody>
			</table>
		</div>

	}

</LoadingComponent>
