@page "/SukkotAdmin/RegistrationList/"
@using LivingMessiah.Web.Pages.Sukkot.CreateEdit
@using SukkotApi.Domain.Registrations.Enums

@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.Infrastructure
@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@using Page = LivingMessiah.Web.Links.Sukkot
<PageTitle>@Page.RegistrationListTitle</PageTitle>

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h3><i class="fas fa-table"></i> @Page.RegistrationListTitle</h3>
</div>

<AuthorizeView Roles="@Roles.AdminOrSukkot">
	<div class="row">
		<div class="col-12">
			<button @onclick="@(e => Add_ButtonClick())"
							class="btn-success btn-lg mb-3">
				<i class="fas fa-plus"></i> Add
			</button>
		</div>
	</div>

</AuthorizeView>

<LoadingComponent IsLoading="Registrations == null">
	@if (!Registrations.Any())
	{
		<h3 class="text-danger">No Registrations</h3>
	}
	else
	{
		<p class="text-muted mb-1 float-right"><small>@GetTitle()</small></p>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>
							<span class="sort-link" @onclick=@(() => SortClicked(RegistrationSortEnum.Id))>Id</span>
							<span>@(GetSortStyle(RegistrationSortEnum.Id))</span>
						</th>
						<th>
							<span class="sort-link" @onclick=@(() => SortClicked(RegistrationSortEnum.LastName))>Last Name</span>
							<span>@(GetSortStyle(RegistrationSortEnum.LastName))</span>
							&nbsp;|&nbsp;
							<span class="sort-link" @onclick=@(() => SortClicked(RegistrationSortEnum.FirstName))>First Name</span>
							<span>@(GetSortStyle(RegistrationSortEnum.FirstName))</span>
							<br />Name/EMail/Phone
						</th>
						<th>Registration</th>
						<th>Donation Status</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Registrations)
					{
						<tr>
							<td>@item.Id</td>
							<td>@StringExtensions.Truncate(item.FullName(false), 30)<br />@item.EMail<br />@item.Phone</td>


							<AuthorizeView Roles="@Roles.AdminOrSukkot">
								<Authorized>
									<td>
										<div class="btn-group">
											<button @onclick="@(e => Details_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration View">
												<i class="fas fa-info text-info"></i> View
											</button>
											<button @onclick="@(e => Edit_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration Edit">
												<i class="fas fa-pencil-alt text-success"></i> Edit
											</button>

											<button @onclick="@(e => DeleteConfirmation_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Delete">
												<i class="fas fa-times text-danger"></i> Del
											</button>
										</div>
									</td>

									<td>

										<div class="btn-group">
											<button @onclick="@(e => Payment_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Payment">
												<i class="fas fa-dollar-sign text-success"></i> Pay
											</button>


											@*<AuthorizeView Roles="@Roles.Admin">
													<Authorized>
													ToDo: It look like you can not have nested authorize views, to put
													SEE BUTTON ABOVE
													</Authorized>

													<NotAuthorized>
														<i class="fa fa-times text-danger"></i>
													</NotAuthorized>
												</AuthorizeView>*@


										</div>
									</td>

								</Authorized>

								<NotAuthorized>
									<td>
										<div class="btn-group">
											<button @onclick="@(e => Details_ButtonClick(item.Id))"
															class="btn-default btn-sm" title="Registration">
												<i class="fas fa-info text-info"></i>
											</button>
										</div>
									</td>
									<td></td>
								</NotAuthorized>
							</AuthorizeView>

						</tr>
					}

					<tr>
						<td><h2><span class="badge badge-success"><b>@RecordCount</b></span></h2></td>
						<td><h2><span class="badge badge-success">Total</span></h2></td>
						<td colspan="3">&nbsp;</td>
					</tr>

				</tbody>
			</table>
		</div>

	}

</LoadingComponent>

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
	else
	{
		if (DatabaseInformation)
		{
			<p class="text-info">@DatabaseInformationMsg</p>
		}
	}
}



