@page "/SukkotAdmin/RegistrationList/"
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.Infrastructure
@using LivingMessiah.Web.Settings
@using Microsoft.Extensions.Options
@using NB = LivingMessiah.Web.Shared.Sukkot.Enums

<AuthorizeView Roles="@Roles.SukkotMenuBar">
	<SukkotAdminMenubar></SukkotAdminMenubar>
</AuthorizeView>

@using Page = LivingMessiah.Web.Links.Sukkot
<PageTitle>@Page.RegistrationListTitle</PageTitle>

<div class="pb-2 mt-4 mb-4 border-bottom">
	<h3><i class="fas fa-table"></i> @Page.RegistrationListTitle</h3>
</div>

<AuthorizeView Roles="@Roles.AdminOrSukkot">
	<div class="row">
		<div class="col-12">
			<h1>CommonButtons NavButton NB.NavButton.Add DELETED!!!</h1>
		</div>
	</div>

</AuthorizeView>

<LoadingComponent IsLoading="Registrations == null">
	@if (!Registrations!.Any())
	{
		<h3 class="text-danger">No Registrations</h3>
	}
	else
	{
		<div class="row">
			<div class="col-12">
				<p class="text-muted mb-1 float-end"><small>@GetTitle()</small></p>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>
							<span class="sort-link" @onclick=@(() => SortClicked(EnumsOld.RegistrationSortEnum.Id))>Id</span>
							<span>@(GetSortStyle(EnumsOld.RegistrationSortEnum.Id))</span>
							<br />&nbsp;
						</th>
						<th>
							<span class="sort-link" @onclick=@(() => SortClicked(EnumsOld.RegistrationSortEnum.FirstName))>First Name</span>
							<span>@(GetSortStyle(EnumsOld.RegistrationSortEnum.FirstName))</span>
							&nbsp;|&nbsp;
							<span class="sort-link" @onclick=@(() => SortClicked(EnumsOld.RegistrationSortEnum.LastName))>Last Name</span>
							<span>@(GetSortStyle(EnumsOld.RegistrationSortEnum.LastName))</span>
							<br />Name / EMail / Phone
						</th>
						<th>
							Registration
							<br />&nbsp;
						</th>
						<th>
							Donation / Status
							<br />&nbsp;
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Registrations!)
					{
						<tr>
							<td>@item.Id</td>
							<td>@StringExtensions.Truncate(item.FullName(false), 30)<br />@item.EMail<br />@item.Phone</td>


							<AuthorizeView Roles="@Roles.AdminOrSukkot">
								<Authorized>
									<td>
										<div class="btn-group">
											<CommonButtons RegistrationStepId="item.Id"
																 NavButton="NB.NavButton.Details">
											</CommonButtons>


											<button class="btn btn-outline-success" title="Edit" disabled>
												<i class="fas fa-edit"></i> Edit
											</button>

											<button class="btn btn-outline-danger" title="ToDo: DELETE IS NOT IMPLEMENTED YET!!!" disabled>
												<i class="fas fa-edit"></i> Delete
											</button>
											@*											<CommonButtons RegistrationStepId="item.Id"
												NavButton="NB.NavButton.DeleteConfirmation">
												</CommonButtons>
											*@
										</div>
									</td>

									<td>

										<div class="btn-group">
											<CommonButtons RegistrationStepId="item.Id"
																 NavButton="NB.NavButton.Donation">
											</CommonButtons>
										</div>

										<div class=mt-2>
											<sup>@item.StatusId</sup>  @StringExtensions.Truncate(item.StatusName, 30)
										</div>

									</td>

								</Authorized>

								<NotAuthorized>
									<td>
										<div class="btn-group">
											<CommonButtons RegistrationStepId="item.Id"
																 NavButton="NB.NavButton.Details">
											</CommonButtons>
										</div>
									</td>
									<td></td>
								</NotAuthorized>
							</AuthorizeView>

						</tr>
					}

					<tr>
						<td><h2><span class="badge bg-success"><b>@RecordCount</b></span></h2></td>
						<td><h2><span class="badge bg-success">Total</span></h2></td>
						<td colspan="3">&nbsp;</td>
					</tr>

				</tbody>
			</table>
		</div>

	}

</LoadingComponent>
