@page "/Admin/VideoMasterDetail"
@inject IState<IndexState>? State

@using Page = LivingMessiah.Web.Links.Admin.VideoMasterDetail
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.SmartEnums

@using LoginLink = LivingMessiah.Web.Links.Account

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<AuthorizeView Roles="@Roles.AdminOrAudiovisual">
	<Authorized>

		<div class="@MediaQuery.XsOrSm.DivClass">
			<PageHeader IsXsOrSm="true" />
		</div>

		<div class="@MediaQuery.MdOrLgOrXl.DivClass">
			<PageHeader IsXsOrSm="false" />
		</div>

		@if (State!.Value.VisibleComponent == Enums.VisibleComponent.MasterList)
		{
			<div class="@MediaQuery.XsOrSm.DivClass">
				<LivingMessiah.Web.Pages.Admin.VideoMasterDetail.MasterDetail.MasterList IsXsOrSm="true" />
			</div>

			<div class="@MediaQuery.MdOrLgOrXl.DivClass">
				<LivingMessiah.Web.Pages.Admin.VideoMasterDetail.MasterDetail.MasterList IsXsOrSm="false" />
			</div>
		}
		else
		{
			<ShowMasterIndexButton />
			<DetailPageHeader />

			<LivingMessiah.Web.Pages.Admin.VideoMasterDetail.AddEdit.Form />
	
		}

	</Authorized>
	<NotAuthorized>

		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>
			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<LoginRedirectButton ReturnUrl="@Page.Index" />
			</div>
		</div>

	</NotAuthorized>
</AuthorizeView>

<Toaster />
