@using MSASPC = Microsoft.AspNetCore.Components;
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons

<div class="row col-12 my-2">
	Email:
	<input @oninput="OnEmailChanged"
				 required
				 type="text"
				 value="@Email" />
</div>

<div class="row col-12 my-2">
	Password:
	<input @oninput="OnPasswordChanged"
				 required
				 type="@(_showPassword ? "text" : "password")"
				 value="@Password" />

	<button class="btn btn-primary btn-sm" @onclick="ToggleShowPassword"> @Caption</button>
</div>


@code {
	#region email
	[Parameter]
	public string Email { get; set; }

	[Parameter]
	public EventCallback<string> EmailChanged { get; set; }

	private Task OnEmailChanged(MSASPC.ChangeEventArgs e)
	{
		Email = e.Value.ToString();
		return EmailChanged.InvokeAsync(Email);
	}
	#endregion

	#region password
	[Parameter]
	public string Password { get; set; }

	[Parameter]
	public EventCallback<string> PasswordChanged { get; set; }

	private Task OnPasswordChanged(MSASPC.ChangeEventArgs e)
	{
		Password = e.Value.ToString();
		return PasswordChanged.InvokeAsync(Password);
	}
	#endregion

	#region toggle

	private string Caption => _showPassword ? " Hide " : " Show ";

	/*
	ToDo: It would be nice to have toggle icon to go with my show/hide caption, but this doesn't work, wish it would
	<button ... @Caption @((MarkupString)ToggleIcon)</button>
	private string ToggleIcon => _showPassword ? "<span class='fas fa-toggle-off'></span>" : "<span class='fas fa-toggle-on'></span>";
	*/

	private bool _showPassword;
	private void ToggleShowPassword()
	{
		_showPassword = !_showPassword;
	}
	#endregion


}

