@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations

<p class="text-muted mt-3 mb-1 text-center"><small>Click image to see full size</small></p>

<div class="control-container">
	<SfCarousel AutoPlay="false">
		<CarouselItem>
			<figure class="img-container">
				<a href="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_01_on-ramp-erosion.jpg")" target="_blank">
					<img src="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_01_on-ramp-erosion-20pct.jpg")" 
						alt="Check Dam" style="height:100%;width:100%;" />
				</a>
				<figcaption class="img-caption">On ramp erosion</figcaption>
			</figure>

		</CarouselItem>

		<CarouselItem>
			<figure class="img-container">
				<a href="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_02_check-dam.jpg")" target="_blank">
					<img src="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_02_check-dam-20pct.jpg")" 
						alt="Check Dam" style="height:100%;width:100%;" />
				</a>
				<figcaption class="img-caption">Check Dam</figcaption>
			</figure>
		</CarouselItem>

		<CarouselItem>
			<figure class="img-container">
				<a href="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_03_corner-looking-W.jpg")" target="_blank">
					<img src="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_03_corner-looking-W-20pct.jpg")" 
						alt="Check Dam" style="height:100%;width:100%;" />
				</a>
				<figcaption class="img-caption">Corner of Swale Looking West</figcaption>
			</figure>
		</CarouselItem>

		<CarouselItem>
			<figure class="img-container">
				<a href="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_04_corner-looking-S.jpg")" target="_blank">
					<img src="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_04_corner-looking-S-20pct.jpg")" 
						alt="Check Dam" style="height:100%;width:100%;" />
				</a>
				<figcaption class="img-caption">Corner of Swale Looking South</figcaption>
			</figure>
		</CarouselItem>

		<CarouselItem>
			<figure class="img-container">
				<a href="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_05_spillway-off-ramp.jpg")" target="_blank">
					<img src="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_05_spillway-off-ramp-20pct.jpg")" 
						alt="Check Dam" style="height:100%;width:100%;" />
				</a>
				<figcaption class="img-caption">Spillway Off Ramp</figcaption>
			</figure>
		</CarouselItem>

		<CarouselItem>
			<figure class="img-container">
				<a href="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_06_spillway-closeup.jpg")" target="_blank">
					<img src="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_06_spillway-closeup-20pct.jpg")" 
						alt="Check Dam" style="height:100%;width:100%;" />
				</a>
				<figcaption class="img-caption">Spillway Close-up</figcaption>
			</figure>
		</CarouselItem>

		<CarouselItem>
			<figure class="img-container">
				<a href="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_07_groomed-berm.jpg")" target="_blank">
					<img src="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_07_groomed-berm-20pct.jpg")" 
						alt="Check Dam" style="height:100%;width:100%;" />
				</a>
				<figcaption class="img-caption">Groomed Berm</figcaption>
			</figure>
		</CarouselItem>

		<CarouselItem>
			<figure class="img-container">
				<a href="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_08_puddle-on-windmill-rd.jpg")" target="_blank">
					<img src="@Blobs.UrlWindmillRanchSwaleRainEvent("IMG_20221008_08_puddle-on-windmill-rd-20pct.jpg")" 
						alt="Check Dam" style="height:100%;width:100%;" />
				</a>
				<figcaption class="img-caption">Puddle on Windmill Road</figcaption>
			</figure>
		</CarouselItem>


	</SfCarousel>
</div>


<style>
	.control-container {
			background-color: #e5e5e5;
			height: 450px;
			margin: 0 auto;
			width: 750px;
	}

	.e-carousel .e-carousel-items .e-carousel-item .img-container {
			height: 100%;
	}

	.e-carousel .e-carousel-items .e-carousel-item .img-caption {
			bottom: 4em;
			color: #fff;
			font-size: 12pt;
			height: 2em;
			position: relative;
			padding: 0.3em 1em;
			text-align: center;
			width: 100%;
	}
</style>

@code {
	/*
	*/
}
