@using LivingMessiah.Web.Pages.SukkotAdmin.Enums

<h1>Registration Steps</h1>
<p class="text-muted"><small>Test <i>SmartEnum</i> to map <b>state</b></small></p>
<div class="card mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center"><code>item.Dump</code></h4>
	</div>

	<div class="card-body">
		<TableTemplate Items="BaseStatusSmartEnum.List.OrderBy(o => o.Value).ToList()">
			<TableHeader>
				<th>Id</th>
				<th>Name</th>
				<th>Abrv</th>
				<th>CanTransitionTo</th>
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td>@context.Name</td>
				<td>@context.Abrv</td>
				<td>@context.Dump</td>
			</RowTemplate>
		</TableTemplate>
	</div>


</div>

@*
	<p class="text-muted"><small>Test <i>SmartEnum</i></small></p>

	<ul>
		@foreach (var item in BaseStatusSmartEnum.List)
		{
			<li><b>@item.Name</b>: item.CanTransitionTo(RegistrationStep.FormCompletion)</li>
		}
	</ul>
*@