@page "/WindmillRanch/Support"

@using LivingMessiah.Web.Features.WindmillRanch.Components
@using PageDonate = LivingMessiah.Web.Links.Donate

@using Page = Enums.WindmillRanchLinks.Support
<PageTitle>@Page.Title</PageTitle>

<Menubar />

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2>@Page.Title</h2>
</div>

<h2 class="mt-5 mb-0"><span class="badge bg-warning">Support</span></h2>

<h5 class="mt-5 mb-0"><span class="badge bg-warning">Projects to develop</span></h5>
<p>Now that Living Messiah Ministries has acquired this great property, we will still need support going forward to develop the projects that we have enumerated.</p>
<img src='@Blobs.UrlWindmillRanch("we-need-your-support.jpeg")' class='img-fluid rounded mt-3' />


<h5 class="mt-5 mb-0"><span class="badge bg-warning">Donation</span></h5>
<img src='@Blobs.UrlWindmillRanch("donation.jpeg")' class='img-fluid rounded mt-3' />


<p class="mt-3">
	<a href="@PageDonate.Index"
		 title="@PageDonate.Title" class="btn btn-primary btn-xlarge">
		<i class="@PageDonate.Icon" aria-hidden="true"></i>
		<b>@PageDonate.Title</b>
	</a>
</p>

<ReturnAnchor />
