@page "/Parasha/IndexPrint"
@using Page = LivingMessiah.Web.Links.Parasha.ListByBookPrint
@using LivingMessiah.Web.SmartEnums

<PageTitle>@Page.Title</PageTitle>

@*<MenuBar ParashaEnum="@LivingMessiah.Web.LinkSmartEnums.Parasha.ListByBookPrintVersion"/>*@

<div class="pb-1 mt-4 mb-5">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>

<LoadingComponent IsLoading="CurrentParasha==null" TurnSpinnerOff="@TurnSpinnerOff">
	<div class="@MediaQuery.XsOrSm.DivClass">
		<Table IsXsOrSm="true" BookId="@CurrentParasha.BookId"></Table>
	</div>

	<div class="@MediaQuery.MdOrLgOrXl.DivClass">
		<Table IsXsOrSm="false" BookId="@CurrentParasha.BookId"></Table>
	</div>
</LoadingComponent>
