@page "/Parasha/ListByBook"
@using Page = LivingMessiah.Web.Links.Parasha.ListByBook
@using LivingMessiah.Web.SmartEnums

<PageTitle>@Page.Title</PageTitle>

<SubNavBar UseDarkMode="false" ActiveParashaEnum="@LivingMessiah.Web.LinkSmartEnums.ParashaLink.ListByBook"></SubNavBar>
<div class="pb-1 mt-4 mb-2">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>

<LoadingComponent IsLoading="CurrentParasha==null" TurnSpinnerOff="@TurnSpinnerOff">

	<PrintButton BookId="@CurrentParasha.BookId"/>

	<div class="@MediaQuery.XsOrSm.DivClass">
		<Table IsXsOrSm="true" BookId="@CurrentParasha.BookId"></Table>
	</div>

	<div class="@MediaQuery.MdOrLgOrXl.DivClass">
		<Table IsXsOrSm="false" BookId="@CurrentParasha.BookId"></Table>
	</div>
</LoadingComponent>

