@using LivingMessiah.Web.Pages.Parasha.ListByBook
@using Page = LivingMessiah.Web.Links.Parasha

<div class="card mt-5 @CardCss">
	<div class="card-header h3 px-2">
		<span class='badge @HeaderBadgeColor pb-15'>@Title</span>

		<button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
						class="btn-primary btn-sm float-end">
			@ButtonText <i class='@ButtonChevron'></i>
		</button>

	</div>

</div>

@if (!IsCollapsed)
{
	<h6 class="m-2">
		We are currently studying the Torah on a three year cycle which allows us more time to delve deeper into His Word.
	</h6>

	<button @onclick="@(e => PrintButtonClick(BookId))"
				class="btn-default">
		Print Version
	</button>

	<Table IsXsOrSm="@IsXsOrSm" BookId="@BookId"></Table>
}