@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.Pages.SukkotAdmin.Registration.Domain

@using LivingMessiah.Web.Pages.SukkotAdmin.Donations.Domain

<LoadingComponent IsLoading="RegistrationVM==null">

	<EditForm Model="RegistrationVM"
						OnValidSubmit="HandleValidSubmit"
						class="card card-body bg-light mt-5">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<fieldset class="py-1 my-0">
			<legend class="text-success text-center"> Add Registration</legend>
			
			<div class="row mt-n2">
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="eMail" class="control-label">Email</label>
						<InputText id="eMail" class="form-control" @bind-Value="RegistrationVM.EMail" />
						<ValidationMessage For="@(() => RegistrationVM.EMail)" />
					</div>
				</div>
			</div>

		</fieldset>

		<fieldset class="mt-3">
			<legend class="text-primary">Contact Information</legend>

			<div class="row mt-n2">

				<div class="col-sm-4">
					<div class="mb-3">
						<label for="familyName" class="control-label">Family Name</label>
						<InputText id="familyName" class="form-control" @bind-Value="RegistrationVM.FamilyName" />
						<ValidationMessage For="@(() => RegistrationVM.FamilyName)" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="mb-3">
						<label for="firstName" class="control-label">First Name</label>
						<InputText id="firstName" class="form-control" @bind-Value="RegistrationVM.FirstName" />
						<ValidationMessage For="@(() => RegistrationVM.FirstName)" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="mb-3">
						<label for="spouseName" class="control-label">Spouses Name</label>
						<InputText id="spouseName" class="form-control" @bind-Value="RegistrationVM.SpouseName" />
						<ValidationMessage For="@(() => RegistrationVM.SpouseName)" />
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-sm-4">
					<div class="mb-3">
						<label for="otherNames" class="control-label">Other Names</label>
						<InputText id="otherNames" class="form-control" @bind-Value="RegistrationVM.OtherNames" />
						<ValidationMessage For="@(() => RegistrationVM.OtherNames)" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="mb-3">
						<label for="email" class="control-label">Email</label>
						<InputText id="email" class="form-control" @bind-Value="RegistrationVM.EMail" placeholder="email" />
						<ValidationMessage For="@(() => RegistrationVM.EMail)" />
					</div>
				</div>

				<div class="col-sm-4">
					<div class="mb-3">
						<label for="phone" class="control-label">Phone</label>
						<InputText id="phone" class="form-control" @bind-Value="RegistrationVM.Phone" placeholder="phone (optional)" />
						<ValidationMessage For="@(() => RegistrationVM.Phone)" />
					</div>
				</div>

			</div>

		</fieldset>

		<fieldset class="mt-3">
			<legend class="text-primary">Attendance</legend>
			<div class="row mt-n2">

				<div class="col-sm-4">
					<div class="card bg-light mb-3">
						@*<div class="card-header"></div>*@
						<div class="card-body">
							@*<h4 class="card-title">Attendance</h4>*@
							<p class="card-text">What days will you be attending?  This helps us with planning.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-8">
					<div class="mb-3">
						@*<label for="attendanceDays" class="control-label">Select Dates</label>*@

						<SfCalendar TValue="DateTime?"
												IsMultiSelection="true" ShowTodayButton="false"
												@bind-Values="@RegistrationVM.AttendanceDateList"
												Min="@DateRangeAttendance.Range.Min"
												Max="@DateRangeAttendance.Range.Max">
						</SfCalendar>

					</div>
				</div>

			</div>
		</fieldset>

		<fieldset class="mt-3">
			<legend class="text-primary">People Count</legend>

			<div class="row mt-n2">
				<div class="col-sm-3">

					<div class="mb-3">

						<label for="adults" class="control-label">Adults</label>
						<InputNumber id="adults" class="form-control" @bind-Value="RegistrationVM.Adults" />
						<ValidationMessage For="@(() => RegistrationVM.Adults)" />

					</div>
				</div>

				<div class="col-sm-3">
					<div class="mb-3">
						<label for="childBig" class="control-label">Child <sup>big</sup></label>
						<InputNumber id="childBig" class="form-control" @bind-Value="RegistrationVM.ChildBig" />
						<ValidationMessage For="@(() => RegistrationVM.ChildBig)" />
					</div>
				</div>

				<div class="col-sm-3">
					<div class="mb-3">
						<label for="childSmall" class="control-label">Child <sup>small</sup></label>
						<InputNumber id="childSmall" class="form-control" @bind-Value="RegistrationVM.ChildSmall" />
						<ValidationMessage For="@(() => RegistrationVM.ChildSmall)" />
					</div>
				</div>

				<div class="col-sm-3">
				</div>

			</div>
		</fieldset>

		<fieldset class="mt-3">
			<legend class="text-primary">Other</legend>
			<div class="row mt-n2">
				<div class="col-sm-12">
					<div class="mb-3">
						<label for="notes" class="control-label"><small>Notes / Emergency Contact / Fellowship Attending</small></label>
						<p class="">
							Please include emergency contact and name of fellowship or congregation currently attending, if none list a personal reference
						</p>
						<InputTextArea id="notes" class="form-control" @bind-Value="RegistrationVM.Notes" />
						<ValidationMessage For="@(() => RegistrationVM.Notes)" />

					</div>
				</div>
			</div>

		</fieldset>

		<div class="row">
			<div class="col-sm-6">
				<div class="mb-3">
					<button class="btn btn-success btn-lg">
						<i class="fas fa-save"></i> Save
					</button>
				</div>

			</div>
		</div>

	</EditForm>

</LoadingComponent>