
<div class="card my-3 border-warning">
	<div class="card-header">
		<h5 class="card-title text-center">House Rules Agreement with No Registration</h5>
	</div>
	<TableTemplate Items="VM">
		<TableHeader>
			<th><br />EMail</th>
			<th>Accepted<br /> Date</th>
			<th>Add <br /> Registration</th>
			<th>Delete <br /> HRA</th>
		</TableHeader>
		<RowTemplate>
			<td>@context.EMail</td>
			<td>@context.AcceptedDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
			<td>
				<div class="btn-group">
					<button @onclick="@(e => OnClick.InvokeAsync(context.EMail))"
									class="btn btn-outline-success btn-sm" title="Add Registration">
						<i class="fas fa-plus"></i> Add
					</button>
				</div>
			</td>
			<td>
				<div class="btn-group">
					<button @onclick="@(e => Delete_ButtonClick(context.EMail))"
									class="btn btn-outline-danger btn-sm" title="Delete House Rules Agreements">
						<i class="fas fa-times"></i> Delete
					</button>
				</div>
			</td>

		</RowTemplate>
	</TableTemplate>

</div>

<button class="btn btn-outline-primary btn-sm float-end mt-1" @onclick="Refresh_ButtonClick">
	<i class="fas fa-sync-alt"></i> Refresh
</button>

@*<button @onclick="@(e => AddRegistration_ButtonClick(context.EMail))"*@