@page "/Sukkot/SuperUser"

@using Page = LivingMessiah.Web.Links.Sukkot.SuperUser
@using static LivingMessiah.Web.Services.Auth0
@using LivingMessiah.Web.Shared.Sukkot
@using LivingMessiah.Web.SmartEnums

@using LoginLink = LivingMessiah.Web.Links.Account

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<AuthorizeView Roles="@Roles.AdminOrSukkot">
	<Authorized>

		<!-- ToDo: can this be moved to <PageHeader ??? -->
		<SukkotAdminMenubar></SukkotAdminMenubar>

		<div class="@MediaQuery.XsOrSm.DivClass">
			<PageHeader IsXsOrSm="true" />
		</div>

		<div class="@MediaQuery.MdOrLgOrXl.DivClass">
			<PageHeader IsXsOrSm="false" />
		</div>

		@if (State!.Value.VisibleComponent == Enums.VisibleComponent.MasterList)
		{
			<div class="@MediaQuery.XsOrSm.DivClass">
				<LivingMessiah.Web.Pages.Sukkot.SuperUser.MasterDetail.MasterList IsXsOrSm="true" />
			</div>

			<div class="@MediaQuery.MdOrLgOrXl.DivClass">
				<LivingMessiah.Web.Pages.Sukkot.SuperUser.MasterDetail.MasterList IsXsOrSm="false" />
			</div>
		}
		else
		{
			<ShowMasterIndexButton />
			<DetailPageHeader />

			@if (State!.Value.VisibleComponent == Enums.VisibleComponent.AddEditForm)
			{
				<LivingMessiah.Web.Pages.Sukkot.SuperUser.Registrant.Form />
			}
			else
			{
				@if (State!.Value.VisibleComponent == Enums.VisibleComponent.HRA_Form)
				{
					<LivingMessiah.Web.Pages.Sukkot.SuperUser.HRA.Form />
				}
				else
				{
					@if (State!.Value.VisibleComponent == Enums.VisibleComponent.DonationForm)
					{
						<LivingMessiah.Web.Pages.Sukkot.SuperUser.Donations.Index RegistrationId="@State!.Value.PageHeaderVM!.Id" />
					}
					else
					{
						@* FN: 1 *@
						<div class="card border-primary my-3 p-2">
							<LivingMessiah.Web.Pages.Sukkot.SuperUser.Detail.Report />
						</div>
					}
				}
			}
		}
	</Authorized>
	<NotAuthorized>

		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>
			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<LoginRedirectButton ReturnUrl="@Page.Index" />
			</div>
		</div>

	</NotAuthorized>
</AuthorizeView>

<ToasterSuperUser />

@*
# FootNotes
## FN: 1
- ToDo: look at how the showPrintInstructionMessage is being used
	- Details Pages\Sukkot\Details\Index.razor
	-	page "/Sukkot/Details/{Id:int}/{showPrintInstructionMessage:bool}"
*@