<p>
	Ralphie W. Cratty III grew up in New Castle, Pennsylvania and graduated from the Art Institute of Pittsburgh with a degree in Visual Communications.
	Self-employed as a Graphic Designer since 1986, he has lived most of his adult life in Arizona where he met and married his wife Peribeth who helps serve with him in leadership at Living Messiah Ministries.
	They are blessed with a growing family of 4 adult children and now 6 grandchildren.
</p>
<p>
	Ralphie came to a greater understanding of the scriptures after discovering the truth regarding the Creator’s name.
	This gave him a desire to re-examine his understanding of all the scriptures from the Hebraic mindset.
	He now has a deep passion for seeking out the scriptures and continues learning each and every day.
	Ralphie leads a weekly
	<LinkComponent LinkComponentEnum="LinkComponentEnum.InternalBtnSm"
								 Index="@LivingMessiah.Web.Links.IndepthStudy.Index"
								 Title="@LivingMessiah.Web.Links.IndepthStudy.Title"
								 Icon="@LivingMessiah.Web.Links.IndepthStudy.Icon">
	</LinkComponent>
	each Shabbat before the main service.
</p>
<ul>
	<li>
		@*<AnchorAboveAllImages AnchorEnum="AnchorEnums.ExternalButton"></AnchorAboveAllImages>*@
		<a href="@LivingMessiah.Web.Links.AboveAllImages.Url" class="btn btn-primary" target="_blank">
			@LivingMessiah.Web.Links.AboveAllImages.UrlSimple &nbsp;
			<i class="fas fa-external-link-square-alt"></i>
		</a>
	</li>
</ul>
