@page "/PlannerV2"

@using Page = LivingMessiah.Web.Links.Calendar.FeastPlanner
@using LivingMessiah.Web.Features.Calendar.FeastDayPlanner.FeastDayComponents
@using LivingMessiah.Web.SmartEnums

<PageTitle>@Page.Title</PageTitle>



<div class="pb-1 mt-4 mb-2 border-bottom border-info">
		<LearnMoreModal />
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>
@* 
<div class="row mt-2">
	<div class="col-12">
		
	</div>
</div> *@

<div class="@MediaQuery.XsOrSm.DivClass">
	<HeaderXsSm CurrentFilter="CurrentFilter" OnFilterSelected="@ReturnedFilter" />
	<Selector FeastDayType="CurrentFilter" IsXsOrSm=true />
</div>

<div class="@MediaQuery.MdOrLgOrXl.DivClass">

	<FilterPills CurrentFilter="@CurrentFilter" OnFilterSelected="@ReturnedFilter" />
	<Header FeastDayType="CurrentFilter" />
	<Selector FeastDayType="CurrentFilter" IsXsOrSm=false />
</div>

<FooterVerses FeastDayType="CurrentFilter" />


