@page "/PlannerV2"

@using Page = LivingMessiah.Web.Links.Calendar.FeastPlanner
@using LivingMessiah.Web.Features.Calendar.FeastDayPlanner.FeastDayComponents

<PageTitle>@Page.Title</PageTitle>

<div class="pb-1 mt-4 mb-2 border-bottom border-info">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<FilterPills CurrentFilter="@CurrentFilter"
						 OnFilterSelected="@ReturnedFilter" />

<Header FeastDayType="CurrentFilter" />

<Selector  FeastDayType="CurrentFilter" />

<FooterVerses FeastDayType="CurrentFilter" />
<Footer />