@using LivingMessiah.Web.Shared
@using System.Threading.Tasks

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (IsXsOrSm)
{
	<div class="mb-1">
		<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Repopulate" IsXsOrSm="@IsXsOrSm" Id="0" />
	</div>

	<LoadingComponent IsLoading="State!.Value.vwSuperUserList == null">

		@foreach (var item in State!.Value.vwSuperUserList!)
		{
			<div class="card text-dark bg-light mb-5">
				<div class="card-header">
					@((MarkupString)GetCardHeader(item.FullName ?? string.Empty, item.EMail!))
				</div>
				<div class="card-body">
					<ul>
						<li>Ph. @item.Phone</li>
						<li><p>StatusId: @item.StatusId: @item.StatusName</p></li>
					</ul>
					<p><small>Notes: @item.Notes</small></p>

				</div>

				<div class="card-footer">
					@if (@item.StatusId == RegistrationSteps.Enums.Status.StartRegistration)
					{
						<div class="btn-group float-end">
							<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.AddRegistration" IsXsOrSm="@IsXsOrSm" Id="@item.IdHra" EMail="@item.EMail" />
							<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.DeleteHRA" IsXsOrSm="@IsXsOrSm" Id="@item.IdHra" EMail="@item.EMail" FullName="@item.FullName" />
						</div>
					}
					else
					{
						<div class="btn-group float-end">
							<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Edit" IsXsOrSm="@IsXsOrSm" Id="@item.Id" FullName="@item.FullName" />
							<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.DeleteRegistration" IsXsOrSm="@IsXsOrSm" Id="@item.Id" FullName="@item.FullName" />
							<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Display" IsXsOrSm="@IsXsOrSm" Id="@item.Id" FullName="@item.FullName" />
							<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Donation" IsXsOrSm="@IsXsOrSm" Id="@item.Id" FullName="@item.FullName" />
						</div>
					}
				</div>

			</div>
		}
	</LoadingComponent>
}
else
{
	<span class="float-end mb-1">
		<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Repopulate" IsXsOrSm="@IsXsOrSm" Id="0" />
	</span>

	<TableTemplate Items="State!.Value.vwSuperUserList"
							 HeaderCSS="table table-light table-hover">
		<TableHeader>
			<th>Full Name</th>
			<th>Email</th>
			<th>Next Step</th>
			<th>Notes</th>
			<th class="text-start">$</th>
			<th class="text-center">Actions</th>
		</TableHeader>

		<RowTemplate>
			<td class="@context.FullNameOrNAColor">@context.FullNameOrNA</td>
			<td>@context.EMail </td>
			<td>@context.StatusName</td>
			<td><small>@context.Notes</small></td>
			<td class="@context.TotalDonationClass">
				@context.TotalDonationNoCents
			</td>
			<td class="text-center">
				<div class="btn-group">

					@if (@context.StatusId == RegistrationSteps.Enums.Status.StartRegistration)
					{
						<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.AddRegistration" IsXsOrSm="@IsXsOrSm" Id="@context.IdHra" EMail="@context.EMail" />
						<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.DeleteHRA" IsXsOrSm="@IsXsOrSm" Id="@context.IdHra" EMail="@context.EMail" FullName="@context.FullName" />
					}
					else
					{
						<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Edit" IsXsOrSm="@IsXsOrSm" Id="@context.Id" FullName="@context.FullName" />
						<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.DeleteRegistration" IsXsOrSm="@IsXsOrSm" Id="@context.Id" FullName="@context.FullName" />
						<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Display" IsXsOrSm="@IsXsOrSm" Id="@context.Id" FullName="@context.FullName" />
						<ActionButtons OnCrudActionSelected="@ReturnedCrud" ParmCrud="Enums.Crud.Donation" IsXsOrSm="@IsXsOrSm" Id="@context.Id" FullName="@context.FullName" />
					}

				</div>
			</td>

		</RowTemplate>

	</TableTemplate>

}

<StatusInlineUL />