@using Blazored.FluentValidation;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<EditForm Model="VM"
					OnValidSubmit="HandleValidDonationSubmit"
					class="card card-body bg-light mt-1">
					<FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="@true" />
					<ValidationSummary />

	<fieldset class="mt-3">

		<div class="row mt-n2 gx-sm-1">

			<div class="col-sm-2">
				<div class="mb-3">
					<label for="amount" class="control-label">Amount</label>
					<InputNumber id="amount" class="form-control" @bind-Value="VM.Amount" />
					<ValidationMessage For="@(() => VM.Amount)" />
				</div>
			</div>

			<div class="col-sm-4">
				<div class="mb-3">
					<label for="referenceId" class="control-label">Reference Id</label>
					<InputText id="referenceId" class="form-control" @bind-Value="VM!.ReferenceId" />
					<ValidationMessage For="@(() => VM.ReferenceId)" />
				</div>
			</div>

			<div class="col-sm-5">
				<div class="mb-3">
					<label for="notes" class="control-label">Notes</label>
					<InputText id="notes" class="form-control" @bind-Value="VM.Notes" />
					<ValidationMessage For="@(() => VM.Notes)" />
				</div>
			</div>

			<div class="col-sm-1">
				<div class="mb-3">
					<label for="addButton" class="control-label">Add</label>
					<button id="addButton" type="submit" class="form-control btn btn-outline-success">
						<i class="@SuperUser.Constants.SaveButton.Icon"></i>
					</button>
					@*@SuperUser.Constants.SaveButton.Color*@
				</div>
			</div>

		</div>


	</fieldset>

</EditForm>

