

<h4 class="mt-4 mb-1">
	<span class="text-black float-end">
		Previous Donations
	</span>
</h4>

<LoadingComponent IsLoading="DonationDetails == null">
	<TableTemplate Items="DonationDetails"
								TableFooterColor="table-primary"
								 HeaderCSS="table table-light table-hover">
		<TableHeader>
			<th>#</th>
			<th class ="text-center">$</th>
			<th>Reference Id / Notes</th>
			<th>Created By</th>

			<th class="text-center">Actions</th>
		</TableHeader>

		<RowTemplate>
			<td>@context.Detail</td>
			<td class="text-center">
				@context.AmountNoCents<br />
			</td>
			<td>
				<small>@context.ReferenceId</small><br />
				<small>@context.Notes</small>
			</td>

			<td>
				@context.CreatedBy <br />  @context.CreateDate.ToString(DateFormat.MM_dd_hh_mm)
			</td>

			<td class="text-center">
				<div class="btn-group">
					<button @onclick="@(() => DeleteHandler(context.Id))" title="Id: @context.Id"
									type="button" class="text-danger btn-sm">
						<i class="fa fa-times"></i>
						<small>Delete</small>
					</button>
				</div>
			</td>

		</RowTemplate>

		<TableFooter>
			<th>Σ</th>
			<th class="text-center">@TotalNoCents</th>
			<th>Total</th>
			<th></th>
			<th></th>
		</TableFooter>


	</TableTemplate>

</LoadingComponent>

