@using LivingMessiah.RazorClassLibrary
@inherits LiturgyComponentBase


<CascadingValue Value="@IsPrinterFriendly">
	<ImageDisplayOption>
		<img src='@Blobs.UrlShabbatService(sec.GraphicUrl)' alt="@sec.Title" class="img-fluid rounded mt-4" />
	</ImageDisplayOption>
</CascadingValue>


@* @SubTitle *@

<h4 class="pt-2">
	<span class='badge @BadgeColor pb-15'>@sec.Title</span>
	<CascadingValue Value="@IsPrinterFriendly">
		<DetailsButtonDisplayOption FragmentId="@sec.ToggleId">
		</DetailsButtonDisplayOption>
	</CascadingValue>
</h4>



@if (IsPrinterFriendly)
{
	@ChildContent

}
else
{
	<div class="@_collapse" id="@sec.ToggleId">
		<div class="mt-3">
			<Carousel imageset="@AssetImages" CssClass="col-12"></Carousel>
		</div>
	</div>

}






