@page "/Omer"
@using LivingMessiah.Web.Features.Feasts.Components
@using LivingMessiah.Web.Features.Shavuot

@using Page = FeastLinks
<PageTitle>@Page.Omer.Title</PageTitle>

<ReturnAnchor />

<div class="pb-1 mt-4 mb-5 border-bottom border-primary">
	<h2><i class="@Page.Omer.Icon"></i> @Page.Omer.Title</h2>
</div>

@*

<div class="card border-primary mt-5">
	<div class="card-header"><h5 class="text-center">@Page.Omer.Title References | Leviticus 23</h5></div>

	<div class="card-body">
			<h5 class="card-title">Leviticus 23:23-25</h5>
		<blockquote>
			<ol start="23">

				<li>
					And <span class="hebrew16">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew16">וַיְדַבֵּר</span> <sup>spake unto</sup> 
					<i>Moseh</i> <span class="hebrew16">מֹשֶׁה</span> <sup>Moses</sup>, saying,
				</li>

				<li>
					Speak unto the children of Israel, saying, In the seventh month
					, in the first day of the month, shall ye have a sabbath
					, a memorial of blowing of trumpets, an holy convocation. 
				</li>

				<li>
					Ye shall do no servile work therein: 
					but ye shall offer an offering made by fire unto the LORD.
				</li>

			</ol>
			<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:23-25</small>
		</blockquote>

	</div>
</div>

<AlephBetFooter />
*@



@*<BibleReference Feast="@LinkSmartEnums.Feast.Omer"/>*@

<img src='@Blobs.UrlEvents("omer-count-card-image-398-161.jpg")' alt="Omer Count" class="img-fluid rounded mt-4" /> 

<BodyTableOrGrid CurrentDay="CurrentDay"></BodyTableOrGrid>

<!-- IsXsOrSm="true" -->
@*<div class="d-md-none mt-3">
	<OmerCount IsXsOrSm=true OverrideOmerCount=4></OmerCount>
</div>
*@<!-- IsXsOrSm="false" -->
@*<div class="d-none d-md-block mt-3">
	<OmerCount IsXsOrSm=false OverrideOmerCount=4></OmerCount>
</div>*@


