@page "/Tabernacles"
@using Sukkot = LivingMessiah.Web.Links.Sukkot
@using LivingMessiah.Web.Features.Feasts.VerseReferenceCards
@using LivingMessiah.Web.Features.Feasts.Components

@using Page = FeastLinks
<PageTitle>@Page.Tabernacles.Title</PageTitle>

<ReturnAnchor />

<div class="pb-1 mt-4 mb-5 border-bottom border-primary">
	<h2><i class="@Page.Tabernacles.Icon"></i> @Page.Tabernacles.Title</h2>
</div>

<div class="card border-primary mt-5">
	<Lev_23_33_44 />
</div>

<AlephBetFooter />
<img src="@Blobs.UrlEvents(LivingMessiah.Web.Features.Sukkot.Constants.Other.Banner)" alt="Sukkot" class="img-fluid rounded mt-4" />

<a class="btn btn-outline-primary btn-sm mt-3"
	 href="@Sukkot.Index">
	<i class="fas fa-link"></i> @Sukkot.Title Registration
</a>


