@page "/SpecialEvents"

@using LivingMessiah.Web.SmartEnums
@using LoginLink = LivingMessiah.Web.Links.Account
@using static LivingMessiah.Web.Services.Auth0;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<AuthorizeView Roles="@Roles.AdminOrAnnouncements">
	<Authorized>
		<div class="@MediaQuery.XsOrSm.DivClass">
			<PageHeader ShowLoginRedirectOnly=false IsXsOrSm="true" />
		</div>

		<div class="@MediaQuery.MdOrLgOrXl.DivClass">
			<PageHeader ShowLoginRedirectOnly=false IsXsOrSm="false" />
		</div>

		@if (State!.Value.VisibleComponent == Enums.VisibleComponent.MasterList)
		{
			<div class="@MediaQuery.XsOrSm.DivClass">
				<MasterList IsXsOrSm="true" />
			</div>

			<div class="@MediaQuery.MdOrLgOrXl.DivClass">
				<MasterList IsXsOrSm="false" />
			</div>
		}
		else
		{
			<ShowMasterIndex />

			@if (State!.Value.VisibleComponent == Enums.VisibleComponent.AddEditForm)
			{
				<Form />
			}
			else
			{
				<DisplayCard FormVM="State!.Value.FormVM" ShowPrintAnchor="true" />
			}
		}
	</Authorized>
	<NotAuthorized>
		<PageHeader ShowLoginRedirectOnly=true IsXsOrSm="true" />
	</NotAuthorized>
</AuthorizeView>

<ToasterSpecialEvents />	